﻿@model Grant.Web.Models.ViewModels.ManageThematicViewModel
@{
    ViewData["Title"] = "Add Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">
            <partial name="_Message" model="@TempData["Message"]" />
        </div>
    }
</section>

<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Category <span class="text-sm text-muted">/ Add Category</span></h1>
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">
        <div class="col-md-8">
            <!-- Horizontal Form -->
            <div class="card animated fadeInUp delay-1s">
                <div class="card-body">
                    <form asp-action="AddCategory" asp-controller="ManageThematic">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="CategoryName" class="control-label"></label>
                            <input asp-for="CategoryName" class="form-control" required />
                            <span asp-validation-for="CategoryName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Code" class="control-label"></label>
                            <input asp-for="Code" class="form-control" required />
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoryDescription" class="control-label"></label>
                            <textarea asp-for="CategoryDescription" class="form-control" style="resize: none;"></textarea>
                            <span asp-validation-for="CategoryDescription" class="text-danger"></span>
                        </div>

                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

