﻿@model Grant.Web.Models.ViewModels.ManageThematicViewModel
@{
    ViewData["Title"] = "View All Categories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">
            <partial name="_Message" model="@TempData["Message"]" />
        </div>
    }
</section>

<div class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Category <span class="text-sm text-muted">/ View Categories</span></h1>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-10">
            <!-- Horizontal Form -->
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="modelDataTable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        SN
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>Code</th>
                                    <th>
                                        Description
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int index = 0; }
                                @foreach (var item in Model.Categories)
                                {
                                    index += 1;
                                    <tr>
                                        <td>
                                            @index
                                        </td>
                                        <td class="text-capitalize">
                                            @item.Name
                                        </td>
                                        <td>@item.Code</td>
                                        <td>
                                            @item.Description
                                        </td>
                                        <td>
                                            @if (item.Active)
                                            {
                                                <input type="checkbox" checked onclick="deactivateCategory(@item.Id)" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" onclick="deactivateCategory(@item.Id)" />
                                            }
                                        </td>
                                        <td>
                                            <a asp-action="EditCategory" asp-controller="ManageThematic" class="btn btn-success" asp-route-id="@item.Id">Edit</a>
                                        </td>
                                    </tr>
                                }
                        </table>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-success" asp-action="AddCategory" asp-controller="ManageThematic">Add Category</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function deactivateCategory(id) {
        if (id) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeactivateCategory", "ManageThematic")",
                data: { id },
                dataType: "json",
                success: function (data) {
                    alert(data);
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
    }
</script>