﻿@model Grant.Web.Models.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Concept Note Application";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    /**STYLES FOR MODALS FROM REVIEWER SECTION(BEGIN)*/
    #customized-modal-2 {
        padding: 16px;
        opacity: 0;
        transform: scale(0);
        transition: .6s ease opacity,.6s ease transform;
        background: rgba(0, 0, 0, 0.7);
        position: fixed;
        display: none;
        width: 100% !important;
        height: 100% !important;
        z-index: 9999999999;
        top: 0;
        left: 0;
    }

    .nav-pills.nav-pills-success .nav-item .nav-link {
        color: #1F9877;
    }

        .nav-pills.nav-pills-success .nav-item .nav-link.active {
            background: #1F9877;
            color: #fff;
        }

    .modal-box-white {
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        background: #fff;
        border-radius: 15px;
        margin-top: 2vh;
        padding: 20px 30px;
        margin: 0 auto;
    }

    .modal-close-btn {
        border-top: 1px solid whitesmoke;
        padding: 10px 10px 0;
    }

    .confirmation-action-buttons {
        border-top: 1px solid #ddd;
    }

    #output-text-title {
        text-decoration: underline;
        font-size: 20px;
    }

    #proposal-content,
    #proposal-content p {
        font-size: 18px;
        text-align: center !important;
    }
    /**STYLES FOR MODALS FROM REVIEWER SECTION(END)*/
    body {
        font-family: Montserrat, sans-serif;
    }

    .disable-btn {
        background: #C5C5F1 !important;
        border: 1px solid #C5C5F1 !important;
    }

    .monts {
        font-family: Montserrat, sans-serif;
        font-weight: bold
    }

    .th-bg {
        background-color: #1CBC9D;
    }

    .th-bg2 {
        background-color: #DAEEF3;
    }


    #progressbar li {
        list-style-type: none;
        color: #555;
        text-transform: uppercase;
        font-size: 9px;
        width: 30% !important;
        float: left;
        position: relative;
        letter-spacing: 1px;
    }
    table{
        border-collapse:collapse;
        table-layout:fixed;
        width:100%;

    }
    table td{
        border:solid 1px;
        white-space:pre-wrap !important;
    }
</style>

<div id="customized-modal-2">
    <div class="row">
        <div class="col-xs-12 col-md-4 modal-box-white">
            <h4 id="output-text-title" class="text-center text-uppercase text-primary">Confirm Submission</h4>
            <div class="row proposal-content text-center" id="proposal-content">
                <p style="margin: 0 auto;">Are you sure you want to submit?</p>
            </div>
            <div class="row confirmation-action-buttons">
                <div class="col-xs-12 col-md-12 text-center" style="padding: 20px 10px;">
                    <button type="button" id="confirm-form-submission" class="btn btn-success">Submit</button>&nbsp;&nbsp;
                    <button type="button" id="close-confirmation-modal" class="btn btn-danger">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    <div class="pg-head">
        <h3 class="monts text-center Leftalign" style="font-weight: 300; margin-top: 10px;text-align:left">Concept Note Application</h3>
    </div>

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">
            <partial name="_Message" model="@TempData["Message"]" />
        </div>
    }
</section>

<section class="content" style="background-color: #f8f9fe; min-height: 200vh">
    @*<div class="container" style="margin-bottom: 30px">*@
    <div class="container" style="margin-bottom: 30px">

        <form asp-action="ConceptNoteApplication" id="msform" asp-controller="Application" method="POST" role="form" enctype="multipart/form-data" class="form-horizontal">
            <div class="col-md-12">
                @*<input type="hidden" asp-for="ApplicantThematic.Id" id="applicantThematicId" />*@
                @*@Html.HiddenFor(m => m.ApplicantThematic.Id)*@
                @Html.HiddenFor(m => m.ApplicantThematicId)

                @if (Model.ApplicantThematic != null && Model.ApplicantThematic.Id > 0)
                {
                    @Html.HiddenFor(model => model.ApplicantThematic.Theme.Id)
                }

                <!-------------------------New Tab Start------------------------------------------------>

                <div>
                    <ul class="nav nav-pills nav-pills-success mb-3 justify-content-center" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="save nav-link active tabLink" id="step-one-tab" data-toggle="pill" href="#step-one"
                               role="tab" aria-controls="step-one" aria-selected="true">Page One</a>
                        </li>
                        <li class="nav-item">
                            <a class="save nav-link tabLink" id="step-two-tab" data-toggle="pill" href="#step-two"
                               role="tab" aria-controls="step-two" aria-selected="false">Page Two</a>
                        </li>
                        <li class="nav-item">
                            <a class="save nav-link tabLink" id="step-three-tab" data-toggle="pill" href="#step-three"
                               role="tab" aria-controls="step-three" aria-selected="false">Page Three</a>
                        </li>
                        <li class="nav-item">
                            <a class="save nav-link tabLink" id="step-four-tab" data-toggle="pill" href="#step-four"
                               role="tab" aria-controls="step-four" aria-selected="false">Submit Page</a>
                        </li>

                    </ul>
                    <div class="tab-content" id="pills-tabContent">


                        <div class="tab-pane fade show active" id="step-one" role="tabpanel" aria-labelledby="step-one-tab">
                            <div class="card">
                                <div class="card-body">


                                    <div class="box-body">

                                        <h3 class="fs-subtitle monts text-left">
                                            Concept Note Title
                                        </h3>

                                        <input asp-for="ApplicantThematic.Title" class="form-control " id="title" required />
                                        <span asp-validation-for="ApplicantThematic.Title" class="text-danger"></span>





                                        <h3 class="fs-subtitle monts text-left">
                                            Category
                                        </h3>

                                        <select id="CategoryId" asp-for="ApplicantThematic.Theme.Category.Id" class="form-control"
                                                asp-items=@Model.CategoryNameSL required>
                                            <option value="">-- Select Category --</option>
                                        </select>
                                        <span asp-validation-for="CategoryId" class="text-danger"></span>




                                        <h3 class="fs-subtitle monts text-left">
                                            Thematic Area
                                        </h3>

                                        <select asp-for=ThemeId class="form-control" id="ThemeId" required
                                                name="ThemeId" data-url="@Url.Action("GetTheme")"></select>
                                        <span asp-validation-for="ThemeId" class="text-danger"></span>


                                        <h3 class="fs-subtitle monts text-left">
                                            Estimated Budget &#8358;
                                        </h3>


                                        <input asp-for="ConceptNote.ConceptNoteSubmittedBudget" type="text" class="form-control" id="budgettxt" onkeyup="this.value=this.value.replace(/[^\d]/,'')" />
                                        <span asp-validation-for="ConceptNote.ConceptNoteSubmittedBudget" class="text-danger"></span>




                                        <div class="row justify-content-between mt-3 px-4">
                                            <div></div>
                                            <button id="step-one-next" type="button" class="save btn btn-outline-success">Next</button>
                                        </div>





                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="step-two" role="tabpanel" aria-labelledby="step-two-tab">
                            <div class="card">
                                <div class="card-body">
                                    <p class="badge badge-success pull-right word-status" style="margin-top:0; color: #fff; background-color: #41a851; ">Words Left: <span class="wordCountDown"></span></p>
                                    <h3 class="fs-subtitle monts text-left">Background of the Research (Provide a general background of the problem and justification leading to the proposed research project)</h3>
                                    <textarea asp-for="ApplicantSubmission.IntroductionBackground" required id="txtBackgroundIntro" type="text" rows="5" class="wordCounter"></textarea>

                                    <hr>
                                    <h3 class="fs-subtitle monts text-left">Statement of the Problem (Why does this research need to be conducted?)</h3>

                                    <textarea asp-for="ApplicantSubmission.StatementOfProblem" required id="txtStatement" type="text" rows="5" class="wordCounter"></textarea>
                                    @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="statement">300</span> character(s) left</div>*@
                                    <br />
                                    <br />
                                    <br />
                                    <h3 class="fs-subtitle monts text-left">Objectives of the Research</h3>
                                    <textarea asp-for="ApplicantSubmission.Aims" id="txtAim" required type="text" rows="5" class="wordCounter"></textarea>
                                    @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="aim">300</span> character(s) left</div>*@
                                    <br />
                                    <br />
                                    <br />
                                    <h3 class="fs-subtitle monts">Research Questions</h3>
                                    <textarea asp-for="ApplicantSubmission.ResearchQuestions" required id="txtResearchQuestions" type="text" rows="5" class="wordCounter"></textarea>
                                    <br />
                                    <br />
                                    <br />
                                    <h3 class="fs-subtitle monts">Literature Review</h3>
                                    <textarea asp-for="ApplicantSubmission.LiteratureReview" required id="txtLiteratureReview" type="text" rows="5" class="wordCounter"></textarea>
                                    @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="literatureReview">300</span> character(s) left</div>*@
                                    <br />
                                    <br />
                                    <br />
                                    <h3 class="fs-subtitle monts">Theoretical  Framework</h3>
                                    <textarea asp-for="ApplicantSubmission.ConceptualFramework" required id="txtConceptualFramework" type="text" rows="5" class="wordCounter"></textarea>
                                    <br />
                                    <br />
                                    <br />
                                    <h3 class="fs-subtitle monts">Research Methodology</h3>
                                    <textarea asp-for="ApplicantSubmission.ResearchMethodoly" required id="txtResearchMethodology" type="text" rows="5" class="wordCounter"></textarea>
                                    @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="ResearchMethodology">300</span> character(s) left</div>*@

                                    <hr>
                                    <div class="row justify-content-between mt-3 px-4">
                                        <button id="step-two-prev" type="button" class="save btn btn-outline-success">Previous</button>
                                        <button id="step-two-next" type="button" class="save btn btn-outline-success">Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="step-three" role="tabpanel" aria-labelledby="step-three-tab">
                            <div class="card">
                                <div class="card-body">
                                    @*<a asp-action="AddConceptNoteBudget" asp-controller="Application" class="preview-button text-left">Click To Add Research Estimated Budget</a>*@
                                    <br />
                                    <h3 class="fs-subtitle monts">Expected Results</h3>
                                    <p class="badge badge-success pull-right word-status" style="margin-top:0;color:#fff; background-color: #41a851; ">Words Left: <span class="wordCountDown"></span></p>
                                    <textarea asp-for="ApplicantSubmission.ExpectedResult" required id="txtResearch" type="text" rows="5" class="wordCounter"></textarea>
                                    <br />
                                    <br />
                                    <br />
                                    <h3 class="fs-subtitle monts">Innovation (How different is it from other earlier projects?)</h3>
                                    <textarea asp-for="ApplicantSubmission.Innovations" required id="txtInnovations" type="text" rows="5" class="wordCounter"></textarea>

                                    <br />
                                    <br />
                                    <br />
                                    <h3 class="fs-subtitle monts">References (Not more than 5) </h3>
                                    <textarea asp-for="ApplicantSubmission.References" required id="txtReferences" type="text" rows="5" class="wordCounter"></textarea>

                                    <br />
                                    <br />
                                    <br />
                                    <h3 class="fs-subtitle monts">Research Team (Give Name/Rank/Highest Qualification of each member) </h3>
                                    <textarea asp-for="ApplicantSubmission.TeamMates" required id="txtResearchTeam" type="text" rows="5" class="wordCounter"></textarea>

                                    <br />
                                    <br />
                                    <br />


                                    <hr>
                                    <div class="row justify-content-between mt-3 px-4">
                                        <button id="step-three-prev" type="button" class="save btn btn-outline-success">Previous</button>
                                        <button id="step-three-next" type="button" class="save btn btn-outline-success">Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="step-four" role="tabpanel" aria-labelledby="step-four-tab">
                            <div class="card">
                                <div class="card-body">
                                    @*<p class="badge badge-success pull-right" style="margin-top:0;color: #fff; background-color: #41a851; ">Words Left: <span class="wordCountDown"></span></p>*@
                                    <p class="badge badge-success pull-right word-status" style="margin-top:0;color:#fff; background-color: #41a851; ">Words Left: <span class="wordCountDown"></span></p>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th colspan="5" style="color:green; text-transform:none !important">Attachments: You can ONLY add diagrams or equations here  </th>
                                                </tr>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th>Attachment</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Attachment-1</td>
                                                    <td><input type="file" id="attachement_one" onchange="attachFile(this,'one')" class=" form-control " /></td>
                                                    <td><button type="button" class="btn btn-outline-success btnAttachment " id="btnattachement_one" onclick="uploadFile('one')">Upload</button></td>
                                                    <td><h4 id="remove_one">@Model.ConceptNote?.NameOne</h4></td>
                                                    <td>
                                                        @if (Model.ConceptNote?.NameOne != null)
                                                        {
                                                            <button type="button" class="btn btn-outline-danger" id="btnDelete_one" onclick="deletAttachment('one')">Remove</button>
                                                        }
                                                        else
                                                        {
                                                            <button type="button" class="btn btn-outline-danger" id="btnDelete_one" style="display:none" onclick="deletAttachment('one')">Remove</button>
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Attachment-2</td>
                                                    <td><input type="file" id="attachement_two" onchange="attachFile(this,'two')" class=" form-control " /></td>
                                                    <td><button type="button" class="btn btn-outline-success btnAttachment " id="btnattachement_two" onclick="uploadFile('two')">Upload</button></td>
                                                    <td><h4 id="remove_two">@Model.ConceptNote?.NameTwo</h4></td>
                                                    <td>
                                                        @if (Model.ConceptNote?.NameTwo != null)
                                                        {
                                                            <button type="button" class="btn btn-outline-danger" id="btnDelete_two" onclick="deletAttachment('two')">Remove</button>
                                                        }
                                                        else
                                                        {
                                                            <button type="button" class="btn btn-outline-danger" id="btnDelete_two" style="display:none" onclick="deletAttachment('two')">Remove</button>
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Attachment-3</td>
                                                    <td><input type="file" id="attachement_three" onchange="attachFile(this,'three')" class=" form-control " /></td>
                                                    <td><button type="button" class="btn btn-outline-success btnAttachment " id="btnattachement_three" onclick="uploadFile('three')">Upload</button></td>
                                                    <td><h4 id="remove_three">@Model.ConceptNote?.NameThree</h4></td>
                                                    <td>
                                                        @if (Model.ConceptNote?.NameThree != null)
                                                        {
                                                            <button type="button" class="btn btn-outline-danger" id="btnDelete_three" onclick="deletAttachment('three')">Remove</button>
                                                        }
                                                        else
                                                        {
                                                            <button type="button" class="btn btn-outline-danger" id="btnDelete_three" style="display:none" onclick="deletAttachment('three')">Remove</button>
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Attachment-4</td>
                                                    <td><input type="file" id="attachement_four" onchange="attachFile(this,'four')" class=" form-control " /></td>
                                                    <td><button type="button" class="btn btn-outline-success btnAttachment " id="btnattachement_four" onclick="uploadFile('four')">Upload</button></td>
                                                    <td><h4 id="remove_four">@Model.ConceptNote?.NameFour</h4></td>
                                                    <td>
                                                        @if (Model.ConceptNote?.NameFour != null)
                                                        {
                                                            <button type="button" class="btn btn-outline-danger" id="btnDelete_four" onclick="deletAttachment('four')">Remove</button>
                                                        }
                                                        else
                                                        {
                                                            <button type="button" class="btn btn-outline-danger" id="btnDelete_four" style="display:none" onclick="deletAttachment('four')">Remove</button>
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Attachment-5</td>
                                                    <td><input type="file" id="attachement_five" onchange="attachFile(this,'five')" class=" form-control " /></td>
                                                    <td><button type="button" class="btn btn-outline-success btnAttachment " id="btnattachement_five" onclick="uploadFile('five')">Upload</button></td>
                                                    <td><h4 id="remove_five">@Model.ConceptNote?.NameFive</h4></td>
                                                    <td>
                                                        @if (Model.ConceptNote?.NameFive != null)
                                                        {
                                                            <button type="button" class="btn btn-outline-danger" id="btnDelete_five" onclick="deletAttachment('five')">Remove</button>
                                                        }
                                                        else
                                                        {
                                                            <button type="button" class="btn btn-outline-danger" id="btnDelete_five" style="display:none" onclick="deletAttachment('five')">Remove</button>
                                                        }
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    @*<h3 class="fs-subtitle monts">Attachment-1</h3>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <input type="file" id="attachement_one" onchange="attachFile(this.value,'one')" class=" form-control " />
                                            </div>
                                            <div class="col-sm-4">
                                                <button type="button" class="btn btn-outline-success btnAttachment " id="btnattachement_one" onclick="uploadFile('one')" >Upload</button>
                                            </div>

                                        </div>
                                        <h3 class="fs-subtitle monts">Attachment-2</h3>
                                        <div class="row">

                                            <div class="col-sm-8">
                                                <input type="file" id="attachement_two" onchange="attachFile(this,'two')" />
                                            </div>
                                            <div class="col-sm-4">
                                                <button type="button" class="btn btn-outline-success btnAttachment " id="btnattachement_two" onclick="uploadFile('two')" >Upload</button>
                                            </div>
                                        </div>
                                        <h3 class="fs-subtitle monts">Attachment-3</h3>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <input type="file" id="attachement_three"  onchange="attachFile(this,'three')"/>
                                            </div>
                                            <div class="col-sm-4">
                                                <button type="button" class="btn btn-outline-success btnAttachment " id="btnattachement_three" onclick="uploadFile('three')" >Upload</button>
                                            </div>

                                        </div>

                                        <h3 class="fs-subtitle monts">Attachment-4</h3>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <input type="file" id="attachement_four" onchange="attachFile(this,'four')" />
                                            </div>
                                            <div class="col-sm-4">
                                                <button type="button" class="btn btn-outline-success btnAttachment " id="btnattachement_four" onclick="uploadFile('four')" >Upload</button>
                                            </div>

                                        </div>
                                        <h3 class="fs-subtitle monts">Attachment-5</h3>
                                        @if (Model.ConceptNote != null && Model.ConceptNote.NameFive != null)
                                        {
                                            <div class="row" id="divRemove_five">
                                                <div class="col-sm-8">
                                                    <h4 id="removeFive">@Model.ConceptNote?.NameFive</h4>
                                                </div>
                                                <div class="col-sm-4">
                                                    <button type="button" class="btn btn-outline-danger" id="btnDeleteFive" onclick="deletAttachment('five')">Remove</button>
                                                </div>


                                            </div>
                                        }
                                        else
                                        {
                                            <div class="row" id="divUpload_five">
                                                <div class="col-sm-8">
                                                    <input type="file" id="attachement_five" onchange="attachFile(this,'five')" />
                                                </div>
                                                <div class="col-sm-4">
                                                    <button type="button" class="btn btn-outline-success btnAttachment" id="btnattachement_five" onclick="uploadFile('five')"  >Upload</button>
                                                </div>


                                            </div>
                                        }*@



                                    <hr />
                                    @*<br />
                                        <a asp-action="AddConceptNoteBudget" asp-controller="Application" class="preview-button text-left">Click To Add Research Estimated Budget</a>*@
                                    <br />
                                    <h3 class="fs-subtitle monts">You can preview your Concept Note by clicking the preview button below.</h3>
                                    <hr>
                                    <div class="row justify-content-between mt-3 px-4">
                                        <button id="step-four-prev" type="button" class="save btn btn-outline-success">Previous</button>
                                        @*<a asp-action="ConceptNotePreview" asp-controller="Application" class="btn btn-outline-dark" asp-route-id="@Model.ApplicantThematic.Id">Preview</a>*@
                                        <button type="button" id="previewBtn" class="btn btn-outline-success">Preview</button>

                                        <button type="button" id="submit" class="btn btn-outline-success text-right">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" id="real-submit-btn" style="visibility: hidden;">Submit</button>

                <!---------------------------------------------------New Tab End--------------------------------------------------------------------------------->
                <!-- Horizontal Form -->

            </div>
        </form>
    </div>
</section>
<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
@*<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>*@
<link href="~/css/TabStyle.css" rel="stylesheet" />
@section Scripts{
    <script type="text/javascript">

            @**new tab system *@
            $('#step-one-next').on('click', function (e) {
                e.preventDefault();
                TopFocus();
                var notFilled = forceThematicAreaSelection();
                if (!notFilled) {
                    SaveFirstPage();
                $('#step-two-tab').tab('show')
                }

            })


            $('#step-two-prev').on('click', function (e) {
                e.preventDefault();
                TopFocus();
                var notFilled = forceThematicAreaSelection();
                if (!notFilled) {
                    SaveFirstPage();
                $('#step-one-tab').tab('show')
                }

            })

            $('#step-two-next').on('click', function (e) {
                e.preventDefault();
                TopFocus();
                var notFilled=forceThematicAreaSelection();
                if (!notFilled) {
                    SaveFirstPage();
                    $('#step-three-tab').tab('show')
                }

            })
            $('#step-three-next').on('click', function (e) {
                e.preventDefault();
                TopFocus();
                var notFilled=forceThematicAreaSelection();
                if (!notFilled) {
                    SaveFirstPage();
                    $('#step-four-tab').tab('show')
                }

            })
            $('#step-three-prev').on('click', function (e) {
                e.preventDefault();
                TopFocus();
                var notFilled=forceThematicAreaSelection();
                if (!notFilled) {
                    SaveFirstPage();
                    $('#step-two-tab').tab('show')
                }

            })

            $('#step-four-prev').on('click', function (e) {
                e.preventDefault();
                TopFocus();
                var notFilled=forceThematicAreaSelection();
                if (!notFilled) {
                    SaveFirstPage();
                    $('#step-three-tab').tab('show')
                }

            })

            //Check for thematic area selection  by Tab clicking
            $('#step-one-tab,#step-two-tab,#step-three-tab,#step-four-tab').on('click', function (e) {
                var notFilled = forceThematicAreaSelection();
                if (notFilled) {
                    return false;

                }



            })



        window.addEventListener("pageshow", function (event) {
            const historyTraversal = event.persisted ||
                (typeof window.performance != "undefined" &&
                    window.performance.navigation.type === 2);
            if (historyTraversal) {
                // Handle page restore.
                window.location.reload(true);
            }
        });
            let AttachmentFile = null;
            let applicantThematicId = 0;
        var cont = 1;
        var contEquip = 1;
        var contSupply = 1;
        var contData = 1;
        var contTravel = 1;
        var contDissemination = 1;
        var contOther = 1;
        var typeId = 1;
        let conceptNoteMaxWordCount = 1500;
        const conceptNoteTotalWordsAllowed = 1500;
        const colorCodes = {
            success: "#1F9877",
            midWay: "orange",
            warning: "#F5365C"
        };

        const formToBeSubmitted = document.querySelector("#msform");
        const modalContainer = document.querySelector("#customized-modal-2");

        document.querySelector("#submit").addEventListener("click", (e) => {
            e.preventDefault();

            //Make sure that all form fields are filled out
            const inputTextFields = document.querySelectorAll("input[type='text']");
            const inputNumberFields = document.querySelectorAll("input[type='number']");
            const textareaFields = document.querySelectorAll("textarea");
            const allFields = [...inputTextFields, ...inputNumberFields, ...textareaFields];
            let fieldsWereValid = true;
            let fieldsLabel = "";

            for (const field of allFields) {
                if (!field.value || field.value === "" || typeof field.value === "undefined") {
                    fieldsWereValid = false;
                    fieldsLabel = field.previousElementSibling.innerText;
                    break;
                }
            }

            if (fieldsWereValid) {
                //Ease in transition
                window.setTimeout(() => {
                    modalContainer.style.opacity = 1;
                    modalContainer.style.transform = 'scale(1)';
                    modalContainer.style.display = "block";
                }, 1000);
            }
            else {
                //const errorMessage = `Complete all fields. ${fieldsLabel === "" ? "" : fieldsLabel + " Is empty"}`;
                const errorMessage = `Please complete all fields.`;
                alert(errorMessage);
            }
        })

        //When submit button is clicked from the modal, Submit concept note form
        document.querySelector("#confirm-form-submission").addEventListener("click", (e) => {
            formToBeSubmitted.dispatchEvent(new Event("submit"));

            document.querySelector("#real-submit-btn").click();
        })

        //Close the opened modal
        document.querySelector("#close-confirmation-modal").addEventListener("click", (e) => {
            modalContainer.style.opacity = 0;
            modalContainer.style.transform = 'scale(0)';
            window.setTimeout(() => modalContainer.style.display = "none", 1000);
        });

        function applyColor(counter) {
            color = colorCodes.success;
            let el = document.querySelectorAll(".word-status");
            const elNodes = Array.prototype.slice.call(el, document.body);

            if (counter && counter > 0) {
                color = ((counter <= 1500 && counter >= 0) ? colorCodes.success : colorCodes.warning);
            }
            else {
                color =  colorCodes.warning;
            }
            if (counter < 0) {
                color = colorCodes.warning;
            }
            elNodes.forEach((element, currentIndex) => element.style.backgroundColor = color);
        }

        //Disable submit button if the counter is negative
        function disableSubmit(counter) {
            let submitBtn = $("#submit");
            if (counter >= conceptNoteTotalWordsAllowed) {
                //submitBtn.attr('disabled', true);
                //submitBtn.addClass("disable-btn");
            }
            else {
                //submitBtn.removeAttr('disabled');
                //submitBtn.removeClass("disable-btn");
            }

            applyColor(counter);
        }

        const wordCounterNodes = document.querySelectorAll(".wordCounter");
        const targetNodes = Array.prototype.slice.call(wordCounterNodes, document.body);

        targetNodes.forEach((wordCounter, currentIndex) => {
            if (wordCounter.value !== "") {
                let wordCount = wordCounter.value.split(" ").length;
                conceptNoteMaxWordCount -= wordCount;
                //console.log(conceptNoteMaxWordCount);
                //console.log("Word Count: ", wordCount)
            }
        });
        $('.wordCountDown').html(conceptNoteMaxWordCount);
        disableSubmit(conceptNoteMaxWordCount);


        // on click function for selecting Thematic Area from Category
        $(function () {
            $("#CategoryId").change(function () {
                var v = $(this).val();
                var url = $("#ThemeId").data("url") + '?value=' + v;
                $.getJSON(url, function (themecategoryList) {
                    $("#ThemeId").empty();

                    $("#ThemeId").append('<option value="' + 0 + '">' +
                        '-- Select Thematic Area --' + '</option>');
                    $.each(themecategoryList, function (i, theme) {
                        $("#ThemeId").append('<option value="' + theme.value + '">' +
                            theme.text + '</option>');
                    });
                });
            })
        })
            $(document).ready(function () {
                $('.btnAttachment').attr('disabled', true);
                applicantThematicId = $('#ApplicantThematicId').val();
                if (applicantThematicId > 0) {
                    setInterval(AutoSave, 300000);
                }
            //Preview Button clicked
                $('#previewBtn').on('click', function () {
                    var url = '@Url.Action("ConceptNotePreview", "Application")';
                    window.location.href = url + '?id=' + applicantThematicId;
                })
                //Comma seperator for estimated budget
                $('#budgettxt').keyup(function (e) {
                    //skip arrow key
                    if (e.which >= 37 && e.which <= 40)
                        return;
                    //format number
                    $(this).val(function (index, value) {

                        return value
                            .replace(/\D/g, "")
                            .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    });
                });
                ///
                //budget formatter function
                BudgetFormat();
            var v = $('#CategoryId').val();
                var preselectedTheme = $('#ApplicantThematic_Theme_Id').val();
                if (preselectedTheme > 0) {
                    var url = $("#ThemeId").data("url") + '?value=' + v;
                    $.getJSON(url, function (themecategoryList) {
                        //$("#ThemeId").empty();


                        $.each(themecategoryList, function (i, theme) {
                            $("#ThemeId").append('<option value="' + theme.value + '">' +
                                theme.text + '</option>');
                        });
                        if (preselectedTheme > 0) {
                            $('#ThemeId').val(preselectedTheme);
                        }



                    });
                }


            //$('.wordCountDown').html(conceptNoteMaxWordCount);
            //disableSubmit(conceptNoteMaxWordCount);

            //tabs
            var current_fs, next_fs, previous_fs; //fieldsets
            var left, opacity, scale; //fieldset properties which we will animate
            var animating; //flag to prevent quick multi-click glitches



            //$('#txtBackgroundIntro').keyup(function (e) {
            //    var max = 300;
            //    var len = $(this).val().length;
            //    var char = max - len;
            //    $('#backgroundIntro').html(char);

            //})

            $('#txtExecutiveSummary').on('keyup', function (e) {

                var max = 600;
                var words = e.target.value.split(" ").length;
                if (words > 600) {
                    var trimmed = e.target.value.split(" ", max).join(" ");
                    $(this).val(trimmed + " ");
                    $('#executiveSummary').html(word);
                }
                else {
                    var word = max - words;
                    $('#executiveSummary').html(word);

                }
            });

            $('#txtExecutiveSummary').on('paste', function (e) {

                var max = 600;
                var words = e.target.value.split(" ").length;
                if (words > 600) {
                    var trimmed = e.target.value.split(" ", max).join(" ");
                    $(this).val(trimmed + " ");
                    $('#executiveSummary').html(word);
                }
                else {
                    var word = max - words;
                    $('#executiveSummary').html(word);
                }
            });


            //Target the wordCounter class to get the total words entered
            $('.wordCounter').on('keyup', function (e) {
                let totalCount = conceptNoteTotalWordsAllowed;
                const wordCounterNodes = document.querySelectorAll(".wordCounter");
                const targetNodes = Array.prototype.slice.call(wordCounterNodes, document.body);

                targetNodes.forEach((wordCounter, currentIndex) => {
                    if (wordCounter.value !== "") {
                        let wordCount = wordCounter.value.split(" ").length;
                        totalCount -= wordCount;
                    }
                });
                $('.wordCountDown').html(totalCount);
                disableSubmit(totalCount);
            });

            $('.wordCounter').on('paste', function (e) {
                let totalCount = conceptNoteTotalWordsAllowed;
                const wordCounterNodes = document.querySelectorAll(".wordCounter");
                const targetNodes = Array.prototype.slice.call(wordCounterNodes, document.body);

                targetNodes.forEach((wordCounter, currentIndex) => {
                    if (wordCounter.value !== "") {
                        let wordCount = wordCounter.value.split(" ").length;
                        totalCount -= wordCount;
                    }
                });
                $('.wordCountDown').html(totalCount);
                disableSubmit(totalCount);
            });

            $('.save').on('click', function () {
                if (applicantThematicId > 0) {
                    AutoSave();
                }

            })


            ///Save First section of Budget
                function AutoSave() {
                    var isNotFilled = forceThematicAreaSelection();
                    if (!isNotFilled) {
                           var proposalDetail = getProposalDetail();
             var stringifyProposalDetail = JSON.stringify(proposalDetail);
             applicantThematicId = $('#ApplicantThematicId').val()
            //var applicantThematicId = $('#ApplicantThematic_Id').val();
                        var budget = $('#txtEstimatedBudget').val();
                        if (applicantThematicId > 0) {
                                    $.ajax({
                                type: 'POST',
                                url: '@Url.Action("AutoSaveProposalDetail", "Application")', // we are calling json method
                    dataType: 'json',
                                //timeout:2000,
                                data: { stringifyProposalDetail, applicantThematicId, typeId, budget },
                                success: function (result) {
                                    if (!result.IsError) {
                                        //$("#personnelTable").empty();

                                        //for (i = 0; i < result.length; i++) {
                                        //    result[i].index = result[i].Id;
                                        //    $("#personnelTable").append('<tr><td>' + result.PersonnelBudgetDetails[i].Description + '</td>' + '<td>' + result[i].Name + '</td>' + '<td>' + result[i].FeeType + '</td>' + '<td>' + result[i].Programme + '</td>' + '<td>' + result[i].Level + '</td>' + '<td>' + result[i].PaymentMode + '</td>' + '<td>' + result[i].Session + '</td>' + '<td><input onclick="editRecord(' + result[i].Id + ', 3)" class="btn btn-sm btn-success editTableRow" value="Edit" type="button" /></td>' + ' <td><input onclick="deleteRecord(' + result[i].Id + ', 3)" class="btn btn-sm btn-success removeTableRow" value="Delete" type="button" /></td></tr>');

                                        //}
                                    }

                                },
                                error: function (ex) {
                                    alert('System busy' + ex);
                                }
                            });
                        }

                    }

                }
                //upload attachment
                $('#attachementOne').on('change', function () {
                    if (this.files[0].size > 4194304) {
                        alert("Please upload file less than 4MB. Thanks!!");
                        $(this).val('');
                        $('#btnattachementOne').attr('disabled', true);

                    }
                    else {
                        AttachmentFile = this.files[0];

                        $('#btnattachementOne').attr('disabled', false);
                    }



                })
                $('#btnattachementOne').on('click', function () {
                    $('#btnattachementOne').text("Uploading...");
                    uploadAttachment("one");
                    $('#attachementOne').val("");
                    $('#btnattachementOne').attr('disabled', true);

                })
                //two
                $('#attachementTwo').on('change', function () {
                    if (this.files[0].size > 4194304) {
                        alert("Please upload file less than 4MB. Thanks!!");
                        $(this).val('');
                        $('#btnattachementTwo').attr('disabled', true);

                    }
                    else {
                        AttachmentFile = this.files[0];

                        $('#btnattachementTwo').attr('disabled', false);
                    }



                })
                $('#btnattachementTwo').on('click', function () {
                    $('#btnattachementTwo').text("Uploading...");
                    uploadAttachment("two");
                    $('#attachementTwo').val("");
                    $('#btnattachementTwo').attr('disabled', true);

                })
                //three
                $('#attachementThree').on('change', function () {
                    if (this.files[0].size > 4194304) {
                        alert("Please upload file less than 4MB. Thanks!!");
                        $(this).val('');
                        $('#btnattachementThree').attr('disabled', true);

                    }
                    else {
                        AttachmentFile = this.files[0];

                        $('#btnattachementThree').attr('disabled', false);
                    }



                })
                $('#btnattachementThree').on('click', function () {
                    $('#btnattachementThree').text("Uploading...");
                    uploadAttachment("three");
                    $('#attachementThree').val("");
                    $('#btnattachementThree').attr('disabled', true);

                })
                //four
                $('#attachementFour').on('change', function () {
                    if (this.files[0].size > 4194304) {
                        alert("Please upload file less than 4MB. Thanks!!");
                        $(this).val('');
                        $('#btnattachementFour').attr('disabled', true);

                    }
                    else {
                        AttachmentFile = this.files[0];

                        $('#btnattachementFour').attr('disabled', false);
                    }



                })
                $('#btnattachementFour').on('click', function () {
                    $('#btnattachementFour').text("Uploading...");
                    uploadAttachment("four");
                    $('#attachementFour').val("");
                    $('#btnattachementFour').attr('disabled', true);

                })
                //five
                $('#attachementFive').on('change', function () {
                    if (this.files[0].size > 4194304) {
                        alert("Please upload file less than 4MB. Thanks!!");
                        $(this).val('');
                        $('#btnattachementFive').attr('disabled', true);

                    }
                    else {
                        AttachmentFile = this.files[0];

                        $('#btnattachementFive').attr('disabled', false);
                    }



                })
                $('#btnattachementFive').on('click', function () {
                    $('#btnattachementFive').text("Uploading...");
                    uploadAttachment("five");
                    $('#attachementFive').val("");
                    $('#btnattachementFive').attr('disabled', true);

                })
        });
        //Assign TextArea Data
        function getProposalDetail() {
            var background = $('#txtBackgroundIntro').val();
            var aim = $('#txtAim').val();
            var statement = $('#txtStatement').val();
            var conceptual = $('#txtConceptualFramework').val();
            var projectImpact = $('#txtProjectImpact').val();
            var projectGoal = $('#txtProjectGoal').val();
            var researchMethodology = $('#txtResearchMethodology').val();
            var literatureReview = $('#txtLiteratureReview').val();
            var timeFrame = $('#txtTimeFrame').val();
            var projectActivities = $('#txtProjectActivities').val();
            var studyLocation = $('#txtStudyLocation').val();
            var activityIndicator = $('#txtActivityIndicator').val();
            var ethical = $('#txtEthical').val();
            var dataManagement = $('#txtDataManagement').val();
            var monitoring = $('#txtMonitoring').val();
            var strategies = $('#txtStrategies').val();
            var previousGrant = $('#txtPreviousGrant').val();
            var researchWorkToDate = $('#txtResearchWorkToDate').val();
            var groupResearch = $('#txtGroupResearch').val();
            var budgetJustification = $('#txtBudgetJustification').val();
            var additionalSource = $('#txtAdditionalSource').val();
            var executiveSummary = $('#txtExecutiveSummary').val();
            var title = $('#txtTitle').val();
            var expectedResult = $('#txtResearch').val();
            var proposalTitle = $('#txtProposalTitle').val();
            var innovation = $('#txtInnovations').val();
            var references = $('#txtReferences').val();
            var researchQuestion = $('#txtResearchQuestions').val();
            var researchTeam = $('#txtResearchTeam').val();

             //var estimatedBudget=$('#txtEstimatedBudget').val();


            var proposalDetail = {

                'IntroductionBackground': background,
                'Aims': aim,
                'StatementOfProblem': statement,
                'ConceptualFramework': conceptual,
                'ProjectGoal': projectGoal,
                'ProjectImpact': projectImpact,
                'ResearchMethodoly': researchMethodology,
                'LiteratureReview': literatureReview,
                'ProjectActivities': projectActivities,
                'TimeFrame': timeFrame,
                'ActivityIndicator': activityIndicator,
                'StudyLocation': studyLocation,
                'DataManagement': dataManagement,
                'Ethical': ethical,
                'Monitoring': monitoring,
                'DisseminationStrategies': strategies,
                'ResearchWorkToDate': researchWorkToDate,
                'PreviousGrant': previousGrant,
                'GroupResearch': groupResearch,
                'BudgetJustification': budgetJustification,
                'AdditionalSources': additionalSource,
                'Title': title,
                'ExecutiveSummary': executiveSummary,
                'ProposalTitle': proposalTitle,
                'ExpectedResult': expectedResult,
                'Innovations': innovation,
                'References': references,
                'ResearchQuestions': researchQuestion,
                'ResearchTeam': researchTeam


            };
            return proposalDetail;
            }
            //Save Thematic Area and Category
            function SaveFirstPage() {

                var themeId = $('#ThemeId').val();
                var budget = $('#budgettxt').val();
                var title = $('#title').val();
                if (themeId > 0 && budget != null && title != null) {
                      $.ajax({
                                type: 'POST',
                                url: '@Url.Action("CreateConceptNote", "Application")', // we are calling json method
                                dataType: 'json',
                          data: { themeId, title, budget, applicantThematicId },
                                success: function (result) {
                                    if (!result.IsError && result.applicantThematicId > 0) {
                                        applicantThematicId = result.applicantThematicId;
                                        $('#ApplicantThematicId').val(result.applicantThematicId);
                                    }

                                },
                                error: function (ex) {
                                    alert('System busy.' + ex);
                                }
                            });
                }

            }

            $(function () {
                $("#CategoryId").change(function () {
                    var v = $(this).val();
                    var url = $("#ThemeId").data("url") + '?value=' + v;
                    $.getJSON(url, function (themecategoryList) {
                        $("#ThemeId").empty();

                        $("#ThemeId").append('<option value="' + 0 + '">' +
                            '-- Select Thematic Area --' + '</option>');
                        $.each(themecategoryList, function (i, theme) {
                            $("#ThemeId").append('<option value="' + theme.value + '">' +
                                theme.text + '</option>');
                        });


                    });

                })

            })

            //Number formatter
            function BudgetFormat() {

                var currency = $('#budgettxt').val();

                var search = currency.indexOf(".");
                if (search) {
                    currency = currency.split(".");
                    if ((currency[0] / 1) == 0) {
                        currency[0] = "0";
                        //var newNum = currency[0].replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");

                        $('#budgettxt').val(Math.round(parseInt(currency[0])));

                    } else {
                        var newNum = currency[0].replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        //$('#budgettxt').val(Math.round(parseInt(newNum)) + "." + currency[1]);
                        $('#budgettxt').val(newNum + "." + currency[1]);
                    }
                }
                //$('#budgettxt').val(function (index, value) {
                //    return value
                //        .replace(/\D/g, "")
                //        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                //});
            }
            //ensure thematic area is selected
            function forceThematicAreaSelection() {
                var theme = $('#ThemeId').val();
                var budget = $('#budgettxt').val();
                var title = $('#title').val();
                if ($('#ThemeId').val() == 0 || $('#ThemeId').val() < 0 || $('#ThemeId').val() == 'undefine' || $('#ThemeId').val() == null || budget == null || title == null || budget == "0" || title == "") {
                    alert("Please complete page one to continue.");
                    //$('.tabLink').addClass('disabled');
                    return true;
                }
                //$('.tabLink').removeClass('disabled');
            }
            //Focus on top page
            function TopFocus() {
                window.scrollTo(0, 0);
        }
        function attachFile(input,attachmentNo) {
            if (input.files[0].size > 4194304) {
                alert("Please upload file less than 4MB. Thanks!!");
                $(`#attachement_${attachmentNo}`).val('');
                $(`#btnattachement_${attachmentNo}`).attr('disabled', true);

            }
            else {
                AttachmentFile = input.files[0];
                $(`#btnattachement_${attachmentNo}`).attr('disabled', false);
            }
        }
            //uploadAttachment
            function uploadAttachment(attachmentNo) {
                if (attachmentNo != null && attachmentNo != "" && attachmentNo != 'undefined' && AttachmentFile != null && AttachmentFile != 'undefined' && applicantThematicId > 0) {
                    var formData = new FormData();
                    formData.append("attachmentNo", attachmentNo);
                    formData.append("AttachmentFile", AttachmentFile);
                    formData.append("applicantThematicId", applicantThematicId);

                               $.ajax({
                                type: 'POST',
                                url: '@Url.Action("UploadConceptNoteAttachement", "Application")', // we are calling json method
                                   processData: false,
                                   contentType: false,
                                   data: formData,
                                   success: function (result) {
                                       if (!result.isError && result.message!=null) {
                                        AttachmentFile = null;
                                           alert(result.message);
                                           $('.btnAttachment').text("Upload");
                                           //$("#divUpload_" + attachmentNo).hide();
                                           //$("#divRemove_" + attachmentNo).show();
                                           $(`#remove_${attachmentNo}`).text(result.fileName);
                                           $(`#btnDelete_${attachmentNo}`).css('display','');

                                    }

                                },
                                error: function (ex) {
                                    alert('System busy.' + ex);
                                }
                            });
                }
        }
        //uploadFileOnchange
        function uploadFile(attachmentNo) {
            $(`#btnattachement_${ attachmentNo }`).text("Uploading...");
            uploadAttachment(attachmentNo);

            $(`#attachement_${attachmentNo}`).val("");
            $(`#btnattachement_${attachmentNo}`).attr('disabled', true);
        }
            //delete Attachment
        function deletAttachment(attachmentNo) {
                if (attachmentNo != null && attachmentNo != "" && attachmentNo != 'undefined' && applicantThematicId > 0) {
                               $.ajax({
                                type: 'POST',
                                   url: '@Url.Action("DeleteAttachment", "Application")', // we are calling json method
                                dataType: 'json',
                                   data: { attachmentNo, applicantThematicId },
                                   success: function (result) {
                                       if (!result.isError && result.message!=null) {
                                        AttachmentFile = null;
                                           alert(result.message);
                                           $(`#remove_${attachmentNo}`).text('');
                                           $(`#btnDelete_${attachmentNo}`).css('display', 'none');

                                    }

                                },
                                error: function (ex) {
                                    alert('System busy.' + ex);
                                }
                            });
                }
            }
    </script>
}
