﻿@model Grant.Web.Models.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Concept Note Preview";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    body {
        font-family: Poppins, sans-serif;
    }
    .nav-pills.nav-pills-success .nav-item .nav-link {
        color: #1F9877;
    }

        .nav-pills.nav-pills-success .nav-item .nav-link.active {
            background: #1F9877;
            color: #fff;
        }
    .monts {
        font-family: Poppins, sans-serif;
        font-weight: bold
    }

    .th-bg {
        background-color: #1CBC9D;
    }

    .th-bg2 {
        background-color: #DAEEF3;
    }
    #progressbar li {
        list-style-type: none;
        color: #555;
        text-transform: uppercase;
        font-size: 9px;
        width: 30% !important;
        float: left;
        position: relative;
        letter-spacing: 1px;
    }
</style>
<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
            {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>

<section class="content" style="background-color: #f8f9fe;s">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Preview - Concept Note</h1>
        <hr class="mt-0 mb-2" />
    </div>

    <div class="container" style="margin-bottom: 30px">
        <form id="msform" method="POST" role="form" enctype="multipart/form-data" class="form-horizontal">


            <div class="col-md-12">

                <!-------------------------New Tab Start------------------>

                <div>
                    <ul class="nav nav-pills nav-pills-success mb-3 justify-content-center" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="step-one-tab" data-toggle="pill" href="#step-one"
                               role="tab" aria-controls="step-one" aria-selected="true">Page One</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="step-two-tab" data-toggle="pill" href="#step-two"
                               role="tab" aria-controls="step-two" aria-selected="false">Page Two</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="step-three-tab" data-toggle="pill" href="#step-three"
                               role="tab" aria-controls="step-three" aria-selected="false">Page Three</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">


                        <div class="tab-pane fade show active" id="step-one" role="tabpanel" aria-labelledby="step-one-tab">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="fs-subtitle monts">Research Project Title</h3>

                                    <textarea asp-for="ApplicantThematic.Title" id="txtTitle" type="text" rows="1" readonly></textarea>
                                    <h3 class="fs-subtitle monts text-left">Category</h3>
                                    <input asp-for="ApplicantThematic.Theme.Category.Name" class="form-control" readonly />
                                    <h3 class="fs-subtitle monts text-left">Thematic Area</h3>

                                    <input asp-for="ApplicantThematic.Theme.Name" class="form-control" readonly />

                                    <br />
                                    <h3 class="fs-subtitle monts text-left">Estimated Budget: &#8358 @string.Format("{0:0,0.00}", Model.ConceptNote.ConceptNoteSubmittedBudget)</h3>
                                    @*<h3 class="fs-subtitle monts text-left"><strong>Estimated Budget &#8358</strong></h3>
                                    <ins> ₦ @string.Format("{0:0,0.00}", Model.ConceptNote.ConceptNoteSubmittedBudget)</ins>*@
                                    <br />
                                    <h3 class="fs-subtitle monts text-left">Background of the Research</h3>
                                    <textarea asp-for="ApplicantSubmission.IntroductionBackground" id="txtBackgroundIntro" type="text" rows="5" readonly></textarea>

                                    <hr>
                                    <div class="ppx-4 text-right mt-3">
                                        <div></div>
                                        <button id="step-one-next" type="button" class=" btn btn-outline-success">Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="step-two" role="tabpanel" aria-labelledby="step-two-tab">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="fs-subtitle monts text-left">Statement of the Problem (Why does this research need to be conducted?)</h3>
                                    <textarea asp-for="ApplicantSubmission.StatementOfProblem" id="txtStatement" type="text" rows="5" readonly></textarea>
                                    @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="statement">300</span> character(s) left</div>*@
                                    <br />
                                    <br />
                                    <br />
                                    <h3 class="fs-subtitle monts text-left">Objectives of the Research</h3>
                                    <textarea asp-for="ApplicantSubmission.Aims" id="txtAim" type="text" rows="5" readonly></textarea>
                                    @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="aim">300</span> character(s) left</div>*@
                                    <br />
                                    <br />
                                    <br />
                                    <h3 class="fs-subtitle monts">Research Questions</h3>
                                    <textarea asp-for="ApplicantSubmission.ResearchQuestions" id="txtResearchQuestions" type="text" rows="5" readonly></textarea>
                                    <br />
                                    <br />
                                    <br />
                                    <h3 class="fs-subtitle monts">Literature Review</h3>
                                    <textarea asp-for="ApplicantSubmission.LiteratureReview" id="txtLiteratureReview" type="text" rows="5" readonly></textarea>
                                    @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="literatureReview">300</span> character(s) left</div>*@
                                    <br />
                                    <br />
                                    <br />
                                    <h3 class="fs-subtitle monts">Theoretical Framework</h3>
                                    <textarea asp-for="ApplicantSubmission.ConceptualFramework" id="txtConceptualFramework" type="text" rows="5" readonly></textarea>
                                    <br />
                                    <br />
                                    <br />
                                    <h3 class="fs-subtitle monts">Research Methodology</h3>
                                    <textarea asp-for="ApplicantSubmission.ResearchMethodoly" id="txtResearchMethodology" type="text" rows="5" readonly></textarea>
                                    <hr>
                                    <div class="row justify-content-between mt-3 px-4">
                                        <button id="step-two-prev" type="button" class="btn btn-outline-success">Previous</button>
                                        <button id="step-two-next" type="button" class="btn btn-outline-success">Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="step-three" role="tabpanel" aria-labelledby="step-three-tab">
                            <div class="card">
                                <div class="card-body">
                                    <br />
                                    <h3 class="fs-subtitle monts">Expected Results</h3>
                                    <textarea asp-for="ApplicantSubmission.ExpectedResult" id="txtExpectedResult" type="text" rows="5" readonly></textarea>
                                    <br />
                                    <br />
                                    <br />
                                    <h3 class="fs-subtitle monts">Innovation (How different is it from other earlier projects?)</h3>
                                    <textarea asp-for="ApplicantSubmission.Innovations" id="txtInnovations" type="text" rows="5" readonly></textarea>

                                    <br />
                                    <br />
                                    <br />
                                    <h3 class="fs-subtitle monts">References </h3>
                                    <textarea asp-for="ApplicantSubmission.References" id="txtReferences" type="text" rows="5" readonly></textarea>

                                    <br />
                                    <br />
                                    <br />
                                    <h3 class="fs-subtitle monts">Research Team (Give Name/Rank/Highest Qualification of each member) </h3>
                                    <textarea asp-for="ApplicantSubmission.TeamMates" required id="txtReferences" type="text" rows="5" class="wordCounter"></textarea>

                                    <br />
                                    <br />
                                    <br />
                                    
                                    <hr>
                                    <div class="row justify-content-between mt-3 px-4">
                                        <button id="step-three-prev" type="button" class="btn btn-outline-success">Previous</button>
                                        @if (Model.HideButton == true)
                                        {
                                            <a asp-action="ConceptNoteApplication" asp-controller="Application" class=" btn btn-outline-success">Return To Submit</a>

                                        }
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!----------------------------New Tab End---------------->
                
            </div>
        </form>
    </div>
</section>
<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<link href="~/css/TabStyle.css" rel="stylesheet" />
@section Scripts{
    <script type="text/javascript">

        @*new tab system *@
            $('#step-one-next').on('click', function (e) {
                e.preventDefault()
                TopFocus();
                $('#step-two-tab').tab('show')
            })


            $('#step-two-prev').on('click', function (e) {
                e.preventDefault()
                TopFocus();
                $('#step-one-tab').tab('show')
            })

            $('#step-two-next').on('click', function (e) {
                e.preventDefault() 
                TopFocus();
                $('#step-three-tab').tab('show')
            })
            $('#step-three-next').on('click', function (e) {
                e.preventDefault()
                TopFocus();
                $('#step-four-tab').tab('show')
            })
            $('#step-three-prev').on('click', function (e) {
                e.preventDefault()
                TopFocus();
                $('#step-two-tab').tab('show')
            })
        //Focus on top page
        function TopFocus() {
            window.scrollTo(0, 0);
        }
    </script>
}
