﻿

@model Grant.Web.Models.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Modify Full Proposal Budget";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    <div class="pg-head">
        <h3 class="monts text-center Leftalign" style="font-weight: 300; margin-top: 10px;text-align:left">Modify Full Proposal Budget</h3>
    </div>

    @if (@TempData["Message"] != null)
            {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>

<section class="content">
    <div class="container" style="margin-bottom: 30px">


            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-danger" style="border-top-color: #fff; border-radius: 0">

                    <div class="box-body">
                        <h2 class="fs-title monts">Financial Aspects of the Research Project Implementation</h2><hr>

                        <div class="table-responsive">
                            <table id="othersTable" class="table table-striped table-hover table-bordered">
                                <thead class="text-center">
                                    <tr class="th-bg">
                                        <th>SN</th>
                                        <th>Description of Item</th>
                                        <th colspan="3">Expected From</th>
                                        <th>Total (&#8358;)</th>
                                        <th></th>
                                    </tr>

                                    <tr class="th-bg2">
                                        <th></th>
                                        <th></th>
                                        <th>TETFund and NRF (&#8358;)</th>
                                        <th>Institution (&#8358;)</th>
                                        <th>Other (&#8358;)</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="font-weight:900">
                                        <td colspan="2">PERSONNEL COSTS/ALLOWANCE </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <th></th>
                                        <th></th>

                                    </tr>
                                    @for (int i = 0; i < Model.BudgetDetailsSectionOne.Count; i++)
                                    {
                                        var sn = i + 1;
                                        <tr>

                                            <td>@sn</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionOne[i].Description)

                                            </td>
                                            <td>

                                                 @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne[i].TetFundAmount)
                                            </td>
                                            <td>

                                                 @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne[i].InstitutionFundingAmount)
                                            </td>
                                            <td>

                                                 @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne[i].OtherFunding)
                                            </td>
                                            <td>

                                                 @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne[i].Total)
                                            </td>
                                            <td>
                                                <button class="btn btn-primary" onclick="deleteItem(@Model.BudgetDetailsSectionOne[i].Id)">Delete</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="editItem(@Model.BudgetDetailsSectionOne[i].Id)">Edit</button>
                                               
                                            </td>
                                        </tr>
                                    }
                                    <tr style="font-weight:600">
                                        <td colspan="2">Sub-Total</td>
                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne.Sum(g => g.TetFundAmount))</td>
                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne.Sum(g => g.InstitutionFundingAmount))</td>
                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne.Sum(g => g.OtherFunding))</td>
                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne.Sum(g => g.Total))</td>
                                        <td></td>
                                        <th></th>
                                    </tr>
                                    <tr class="monts" style="font-weight:600">
                                        <td colspan="2">Percentage </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td colspan="2">@Model.SectionPercentage1 %</td>
                                        <th></th>
                                    </tr>


                                    <tr style="font-weight:900">
                                        <td colspan="2">EQUIPMENT (LIST & SPECIFY) </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <th></th>

                                    </tr>
                                    @for (int i = 0; i < Model.BudgetDetailsSectionTwo.Count; i++)
                                    {
                                        var sn = i + 1;
                                        <tr>

                                            <td>@sn</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionTwo[i].Description)

                                            </td>
                                            <td>

                                                 @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo[i].TetFundAmount)
                                            </td>
                                            <td>

                                                 @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo[i].InstitutionFundingAmount)
                                            </td>
                                            <td>

                                                 @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo[i].OtherFunding)
                                            </td>
                                            <td>

                                                 @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo[i].Total)
                                            </td>
                                            <td>
                                                <button class="btn btn-primary" onclick="deleteItem(@Model.BudgetDetailsSectionTwo[i].Id)">Delete</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="editItem(@Model.BudgetDetailsSectionTwo[i].Id)">Edit</button>

                                            </td>
                                        </tr>
                                    }
                                    <tr style="font-weight:600">
                                        <td colspan="2">Sub-Total</td>
                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo.Sum(g => g.TetFundAmount))</td>
                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo.Sum(g => g.InstitutionFundingAmount))</td>
                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo.Sum(g => g.OtherFunding))</td>
                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo.Sum(g => g.Total))</td>
                                        <td></td>
                                        <th></th>
                                    </tr>
                                    <tr class="monts" style="font-weight:600">
                                        <td colspan="2">Percentage </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td colspan="2">@Model.SectionPercentage2 %</td>
                                        <th></th>
                                    </tr>

                                    <tr style="font-weight:900">
                                        <td colspan="2">SUPPLIES/CONSUMABLES </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <th></th>
                                    </tr>
                                    @for (int i = 0; i < Model.BudgetDetailsSectionThree.Count; i++)
                                    {
                                        var sn = i + 1;
                                        <tr>

                                            <td>@sn</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionThree[i].Description)

                                            </td>
                                            <td>

                                                 @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree[i].TetFundAmount)
                                            </td>
                                            <td>

                                                 @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree[i].InstitutionFundingAmount)
                                            </td>
                                            <td>

                                                 @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree[i].OtherFunding)
                                            </td>
                                            <td>

                                                 @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree[i].Total)
                                            </td>
                                            <td>
                                                <button class="btn btn-primary" onclick="deleteItem(@Model.BudgetDetailsSectionThree[i].Id)">Delete</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="editItem(@Model.BudgetDetailsSectionThree[i].Id)">Edit</button>

                                            </td>

                                        </tr>
                                    }
                                    <tr style="font-weight:600">
                                        <td colspan="2">Sub-Total</td>
                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree.Sum(g => g.TetFundAmount))</td>
                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree.Sum(g => g.InstitutionFundingAmount))</td>
                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree.Sum(g => g.OtherFunding))</td>
                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree.Sum(g => g.Total))</td>
                                        <td></td>
                                        <th></th>
                                    </tr>
                                    <tr class="monts" style="font-weight:600">
                                        <td colspan="2">Percentage </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>@Model.SectionPercentage3 %</td>
                                        <th></th>
                                    </tr>

                                    <tr style="font-weight:900">
                                        <td colspan="2">DATA COLLECTION & ANALYSIS</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <th></th>
                                    </tr>
                                    @for (int i = 0; i < Model.BudgetDetailsSectionFour.Count; i++)
                                    {
                                        var sn = i + 1;
                                        <tr>

                                            <td>@sn</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionFour[i].Description)

                                            </td>
                                            <td>

                                                 @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour[i].TetFundAmount)
                                            </td>
                                            <td>

                                                 @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour[i].InstitutionFundingAmount)
                                            </td>
                                            <td>

                                                 @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour[i].OtherFunding)
                                            </td>
                                            <td>

                                                 @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour[i].Total)
                                            </td>
                                            <td>
                                                <button class="btn btn-primary" onclick="deleteItem(@Model.BudgetDetailsSectionFour[i].Id)">Delete</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="editItem(@Model.BudgetDetailsSectionFour[i].Id)">Edit</button>

                                            </td>

                                        </tr>
                                    }
                                    <tr style="font-weight:600">
                                        <td colspan="2">Sub-Total</td>
                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour.Sum(g => g.TetFundAmount))</td>
                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour.Sum(g => g.InstitutionFundingAmount))</td>
                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour.Sum(g => g.OtherFunding))</td>
                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour.Sum(g => g.Total))</td>
                                        <td></td>
                                        <th></th>
                                    </tr>
                                    <tr class="monts" style="font-weight:600">
                                        <td colspan="2">Percentage </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td colspan="2">@Model.SectionPercentage4 %</td>
                                        <th></th>
                                    </tr>

                                    <tr style="font-weight:900">
                                        <td colspan="2">TRAVEL</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <th></th>
                                    </tr>
                                    @for (int i = 0; i < Model.BudgetDetailsSectionFive.Count; i++)
                                    {
                                        var sn = i + 1;
                                        <tr>

                                            <td>@sn</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionFive[i].Description)

                                            </td>
                                            <td>

                                                 @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive[i].TetFundAmount)
                                            </td>
                                            <td>

                                                 @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive[i].InstitutionFundingAmount)
                                            </td>
                                            <td>

                                                 @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive[i].OtherFunding)
                                            </td>
                                            <td>

                                                 @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive[i].Total)
                                            </td>
                                            <td>
                                                <button class="btn btn-primary" onclick="deleteItem(@Model.BudgetDetailsSectionFive[i].Id)">Delete</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="editItem(@Model.BudgetDetailsSectionFive[i].Id)">Edit</button>

                                            </td>
                                        </tr>
                                    }
                                    <tr style="font-weight:600">
                                        <td colspan="2">Sub-Total</td>
                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive.Sum(g => g.TetFundAmount))</td>
                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive.Sum(g => g.InstitutionFundingAmount))</td>
                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive.Sum(g => g.OtherFunding))</td>
                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive.Sum(g => g.Total))</td>
                                        <td></td>
                                        <th></th>
                                    </tr>
                                    <tr class="monts" style="font-weight:600">
                                        <td colspan="2">Percentage </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td colspan="2">@Model.SectionPercentage5 %</td>
                                        <th></th>
                                    </tr>

                                    <tr style="font-weight:900">
                                        <td colspan="2">DISSEMINATION </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <th></th>
                                    </tr>
                                    @for (int i = 0; i < Model.BudgetDetailsSectionSix.Count; i++)
                                    {
                                        var sn = i + 1;
                                        <tr>

                                            <td>@sn</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionSix[i].Description)

                                            </td>
                                            <td>

                                                 @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix[i].TetFundAmount)
                                            </td>
                                            <td>

                                                 @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix[i].InstitutionFundingAmount)
                                            </td>
                                            <td>

                                                 @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix[i].OtherFunding)
                                            </td>
                                            <td>

                                                 @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix[i].Total)
                                            </td>
                                            <td>
                                                <button class="btn btn-primary" onclick="deleteItem(@Model.BudgetDetailsSectionSix[i].Id)">Delete</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="editItem(@Model.BudgetDetailsSectionSix[i].Id)">Edit</button>

                                            </td>
                                        </tr>
                                    }
                                    <tr style="font-weight:600">
                                        <td colspan="2">Sub-Total</td>
                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix.Sum(g => g.TetFundAmount))</td>
                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix.Sum(g => g.InstitutionFundingAmount))</td>
                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix.Sum(g => g.OtherFunding))</td>
                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix.Sum(g => g.Total))</td>
                                        
                                    </tr>
                                    <tr class="monts" style="font-weight:600">
                                        <td colspan="2">Percentage </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td colspan="2">@Model.SectionPercentage6 %</td>
                                        <th></th>
                                    </tr>

                                    <tr style="font-weight:900">
                                        <td colspan="2">OTHERS/MISCELLANEOUS  </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <th></th>
                                    </tr>
                                    @for (int i = 0; i < Model.BudgetDetailsSectionSeven.Count; i++)
                                    {
                                        var sn = i + 1;
                                        <tr>

                                            <td>@sn</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionSeven[i].Description)

                                            </td>
                                            <td>

                                                 @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven[i].TetFundAmount)
                                            </td>
                                            <td>

                                                 @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven[i].InstitutionFundingAmount)
                                            </td>
                                            <td>

                                                 @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven[i].OtherFunding)
                                            </td>
                                            <td>

                                                 @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven[i].Total)
                                            </td>
                                            <td>
                                                <button class="btn btn-primary" onclick="deleteItem(@Model.BudgetDetailsSectionSeven[i].Id)">Delete</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="editItem(@Model.BudgetDetailsSectionSeven[i].Id)">Edit</button>

                                            </td>
                                        </tr>
                                    }
                                    <tr style="font-weight:600">
                                        <td colspan="2">Sub-Total</td>
                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven.Sum(g => g.TetFundAmount))</td>
                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven.Sum(g => g.InstitutionFundingAmount))</td>
                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven.Sum(g => g.OtherFunding))</td>
                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven.Sum(g => g.Total))</td>
                                        <td></td>
                                        <th></th>
                                    </tr>
                                    <tr class="monts" style="font-weight:600">
                                        <td colspan="2">Percentage </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td colspan="2">@Model.SectionPercentage7 %</td>
                                        <th></th>
                                    </tr>
                                    <tr style="font-weight:900">
                                        <td>GRAND-TOTAL</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetails.Sum(g => g.Total))</td>
                                        <td></td>
                                        <th></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>




                    </div>
                </div>
            </div>

        <!--------------------------------------Modal for Editing Budget item----------------------------------->



        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Budget Item To Edit</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">TETFund and NRF (&#8358;):</label>
                                <input type="number" class="form-control" id="tetfund">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Institution (&#8358;):</label>
                                <input type="number" class="form-control" id="institution">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Other (&#8358;):</label>
                                <input type="number" class="form-control" id="otherFund">
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="saveEdit()">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <!--------------------------------------End of Modal----------------------------------->

                </div>
</section>
<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
<script>
    var editItemId = 0;
    function deleteItem(e) {
        var itemId = e;
        var urlReload = '@Url.Action("EditProposalBudget", "Application")';
        if (itemId > 0 && itemId != undefined) {
                  $.ajax({
                                type: 'POST',
                                url: '@Url.Action("DeleteBudgetItem", "Application")', // we are calling json method
                                dataType: 'json',
                                data: { itemId },
                                success: function (result) {
                                    if (!result.IsError) {
                                        window.location.href = urlReload;
                                    }

                                },
                                error: function (ex) {
                                    alert('Failed to retrieve.' + ex);
                                }
            });

        }

    }
    function editItem(e) {
        var itemId = e;
        editItemId = e;
        if (itemId > 0 && itemId != undefined) {
                  $.ajax({
                                type: 'POST',
                                url: '@Url.Action("FetchBudgetItem", "Application")', // we are calling json method
                                dataType: 'json',
                                data: { itemId },
                                success: function (result) {
                                    if (!result.IsError) {
                                        $('#tetfund').val(result.tetfund);
                                        $('#institution').val(result.institution);
                                        $('#otherFund').val(result.others);
                                    }

                                },
                                error: function (ex) {
                                    alert('Failed to retrieve.' + ex);
                                }
            });

        }

    }
        function saveEdit() {
            var tetfund = $('#tetfund').val();
            var inst=$('#institution').val();
            var other = $('#otherFund').val();
            var urlReload = '@Url.Action("EditProposalBudget", "Application")';
            if (editItemId > 0 && editItemId != undefined) {
                  $.ajax({
                                type: 'POST',
                                url: '@Url.Action("SaveBudgetItem", "Application")', // we are calling json method
                                dataType: 'json',
                                data: { editItemId, tetfund, inst, other },
                                success: function (result) {
                                    if (!result.IsError) {
                                        editItemId = 0;
                                        window.location.href = urlReload;
                                    }

                                },
                                error: function (ex) {
                                    alert('Failed to retrieve.' + ex);
                                }
            });

        }

    }
</script>
