﻿@model Grant.Web.Models.ViewModels.UserViewModel
@using Grant.Web.Infrastructure
@{
    ViewData["Title"] = "My Submissions";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">


    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>



<div class="ct-page-title">
    <h1 class="ct-title" id="content">My Submissions <span class="text-muted text-sm"> </span></h1>
    <hr class="mt-0 mb-2" />
</div>
                    <div class="row justify-content-center" style="margin-bottom: 30px">

                        <div class="col-md-12">

                            <div class="card animated fadeInUp delay-1s" style="">

                                <div class="card-body">
                                    <div class="" style="margin-left: 3px !important; margin-bottom: 20px">


                                        <!-- Horizontal Form -->
                                        <div class="box box-danger" style="border-top-color: #fff; border-radius: 0px">

                                            <div class="box-body">




                                                <div class="table-responsive">
                                                    <table id="modelDataTable" class="table table-bordered table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    S/N
                                                                </th>
                                                                <th>
                                                                    Research Title
                                                                </th>
                                                                <th>
                                                                    Research Thematic Area
                                                                </th>
                                                                <th>
                                                                    Research Application No
                                                                </th>
                                                                <th>
                                                                    Research Cycle
                                                                </th>
                                                                <th>
                                                                    Type
                                                                </th>

                                                                <th>

                                                                </th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @{
                                                                int count = 0;
                                                            }

                                                            @foreach (var item in Model.ApplicantSubmissions)
                                                            {
                                                                count++;
                                                                <tr>
                                                                    <td>@count</td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.ApplicantThematic.Title)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.ApplicantThematic.Theme.Category.Name)-@Html.DisplayFor(modelItem => item.ApplicantThematic.Theme.Name)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.ApplicantThematic.FileNo)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.ApplicantThematic.Session.Name)
                                                                    </td>

                                                                    @if (@item.TypeId == (int)Types.ConceptNote)
                                                                    {
                                                                        <td>
                                                                            Concept Note
                                                                        </td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>
                                                                            Full Proposal
                                                                        </td>
                                                                    }
                                                                    @if (@item.TypeId == (int)Types.ConceptNote)
                                                                    {
                                                                        <td>
                                                                            <a asp-action="ConceptNotePreview" asp-controller="Application" class="btn btn-primary" asp-route-id="@item.ApplicantThematic.Id">View</a>
                                                                        </td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>
                                                                            <a asp-action="ProposalPreview" asp-controller="Application" class="btn btn-primary" asp-route-id="@item.ApplicantThematic.Id">View</a>
                                                                        </td>
                                                                    }

                                                                </tr>
                                                            }

                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*</section>*@



                                </div>
                            </div>
                        </div>

