﻿@model Grant.Web.Models.ViewModels.UserViewModel
@{
    ViewData["Title"] = "ProposalApplication";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    body {
        font-family: Poppins, sans-serif;
    }

    textarea,
    input {
        border: none !important;
        resize: none !important;
        background: #fff !important;
        outline: none;
        word-break: break-all !important;
    }

    .monts {
        font-family: Poppins, sans-serif !important;
        font-weight: bold
    }

    .th-bg {
        background-color: #1CBC9D;
    }

    .th-bg2 {
        background-color: #DAEEF3;
    }
</style>
<section class="content-header" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
            {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>
<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Full Proposal Preview </h1>
        <hr class="mt-0 mb-2" />
    </div>

    <div class="row justify-content-center">

        <div class="col-md-8">

            <div class="card animated fadeInUp delay-1s">
                <div class="card-body">
                    <div class="text-center my-3">
                        <img class="img-fluid rounded-circle shadow" src="@Url.Content(Model.Person.PassportUrl)" style="height: 130px; width: 130px" />
                    </div>

                    <h1 class="text-center">@Model.Person.ApplicantFullName</h1>

                    <p class="h5 text-center">(Principal Investigator)</p>
                    <hr class="mt-0 mb-2" />

                    <ul class="list-unstyled text-center">
                        <li class="mb-4 mt-4"> <span>Email</span> | <b>@Model.Person.Email</b></li>
                        <li class="mb-4"> <span>Phone No. </span> | <b> @Model.Person.PhoneNo </b></li>
                        <li class="mb-4"> <span>Qualification </span> | <b> @Model.Person.Qualification.Name </b></li>
                        <li class="mb-4"> <span>Institution </span> | <b> @Model.Person.Institution.Name </b></li>
                    </ul>

                </div>
            </div>

            @if (Model.TeamMember != null && Model.TeamMember.Count > 0)
            {

                <div class="row">

                        @foreach (Person team in Model.TeamMember)
                        {

                            <div class="col-md-6">
                                <div class="card animated fadeInUp delay-1s">
                                    <div class="card-body">
                                        <div class="">

                                            <div class="">
                                                <div class="text-center my-3">

                                                    @if (team.PassportUrl != null)
                                                    {
                                                        <img class="img-fluid rounded-circle shadow" src="@Url.Content(team.PassportUrl)" style="height: 100px; width: 100px" />
                                                    }
                                                    else
                                                    {
                                                        <img style="height: 100px !important; width: 100px !important" class="profile-user-img img-responsive img-circle" src="~/theme/dist/img/avatar.png" />
                                                    }

                                                </div>
                                            </div>

                                            <h3 class="text-center">@team.ApplicantFullName</h3>

                                            <p class="h5 text-center">(Research Team Member/Co-Researcher)</p>

                                            <hr class="my-4" />

                                            <div class="">

                                                <ul class="list-unstyled text-center">
                                                    <li class="my-4 text-sm"> <span>Email</span> | <b>@team.Email</b></li>
                                                    <li class="mb-4 text-sm"> <span>Phone No. </span> | <b> @team.PhoneNo </b></li>
                                                    <li class="mb-4 text-sm"> <span>Qualification </span> | <b> @team.Qualification.Name </b></li>
                                                    <li class="mb-4 text-sm"> <span>Institution </span> | <b> @team.Institution.Name </b></li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                </div>
            }

        </div>
    </div>

                    <div class="container">
                        <form id="msform" method="POST" role="form" enctype="multipart/form-data" class="form-horizontal">

                            <div class="carve-out-pdf" id="carve-out-pdf-3">
                                <div class="col-md-12">
                                    <!-- Horizontal Form -->
                                    <div class="box box-danger" style="border-top-color: #fff; border-radius: 0">
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h2 class="box-title monts">Research Details</h2>
                                                    <h3 class="fs-subtitle monts">Literature Review</h3>
                                                    <textarea asp-for="ApplicantSubmission.LiteratureReview" id="txtLiteratureReview" type="text" rows="5" readonly></textarea>

                                                    <br />
                                                    <h3 class="fs-subtitle monts">Research Methodology(Given detail methodology of the proposed research project)</h3>
                                                    <textarea asp-for="ApplicantSubmission.ResearchMethodoly" id="txtResearchMethodology" type="text" rows="5" readonly></textarea>
                                                    <br />
                                                    <h3 class="fs-subtitle monts">Project Activities and output(Given details of expected output from the research grant i.e. results to be obtained/produced within the produced time frame of the project)</h3>
                                                    <textarea asp-for="ApplicantSubmission.ProjectActivities" id="txtProjectActivities" type="text" rows="5" readonly></textarea>
                                                    <h3 class="fs-subtitle monts">Time frame(provide a time line for the major activities of the project)</h3>
                                                    <textarea asp-for="ApplicantSubmission.TimeFrame" id="txtTimeFrame" type="text" rows="5" readonly></textarea>

                                                    <br />
                                                    <h3 class="fs-subtitle monts">Activities Indicators(clearly state the indicators of each major activity of the project.)</h3>
                                                    <textarea asp-for="ApplicantSubmission.ActivityIndicator" id="txtActivityIndicator" type="text" rows="5" readonly></textarea>

                                                    <br />
                                                    <h3 class="fs-subtitle monts">The Study Location</h3>
                                                    <textarea asp-for="ApplicantSubmission.StudyLocation" id="txtStudyLocation" type="text" rows="5" readonly></textarea>

                                                    <h3 class="fs-subtitle monts">Data Management and Analysis</h3>
                                                    <textarea asp-for="ApplicantSubmission.DataManagement" id="txtDataManagement" type="text" rows="5" readonly></textarea>

                                                    <br />
                                                    <h3 class="fs-subtitle monts">Ethical and Environmental Considerations</h3>
                                                    <textarea asp-for="ApplicantSubmission.Ethical" id="txtEthical" type="text" rows="5" readonly></textarea>

                                                    <br />
                                                    <h3 class="fs-subtitle monts">Monitoring and Evaluation Mechanisms you will adopt in achieving the stated objectives.</h3>
                                                    <textarea asp-for="ApplicantSubmission.Monitoring" id="txtMonitoring" type="text" rows="5" readonly></textarea>

                                                    <h3 class="fs-subtitle monts">Dissemination Strategies (indicate the steps you will take to ensure the project outcomes are brought to the attention of stakeholders).</h3>
                                                    <textarea asp-for="ApplicantSubmission.DisseminationStrategies" id="txtStrategies" type="text" rows="5" readonly></textarea>
                                                    <hr>

                                                    <h2 class="box-title monts">Research Team</h2>
                                                    <h3 class="fs-subtitle monts">Research Work to Date(List the relevant team publications. Also list not more than 3 relevant on-going research works)</h3>
                                                    <textarea asp-for="ApplicantSubmission.ResearchWorkToDate" id="txtResearchWorkToDate" type="text" rows="5" readonly></textarea>

                                                    <br />
                                                    <h3 class="fs-subtitle monts">Previous Research Grant</h3>
                                                    <textarea asp-for="ApplicantSubmission.PreviousGrant" id="txtPreviousGrant" type="text" rows="5" readonly></textarea>

                                                    <br />
                                                    <h3 class="fs-subtitle monts">Group Research(For group research, applicants are encouraged to consider gender, age and descipline. Provide below details about the roles and responsibilities of each member.)</h3>
                                                    <textarea asp-for="ApplicantSubmission.GroupResearch" id="txtGroupResearch" type="text" rows="5" readonly></textarea>
                                                    <hr>

                                                    <h2 class="box-title monts">Financial Aspects of the Research Project Implementation</h2>
                                                    <h3 class="fs-subtitle monts">Budget Justification</h3>
                                                    <textarea asp-for="ApplicantSubmission.BudgetJustification" id="txtBudgetJustification" type="text" rows="5" readonly></textarea>

                                                    <br />
                                                    <h3 class="fs-subtitle monts">Additional Source(s) of Funding (Provide full details of other source(s) of support and the amount)</h3>
                                                    <textarea asp-for="ApplicantSubmission.AdditionalSources" id="txtAdditionalSource" type="text" rows="5" readonly></textarea>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="carve-out-pdf" id="carve-out-pdf-4">
                                <div class="col-md-12 ">
                                    <!-- Horizontal Form -->
                                    <div class="box box-danger" style="border-top-color: #fff; border-radius: 0">
                                        <div class="box-body">

                                            <div class="row">
                                                <h2 class="box-title monts">Financial Aspects of the Research Project Implementation</h2>

                                                <div class="col-md-12">

                                                    <div class="table-responsive">
                                                        <table id="othersTable" class="table table-striped table-hover table-bordered">
                                                            <thead class="text-center">
                                                                <tr class="th-bg">
                                                                    <th>SN</th>
                                                                    <th>Description of Item</th>
                                                                    <th colspan="3">Expected From</th>
                                                                    <th>Total (&#8358;)</th>
                                                                </tr>

                                                                <tr class="th-bg2">
                                                                    <th></th>
                                                                    <th></th>
                                                                    <th>TETFund and NRF (&#8358;)</th>
                                                                    <th>Institution (&#8358;)</th>
                                                                    <th>Other (&#8358;)</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td colspan="6" style="font-weight:900;">PERSONNEL COSTS/ALLOWANCE </td>


                                                                </tr>
                                                                @for (int i = 0; i < Model.BudgetDetailsSectionOne.Count; i++)
                                                                {
                                                                    var sn = i + 1;
                                                                    <tr>

                                                                        <td>@sn</td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionOne[i].Description)

                                                                        </td>
                                                                        <td>

                                                                            @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne[i].TetFundAmount)
                                                                        </td>
                                                                        <td>

                                                                            @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne[i].InstitutionFundingAmount)
                                                                        </td>
                                                                        <td>

                                                                            @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne[i].OtherFunding)
                                                                        </td>
                                                                        <td>

                                                                            @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne[i].Total)
                                                                        </td>
                                                                    </tr>
                                                                }
                                                                <tr style="font-weight:600">
                                                                    <td colspan="2">Sub-Total</td>
                                                                    <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne.Sum(g => g.TetFundAmount))</td>
                                                                    <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne.Sum(g => g.InstitutionFundingAmount))</td>
                                                                    <td>@string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne.Sum(g => g.OtherFunding))</td>
                                                                    <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne.Sum(g => g.Total))</td>
                                                                </tr>
                                                                <tr class="monts" style="font-weight:600">
                                                                    <td colspan="2">Percentage </td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td colspan="2">@Model.SectionPercentage1 %</td>
                                                                </tr>


                                                                <tr>
                                                                    <td colspan="6" style="font-weight:900;">EQUIPMENT (LIST & SPECIFY) </td>


                                                                </tr>
                                                                @for (int i = 0; i < Model.BudgetDetailsSectionTwo.Count; i++)
                                                                {
                                                                    var sn = i + 1;
                                                                    <tr>

                                                                        <td>@sn</td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionTwo[i].Description)

                                                                        </td>
                                                                        <td>

                                                                            @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo[i].TetFundAmount)
                                                                        </td>
                                                                        <td>

                                                                            @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo[i].InstitutionFundingAmount)
                                                                        </td>
                                                                        <td>

                                                                            @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo[i].OtherFunding)
                                                                        </td>
                                                                        <td>

                                                                            @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo[i].Total)
                                                                        </td>
                                                                    </tr>
                                                                }
                                                                <tr style="font-weight:600">
                                                                    <td colspan="2">Sub-Total</td>
                                                                    <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo.Sum(g => g.TetFundAmount))</td>
                                                                    <td>@string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo.Sum(g => g.InstitutionFundingAmount))</td>
                                                                    <td>@string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo.Sum(g => g.OtherFunding))</td>
                                                                    <td>@string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo.Sum(g => g.Total))</td>
                                                                </tr>
                                                                <tr class="monts" style="font-weight:600">
                                                                    <td colspan="2">Percentage </td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td colspan="2">@Model.SectionPercentage2 %</td>
                                                                </tr>

                                                                <tr>
                                                                    <td colspan="6" style="font-weight:900;">SUPPLIES/CONSUMABLES </td>


                                                                </tr>
                                                                @for (int i = 0; i < Model.BudgetDetailsSectionThree.Count; i++)
                                                                {
                                                                    var sn = i + 1;
                                                                    <tr>

                                                                        <td>@sn</td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionThree[i].Description)

                                                                        </td>
                                                                        <td>

                                                                            @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree[i].TetFundAmount)
                                                                        </td>
                                                                        <td>

                                                                            @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree[i].InstitutionFundingAmount)
                                                                        </td>
                                                                        <td>

                                                                            @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree[i].OtherFunding)
                                                                        </td>
                                                                        <td>

                                                                            @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree[i].Total)
                                                                        </td>
                                                                    </tr>
                                                                }
                                                                <tr style="font-weight:600">
                                                                    <td colspan="2">Sub-Total</td>
                                                                    <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree.Sum(g => g.TetFundAmount))</td>
                                                                    <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree.Sum(g => g.InstitutionFundingAmount))</td>
                                                                    <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree.Sum(g => g.OtherFunding))</td>
                                                                    <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree.Sum(g => g.Total))</td>
                                                                </tr>
                                                                <tr class="monts" style="font-weight:600">
                                                                    <td colspan="2">Percentage </td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td>@Model.SectionPercentage3 %</td>
                                                                </tr>

                                                                <tr>
                                                                    <td colspan="6" style="font-weight:900;">DATA COLLECTION & ANALYSIS</td>


                                                                </tr>
                                                                @for (int i = 0; i < Model.BudgetDetailsSectionFour.Count; i++)
                                                                {
                                                                    var sn = i + 1;
                                                                    <tr>

                                                                        <td>@sn</td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionFour[i].Description)

                                                                        </td>
                                                                        <td>

                                                                            @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour[i].TetFundAmount)
                                                                        </td>
                                                                        <td>

                                                                            @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour[i].InstitutionFundingAmount)
                                                                        </td>
                                                                        <td>

                                                                            @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour[i].OtherFunding)
                                                                        </td>
                                                                        <td>

                                                                            @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour[i].Total)
                                                                        </td>
                                                                    </tr>
                                                                }
                                                                <tr style="font-weight:600">
                                                                    <td colspan="2">Sub-Total</td>
                                                                    <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour.Sum(g => g.TetFundAmount))</td>
                                                                    <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour.Sum(g => g.InstitutionFundingAmount))</td>
                                                                    <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour.Sum(g => g.OtherFunding))</td>
                                                                    <td>@string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour.Sum(g => g.Total))</td>
                                                                </tr>
                                                                <tr class="monts" style="font-weight:600">
                                                                    <td colspan="2">Percentage </td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td colspan="2">@Model.SectionPercentage4 %</td>
                                                                </tr>

                                                                <tr>
                                                                    <td colspan="6" style="font-weight:900;">TRAVEL</td>


                                                                </tr>
                                                                @for (int i = 0; i < Model.BudgetDetailsSectionFive.Count; i++)
                                                                {
                                                                    var sn = i + 1;
                                                                    <tr>

                                                                        <td>@sn</td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionFive[i].Description)

                                                                        </td>
                                                                        <td>

                                                                            @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive[i].TetFundAmount)
                                                                        </td>
                                                                        <td>

                                                                            @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive[i].InstitutionFundingAmount)
                                                                        </td>
                                                                        <td>

                                                                            @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive[i].OtherFunding)
                                                                        </td>
                                                                        <td>

                                                                            @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive[i].Total)
                                                                        </td>
                                                                    </tr>
                                                                }
                                                                <tr style="font-weight:600">
                                                                    <td colspan="2">Sub-Total</td>
                                                                    <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive.Sum(g => g.TetFundAmount))</td>
                                                                    <td>@string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive.Sum(g => g.InstitutionFundingAmount))</td>
                                                                    <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive.Sum(g => g.OtherFunding))</td>
                                                                    <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive.Sum(g => g.Total))</td>
                                                                </tr>
                                                                <tr class="monts" style="font-weight:600">
                                                                    <td colspan="2">Percentage </td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td colspan="2">@Model.SectionPercentage5 %</td>
                                                                </tr>

                                                                <tr>
                                                                    <td colspan="6" style="font-weight:900;">DISSEMINATION </td>


                                                                </tr>
                                                                @for (int i = 0; i < Model.BudgetDetailsSectionSix.Count; i++)
                                                                {
                                                                    var sn = i + 1;
                                                                    <tr>

                                                                        <td>@sn</td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionSix[i].Description)

                                                                        </td>
                                                                        <td>

                                                                            @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix[i].TetFundAmount)
                                                                        </td>
                                                                        <td>

                                                                            @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix[i].InstitutionFundingAmount)
                                                                        </td>
                                                                        <td>

                                                                            @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix[i].OtherFunding)
                                                                        </td>
                                                                        <td>

                                                                            @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix[i].Total)
                                                                        </td>
                                                                    </tr>
                                                                }
                                                                <tr style="font-weight:600">
                                                                    <td colspan="2">Sub-Total</td>
                                                                    <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix.Sum(g => g.TetFundAmount))</td>
                                                                    <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix.Sum(g => g.InstitutionFundingAmount))</td>
                                                                    <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix.Sum(g => g.OtherFunding))</td>
                                                                    <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix.Sum(g => g.Total))</td>
                                                                </tr>
                                                                <tr class="monts" style="font-weight:600">
                                                                    <td colspan="2">Percentage </td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td colspan="2">@Model.SectionPercentage6 %</td>
                                                                </tr>

                                                                <tr>
                                                                    <td colspan="6" style="font-weight:900;">OTHERS/MISCELLANEOUS  </td>


                                                                </tr>
                                                                @for (int i = 0; i < Model.BudgetDetailsSectionSeven.Count; i++)
                                                                {
                                                                    var sn = i + 1;
                                                                    <tr>

                                                                        <td>@sn</td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionSeven[i].Description)

                                                                        </td>
                                                                        <td>

                                                                            @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven[i].TetFundAmount)
                                                                        </td>
                                                                        <td>

                                                                            @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven[i].InstitutionFundingAmount)
                                                                        </td>
                                                                        <td>

                                                                            @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven[i].OtherFunding)
                                                                        </td>
                                                                        <td>

                                                                            @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven[i].Total)
                                                                        </td>
                                                                    </tr>
                                                                }
                                                                <tr style="font-weight:600">
                                                                    <td colspan="2">Sub-Total</td>
                                                                    <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven.Sum(g => g.TetFundAmount))</td>
                                                                    <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven.Sum(g => g.InstitutionFundingAmount))</td>
                                                                    <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven.Sum(g => g.OtherFunding))</td>
                                                                    <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven.Sum(g => g.Total))</td>
                                                                </tr>
                                                                <tr class="monts" style="font-weight:600">
                                                                    <td colspan="2">Percentage </td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td colspan="2">@Model.SectionPercentage7 %</td>
                                                                </tr>
                                                                <tr style="font-weight:900">
                                                                    <td colspan="2" style="font-style:italic;">GRAND-TOTAL</td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td>@string.Format("{0:0,0.00}", Model.BudgetDetails.Sum(g => g.Total))</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="box-footer">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-6">
                                                        <button type="button" class="btn btn-primary pull-left hide-away" id="printBtn"><i class="fa fa-print"></i> Print</button>
                                                    </div>

                                                    @*<div class="col-xs-12 col-md-6">
                                                    <a asp-action="ProposalApplication" asp-controller="Application" class="btn btn-success pull-right">Return To Submit</a>
                                                </div>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

</section>
<link href="~/css/TabStyle.css" rel="stylesheet" />

<script src="~/lib/jquery/dist/jquery.js"></script>
@*<script src="~/js/jsPdf.js"></script>
<script src="~/js/html2canvas.js"></script>*@

<script type="text/javascript">
    const textareasThatNeedResizing = [];

    //Edit Textarea height for a single textarea
    const modifyTextareaAttributes = (element) => {
        const realTextareaHeight = element.offsetHeight;
        const scrollTextareaHeight = element.scrollHeight;

        if ((realTextareaHeight - scrollTextareaHeight) > 0) {
            //console.log(`%c The textarea does not need scrollbar, so it keeps the default height of: ${element.offsetHeight}`, "background-color: black;color:#fff;font-family:consolas");
            // console.log(`%c Content: ${element.value}`, "background-color: blue;color:#fff;font-family:consolas")
        }
        else {
            element.style.height = `${element.scrollHeight + 20}px`;
            // console.log(`%c The textarea needs a scrollbar, and so we gave it a height of: ${element.scrollHeight}`, "background-color: indianred;color: #fff; font-family:consolas");
            //console.log(`%c Content: ${element.value}`, "background-color: green;color:#fff;font-family:consolas")

            textareasThatNeedResizing.push({ element, originalHeight: realTextareaHeight });
        }
        //console.table(textareasThatNeedResizing);

        //insert code for taking snapshots in this section

        //element.style.height = `${realTextareaHeight}px`;
    }

    //Edit Textarea height for multiple textareas
    const modifyMultipleTextareaAttributes = (...elements) => {
        elements.forEach((el, index) => modifyTextareaAttributes(el));
    }

    //Resize the textareas that were resized back to their original height
    const returnTextareaToOriginalHeight = (...elements) => {
        elements.forEach((el, index) => el.element.style.height = `${el.originalHeight}px`);
    };

    const elements = document.getElementsByTagName("textarea");

    modifyMultipleTextareaAttributes(...elements);

    document.querySelector("#printBtn").addEventListener("click", () => {
        $(".hide-away").css("display", "none");
        window.print();
    });

    window.addEventListener("click", () => $(".hide-away").css("display", "block"));

    //let image = [];

    //initDataURLs();

    //async function initDataURLs() {
    //    let containers = document.getElementsByClassName("carve-out-pdf");

    //    for (let i = 0; i < containers.length; i++) {
    //        const idName = "focus-on-me";
    //        containers[i].setAttribute("id", idName);
    //        const el = document.getElementById(idName);
    //        window.focus(el);
    //        const canvas = await html2canvas(el);
    //        image.push(canvas.toDataURL("image/png"));

    //        containers[i].removeAttribute("id");
    //    }
    //}

    //console.log({ image });

</script>

@*<script type="text/javascript">
    window.addEventListener("load", async () => {
        let image = [];

        async function initDataURLs() {
            let containers = document.getElementsByClassName("carve-out-pdf");

            for (let i = 0; i < containers.length; i++) {
                const idName = "focus-on-me";
                containers[i].setAttribute("id", idName);
                const el = document.getElementById(idName);
                window.focus(el);
                const canvas = await html2canvas(el);
                image.push(canvas.toDataURL("image/png"));

                containers[i].removeAttribute("id");
            }
        }

        await initDataURLs();

        console.log(image);

        document.querySelector("#print-btn").addEventListener("click", (e) => {
            e.preventDefault();

            for (let j = 0; j < image.length; j++) {
                const filename = `Referal_Fillout_${j + 1}.pdf`;

                let pdf = new jsPDF('p', 'mm', 'a4');
                pdf.addImage(image[j], 'PNG', 0, 0, 211, 278);
                pdf.addPage();
                pdf.save(filename);
            }
        });
    });

</script>*@

@*<script type="text/javascript">
    window.addEventListener("load", async () => {
        
        const textareasThatNeedResizing = [];
        let imageDataURLs = [];
        let containersToPrint = document.getElementsByClassName("carve-out-pdf");

        let containerToPrint1 = document.getElementById("carve-out-pdf-1");
        let containerToPrint2 = document.getElementById("carve-out-pdf-2");
        let containerToPrint3 = document.getElementById("carve-out-pdf-3");
        let containerToPrint4 = document.getElementById("carve-out-pdf-4");

        html2canvas(containerToPrint2).then(function (canvas) {
            var image = canvas.toDataURL("image/png");

            console.log("Image: ", image);

            window.open(image, "_blank");

            const filename = `Tetfund_Proposal.pdf`;
            let pdf = new jsPDF('p', 'mm', 'a4');
            pdf.addImage(image, 'PNG', 0, 0, 270, 278);
            pdf.addPage();
            pdf.save(filename);
        });

        window.focus(containerToPrint2);

        html2canvas(containerToPrint2, { allowTaint: true }).then(function (canvas) {
            canvas.getContext("2d");
            dataurl = canvas.toDataURL("image/png");

            console.log(canvas.toDataURL("image/png"));
        })

        //console.log(containersToPrint);

        //Edit Textarea height for multiple textareas
        const modifyMultipleTextareaAttributes = (...elements) => {
            elements.forEach((el, index) => modifyTextareaAttributes(el));
        }

        async function initDataURLs(element) {
            //let canvas = await html2canvas(element);
            //return canvas.toDataURL("image/png");

            let dataurl;
            html2canvas(element, { allowTaint: true }).then(function (canvas) {
                canvas.getContext("2d");
                dataurl = canvas.toDataURL("image/png");

                console.log(canvas.toDataURL("image/png"));
            });
            return dataurl;
        }

        //Creates and returns a DataURL for use later in the code for Changing, Html div into a Canvas
        //const initDataURLs = async (...elements) => {
        //    const images = [];

        //    for (let i = 0; i < elements.length; i++) {
        //        const idName = "focus-on-me";
        //        elements[i].setAttribute("id", idName);
        //        const el = document.getElementById(idName);
        //        window.focus(el);
        //        let canvas = await html2canvas(el);
        //        images.push(canvas.toDataURL("image/png"));

        //        elements[i].removeAttribute("id");
        //    }

        //    console.log("Images: ", images);

        //    return images;
        //}

        //convert data url to an pdf and then download
        //const convertDataURLToPdf = (...dataURLs) => {
        //    for (let i = 0; i < dataURLs.length; i++) {
        //        const filename = `Tetfund_Proposal_${i+ 1}.pdf`;
        //        let pdf = new jsPDF('p', 'mm', 'a4');
        //        pdf.addImage(dataURLs[i], 'PNG', 0, 0, 270, 278);
        //        pdf.addPage();
        //        pdf.save(filename);
        //    }
        //};

        const convertDataURLToPdf = (dataURL) => {
            const filename = `Tetfund_Proposal.pdf`;
            let pdf = new jsPDF('p', 'mm', 'a4');
            pdf.addImage(dataURL, 'PNG', 0, 0, 270, 278);
            pdf.addPage();
            pdf.save(filename);
        };

        //Edit Textarea height for a single textarea
        const modifyTextareaAttributes = (element) => {
            const realTextareaHeight = element.offsetHeight;
            const scrollTextareaHeight = element.scrollHeight;

            if ((realTextareaHeight - scrollTextareaHeight) > 0) {
                //console.log(`%c The textarea does not need scrollbar, so it keeps the default height of: ${element.offsetHeight}`, "background-color: black;color:#fff;font-family:consolas");
               // console.log(`%c Content: ${element.value}`, "background-color: blue;color:#fff;font-family:consolas")
            }
            else {
                element.style.height = `${element.scrollHeight + 20}px`;
               // console.log(`%c The textarea needs a scrollbar, and so we gave it a height of: ${element.scrollHeight}`, "background-color: indianred;color: #fff; font-family:consolas");
                //console.log(`%c Content: ${element.value}`, "background-color: green;color:#fff;font-family:consolas")

                textareasThatNeedResizing.push({ element, originalHeight: realTextareaHeight });
            }
            //console.table(textareasThatNeedResizing);

            //insert code for taking snapshots in this section

            //element.style.height = `${realTextareaHeight}px`;
        }

        //Resize the textareas that were resized back to their original height
        const returnTextareaToOriginalHeight = (...elements) => {
            elements.forEach((el, index) => el.element.style.height = `${el.originalHeight}px`);
        };

        const elements = document.getElementsByTagName("textarea");

        modifyMultipleTextareaAttributes(...elements);

        imageDataURLs.push(await initDataURLs(containerToPrint2));

        //imageDataURLs.push(await initDataURLs(containerToPrint1));

        //window.focus(containerToPrint2);
        //imageDataURLs.push(await initDataURLs(containerToPrint2));
        
        //imageDataURLs.push(await initDataURLs(containerToPrint3));

        window.focus(containerToPrint4);
        imageDataURLs.push(await initDataURLs(containerToPrint4));

        console.log(imageDataURLs);

        //Resize the modified textareas back to the original height
        returnTextareaToOriginalHeight(...textareasThatNeedResizing);

        document.querySelector("#print-btn").addEventListener("click", () => convertDataURLToPdf(imageDataURLs[0]));
    });
</script>*@