﻿@model Grant.Web.Models.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Concept Note Preview";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    body {
        font-family: Montserrat, sans-serif;
        background-color: whitesmoke !important;
    }

    .monts {
        font-family: Montserrat, sans-serif !important;
        font-weight: bold
    }

    .th-bg {
        background-color: #1CBC9D;
    }

    .th-bg2 {
        background-color: #DAEEF3;
    }
</style>
<section class="content-header" style="padding-top: 0; background-color: #fff">

    <div class="pg-head">
        <h3 class="monts text-center Leftalign" style="font-weight: 300; margin-top: 10px;text-align:left">Concept Note Preview</h3>
    </div>

    @if (@TempData["Message"] != null)
            {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>
<section class="content">
    <div class="container">

        <form id="msform" method="POST" role="form" enctype="multipart/form-data" class="form-horizontal">


            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-danger" style="border-top-color: #fff; border-radius: 0">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">


                                <h3 class="fs-subtitle monts">Research Project Title</h3>

                                <textarea asp-for="ApplicantSubmission.Title" id="txtTitle" type="text" rows="1" readonly></textarea>
                                <h3 class="fs-subtitle monts text-left">Category</h3>
                                <input asp-for="ApplicantThematic.Theme.Category.Name" class="form-control" readonly />
                                <h3 class="fs-subtitle monts text-left">Thematic Area</h3>

                                <input asp-for="ApplicantThematic.Theme.Name" class="form-control" readonly />

                                <br />
                                <h3 class="fs-subtitle monts text-left">Estimated Budget &#8358</h3>
                                <strong> <ins> ₦ @string.Format("{0:0,0.00}", Model.ConceptNote.ConceptNoteSubmittedBudget)</ins></strong>
                                <br />
                                <h3 class="fs-subtitle monts text-left">Background of the Research</h3>
                                <textarea asp-for="ApplicantSubmission.IntroductionBackground" id="txtBackgroundIntro" type="text" rows="5" readonly></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-danger" style="border-top-color: #fff; border-radius: 0">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="fs-subtitle monts text-left">Statement of the Problem (Why does this research need to be conducted)</h3>
                                <textarea asp-for="ApplicantSubmission.StatementOfProblem" id="txtStatement" type="text" rows="5" readonly></textarea>
                                @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="statement">300</span> character(s) left</div>*@
                                <br />
                                <br />
                                <br />
                                <h3 class="fs-subtitle monts text-left">Objectives of the Research</h3>
                                <textarea asp-for="ApplicantSubmission.Aims" id="txtAim" type="text" rows="5" readonly></textarea>
                                @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="aim">300</span> character(s) left</div>*@
                                <br />
                                <br />
                                <br />
                                <h3 class="fs-subtitle monts">Research Questions</h3>
                                <textarea asp-for="ApplicantSubmission.ResearchQuestions" id="txtResearchQuestions" type="text" rows="5" readonly></textarea>
                                <br />
                                <br />
                                <br />
                                <h3 class="fs-subtitle monts">Literature Review</h3>
                                <textarea asp-for="ApplicantSubmission.LiteratureReview" id="txtLiteratureReview" type="text" rows="5" readonly></textarea>
                                @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="literatureReview">300</span> character(s) left</div>*@
                                <br />
                                <br />
                                <br />
                                <h3 class="fs-subtitle monts">Theoritical Framework</h3>
                                <textarea asp-for="ApplicantSubmission.ConceptualFramework" id="txtConceptualFramework" type="text" rows="5" readonly></textarea>
                                <br />
                                <br />
                                <br />
                                <h3 class="fs-subtitle monts">Research Methodology (Given detail methodology of the proposed research project)</h3>
                                <textarea asp-for="ApplicantSubmission.ResearchMethodoly" id="txtResearchMethodology" type="text" rows="5" readonly></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-danger" style="border-top-color: #fff; border-radius: 0">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="fs-subtitle monts">Expected Result</h3>
                                <textarea asp-for="ApplicantSubmission.ExpectedResult" id="txtExpectedResult" type="text" rows="5" readonly></textarea>
                                <br />
                                <br />
                                <br />
                                <h3 class="fs-subtitle monts">Innovation: How Different it is from other earlier Projects</h3>
                                <textarea asp-for="ApplicantSubmission.Innovations" id="txtInnovations" type="text" rows="5" readonly></textarea>

                                <br />
                                <br />
                                <br />
                                <h3 class="fs-subtitle monts">References </h3>
                                <textarea asp-for="ApplicantSubmission.References" id="txtReferences" type="text" rows="5" readonly></textarea>

                                <br />
                                <br />
                                <br />
                            </div>
                        </div>
                        <div class="box-footer">
                            <a asp-action="ConceptNoteApplication" asp-controller="Application" class="btn btn-success pull-right">Return To Submit</a>
                        </div>
                    </div>
                </div>
            </div>





            @*<div class="col-md-12">
                 Horizontal Form 
                <div class="box box-danger" style="border-top-color: #fff; border-radius: 0">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="fs-title monts">Financial Aspects of the Research Project Implementation</h2><hr>

                                <div class="table-responsive">
                                    <table id="othersTable" class="table table-striped table-hover table-bordered">
                                        <thead class="text-center">
                                            <tr class="th-bg">
                                                <th>SN</th>
                                                <th>Description of Item</th>
                                                <th colspan="3">Expected From</th>
                                                <th>Total (&#8358;)</th>
                                            </tr>

                                            <tr class="th-bg2">
                                                <th></th>
                                                <th></th>
                                                <th>TETFund and NRF (&#8358;)</th>
                                                <th>Institution (&#8358;)</th>
                                                <th>Other (&#8358;)</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="th-bg">
                                                <td colspan="2">PERSONNEL COSTS/ALLOWANCE </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>

                                            </tr>
                                            @for (int i = 0; i < Model.BudgetDetailsSectionOne.Count; i++)
                                            {
                                                var sn = i + 1;
                                                <tr>

                                                    <td>@sn</td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionOne[i].Description)

                                                    </td>
                                                    <td>

                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne[i].TetFundAmount)
                                                    </td>
                                                    <td>

                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne[i].InstitutionFundingAmount)
                                                    </td>
                                                    <td>

                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne[i].OtherFunding)
                                                    </td>
                                                    <td>

                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne[i].Total)
                                                    </td>
                                                </tr>
                                            }
                                            <tr>
                                                <td colspan="2">Sub-Total</td>
                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne.Sum(g => g.TetFundAmount))</td>
                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne.Sum(g => g.InstitutionFundingAmount))</td>
                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne.Sum(g => g.OtherFunding))</td>
                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne.Sum(g => g.Total))</td>
                                            </tr>
                                            <tr class="monts">
                                                <td colspan="2">Percentage </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td colspan="2">@Model.SectionPercentage1 %</td>
                                            </tr>


                                            <tr class="th-bg">
                                                <td colspan="2">EQUIPMENT (LIST & SPECIFY) </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>

                                            </tr>
                                            @for (int i = 0; i < Model.BudgetDetailsSectionTwo.Count; i++)
                                            {
                                                var sn = i + 1;
                                                <tr>

                                                    <td>@sn</td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionTwo[i].Description)

                                                    </td>
                                                    <td>

                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo[i].TetFundAmount)
                                                    </td>
                                                    <td>

                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo[i].InstitutionFundingAmount)
                                                    </td>
                                                    <td>

                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo[i].OtherFunding)
                                                    </td>
                                                    <td>

                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo[i].Total)
                                                    </td>
                                                </tr>
                                            }
                                            <tr>
                                                <td colspan="2">Sub-Total</td>
                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo.Sum(g => g.TetFundAmount))</td>
                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo.Sum(g => g.InstitutionFundingAmount))</td>
                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo.Sum(g => g.OtherFunding))</td>
                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo.Sum(g => g.Total))</td>
                                            </tr>
                                            <tr class="monts">
                                                <td colspan="2">Percentage </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td colspan="2">@Model.SectionPercentage2 %</td>
                                            </tr>

                                            <tr class="th-bg">
                                                <td colspan="2">SUPPLIES/CONSUMABLES </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>

                                            </tr>
                                            @for (int i = 0; i < Model.BudgetDetailsSectionThree.Count; i++)
                                            {
                                                var sn = i + 1;
                                                <tr>

                                                    <td>@sn</td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionThree[i].Description)

                                                    </td>
                                                    <td>

                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree[i].TetFundAmount)
                                                    </td>
                                                    <td>

                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree[i].InstitutionFundingAmount)
                                                    </td>
                                                    <td>

                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree[i].OtherFunding)
                                                    </td>
                                                    <td>

                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree[i].Total)
                                                    </td>
                                                </tr>
                                            }
                                            <tr>
                                                <td colspan="2">Sub-Total</td>
                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree.Sum(g => g.TetFundAmount))</td>
                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree.Sum(g => g.InstitutionFundingAmount))</td>
                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree.Sum(g => g.OtherFunding))</td>
                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree.Sum(g => g.Total))</td>
                                            </tr>
                                            <tr class="monts">
                                                <td colspan="2">Percentage </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>@Model.SectionPercentage3 %</td>
                                            </tr>

                                            <tr class="th-bg">
                                                <td colspan="2">DATA COLLECTION & ANALYSIS</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>

                                            </tr>
                                            @for (int i = 0; i < Model.BudgetDetailsSectionFour.Count; i++)
                                            {
                                                var sn = i + 1;
                                                <tr>

                                                    <td>@sn</td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionFour[i].Description)

                                                    </td>
                                                    <td>

                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour[i].TetFundAmount)
                                                    </td>
                                                    <td>

                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour[i].InstitutionFundingAmount)
                                                    </td>
                                                    <td>

                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour[i].OtherFunding)
                                                    </td>
                                                    <td>

                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour[i].Total)
                                                    </td>
                                                </tr>
                                            }
                                            <tr>
                                                <td colspan="2">Sub-Total</td>
                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour.Sum(g => g.TetFundAmount))</td>
                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour.Sum(g => g.InstitutionFundingAmount))</td>
                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour.Sum(g => g.OtherFunding))</td>
                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour.Sum(g => g.Total))</td>
                                            </tr>
                                            <tr class="monts">
                                                <td colspan="2">Percentage </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td colspan="2">@Model.SectionPercentage4 %</td>
                                            </tr>

                                            <tr class="th-bg">
                                                <td colspan="2">TRAVEL</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>

                                            </tr>
                                            @for (int i = 0; i < Model.BudgetDetailsSectionFive.Count; i++)
                                            {
                                                var sn = i + 1;
                                                <tr>

                                                    <td>@sn</td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionFive[i].Description)

                                                    </td>
                                                    <td>

                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive[i].TetFundAmount)
                                                    </td>
                                                    <td>

                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive[i].InstitutionFundingAmount)
                                                    </td>
                                                    <td>

                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive[i].OtherFunding)
                                                    </td>
                                                    <td>

                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive[i].Total)
                                                    </td>
                                                </tr>
                                            }
                                            <tr>
                                                <td colspan="2">Sub-Total</td>
                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive.Sum(g => g.TetFundAmount))</td>
                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive.Sum(g => g.InstitutionFundingAmount))</td>
                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive.Sum(g => g.OtherFunding))</td>
                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive.Sum(g => g.Total))</td>
                                            </tr>
                                            <tr class="monts">
                                                <td colspan="2">Percentage </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td colspan="2">@Model.SectionPercentage5 %</td>
                                            </tr>

                                            <tr class="th-bg">
                                                <td colspan="2">DISSEMINATION </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>

                                            </tr>
                                            @for (int i = 0; i < Model.BudgetDetailsSectionSix.Count; i++)
                                            {
                                                var sn = i + 1;
                                                <tr>

                                                    <td>@sn</td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionSix[i].Description)

                                                    </td>
                                                    <td>

                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix[i].TetFundAmount)
                                                    </td>
                                                    <td>

                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix[i].InstitutionFundingAmount)
                                                    </td>
                                                    <td>

                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix[i].OtherFunding)
                                                    </td>
                                                    <td>

                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix[i].Total)
                                                    </td>
                                                </tr>
                                            }
                                            <tr>
                                                <td colspan="2">Sub-Total</td>
                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix.Sum(g => g.TetFundAmount))</td>
                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix.Sum(g => g.InstitutionFundingAmount))</td>
                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix.Sum(g => g.OtherFunding))</td>
                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix.Sum(g => g.Total))</td>
                                            </tr>
                                            <tr class="monts">
                                                <td colspan="2">Percentage </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td colspan="2">@Model.SectionPercentage6 %</td>
                                            </tr>

                                            <tr class="th-bg">
                                                <td colspan="2">OTHERS/MISCELLANEOUS  </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>

                                            </tr>
                                            @for (int i = 0; i < Model.BudgetDetailsSectionSeven.Count; i++)
                                            {
                                                var sn = i + 1;
                                                <tr>

                                                    <td>@sn</td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionSeven[i].Description)

                                                    </td>
                                                    <td>

                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven[i].TetFundAmount)
                                                    </td>
                                                    <td>

                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven[i].InstitutionFundingAmount)
                                                    </td>
                                                    <td>

                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven[i].OtherFunding)
                                                    </td>
                                                    <td>

                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven[i].Total)
                                                    </td>
                                                </tr>
                                            }
                                            <tr>
                                                <td colspan="2">Sub-Total</td>
                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven.Sum(g => g.TetFundAmount))</td>
                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven.Sum(g => g.InstitutionFundingAmount))</td>
                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven.Sum(g => g.OtherFunding))</td>
                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven.Sum(g => g.Total))</td>
                                            </tr>
                                            <tr class="monts">
                                                <td colspan="2">Percentage </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td colspan="2">@Model.SectionPercentage7 %</td>
                                            </tr>
                                            <tr>
                                                <td>GRAND-TOTAL</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetails.Sum(g => g.Total))</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>




                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>*@
        </form>

        
    </div>
</section>
<link href="~/css/TabStyle.css" rel="stylesheet" />





