﻿@model Grant.Web.Models.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Concept Note Preview";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    body {
        font-family: Montserrat, sans-serif;
    }

    .monts {
        font-family: Montserrat, sans-serif !important;
        font-weight: bold
    }

    .th-bg {
        background-color: #1CBC9D;
    }

    .th-bg2 {
        background-color: #DAEEF3;
    }
</style>
<section class="content-header" style="padding-top: 0; background-color: #fff">

    <div class="pg-head">
        <h3 class="monts text-center Leftalign" style="font-weight: 300; margin-top: 10px;text-align:left">Concept Note Preview</h3>
    </div>

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>
<section class="content">
    <div class="container">

        <form id="msform" method="POST" role="form" enctype="multipart/form-data" class="form-horizontal">


            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-danger" style="border-top-color: #fff; border-radius: 0">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">


                                <h3 class="fs-subtitle monts">Research Project Title</h3>

                                <textarea asp-for="ApplicantSubmission.Title" id="txtTitle" type="text" rows="1" readonly></textarea>
                                <h3 class="fs-subtitle monts text-left">Category</h3>
                                <input asp-for="ApplicantThematic.Theme.Category.Name" class="form-control" readonly />
                                <h3 class="fs-subtitle monts text-left">Thematic Area</h3>

                                <input asp-for="ApplicantThematic.Theme.Name" class="form-control" readonly />

                                <br />
                                <h3 class="fs-subtitle monts text-left">Estimated Budget &#8358</h3>
                                <strong> <ins> ₦ @string.Format("{0:0,0.00}", Model.ConceptNote.ConceptNoteSubmittedBudget)</ins></strong>
                                <br />
                                <h3 class="fs-subtitle monts text-left">Background of the Research</h3>
                                <textarea asp-for="ApplicantSubmission.IntroductionBackground" id="txtBackgroundIntro" type="text" rows="5" readonly></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-danger" style="border-top-color: #fff; border-radius: 0">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="fs-subtitle monts text-left">Statement of the Problem (Why does this research need to be conducted)</h3>
                                <textarea asp-for="ApplicantSubmission.StatementOfProblem" id="txtStatement" type="text" rows="5" readonly></textarea>
                                @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="statement">300</span> character(s) left</div>*@
                                <br />
                                <br />
                                <br />
                                <h3 class="fs-subtitle monts text-left">Objectives of the Research</h3>
                                <textarea asp-for="ApplicantSubmission.Aims" id="txtAim" type="text" rows="5" readonly></textarea>
                                @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="aim">300</span> character(s) left</div>*@
                                <br />
                                <br />
                                <br />
                                <h3 class="fs-subtitle monts">Research Questions</h3>
                                <textarea asp-for="ApplicantSubmission.ResearchQuestions" id="txtResearchQuestions" type="text" rows="5" readonly></textarea>
                                <br />
                                <br />
                                <br />
                                <h3 class="fs-subtitle monts">Literature Review</h3>
                                <textarea asp-for="ApplicantSubmission.LiteratureReview" id="txtLiteratureReview" type="text" rows="5" readonly></textarea>
                                @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="literatureReview">300</span> character(s) left</div>*@
                                <br />
                                <br />
                                <br />
                                <h3 class="fs-subtitle monts">Theoritical Framework</h3>
                                <textarea asp-for="ApplicantSubmission.ConceptualFramework" id="txtConceptualFramework" type="text" rows="5" readonly></textarea>
                                <br />
                                <br />
                                <br />
                                <h3 class="fs-subtitle monts">Research Methodology (Given detail methodology of the proposed research project)</h3>
                                <textarea asp-for="ApplicantSubmission.ResearchMethodoly" id="txtResearchMethodology" type="text" rows="5" readonly></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-danger" style="border-top-color: #fff; border-radius: 0">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="fs-subtitle monts">Expected Result</h3>
                                <textarea asp-for="ApplicantSubmission.ExpectedResult" id="txtExpectedResult" type="text" rows="5" readonly></textarea>
                                <br />
                                <br />
                                <br />
                                <h3 class="fs-subtitle monts">Innovation: How Different it is from other earlier Projects</h3>
                                <textarea asp-for="ApplicantSubmission.Innovations" id="txtInnovations" type="text" rows="5" readonly></textarea>

                                <br />
                                <br />
                                <br />
                                <h3 class="fs-subtitle monts">References </h3>
                                <textarea asp-for="ApplicantSubmission.References" id="txtReferences" type="text" rows="5" readonly></textarea>

                                <br />
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>


    </div>
</section>
<link href="~/css/TabStyle.css" rel="stylesheet" />





