﻿@model Grant.Web.Models.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Proposal Preview";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    body {
        font-family: Poppins, sans-serif;
    }

    .monts {
        font-family: Poppins, sans-serif;
        font-weight: bold
    }

    .th-bg {
        background-color: #1CBC9D;
    }

    .th-bg2 {
        background-color: #DAEEF3;
    }
</style>
<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    <div class="pg-head">
        <h3 class="monts text-center Leftalign" style="font-weight: 300; margin-top: 10px;text-align:left">Proposal Preview</h3>
    </div>

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>

<section class="content" style="min-height: 280vh">
    <div class="container" style="margin-bottom: 30px">
        <form id="msform" method="POST" role="form" enctype="multipart/form-data" class="form-horizontal">


            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-danger" style="background: transparent; border:0px;">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                @*<form id="msform">*@
                                <!-- progressbar -->
                                <ul id="progressbar">
                                    <li class="active li navigate-wizard-2" onclick="goToSection(this)">Executive Summary</li>
                                    <li class="li navigate-wizard-2" onclick="goToSection(this)">General Background of Research Project</li>
                                    <li class="li navigate-wizard-2" onclick="goToSection(this)">General Background of Research Project(cont.)</li>
                                    <li class="li navigate-wizard-2" onclick="goToSection(this)">General Background of Research Project(cont.)</li>
                                    <li class="li navigate-wizard-2" onclick="goToSection(this)">Research Details</li>
                                    <li class="li navigate-wizard-2" onclick="goToSection(this)">Research Details(cont.)</li>
                                    <li class="li navigate-wizard-2" onclick="goToSection(this)">Research Details(cont.)</li>
                                    <li class="li navigate-wizard-2" onclick="goToSection(this)">Budget</li>
                                </ul>
                                <!-- fieldsets -->
                                <fieldset id="navigate-wizard" class="widget-menu">

                                    <h3 class="fs-subtitle monts">Research Project Title</h3>

                                    <textarea asp-for="ApplicantSubmission.Title" id="txtTitle" type="text" min="0" maxlength="300" rows="1" readonly></textarea>
                                    @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="title">300</span> character(s) left</div>*@
                                    <br />
                                    <h3 class="fs-subtitle monts text-left">Proposed Budget &#8358</h3>
                                    @*<input asp-for="Proposal.SubmittedBudget" class="form-control" />*@
                                    @if (Model.Proposal != null)
                                    {
                                        <ins> ₦ @string.Format("{0:0,0.00}", Model.Proposal.SubmittedBudget)</ins>
                                    }

                                    <br />
                                    <h2 class="fs-title">Executive Summary</h2><hr>
                                    <textarea asp-for="ApplicantSubmission.ExecutiveSummary" id="txtExecutiveSummary" type="text" min="0" maxlength="300" rows="5" readonly></textarea>


                                    <input type="button" name="next" class="next action-button" value="Next" />
                                </fieldset>
                                <fieldset id="navigate-wizard" class="widget-menu">
                                    <h2 class="fs-title monts">General Background of Research Project</h2><hr>
                                    <h3 class="fs-subtitle monts">Introduction (Provide a general background and justification leading to the research project)</h3>
                                    <textarea asp-for="ApplicantSubmission.IntroductionBackground" id="txtBackgroundIntro" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                    <br />
                                    <h3 class="fs-subtitle monts">Aims, General and Specific Objectives of the Research Project</h3>
                                    <textarea asp-for="ApplicantSubmission.Aims" id="txtAim" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                    <br />
                                    <h3 class="fs-subtitle monts">Statement of the Problem (Why does this research need to be conducted)</h3>
                                    <textarea asp-for="ApplicantSubmission.StatementOfProblem" id="txtStatement" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                    <br />
                                    <br />
                                    <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                    <input type="button" name="next" class="next action-button" value="Next" />
                                </fieldset>
                                <fieldset id="navigate-wizard" class="widget-menu">
                                    <h2 class="fs-title monts">General Background of Research Project (cont.)</h2><hr>
                                    <h3 class="fs-subtitle monts">Conceptual framework of the study (clearly identify and define the central concepts or ideas underlying the study)</h3>
                                    <textarea asp-for="ApplicantSubmission.ConceptualFramework" id="txtConceptual" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                    <br />
                                    <br />
                                    <h3 class="fs-subtitle monts">Project Goals (provide a summary of the short and long term goals of the project. indicate clearly the problems the project will help to address)</h3>
                                    <textarea asp-for="ApplicantSubmission.ProjectGoal" id="txtProjectGoal" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                    <br />
                                    <h3 class="fs-subtitle monts">Project Impact (provide information to the long term impact of the project within the context of social, economic and technological benefits)</h3>
                                    <textarea asp-for="ApplicantSubmission.ProjectImpact" id="txtProjectImpact" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                    <br />
                                    <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                    <input type="button" name="next" class="next action-button" value="Next" />
                                </fieldset>
                                <fieldset id="navigate-wizard" class="widget-menu">
                                    <h2 class="fs-title monts">Research Details</h2><hr>
                                    <h3 class="fs-subtitle monts">Literature Review</h3>
                                    <textarea asp-for="ApplicantSubmission.LiteratureReview" id="txtLiteratureReview" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                    <br />
                                    <h3 class="fs-subtitle">Research Methodology (Given detail methodology of the proposed research project)</h3>
                                    <textarea asp-for="ApplicantSubmission.ResearchMethodoly" id="txtResearchMethodology" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                    <br />
                                    <h3 class="fs-subtitle monts">Project Activities and output (Given details of expected output from the research grant i.e. results to be obtained/produced within the produced time frame of the project)</h3>
                                    <textarea asp-for="ApplicantSubmission.ProjectActivities" id="txtProjectActivities" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                    <br />
                                    <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                    <input type="button" name="next" class="next action-button" value="Next" />
                                </fieldset>
                                <fieldset id="navigate-wizard" class="widget-menu">
                                    <h2 class="fs-title monts">Research Details (cont.)</h2><hr>
                                    <h3 class="fs-subtitle monts">Time frame (provide a time line for the major activities of the project)</h3>
                                    <textarea asp-for="ApplicantSubmission.TimeFrame" id="txtTimeFrame" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                    <br />
                                    <h3 class="fs-subtitle monts">Activities Indicators (clearly state the indicators of each major activity of the project.)</h3>
                                    <textarea asp-for="ApplicantSubmission.ActivityIndicator" id="txtActivityIndicator" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                    <br />
                                    <h3 class="fs-subtitle monts">The Study Location</h3>
                                    <textarea asp-for="ApplicantSubmission.StudyLocation" id="txtStudyLocation" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                    <br />
                                    <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                    <input type="button" name="next" class="next action-button" value="Next" />
                                </fieldset>
                                <fieldset id="navigate-wizard" class="widget-menu">
                                    <h2 class="fs-title monts">Research Details (cont.)</h2><hr>
                                    <h3 class="fs-subtitle monts">Data Management and Analysis</h3>
                                    <textarea asp-for="ApplicantSubmission.DataManagement" id="txtDataManagement" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                    <br />
                                    <h3 class="fs-subtitle monts">Ethical and Environmental Considerations</h3>
                                    <textarea asp-for="ApplicantSubmission.Ethical" id="txtEthical" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                    <br />
                                    <h3 class="fs-subtitle monts">Monitoring and Evaluation Mechanisms you will adopt in achieving the stated objectives.</h3>
                                    <textarea asp-for="ApplicantSubmission.Monitoring" id="txtMonitoring" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                    <br />
                                    <h3 class="fs-subtitle monts">Dissemination Strategies (indicate the steps you will take to ensure the project outcomes are brought to the attention of stakeholders).</h3>
                                    <textarea asp-for="ApplicantSubmission.DisseminationStrategies" id="txtStrategies" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                    <br />
                                    <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                    <input type="button" name="next" class="next action-button" value="Next" />
                                </fieldset>
                                <fieldset id="navigate-wizard" class="widget-menu">
                                    <h2 class="fs-title monts">Research Team</h2><hr>
                                    <h3 class="fs-subtitle monts">Research Work to Date (List the relevant team publications. Also list not more than 3 relevant on-going research works)</h3>
                                    <textarea asp-for="ApplicantSubmission.ResearchWorkToDate" id="txtResearchWorkToDate" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                    <br />
                                    <h3 class="fs-subtitle monts">Previous Research Grant</h3>
                                    <textarea asp-for="ApplicantSubmission.PreviousGrant" id="txtPreviousGrant" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                    <br />
                                    <h3 class="fs-subtitle monts">Group Research (For group research, applicants are encouraged to consider gender, age and descipline. Provide below details about the roles and responsibilities of each member.)</h3>
                                    <textarea asp-for="ApplicantSubmission.GroupResearch" id="txtGroupResearch" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                    <br />
                                    <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                    <input type="button" name="next" class="next action-button" value="Next" />
                                </fieldset>
                                <fieldset id="navigate-wizard" class="widget-menu">
                                    <h2 class="fs-title monts">Financial Aspects of the Research Project Implementation</h2><hr>
                                    <h3 class="fs-subtitle monts">Budget Justification</h3>
                                    <textarea asp-for="ApplicantSubmission.BudgetJustification" id="txtBudgetJustification" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                    <br />
                                    <h3 class="fs-subtitle monts">Additional Source(s) of Funding (Provide full details of other source(s) of support and the amount)</h3>
                                    <textarea asp-for="ApplicantSubmission.AdditionalSources" id="txtAdditionalSource" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                    <br />
                                    <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                    <input type="button" name="next" class="next action-button" value="Next" />

                                </fieldset>
                                <fieldset id="navigate-wizard" class="widget-menu">
                                    <h2 class="fs-title monts">Financial Aspects of the Research Project Implementation</h2><hr>
                                    <div class="container mt-5">
                                        <div class="col-md-12">



                                            <div class="table-responsive">
                                                <table id="othersTable" class="table table-striped table-hover table-bordered">
                                                    <thead class="text-center">
                                                        <tr class="th-bg">
                                                            <th>SN</th>
                                                            <th>Description of Item</th>
                                                            <th colspan="3">Expected From</th>
                                                            <th>Total (&#8358;)</th>
                                                        </tr>

                                                        <tr class="th-bg2">
                                                            <th></th>
                                                            <th></th>
                                                            <th>TETFund and NRF (&#8358;)</th>
                                                            <th>Institution (&#8358;)</th>
                                                            <th>Other (&#8358;)</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="6" style="font-weight:900;">PERSONNEL COSTS/ALLOWANCE </td>


                                                        </tr>
                                                        @for (int i = 0; i < Model.BudgetDetailsSectionOne.Count; i++)
                                                        {
                                                            var sn = i + 1;
                                                            <tr>

                                                                <td>@sn</td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionOne[i].Description)

                                                                </td>
                                                                <td>

                                                                    ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne[i].TetFundAmount)
                                                                </td>
                                                                <td>

                                                                    ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne[i].InstitutionFundingAmount)
                                                                </td>
                                                                <td>

                                                                    ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne[i].OtherFunding)
                                                                </td>
                                                                <td>

                                                                    ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne[i].Total)
                                                                </td>
                                                            </tr>
                                                        }
                                                        <tr style="font-weight:600">
                                                            <td colspan="2">Sub-Total</td>
                                                            <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne.Sum(g => g.TetFundAmount))</td>
                                                            <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne.Sum(g => g.InstitutionFundingAmount))</td>
                                                            <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne.Sum(g => g.OtherFunding))</td>
                                                            <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne.Sum(g => g.Total))</td>
                                                        </tr>
                                                        <tr class="monts" style="font-weight:600">
                                                            <td colspan="2">Percentage </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td colspan="2">@Model.SectionPercentage1 %</td>
                                                        </tr>


                                                        <tr>
                                                            <td colspan="6" style="font-weight:900;">EQUIPMENT (LIST & SPECIFY) </td>


                                                        </tr>
                                                        @for (int i = 0; i < Model.BudgetDetailsSectionTwo.Count; i++)
                                                        {
                                                            var sn = i + 1;
                                                            <tr>

                                                                <td>@sn</td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionTwo[i].Description)

                                                                </td>
                                                                <td>

                                                                    ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo[i].TetFundAmount)
                                                                </td>
                                                                <td>

                                                                    ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo[i].InstitutionFundingAmount)
                                                                </td>
                                                                <td>

                                                                    ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo[i].OtherFunding)
                                                                </td>
                                                                <td>

                                                                    ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo[i].Total)
                                                                </td>
                                                            </tr>
                                                        }
                                                        <tr style="font-weight:600">
                                                            <td colspan="2">Sub-Total</td>
                                                            <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo.Sum(g => g.TetFundAmount))</td>
                                                            <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo.Sum(g => g.InstitutionFundingAmount))</td>
                                                            <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo.Sum(g => g.OtherFunding))</td>
                                                            <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo.Sum(g => g.Total))</td>
                                                        </tr>
                                                        <tr class="monts" style="font-weight:600">
                                                            <td colspan="2">Percentage </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td colspan="2">@Model.SectionPercentage2 %</td>
                                                        </tr>

                                                        <tr>
                                                            <td colspan="6" style="font-weight:900;">SUPPLIES/CONSUMABLES </td>


                                                        </tr>
                                                        @for (int i = 0; i < Model.BudgetDetailsSectionThree.Count; i++)
                                                        {
                                                            var sn = i + 1;
                                                            <tr>

                                                                <td>@sn</td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionThree[i].Description)

                                                                </td>
                                                                <td>

                                                                    ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree[i].TetFundAmount)
                                                                </td>
                                                                <td>

                                                                    ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree[i].InstitutionFundingAmount)
                                                                </td>
                                                                <td>

                                                                    ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree[i].OtherFunding)
                                                                </td>
                                                                <td>

                                                                    ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree[i].Total)
                                                                </td>
                                                            </tr>
                                                        }
                                                        <tr style="font-weight:600">
                                                            <td colspan="2">Sub-Total</td>
                                                            <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree.Sum(g => g.TetFundAmount))</td>
                                                            <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree.Sum(g => g.InstitutionFundingAmount))</td>
                                                            <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree.Sum(g => g.OtherFunding))</td>
                                                            <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree.Sum(g => g.Total))</td>
                                                        </tr>
                                                        <tr class="monts" style="font-weight:600">
                                                            <td colspan="2">Percentage </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>@Model.SectionPercentage3 %</td>
                                                        </tr>

                                                        <tr>
                                                            <td colspan="6" style="font-weight:900;">DATA COLLECTION & ANALYSIS</td>


                                                        </tr>
                                                        @for (int i = 0; i < Model.BudgetDetailsSectionFour.Count; i++)
                                                        {
                                                            var sn = i + 1;
                                                            <tr>

                                                                <td>@sn</td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionFour[i].Description)

                                                                </td>
                                                                <td>

                                                                    ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour[i].TetFundAmount)
                                                                </td>
                                                                <td>

                                                                    ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour[i].InstitutionFundingAmount)
                                                                </td>
                                                                <td>

                                                                    ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour[i].OtherFunding)
                                                                </td>
                                                                <td>

                                                                    ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour[i].Total)
                                                                </td>
                                                            </tr>
                                                        }
                                                        <tr style="font-weight:600">
                                                            <td colspan="2">Sub-Total</td>
                                                            <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour.Sum(g => g.TetFundAmount))</td>
                                                            <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour.Sum(g => g.InstitutionFundingAmount))</td>
                                                            <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour.Sum(g => g.OtherFunding))</td>
                                                            <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour.Sum(g => g.Total))</td>
                                                        </tr>
                                                        <tr class="monts" style="font-weight:600">
                                                            <td colspan="2">Percentage </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td colspan="2">@Model.SectionPercentage4 %</td>
                                                        </tr>

                                                        <tr>
                                                            <td colspan="6" style="font-weight:900;">TRAVEL</td>


                                                        </tr>
                                                        @for (int i = 0; i < Model.BudgetDetailsSectionFive.Count; i++)
                                                        {
                                                            var sn = i + 1;
                                                            <tr>

                                                                <td>@sn</td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionFive[i].Description)

                                                                </td>
                                                                <td>

                                                                    ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive[i].TetFundAmount)
                                                                </td>
                                                                <td>

                                                                    ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive[i].InstitutionFundingAmount)
                                                                </td>
                                                                <td>

                                                                    ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive[i].OtherFunding)
                                                                </td>
                                                                <td>

                                                                    ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive[i].Total)
                                                                </td>
                                                            </tr>
                                                        }
                                                        <tr style="font-weight:600">
                                                            <td colspan="2">Sub-Total</td>
                                                            <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive.Sum(g => g.TetFundAmount))</td>
                                                            <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive.Sum(g => g.InstitutionFundingAmount))</td>
                                                            <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive.Sum(g => g.OtherFunding))</td>
                                                            <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive.Sum(g => g.Total))</td>
                                                        </tr>
                                                        <tr class="monts" style="font-weight:600">
                                                            <td colspan="2">Percentage </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td colspan="2">@Model.SectionPercentage5 %</td>
                                                        </tr>

                                                        <tr>
                                                            <td colspan="6" style="font-weight:900;">DISSEMINATION </td>


                                                        </tr>
                                                        @for (int i = 0; i < Model.BudgetDetailsSectionSix.Count; i++)
                                                        {
                                                            var sn = i + 1;
                                                            <tr>

                                                                <td>@sn</td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionSix[i].Description)

                                                                </td>
                                                                <td>

                                                                    ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix[i].TetFundAmount)
                                                                </td>
                                                                <td>

                                                                    ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix[i].InstitutionFundingAmount)
                                                                </td>
                                                                <td>

                                                                    ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix[i].OtherFunding)
                                                                </td>
                                                                <td>

                                                                    ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix[i].Total)
                                                                </td>
                                                            </tr>
                                                        }
                                                        <tr style="font-weight:600">
                                                            <td colspan="2">Sub-Total</td>
                                                            <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix.Sum(g => g.TetFundAmount))</td>
                                                            <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix.Sum(g => g.InstitutionFundingAmount))</td>
                                                            <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix.Sum(g => g.OtherFunding))</td>
                                                            <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix.Sum(g => g.Total))</td>
                                                        </tr>
                                                        <tr class="monts" style="font-weight:600">
                                                            <td colspan="2">Percentage </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td colspan="2">@Model.SectionPercentage6 %</td>
                                                        </tr>

                                                        <tr>
                                                            <td colspan="6" style="font-weight:900;">OTHERS/MISCELLANEOUS  </td>


                                                        </tr>
                                                        @for (int i = 0; i < Model.BudgetDetailsSectionSeven.Count; i++)
                                                        {
                                                            var sn = i + 1;
                                                            <tr>

                                                                <td>@sn</td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionSeven[i].Description)

                                                                </td>
                                                                <td>

                                                                    ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven[i].TetFundAmount)
                                                                </td>
                                                                <td>

                                                                    ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven[i].InstitutionFundingAmount)
                                                                </td>
                                                                <td>

                                                                    ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven[i].OtherFunding)
                                                                </td>
                                                                <td>

                                                                    ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven[i].Total)
                                                                </td>
                                                            </tr>
                                                        }
                                                        <tr style="font-weight:600">
                                                            <td colspan="2">Sub-Total</td>
                                                            <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven.Sum(g => g.TetFundAmount))</td>
                                                            <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven.Sum(g => g.InstitutionFundingAmount))</td>
                                                            <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven.Sum(g => g.OtherFunding))</td>
                                                            <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven.Sum(g => g.Total))</td>
                                                        </tr>
                                                        <tr class="monts" style="font-weight:600">
                                                            <td colspan="2">Percentage </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td colspan="2">@Model.SectionPercentage7 %</td>
                                                        </tr>
                                                        <tr style="font-weight:900">
                                                            <td colspan="2" style="font-style:italic;">GRAND-TOTAL</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetails.Sum(g => g.Total))</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>


                                        </div>

                                    </div>

                                    <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                    @*<input type="button" name="next" class="next action-button" id="saveFinance" value="Next" />*@
                                </fieldset>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
<link href="~/css/TabStyle.css" rel="stylesheet" />
@section Scripts{
    <script type="text/javascript">
        const textareasThatNeedResizing = [];
        const elements = document.getElementsByTagName("textarea");

        //Edit Textarea height for a single textarea
        const modifyTextareaAttributes = (element) => {
            const realTextareaHeight = element.offsetHeight;
            const scrollTextareaHeight = element.scrollHeight;

            if ((realTextareaHeight - scrollTextareaHeight) > 0) {
                //console.log(`%c The textarea does not need scrollbar, so it keeps the default height of: ${element.offsetHeight}`, "background-color: black;color:#fff;font-family:consolas");
                // console.log(`%c Content: ${element.value}`, "background-color: blue;color:#fff;font-family:consolas")
            }
            else {
                element.style.height = `${element.scrollHeight + 20}px`;
                // console.log(`%c The textarea needs a scrollbar, and so we gave it a height of: ${element.scrollHeight}`, "background-color: indianred;color: #fff; font-family:consolas");
                //console.log(`%c Content: ${element.value}`, "background-color: green;color:#fff;font-family:consolas")

                textareasThatNeedResizing.push({ element, originalHeight: realTextareaHeight });
            }
            //console.table(textareasThatNeedResizing);

            //insert code for taking snapshots in this section

            //element.style.height = `${realTextareaHeight}px`;
        }

        //Edit Textarea height for multiple textareas
        const modifyMultipleTextareaAttributes = (...elements) => {
            elements.forEach((el, index) => modifyTextareaAttributes(el));
        }
        
        modifyMultipleTextareaAttributes(...elements);

        const goToSection = (ref) => {
            const nodes = document.querySelectorAll(".navigate-wizard-2");
            const trigger = Array.prototype.slice.call(nodes, document.body);
            const index = trigger.indexOf(ref);

            let currentFs;//stores the index of the current slide

            const menuNodes = document.querySelectorAll(".widget-menu");
            const target = Array.prototype.slice.call(menuNodes, document.body);

            //LOOP THROUGH ELEMENTS AND SELECT THE ONE WITH CLASS ACTIVE
            trigger.forEach((menu, currentIndex) => {
                if (menu.classList.contains("active")) {
                    currentFs = currentIndex;
                }
                //remove class 'active' from all the element in the list
                menu.classList.remove("active");
            });
            trigger[index].classList.add("active");

            let currentSlide = target[currentFs];
            let nextSlide = menuNodes[index];


            // nextSlide = new DOMParser().parseFromString(nextSlide, 'text/html');
            //console.log(currentSlide);
            //console.log(nextSlide);

            //Onclick Hide it
            currentSlide.classList.add("displayNone");
            //remove all occurences of 'showBlock' b/4 injecting to the DOM
            //trigger.forEach(menu => menu.classList.remove("showBlock"));
            currentSlide.classList.remove("showBlock");
            nextSlide.classList.add("showBlock")

            nextSlide = new DOMParser().parseFromString(nextSlide, "text/html");
            //console.log(nextSlide);

            //hide the current fieldset with style
            //hide the current fieldset with style
        }

        $(document).ready(function () {
            var current_fs, next_fs, previous_fs; //fieldsets
            var left, opacity, scale; //fieldset properties which we will animate
            var animating; //flag to prevent quick multi-click glitches

            $(".go-to-point").on("click", () => {
                //get the index
                let classes = $(".go-to-point").classList;
                let pointIndex = $(classes).index(this);
                console.log(pointIndex);

                //use index to navigate to the selected field
                //$("#progressbar li").eq($("fieldset").pointIndex.addClass("active"));
            });

            $(".next").click(function () {
                if (animating) return false;
                animating = true;

                current_fs = $(this).parent();
                next_fs = $(this).parent().next();

                console.log(next_fs);

                //activate next step on progressbar using the index of next_fs
                $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

                //show the next fieldset
                next_fs.show();

                modifyMultipleTextareaAttributes(...elements);

                //hide the current fieldset with style
                current_fs.animate({ opacity: 0 }, {
                    step: function (now, mx) {
                        //as the opacity of current_fs reduces to 0 - stored in "now"
                        //1. scale current_fs down to 80%
                        scale = 1 - (1 - now) * 0.2;
                        //2. bring next_fs from the right(50%)
                        left = (now * 50) + "%";
                        //3. increase opacity of next_fs to 1 as it moves in
                        opacity = 1 - now;
                        current_fs.css({
                            'transform': 'scale(' + scale + ')',
                            'position': 'absolute'
                        });
                        next_fs.css({ 'left': left, 'opacity': opacity });
                    },
                    duration: 800,
                    complete: function () {
                        current_fs.hide();
                        animating = false;
                    },
                    //this comes from the custom easing plugin
                    easing: 'easeInOutBack'
                });
            });

            $(".previous").click(function () {
                if (animating) return false;
                animating = true;

                current_fs = $(this).parent();
                previous_fs = $(this).parent().prev();

                //de-activate current step on progressbar
                $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

                //show the previous fieldset
                previous_fs.show();

                modifyMultipleTextareaAttributes(...elements);

                //hide the current fieldset with style
                current_fs.animate({ opacity: 0 }, {
                    step: function (now, mx) {
                        //as the opacity of current_fs reduces to 0 - stored in "now"
                        //1. scale previous_fs from 80% to 100%
                        scale = 0.8 + (1 - now) * 0.2;
                        //2. take current_fs to the right(50%) - from 0%
                        left = ((1 - now) * 50) + "%";
                        //3. increase opacity of previous_fs to 1 as it moves in
                        opacity = 1 - now;
                        current_fs.css({ 'left': left });
                        previous_fs.css({ 'transform': 'scale(' + scale + ')', 'opacity': opacity });
                    },
                    duration: 800,
                    complete: function () {
                        current_fs.hide();
                        animating = false;
                    },
                    //this comes from the custom easing plugin
                    easing: 'easeInOutBack'
                });
            });
            //$('#txtBackgroundIntro').keyup(function (e) {
            //    var max = 300;
            //    var len = $(this).val().length;
            //    var char = max - len;
            //    $('#backgroundIntro').html(char);

            //})
            $('#txtExecutiveSummary').on('keyup', function (e) {
                var max = 600;
                var words = this.value.match(/\S+/g).length;
                if (words > 600) {
                    var trimmed = $(this).val().split(/\s+/, 600).join(" ");
                    $(this).val(trimmed + " ");

                }
                else {
                    var word = max - words;
                    $('#executiveSummary').html(word);

                }


            });
        });

    </script>
}


