﻿@model Grant.Web.Models.ViewModels.UserViewModel
@{
    ViewData["Title"] = "ProposalApplication";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    #customized-modal-2 {
        padding: 16px;
        opacity: 0;
        transform: scale(0);
        transition: .6s ease opacity,.6s ease transform;
        position: fixed;
        background: rgba(0, 0, 0, 0.7);
        display: none;
        width: 100% !important;
        height: 100% !important;
        z-index: 9999999999;
        top: 0;
        left: 0;
    }

    .nav-pills.nav-pills-success .nav-item .nav-link {
        color: #1F9877;
    }

    .nav-pills.nav-pills-success .nav-item .nav-link.active {
        background: #1F9877;
        color: #fff;
    }



    .modal-box-white {
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        background: #fff;
        border-radius: 15px;
        margin-top: 2vh;
        padding: 20px 30px;
        margin: 0 auto;
    }

    .modal-close-btn {
        border-top: 1px solid whitesmoke;
        padding: 10px 10px 0;
    }

    .confirmation-action-buttons {
        border-top: 1px solid #ddd;
    }

    #output-text-title {
        text-decoration: underline;
        font-size: 20px;
    }

    #proposal-content,
    #proposal-content p {
        font-size: 18px;
        text-align: center !important;
    }

    body {
        font-family: Poppins, sans-serif;
    }

    .monts {
        font-family: Poppins, sans-serif;
        font-weight: bold
    }

    .th-bg {
        background-color: #1CBC9D;
    }

    .th-bg2 {
        background-color: #DAEEF3;
    }


    #progressbar li {
        list-style-type: none;
        color: #555;
        text-transform: uppercase;
        font-size: 9px;
        width: 9.90% !important;
        float: left;
        position: relative;
        letter-spacing: 1px;
    }
</style>

<div id="customized-modal-2">
    <div class="row">
        <div class="col-xs-12 col-md-4 modal-box-white">
            <h4 id="output-text-title" class="text-center text-uppercase text-primary">Confirm Submission</h4>
            <div class="row proposal-content text-center" id="proposal-content">
                <p style="margin: 0 auto;">Are you sure you want to submit?</p>
            </div>
            <div class="row confirmation-action-buttons">
                <div class="col-xs-12 col-md-12 text-center" style="padding: 20px 10px;">
                    <button type="button" id="confirm-form-submission" class="btn btn-success">Submit</button>&nbsp;&nbsp;
                    <button type="button" id="close-confirmation-modal" class="btn btn-danger">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
            {
        <div class="callout " style="color: white">
            <partial name="_Message" model="@TempData["Message"]"/>
        </div>
    }
</section>
<section class="content" style="min-height: 150vh">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Full Proposal Application</h1>
        <hr class="mt-0 mb-2" />
    </div>

    <div class="container" style="margin-bottom: 30px">

        <form asp-action="ProposalApplication" id="msform" asp-controller="Application" method="POST" role="form" enctype="multipart/form-data" class="form-horizontal">
            <div class="col-md-12">
                @*<input type="hidden" asp-for="ApplicantThematic.Id" id="applicantThematicId" />*@
                @Html.HiddenFor(m => m.ApplicantThematic.Id)

                <!--------------------New Tab Start-------------------------->

                <div>
                    <ul class="nav nav-pills nav-pills-success mb-3 justify-content-center" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="save nav-link active" id="step-one-tab" data-toggle="pill" href="#step-one"
                               role="tab" aria-controls="step-one" aria-selected="true">Page One</a>
                        </li>
                        <li class="nav-item">
                            <a class="save nav-link" id="step-two-tab" data-toggle="pill" href="#step-two"
                               role="tab" aria-controls="step-two" aria-selected="false">Page Two</a>
                        </li>
                        <li class="nav-item">
                            <a class="save nav-link" id="step-three-tab" data-toggle="pill" href="#step-three"
                               role="tab" aria-controls="step-three" aria-selected="false">Page Three</a>
                        </li>
                        <li class="nav-item">
                            <a class="save nav-link" id="step-four-tab" data-toggle="pill" href="#step-four"
                               role="tab" aria-controls="step-four" aria-selected="false">Page Four</a>
                        </li>
                        <li class="nav-item">
                            <a class="save nav-link" id="step-five-tab" data-toggle="pill" href="#step-five"
                               role="tab" aria-controls="step-five" aria-selected="false">Page Five</a>
                        </li>
                        <li class="nav-item">
                            <a class="save nav-link" id="step-six-tab" data-toggle="pill" href="#step-six"
                               role="tab" aria-controls="step-six" aria-selected="false">Page Six</a>
                        </li>
                        <li class="nav-item">
                            <a class="save nav-link" id="step-seven-tab" data-toggle="pill" href="#step-seven"
                               role="tab" aria-controls="step-seven" aria-selected="false">Page Seven</a>
                        </li>
                        <li class="nav-item">
                            <a class="save nav-link" id="step-eight-tab" data-toggle="pill" href="#step-eight"
                               role="tab" aria-controls="step-eight" aria-selected="false">Page Eight</a>
                        </li>
                        <li class="nav-item">
                            <a class="save nav-link" id="step-nine-tab" data-toggle="pill" href="#step-nine"
                               role="tab" aria-controls="step-nine" aria-selected="false">Page Nine</a>
                        </li>
                        <li class="nav-item">
                            <a class="save nav-link" id="step-ten-tab" data-toggle="pill" href="#step-ten"
                               role="tab" aria-controls="step-ten" aria-selected="false">Page Ten</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">


                        <div class="tab-pane fade show active" id="step-one" role="tabpanel" aria-labelledby="step-one-tab">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="fs-subtitle monts float-left">Concept Note Title</h4>
                                    <p class="badge badge-danger float-right word-status" style="margin-top:0; color: #fff">Words Left: <span class="wordCountDown"></span></p>
                                    <textarea asp-for="ApplicantSubmission.Title" required id="txtTitle" type="text" class="wordCounter" rows="1" readonly></textarea>
                                    <br />
                                    <br />
                                    <h4 class="fs-subtitle text-left monts">Full Proposal Title If any Modification</h4>
                                    <textarea asp-for="ApplicantSubmission.ProposalTitle" class="wordCounter mb-0" id="txtProposalTitle" type="text" rows="1"></textarea>
                                    <div class="text-center" style="font-size:12px;color:#ee0979;"> (Only slight modifications allowed) </div>
                                    <br />

                                    @*<br />
        <h4 class="fs-subtitle  monts text-left">Full Proposal (PDF-Format including Authentication)</h4>
        <input type="file" id="upload" asp-for="UploadFile" />*@

                                    <br />
                                    <br />
                                    @*<h3 class="fs-subtitle text-left monts">Proposed Budget &#8358 @string.Format("{0:0,0.00}", Model.BudgetDetails.Sum(f => f.Total))</h3>*@
                                    @if (Model.BudgetDetails.Count > 0)
                                    {
                                        @*<label class="form-control"> ₦ @string.Format("{0:0,0.00}", Model.BudgetDetails.Sum(f => f.Total))</label>*@
                                        <h3 class="fs-subtitle text-left monts">Proposed Budget &#8358 @string.Format("{0:0,0.00}", Model.BudgetDetails.Sum(f => f.Total))</h3>

                                    }

                                    <hr>
                                    <div class="ppx-4 text-right mt-3">
                                        <button id="step-one-next" type="button" class="save btn btn-outline-success">Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="step-two" role="tabpanel" aria-labelledby="step-two-tab">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="fs-title monts">General Background of Research Project</h2><hr>
                                    <h3 class="fs-subtitle monts float-left">Introduction <br /><span class="text-sm font-weight-400">(Provide a general background and justification leading to the research project)</span></h3>
                                    <p class="badge badge-danger float-right word-status text-white" style="margin-top:0; ">Words Left: <span class="wordCountDown"></span></p>
                                    <textarea asp-for="ApplicantSubmission.IntroductionBackground" required class="wordCounter" id="txtBackgroundIntro" type="text" rows="5"></textarea>
                                    @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="backgroundIntro">300</span> character(s) left</div>*@
                                    <br />
                                    <br />
                                    <br />
                                    <h3 class="fs-subtitle monts text-left">Aims, General and Specific Objectives of the Research Project</h3>
                                    <textarea asp-for="ApplicantSubmission.Aims" required class="wordCounter" id="txtAim" type="text" rows="5"></textarea>
                                    @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="aim">300</span> character(s) left</div>*@
                                    <br />
                                    <br />
                                    <br />
                                    <h3 class="fs-subtitle monts text-left">Statement of the Problem <br /><span class="text-sm font-weight-400">(Why does this research need to be conducted?)</span></h3>
                                    <textarea asp-for="ApplicantSubmission.StatementOfProblem" required class="wordCounter" id="txtStatement" type="text" rows="5"></textarea>
                                    @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="statement">300</span> character(s) left</div>*@
                                    <br />
                                    <br />
                                    <hr>
                                    <div class="row justify-content-between mt-3 px-4">
                                        <button id="step-two-prev" type="button" class="save btn btn-outline-success">Previous</button>
                                        <button id="step-two-next" type="button" class="save btn btn-outline-success">Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="step-three" role="tabpanel" aria-labelledby="step-three-tab">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="fs-title monts">General Background of Research Project (cont.)</h2><hr>

                                    <h3 class="fs-subtitle monts float-left">Conceptual framework of the study <br /><span class="text-sm font-weight-400">(Clearly identify and define the central concepts or ideas underlying the study)</span></h3>
                                    <p class="badge badge-danger float-right word-status text-white" style="margin-top:0; ">Words Left: <span class="wordCountDown"></span></p>
                                    <textarea asp-for="ApplicantSubmission.ConceptualFramework" required class="wordCounter" id="txtConceptual" type="text" rows="5"></textarea>
                                    @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="conceptual">300</span> character(s) left</div>*@
                                    <br />
                                    <br />
                                    <br />
                                    <h3 class="fs-subtitle monts">
                                        Project Goals
                                        <br /><span class="text-sm font-weight-400">(Provide a summary of the short and long term goals of the project. Indicate clearly the problems the project will help to address)</span>
                                    </h3>
                                    <textarea asp-for="ApplicantSubmission.ProjectGoal" required class="wordCounter" id="txtProjectGoal" type="text" rows="5"></textarea>
                                    @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="projectGoal">300</span> character(s) left</div>*@
                                    <br />
                                    <br />
                                    <br />
                                    <h3 class="fs-subtitle monts">Project Impact <br /><span class="text-sm font-weight-400">(Provide information to the long term impact of the project within the context of social, economic and technological benefits)</span></h3>
                                    <textarea asp-for="ApplicantSubmission.ProjectImpact" required class="wordCounter" id="txtProjectImpact" type="text" rows="5"></textarea>
                                    @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="projectImpact">300</span> character(s) left</div>*@
                                    <br />
                                    <br />

                                    <div class="row justify-content-between mt-3 px-4">
                                        <button id="step-three-prev" type="button" class="save btn btn-outline-success">Previous</button>
                                        <button id="step-three-next" type="button" class="save btn btn-outline-success">Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="step-four" role="tabpanel" aria-labelledby="step-four-tab">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="fs-title monts">Research Details</h2><hr>
                                    <h3 class="fs-subtitle monts float-left">Literature Review</h3>
                                    <p class="badge badge-danger float-right word-status text-white" style="margin-top:0; ">Words Left: <span class="wordCountDown"></span></p>
                                    <textarea asp-for="ApplicantSubmission.LiteratureReview" required class="wordCounter" id="txtLiteratureReview" type="text" rows="5"></textarea>
                                    @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="literatureReview">300</span> character(s) left</div>*@
                                    <br />
                                    <br />
                                    <br />
                                    <h3 class="fs-subtitle monts">Research Methodology <br /><span class="text-sm font-weight-400">(Giving detailed methodology of the proposed research project)</span></h3>
                                    <textarea asp-for="ApplicantSubmission.ResearchMethodoly" required class="wordCounter" id="txtResearchMethodology" type="text" rows="5"></textarea>
                                    @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="ResearchMethodology">300</span> character(s) left</div>*@
                                    <br />
                                    <br />
                                    <br />
                                    <h3 class="fs-subtitle monts">
                                        Project Activities and Output
                                        <br /><span class="text-sm font-weight-400">(Giving details of expected output from the research grant i.e. results to be obtained/produced within the time frame of the project)</span>
                                    </h3>
                                    <textarea asp-for="ApplicantSubmission.ProjectActivities" required class="wordCounter" id="txtProjectActivities" type="text" rows="5"></textarea>
                                    @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="projectActivities">300</span> character(s) left</div>*@
                                    <br />
                                    <br />

                                    <div class="row justify-content-between mt-3 px-4">
                                        <button id="step-four-prev" type="button" class="save btn btn-outline-success">Previous</button>
                                        <button id="step-four-next" type="button" class="save btn btn-outline-success">Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="step-five" role="tabpanel" aria-labelledby="step-five-tab">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="fs-title monts">Research Details(cont.)</h2><hr>
                                    <h3 class="fs-subtitle monts float-left">Time frame <br /><span class="text-sm font-weight-400">(Provide a time-line for the major activities of the project)</span></h3>
                                    <p class="badge badge-danger float-right word-status text-white" style="margin-top:0;">Words Left: <span class="wordCountDown"></span></p>
                                    <textarea asp-for="ApplicantSubmission.TimeFrame" required class="wordCounter" id="txtTimeFrame" type="text" rows="5"></textarea>
                                    @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="timeFrame">300</span> character(s) left</div>*@
                                    <br />
                                    <br />
                                    <br />
                                    <h3 class="fs-subtitle monts">Activity Indicators <br /><span class="text-sm font-weight-400">(Clearly state the indicators of each major activity of the project)</span></h3>
                                    <textarea asp-for="ApplicantSubmission.ActivityIndicator" required class="wordCounter" id="txtActivityIndicator" type="text" rows="5"></textarea>
                                    @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="activitiesIndicator">300</span> character(s) left</div>*@
                                    <br />
                                    <br />
                                    <br />
                                    <h3 class="fs-subtitle monts">The Study Location</h3>
                                    <textarea asp-for="ApplicantSubmission.StudyLocation" required class="wordCounter" id="txtStudyLocation" type="text" rows="5"></textarea>
                                    @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="studyLocation">300</span> character(s) left</div>*@
                                    <br />
                                    <br />

                                    <div class="row justify-content-between mt-3 px-4">
                                        <button id="step-five-prev" type="button" class="save btn btn-outline-success">Previous</button>
                                        <button id="step-five-next" type="button" class="save btn btn-outline-success">Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="step-six" role="tabpanel" aria-labelledby="step-six-tab">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="fs-title monts">Research Details (cont.)</h2><hr>
                                    <h3 class="fs-subtitle monts float-left">Data Management and Analysis</h3>
                                    <p class="badge badge-danger float-right word-status text-white" style="margin-top:0;">Words Left: <span class="wordCountDown"></span></p>
                                    <textarea asp-for="ApplicantSubmission.DataManagement" required class="wordCounter" id="txtDataManagement" type="text" rows="5"></textarea>
                                    @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="dataManagement">300</span> character(s) left</div>*@
                                    <br />
                                    <br />
                                    <br />
                                    <h3 class="fs-subtitle monts">Ethical and Environmental Considerations</h3>
                                    <textarea asp-for="ApplicantSubmission.Ethical" required class="wordCounter" id="txtEthical" type="text" rows="5"></textarea>
                                    @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="ethical">300</span> character(s) left</div>*@
                                    <br />
                                    <br />
                                    <br />
                                    <h3 class="fs-subtitle monts">Monitoring and Evaluation Mechanisms you will adopt in achieving the stated objectives</h3>
                                    <textarea asp-for="ApplicantSubmission.Monitoring" required class="wordCounter" id="txtMonitoring" type="text" rows="5"></textarea>
                                    @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="monitoring">300</span> character(s) left</div>*@
                                    <br />
                                    <br />
                                    <br />
                                    <h3 class="fs-subtitle monts">Dissemination Strategies <br /><span class="text-sm font-weight-400">(Indicate the steps you will take to ensure the project outcomes are brought to the attention of stakeholders)</span></h3>
                                    <textarea asp-for="ApplicantSubmission.DisseminationStrategies" required class="wordCounter" id="txtStrategies" type="text" rows="5"></textarea>
                                    @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="strategies">300</span> character(s) left</div>*@
                                    <br />
                                    <br />

                                    <div class="row justify-content-between mt-3 px-4">
                                        <button id="step-six-prev" type="button" class="save btn btn-outline-success">Previous</button>
                                        <button id="step-six-next" type="button" class="save btn btn-outline-success">Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="step-seven" role="tabpanel" aria-labelledby="step-seven-tab">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="fs-title monts">Research Team</h2><hr>
                                    <h3 class="fs-subtitle monts float-left">Research Work to Date <br /><span class="text-sm font-weight-400">(List relevant team publications. You may also list a maximum of 3 relevant on-going research works)</span></h3>
                                    <p class="badge badge-danger float-right word-status text-white" style="margin-top:0;">Words Left: <span class="wordCountDown"></span></p>
                                    <textarea asp-for="ApplicantSubmission.ResearchWorkToDate" required class="wordCounter" id="txtResearchWorkToDate" type="text" rows="5"></textarea>
                                    @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="researchWorkToDate">300</span> character(s) left</div>*@
                                    <br />
                                    <br />
                                    <br />
                                    <h3 class="fs-subtitle monts">Previous Research Grants</h3>
                                    <textarea asp-for="ApplicantSubmission.PreviousGrant" required class="wordCounter" id="txtPreviousGrant" type="text" rows="5"></textarea>
                                    @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="previousGrant">300</span> character(s) left</div>*@
                                    <br />
                                    <br />
                                    <br />
                                    <h3 class="fs-subtitle monts">
                                        Group Research <br /><span class="text-sm font-weight-400">
                                            (For group research, applicants are encouraged to consider gender, age and discipline. Provide details below about the roles and responsibilities of each member)
                                        </span>
                                    </h3>
                                    <textarea asp-for="ApplicantSubmission.GroupResearch" required class="wordCounter" id="txtGroupResearch" type="text" rows="5"></textarea>
                                    @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="groupResearch">300</span> character(s) left</div>*@
                                    <br />
                                    <br />

                                    <div class="row justify-content-between mt-3 px-4">
                                        <button id="step-seven-prev" type="button" class="save btn btn-outline-success">Previous</button>
                                        <button id="step-seven-next" type="button" class="save btn btn-outline-success">Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="step-eight" role="tabpanel" aria-labelledby="step-eight-tab">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="fs-title monts float-left">Financial Aspects of the Research Project Implementation</h2><hr>
                                    <a asp-action="AddBudget" asp-controller="Application" class="btn btn-outline-success btn-sm">Click To Add Full Proposal Budget</a>
                                    <br />
                                    <h3 class="fs-subtitle monts float-left">Budget Justification</h3>
                                    <p class="badge badge-danger float-right word-status text-white" style="margin-top:0; ">Words Left: <span class="wordCountDown"></span></p>
                                    <textarea asp-for="ApplicantSubmission.BudgetJustification" required class="wordCounter" id="txtBudgetJustification" type="text" rows="5"></textarea>
                                    @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="budgetJustification">300</span> character(s) left</div>*@
                                    <br />
                                    <br />
                                    <br />
                                    <h3 class="fs-subtitle monts">
                                        Additional Source(s) of Funding
                                        <br /><span class="text-sm font-weight-400">(Provide full details of other source(s) of support and the amount)</span>
                                    </h3>
                                    <textarea asp-for="ApplicantSubmission.AdditionalSources" required class="wordCounter" id="txtAdditionalSource" type="text" rows="5"></textarea>
                                    @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="additionalSource">300</span> character(s) left</div>*@
                                    <br />
                                    <br />

                                    <div class="row justify-content-between mt-3 px-4">
                                        <button id="step-eight-prev" type="button" class="save btn btn-outline-success">Previous</button>
                                        <button id="step-eight-next" type="button" class="save btn btn-outline-success">Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="step-nine" role="tabpanel" aria-labelledby="step-nine-tab">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="fs-title monts float-left">Executive Summary</h2>
                                    <p class="badge badge-danger float-right word-status text-white" style="margin-top:0; ">Words Left: <span class="wordCountDown"></span></p>
                                    <textarea asp-for="ApplicantSubmission.ExecutiveSummary" required class="wordCounter" id="txtExecutiveSummary" type="text" rows="10"></textarea>
                                    @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="executiveSummary">600</span> word(s) left</div>*@
                                    <br />
                                    <br />

                                    <div class="row justify-content-between mt-3 px-4">
                                        <button id="step-nine-prev" type="button" class="save btn btn-outline-success">Previous</button>
                                        <button id="step-nine-next" type="button" class="save btn btn-outline-success">Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="step-ten" role="tabpanel" aria-labelledby="step-ten-tab">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="fs-title text-center monts">Preview Your Full Proposal by clicking " Preview" Before Submitting, as You cannot make changes after submission</h2>
                                    
                                    <hr>
                                    <div class="row justify-content-between mt-3 px-4">
                                        <button id="step-ten-prev" type="button" class="save btn btn-outline-success">Previous</button>
                                        <a asp-action="PreviewProposalBeforeSubmittion" asp-controller="Application" class="btn btn-outline-dark" asp-route-id="@Model.ApplicantThematic.Id" id="preview">Preview</a>
                                        <button type="button" id="submit" class="btn btn-outline-success">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>



                <!------------------------New Tab End----------------------->
                
            </div>

            <button type="submit" id="real-submit-btn" style="visibility: hidden;">Submit</button>
        </form>
    </div>
</section>
<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
@*<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>*@
<link href="~/css/TabStyle.css" rel="stylesheet" />
@section Scripts{
    <script type="text/javascript">

        @** new tab system *@
        $('#step-one-next').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-two-tab').tab('show')
        })


        $('#step-two-prev').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-one-tab').tab('show')
        })

        $('#step-two-next').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-three-tab').tab('show')
        })
        $('#step-three-next').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-four-tab').tab('show')
        })
        $('#step-three-prev').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-two-tab').tab('show')
        })

        $('#step-four-prev').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-three-tab').tab('show')
        })
        $('#step-four-next').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-five-tab').tab('show')
        })
        $('#step-five-prev').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-four-tab').tab('show')
        })
        $('#step-five-next').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-six-tab').tab('show')
        })
        $('#step-six-prev').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-five-tab').tab('show')
        })
        $('#step-six-next').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-seven-tab').tab('show')
        })
        $('#step-seven-prev').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-six-tab').tab('show')
        })
        $('#step-seven-next').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-eight-tab').tab('show')
        })
        $('#step-eight-prev').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-seven-tab').tab('show')
        })
        $('#step-eight-next').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-nine-tab').tab('show')
        })
        $('#step-nine-prev').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-eight-tab').tab('show')
        })
        $('#step-nine-next').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-ten-tab').tab('show')
        })
        $('#step-ten-prev').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-nine-tab').tab('show')
        })
        window.addEventListener("pageshow", function (event) {
            const historyTraversal = event.persisted ||
                (typeof window.performance != "undefined" &&
                    window.performance.navigation.type === 2);
            if (historyTraversal) {
                // Handle page restore.
                window.location.reload(true);
            }
        });

        var cont = 1;
        var contEquip = 1;
        var contSupply = 1;
        var contData = 1;
        var contTravel = 1;
        var contDissemination = 1;
        var contOther = 1;
        var typeId = 2;
        let conceptNoteMaxWordCount = 1500;
        const conceptNoteTotalWordsAllowed = 1500;
        const colorCodes = {
            success: "#1F9877",
            midWay: "orange",
            warning: "#F5365C"
        };

        const formToBeSubmitted = document.querySelector("#msform");
        const modalContainer = document.querySelector("#customized-modal-2");

        document.querySelector("#submit").addEventListener("click", (e) => {
            e.preventDefault();

            //Make sure that all form fields are filled out
            const inputTextFields = document.querySelectorAll("input[type='text']");
            const inputNumberFields = document.querySelectorAll("input[type='number']");
            const textareaFields = document.querySelectorAll("textarea:not(#txtProposalTitle)");
            const allFields = [...inputTextFields, ...inputNumberFields, ...textareaFields];
            let fieldsWereValid = true;
            let fieldsLabel = "";

            for (const field of allFields) {
                if (!field.value || field.value === "" || typeof field.value === "undefined") {
                    fieldsWereValid = false;
                    fieldsLabel = field.previousElementSibling.innerText;
                    break;
                }
            }

            if (fieldsWereValid) {
                //Ease in transition
                window.setTimeout(() => {
                    modalContainer.style.opacity = 1;
                    modalContainer.style.transform = 'scale(1)';
                    modalContainer.style.display = "block";
                }, 1000);
            }
            else {
                const errorMessage = `Please complete all fields. ${fieldsLabel === "" ? "" : fieldsLabel + " Is empty"}`;
                alert(errorMessage);
            }
        });

        //When submit button is clicked from the modal, Submit concept note form
        document.querySelector("#confirm-form-submission").addEventListener("click", (e) => {
            formToBeSubmitted.dispatchEvent(new Event("submit"));

            document.querySelector("#real-submit-btn").click();
        })

        //Close the opened modal
        document.querySelector("#close-confirmation-modal").addEventListener("click", (e) => {
            modalContainer.style.opacity = 0;
            modalContainer.style.transform = 'scale(0)';
            window.setTimeout(() => modalContainer.style.display = "none", 1000);
        });

        function applyColor(counter) {
            color = colorCodes.success;
            let el = document.querySelectorAll(".word-status");
            const elNodes = Array.prototype.slice.call(el, document.body);

            if (counter && counter > 0) {
                color = ((counter <= 1500 && counter >= 0) ? colorCodes.success : colorCodes.warning);
            }
            else {
                color = colorCodes.warning;
            }
            elNodes.forEach((element, currentIndex) => element.style.backgroundColor = color);
        }

        //Disable submit button if the counter is negative
        function disableSubmit(counter) {
            let submitBtn = $("#submit");
            if (counter >= conceptNoteTotalWordsAllowed) {
                //submitBtn.attr('disabled', true);
                //submitBtn.addClass("disable-btn");
            }
            else {
                //submitBtn.removeAttr('disabled');
                //submitBtn.removeClass("disable-btn");
            }

            applyColor(counter);
        }

        const wordCounterNodes = document.querySelectorAll(".wordCounter");
        const targetNodes = Array.prototype.slice.call(wordCounterNodes, document.body);

        targetNodes.forEach((wordCounter, currentIndex) => {
            if (wordCounter.value !== "") {
                let wordCount = wordCounter.value.split(" ").length;
                conceptNoteMaxWordCount -= wordCount;
                //console.log(conceptNoteMaxWordCount);
                //console.log("Word Count: ", wordCount)
            }
        });
        $('.wordCountDown').html(conceptNoteMaxWordCount);
        disableSubmit(conceptNoteMaxWordCount);

        let max = 600;
        let words = $('#txtExecutiveSummary').val().split(" ").length;
        if (words > 600) {
            let trimmed = $('#txtExecutiveSummary').val().split(" ", max).join(" ");
            $(this).val(trimmed + " ");
            $('#executiveSummary').html(max);
        }
        else {
            let word = max - words;
            $('#executiveSummary').html(word);

        }


        $(document).ready(function () {
            @*$('#submit').on('click', function (e) {
                e.preventDefault();
                if ($('#upload').val() == "") {

                                    var applicantThematicId = $('#ApplicantThematic_Id').val();
                 $.ajax({
                                type: 'POST',
                                url: '@Url.Action("CheckForProposalUpload", "Application")', // we are calling json method
                                dataType: 'json',
                                data: { applicantThematicId },
                                success: function (result) {
                                    if (!result.IsError) {
                                        confirm(result.Message);
                                    }

                                },
                                error: function (ex) {
                                    alert('Failed to retrieve feedetail.' + ex);
                                }
                            });
                }


            })*@
            setInterval(AutoSave, 120000);

            //$('#txtBackgroundIntro').keyup(function (e) {
            //    var max = 300;
            //    var len = $(this).val().length;
            //    var char = max - len;
            //    $('#backgroundIntro').html(char);

            //})

            $('.wordCounter').on('keyup', function (e) {
                let totalCount = conceptNoteTotalWordsAllowed;
                const wordCounterNodes = document.querySelectorAll(".wordCounter");
                const targetNodes = Array.prototype.slice.call(wordCounterNodes, document.body);

                targetNodes.forEach((wordCounter, currentIndex) => {
                    if (wordCounter.value !== "") {
                        let wordCount = wordCounter.value.split(" ").length;
                        totalCount -= wordCount;
                    }
                });
                $('.wordCountDown').html(totalCount);
                disableSubmit(totalCount);
            });

            $('.wordCounter').on('paste', function (e) {
                let totalCount = conceptNoteTotalWordsAllowed;
                const wordCounterNodes = document.querySelectorAll(".wordCounter");
                const targetNodes = Array.prototype.slice.call(wordCounterNodes, document.body);

                targetNodes.forEach((wordCounter, currentIndex) => {
                    if (wordCounter.value !== "") {
                        let wordCount = wordCounter.value.split(" ").length;
                        totalCount -= wordCount;
                    }
                });
                $('.wordCountDown').html(totalCount);
                disableSubmit(totalCount);
            });

            $('#txtExecutiveSummary').on('keyup', function (e) {

                var max = 600;
                var words = e.target.value.split(" ").length;
                if (words > 600) {
                    var trimmed = e.target.value.split(" ", max).join(" ");
                    $(this).val(trimmed + " ");
                    $('#executiveSummary').html(max);
                }
                else {
                    var word = max - words;
                    $('#executiveSummary').html(word);

                }
            });

            $('#txtExecutiveSummary').on('paste', function (e) {

                var max = 600;
                var words = e.target.value.split(" ").length;
                if (words > 600) {
                    var trimmed = e.target.value.split(" ", max).join(" ");
                    $(this).val(trimmed + " ");
                    $('#executiveSummary').html(max);
                }
                else {
                    var word = max - words;
                    $('#executiveSummary').html(word);

                }


            });

            $('.save').on('click', function () {
                AutoSave();
            })
           
        });
            
        function AutoSave() {
            var proposalDetail = getProposalDetail();
            var stringifyProposalDetail = JSON.stringify(proposalDetail);
            var budget = null;
            var applicantThematicId = $('#ApplicantThematic_Id').val();
                $.ajax({
                                type: 'POST',
                                url: '@Url.Action("AutoSaveProposalDetail", "Application")', // we are calling json method
                                dataType: 'json',
                                data: { stringifyProposalDetail, applicantThematicId, typeId, budget },
                                success: function (result) {
                                    if (!result.IsError) {
                                        //$("#personnelTable").empty();

                                        //for (i = 0; i < result.length; i++) {
                                        //    result[i].index = result[i].Id;
                                        //    $("#personnelTable").append('<tr><td>' + result.PersonnelBudgetDetails[i].Description + '</td>' + '<td>' + result[i].Name + '</td>' + '<td>' + result[i].FeeType + '</td>' + '<td>' + result[i].Programme + '</td>' + '<td>' + result[i].Level + '</td>' + '<td>' + result[i].PaymentMode + '</td>' + '<td>' + result[i].Session + '</td>' + '<td><input onclick="editRecord(' + result[i].Id + ', 3)" class="btn btn-sm btn-success editTableRow" value="Edit" type="button" /></td>' + ' <td><input onclick="deleteRecord(' + result[i].Id + ', 3)" class="btn btn-sm btn-success removeTableRow" value="Delete" type="button" /></td></tr>');

                                        //}
                                    }

                                },
                                error: function (ex) {
                                    alert('Failed to retrieve feedetail.' + ex);
                                }
                            });
        }
        //Assign TextArea Data
        function getProposalDetail() {
            var background = $('#txtBackgroundIntro').val();
            var aim = $('#txtAim').val();
            var statement = $('#txtStatement').val();
            var conceptual = $('#txtConceptual').val();
            var projectImpact = $('#txtProjectImpact').val();
            var projectGoal = $('#txtProjectGoal').val();
            var researchMethodology = $('#txtResearchMethodology').val();
            var literatureReview = $('#txtLiteratureReview').val();
            var timeFrame = $('#txtTimeFrame').val();
            var projectActivities = $('#txtProjectActivities').val();
            var studyLocation = $('#txtStudyLocation').val();
            var activityIndicator = $('#txtActivityIndicator').val();
            var ethical = $('#txtEthical').val();
            var dataManagement = $('#txtDataManagement').val();
            var monitoring = $('#txtMonitoring').val();
            var strategies = $('#txtStrategies').val();
            var previousGrant = $('#txtPreviousGrant').val();
            var researchWorkToDate = $('#txtResearchWorkToDate').val();
            var groupResearch = $('#txtGroupResearch').val();
            var budgetJustification = $('#txtBudgetJustification').val();
            var additionalSource = $('#txtAdditionalSource').val();
            var executiveSummary = $('#txtExecutiveSummary').val();
            var title = $('#txtTitle').val();
            var proposalTitle=$('#txtProposalTitle').val();

            var proposalDetail = {

                'IntroductionBackground': background,
                'Aims': aim,
                'StatementOfProblem': statement,
                'ConceptualFramework': conceptual,
                'ProjectGoal': projectGoal,
                'ProjectImpact': projectImpact,
                'ResearchMethodoly': researchMethodology,
                'LiteratureReview': literatureReview,
                'ProjectActivities': projectActivities,
                'TimeFrame': timeFrame,
                'ActivityIndicator': activityIndicator,
                'StudyLocation': studyLocation,
                'DataManagement': dataManagement,
                'Ethical': ethical,
                'Monitoring': monitoring,
                'DisseminationStrategies': strategies,
                'ResearchWorkToDate': researchWorkToDate,
                'PreviousGrant': previousGrant,
                'GroupResearch': groupResearch,
                'BudgetJustification': budgetJustification,
                'AdditionalSources': additionalSource,
                'Title': title,
                'ExecutiveSummary': executiveSummary,
                'ProposalTitle': proposalTitle


            };
            return proposalDetail;
        }
        //Focus on top page
        function TopFocus() {
            window.scrollTo(0, 0);
        }
    </script>
}
