﻿@model Grant.Web.Models.ViewModels.UserViewModel
@{
    ViewData["Title"] = "ProposalApplication";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    body {
        font-family: Montserrat, sans-serif;
        background-color: whitesmoke !important;
    }

    .nav-pills.nav-pills-success .nav-item .nav-link {
        color: #1F9877;
    }

        .nav-pills.nav-pills-success .nav-item .nav-link.active {
            background: #1F9877;
            color: #fff;
        }

    .monts {
        font-family: Montserrat, sans-serif;
        font-weight: bold
    }

    .th-bg {
        background-color: #1CBC9D;
    }

    .th-bg2 {
        background-color: #DAEEF3;
    }
</style>

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>

<section class="content" style="background-color: #f8f9fe">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Proposal Preview </h1>
        <hr class="mt-0 mb-2" />
    </div>

        <div class="container" style="margin-bottom: 30px">

            <form id="msform" method="POST" role="form" enctype="multipart/form-data" class="form-horizontal">



                <div class="col-md-12">

                    <!---------------------New Tab Start---------------------->

                    <div>
                        <ul class="nav nav-pills nav-pills-success mb-3 justify-content-center" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="save nav-link active" id="step-one-tab" data-toggle="pill" href="#step-one"
                                   role="tab" aria-controls="step-one" aria-selected="true">Page One</a>
                            </li>
                            <li class="nav-item">
                                <a class="save nav-link" id="step-two-tab" data-toggle="pill" href="#step-two"
                                   role="tab" aria-controls="step-two" aria-selected="false">Page Two</a>
                            </li>
                            <li class="nav-item">
                                <a class="save nav-link" id="step-three-tab" data-toggle="pill" href="#step-three"
                                   role="tab" aria-controls="step-three" aria-selected="false">Page Three</a>
                            </li>
                            <li class="nav-item">
                                <a class="save nav-link" id="step-four-tab" data-toggle="pill" href="#step-four"
                                   role="tab" aria-controls="step-four" aria-selected="false">Page Four</a>
                            </li>
                            <li class="nav-item">
                                <a class="save nav-link" id="step-five-tab" data-toggle="pill" href="#step-five"
                                   role="tab" aria-controls="step-five" aria-selected="false">Page Five</a>
                            </li>
                            <li class="nav-item">
                                <a class="save nav-link" id="step-six-tab" data-toggle="pill" href="#step-six"
                                   role="tab" aria-controls="step-six" aria-selected="false">Page Six</a>
                            </li>
                            <li class="nav-item">
                                <a class="save nav-link" id="step-seven-tab" data-toggle="pill" href="#step-seven"
                                   role="tab" aria-controls="step-seven" aria-selected="false">Page Seven</a>
                            </li>
                            <li class="nav-item">
                                <a class="save nav-link" id="step-eight-tab" data-toggle="pill" href="#step-eight"
                                   role="tab" aria-controls="step-eight" aria-selected="false">Page Eight</a>
                            </li>
                            <li class="nav-item">
                                <a class="save nav-link" id="step-nine-tab" data-toggle="pill" href="#step-nine"
                                   role="tab" aria-controls="step-nine" aria-selected="false">Page Nine</a>
                            </li>

                        </ul>
                        <div class="tab-content" id="pills-tabContent">


                            <div class="tab-pane fade show active" id="step-one" role="tabpanel" aria-labelledby="step-one-tab">

                                <div class="card">


                                    <div class="card-body">
                                        <h3 class="fs-subtitle monts">Research Project Title</h3>

                                        <textarea asp-for="ApplicantSubmission.Title" id="txtTitle" type="text" min="0" maxlength="300" rows="1" readonly></textarea>
                                        @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="title">300</span> character(s) left</div>*@
                                        <br />

                                            <h3 class="fs-subtitle monts text-left">Proposed Budget &#8358 @string.Format("{0:0,0.00}", Model.Proposal.SubmittedBudget)</h3>
  
                                        <br />
                                        <h2 class="fs-title">Executive Summary</h2><hr>
                                        <textarea asp-for="ApplicantSubmission.ExecutiveSummary" id="txtExecutiveSummary" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                        <hr>
                                        <div class="ppx-4 text-right mt-3">
                                            <button id="step-one-next" type="button" class="btn btn-outline-success">Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="step-two" role="tabpanel" aria-labelledby="step-two-tab">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="fs-title monts">General Background of Research Project</h2><hr>
                                        <h3 class="fs-subtitle monts">Introduction (Provide a general background and justification leading to the research project)</h3>
                                        <textarea asp-for="ApplicantSubmission.IntroductionBackground" id="txtBackgroundIntro" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <h3 class="fs-subtitle monts">Aims, General and Specific Objectives of the Research Project</h3>
                                        <textarea asp-for="ApplicantSubmission.Aims" id="txtAim" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                        <br />
                                        <h3 class="fs-subtitle monts">Statement of the Problem (Why does this research need to be conducted?)</h3>
                                        <textarea asp-for="ApplicantSubmission.StatementOfProblem" id="txtStatement" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <br />
                                        <hr>
                                        <div class="row justify-content-between mt-3 px-4">
                                            <button id="step-two-prev" type="button" class="btn btn-outline-success">Previous</button>
                                            <button id="step-two-next" type="button" class="btn btn-outline-success">Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="step-three" role="tabpanel" aria-labelledby="step-three-tab">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="fs-title monts">General Background of Research Project (cont.)</h2><hr>
                                        <h3 class="fs-subtitle monts">Conceptual framework of the study (Clearly identify and define the central concepts or ideas underlying the study)</h3>
                                        <textarea asp-for="ApplicantSubmission.ConceptualFramework" id="txtConceptual" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <br />
                                        <h3 class="fs-subtitle monts">Project Goals (Provide a summary of the short and long term goals of the project. Indicate clearly the problems the project will help to address)</h3>
                                        <textarea asp-for="ApplicantSubmission.ProjectGoal" id="txtProjectGoal" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <h3 class="fs-subtitle monts">Project Impact (Provide information to the long term impact of the project within the context of social, economic and technological benefits)</h3>
                                        <textarea asp-for="ApplicantSubmission.ProjectImpact" id="txtProjectImpact" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <br />
                                        <hr>
                                        <div class="row justify-content-between mt-3 px-4">
                                            <button id="step-three-prev" type="button" class="btn btn-outline-success">Previous</button>
                                            <button id="step-three-next" type="button" class="btn btn-outline-success">Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="step-four" role="tabpanel" aria-labelledby="step-four-tab">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="fs-title monts">Research Details</h2><hr>
                                        <h3 class="fs-subtitle monts">Literature Review</h3>
                                        <textarea asp-for="ApplicantSubmission.LiteratureReview" id="txtLiteratureReview" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <h3 class="fs-subtitle">Research Methodology (Giving detailed methodology of the proposed research project)</h3>
                                        <textarea asp-for="ApplicantSubmission.ResearchMethodoly" id="txtResearchMethodology" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                        <br />
                                        <h3 class="fs-subtitle monts">Project Activities and Output (Giving details of expected output from the research grant i.e. results to be obtained/produced within the time frame of the project)</h3>
                                        <textarea asp-for="ApplicantSubmission.ProjectActivities" id="txtProjectActivities" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <br />
                                        <hr>
                                        <div class="row justify-content-between mt-3 px-4">
                                            <button id="step-four-prev" type="button" class="btn btn-outline-success">Previous</button>
                                            <button id="step-four-next" type="button" class="btn btn-outline-success">Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="step-five" role="tabpanel" aria-labelledby="step-five-tab">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="fs-title monts">Research Details (cont.)</h2><hr>
                                        <h3 class="fs-subtitle monts">Time frame (Provide a time-line for the major activities of the project)</h3>
                                        <textarea asp-for="ApplicantSubmission.TimeFrame" id="txtTimeFrame" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <h3 class="fs-subtitle monts">Activity Indicators (Clearly state the indicators of each major activity of the project)</h3>
                                        <textarea asp-for="ApplicantSubmission.ActivityIndicator" id="txtActivityIndicator" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <h3 class="fs-subtitle monts">The Study Location</h3>
                                        <textarea asp-for="ApplicantSubmission.StudyLocation" id="txtStudyLocation" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <br />
                                        <hr>
                                        <div class="row justify-content-between mt-3 px-4">
                                            <button id="step-five-prev" type="button" class="btn btn-outline-success">Previous</button>
                                            <button id="step-five-next" type="button" class="btn btn-outline-success">Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="step-six" role="tabpanel" aria-labelledby="step-six-tab">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="fs-title monts">Research Details (cont.)</h2><hr>
                                        <h3 class="fs-subtitle monts">Data Management and Analysis</h3>
                                        <textarea asp-for="ApplicantSubmission.DataManagement" id="txtDataManagement" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <h3 class="fs-subtitle monts">Ethical and Environmental Considerations</h3>
                                        <textarea asp-for="ApplicantSubmission.Ethical" id="txtEthical" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <h3 class="fs-subtitle monts">Monitoring and Evaluation Mechanisms you will adopt in achieving the stated objectives</h3>
                                        <textarea asp-for="ApplicantSubmission.Monitoring" id="txtMonitoring" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <h3 class="fs-subtitle monts">Dissemination Strategies (Indicate the steps you will take to ensure the project outcomes are brought to the attention of stakeholders)</h3>
                                        <textarea asp-for="ApplicantSubmission.DisseminationStrategies" id="txtStrategies" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <br />
                                        <hr>
                                        <div class="row justify-content-between mt-3 px-4">
                                            <button id="step-six-prev" type="button" class="btn btn-outline-success">Previous</button>
                                            <button id="step-six-next" type="button" class="btn btn-outline-success">Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="step-seven" role="tabpanel" aria-labelledby="step-seven-tab">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="fs-title monts">Research Team</h2><hr>
                                                                                     <h3 class="fs-subtitle monts">Research Work to Date (List relevant team publications. You may also list a maximum of 3 relevant on-going research works)</h3>
                                        <textarea asp-for="ApplicantSubmission.ResearchWorkToDate" id="txtResearchWorkToDate" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <h3 class="fs-subtitle monts">Previous Research Grants</h3>
                                        <textarea asp-for="ApplicantSubmission.PreviousGrant" id="txtPreviousGrant" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <h3 class="fs-subtitle monts">Group Research (For group research, applicants are encouraged to consider gender, age and discipline. Provide below details about the roles and responsibilities of each member)</h3>
                                        <textarea asp-for="ApplicantSubmission.GroupResearch" id="txtGroupResearch" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <br />
                                        <hr>
                                        <div class="row justify-content-between mt-3 px-4">
                                            <button id="step-seven-prev" type="button" class="btn btn-outline-success">Previous</button>
                                            <button id="step-seven-next" type="button" class="btn btn-outline-success">Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="step-eight" role="tabpanel" aria-labelledby="step-eight-tab">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="fs-title monts">Financial Aspects of the Research Project Implementation</h2><hr>
                                        <h3 class="fs-subtitle monts">Budget Justification</h3>
                                        <textarea asp-for="ApplicantSubmission.BudgetJustification" id="txtBudgetJustification" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <h3 class="fs-subtitle monts">Additional Source(s) of Funding (Provide full details of other source(s) of support and the amount)</h3>
                                        <textarea asp-for="ApplicantSubmission.AdditionalSources" id="txtAdditionalSource" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <br />
                                        <hr>
                                        <div class="row justify-content-between mt-3 px-4">
                                            <button id="step-eight-prev" type="button" class="btn btn-outline-success">Previous</button>
                                            <button id="step-eight-next" type="button" class="btn btn-outline-success">Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="step-nine" role="tabpanel" aria-labelledby="step-nine-tab">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="fs-title monts">Financial Aspects of the Research Project Implementation</h2><hr>
                                        <div class="container mt-5">
                                            <div class="col-md-12">



                                                <div class="table-responsive">
                                                    <table id="othersTable" class="table table-striped table-hover table-bordered">
                                                        <thead class="text-center">
                                                            <tr class="th-bg">
                                                                <th>SN</th>
                                                                <th>Description of Item</th>
                                                                <th colspan="3">Expected From</th>
                                                                <th>Total (&#8358;)</th>
                                                            </tr>

                                                            <tr class="th-bg2">
                                                                <th></th>
                                                                <th></th>
                                                                <th>TETFund and NRF (&#8358;)</th>
                                                                <th>Institution (&#8358;)</th>
                                                                <th>Other (&#8358;)</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td colspan="6" style="font-weight:900;">PERSONNEL COSTS/ALLOWANCE </td>


                                                            </tr>
                                                            @for (int i = 0; i < Model.BudgetDetailsSectionOne.Count; i++)
                                                            {
                                                                var sn = i + 1;
                                                                <tr>

                                                                    <td>@sn</td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionOne[i].Description)

                                                                    </td>
                                                                    <td>

                                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne[i].TetFundAmount)
                                                                    </td>
                                                                    <td>

                                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne[i].InstitutionFundingAmount)
                                                                    </td>
                                                                    <td>

                                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne[i].OtherFunding)
                                                                    </td>
                                                                    <td>

                                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne[i].Total)
                                                                    </td>
                                                                </tr>
                                                            }
                                                            <tr style="font-weight:600">
                                                                <td colspan="2">Sub-Total</td>
                                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne.Sum(g => g.TetFundAmount))</td>
                                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne.Sum(g => g.InstitutionFundingAmount))</td>
                                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne.Sum(g => g.OtherFunding))</td>
                                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne.Sum(g => g.Total))</td>
                                                            </tr>
                                                            <tr class="monts" style="font-weight:600">
                                                                <td colspan="2">Percentage </td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td colspan="2">@Model.SectionPercentage1 %</td>
                                                            </tr>


                                                            <tr>
                                                                <td colspan="6" style="font-weight:900;">EQUIPMENT (LIST & SPECIFY) </td>


                                                            </tr>
                                                            @for (int i = 0; i < Model.BudgetDetailsSectionTwo.Count; i++)
                                                            {
                                                                var sn = i + 1;
                                                                <tr>

                                                                    <td>@sn</td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionTwo[i].Description)

                                                                    </td>
                                                                    <td>

                                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo[i].TetFundAmount)
                                                                    </td>
                                                                    <td>

                                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo[i].InstitutionFundingAmount)
                                                                    </td>
                                                                    <td>

                                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo[i].OtherFunding)
                                                                    </td>
                                                                    <td>

                                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo[i].Total)
                                                                    </td>
                                                                </tr>
                                                            }
                                                            <tr style="font-weight:600">
                                                                <td colspan="2">Sub-Total</td>
                                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo.Sum(g => g.TetFundAmount))</td>
                                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo.Sum(g => g.InstitutionFundingAmount))</td>
                                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo.Sum(g => g.OtherFunding))</td>
                                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo.Sum(g => g.Total))</td>
                                                            </tr>
                                                            <tr class="monts" style="font-weight:600">
                                                                <td colspan="2">Percentage </td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td colspan="2">@Model.SectionPercentage2 %</td>
                                                            </tr>

                                                            <tr>
                                                                <td colspan="6" style="font-weight:900;">SUPPLIES/CONSUMABLES </td>


                                                            </tr>
                                                            @for (int i = 0; i < Model.BudgetDetailsSectionThree.Count; i++)
                                                            {
                                                                var sn = i + 1;
                                                                <tr>

                                                                    <td>@sn</td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionThree[i].Description)

                                                                    </td>
                                                                    <td>

                                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree[i].TetFundAmount)
                                                                    </td>
                                                                    <td>

                                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree[i].InstitutionFundingAmount)
                                                                    </td>
                                                                    <td>

                                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree[i].OtherFunding)
                                                                    </td>
                                                                    <td>

                                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree[i].Total)
                                                                    </td>
                                                                </tr>
                                                            }
                                                            <tr style="font-weight:600">
                                                                <td colspan="2">Sub-Total</td>
                                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree.Sum(g => g.TetFundAmount))</td>
                                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree.Sum(g => g.InstitutionFundingAmount))</td>
                                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree.Sum(g => g.OtherFunding))</td>
                                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree.Sum(g => g.Total))</td>
                                                            </tr>
                                                            <tr class="monts" style="font-weight:600">
                                                                <td colspan="2">Percentage </td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td>@Model.SectionPercentage3 %</td>
                                                            </tr>

                                                            <tr>
                                                                <td colspan="6" style="font-weight:900;">DATA COLLECTION & ANALYSIS</td>


                                                            </tr>
                                                            @for (int i = 0; i < Model.BudgetDetailsSectionFour.Count; i++)
                                                            {
                                                                var sn = i + 1;
                                                                <tr>

                                                                    <td>@sn</td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionFour[i].Description)

                                                                    </td>
                                                                    <td>

                                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour[i].TetFundAmount)
                                                                    </td>
                                                                    <td>

                                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour[i].InstitutionFundingAmount)
                                                                    </td>
                                                                    <td>

                                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour[i].OtherFunding)
                                                                    </td>
                                                                    <td>

                                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour[i].Total)
                                                                    </td>
                                                                </tr>
                                                            }
                                                            <tr style="font-weight:600">
                                                                <td colspan="2">Sub-Total</td>
                                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour.Sum(g => g.TetFundAmount))</td>
                                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour.Sum(g => g.InstitutionFundingAmount))</td>
                                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour.Sum(g => g.OtherFunding))</td>
                                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour.Sum(g => g.Total))</td>
                                                            </tr>
                                                            <tr class="monts" style="font-weight:600">
                                                                <td colspan="2">Percentage </td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td colspan="2">@Model.SectionPercentage4 %</td>
                                                            </tr>

                                                            <tr>
                                                                <td colspan="6" style="font-weight:900;">TRAVEL</td>


                                                            </tr>
                                                            @for (int i = 0; i < Model.BudgetDetailsSectionFive.Count; i++)
                                                            {
                                                                var sn = i + 1;
                                                                <tr>

                                                                    <td>@sn</td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionFive[i].Description)

                                                                    </td>
                                                                    <td>

                                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive[i].TetFundAmount)
                                                                    </td>
                                                                    <td>

                                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive[i].InstitutionFundingAmount)
                                                                    </td>
                                                                    <td>

                                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive[i].OtherFunding)
                                                                    </td>
                                                                    <td>

                                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive[i].Total)
                                                                    </td>
                                                                </tr>
                                                            }
                                                            <tr style="font-weight:600">
                                                                <td colspan="2">Sub-Total</td>
                                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive.Sum(g => g.TetFundAmount))</td>
                                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive.Sum(g => g.InstitutionFundingAmount))</td>
                                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive.Sum(g => g.OtherFunding))</td>
                                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive.Sum(g => g.Total))</td>
                                                            </tr>
                                                            <tr class="monts" style="font-weight:600">
                                                                <td colspan="2">Percentage </td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td colspan="2">@Model.SectionPercentage5 %</td>
                                                            </tr>

                                                            <tr>
                                                                <td colspan="6" style="font-weight:900;">DISSEMINATION </td>


                                                            </tr>
                                                            @for (int i = 0; i < Model.BudgetDetailsSectionSix.Count; i++)
                                                            {
                                                                var sn = i + 1;
                                                                <tr>

                                                                    <td>@sn</td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionSix[i].Description)

                                                                    </td>
                                                                    <td>

                                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix[i].TetFundAmount)
                                                                    </td>
                                                                    <td>

                                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix[i].InstitutionFundingAmount)
                                                                    </td>
                                                                    <td>

                                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix[i].OtherFunding)
                                                                    </td>
                                                                    <td>

                                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix[i].Total)
                                                                    </td>
                                                                </tr>
                                                            }
                                                            <tr style="font-weight:600">
                                                                <td colspan="2">Sub-Total</td>
                                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix.Sum(g => g.TetFundAmount))</td>
                                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix.Sum(g => g.InstitutionFundingAmount))</td>
                                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix.Sum(g => g.OtherFunding))</td>
                                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix.Sum(g => g.Total))</td>
                                                            </tr>
                                                            <tr class="monts" style="font-weight:600">
                                                                <td colspan="2">Percentage </td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td colspan="2">@Model.SectionPercentage6 %</td>
                                                            </tr>

                                                            <tr>
                                                                <td colspan="6" style="font-weight:900;">OTHERS/MISCELLANEOUS  </td>


                                                            </tr>
                                                            @for (int i = 0; i < Model.BudgetDetailsSectionSeven.Count; i++)
                                                            {
                                                                var sn = i + 1;
                                                                <tr>

                                                                    <td>@sn</td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionSeven[i].Description)

                                                                    </td>
                                                                    <td>

                                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven[i].TetFundAmount)
                                                                    </td>
                                                                    <td>

                                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven[i].InstitutionFundingAmount)
                                                                    </td>
                                                                    <td>

                                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven[i].OtherFunding)
                                                                    </td>
                                                                    <td>

                                                                        ₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven[i].Total)
                                                                    </td>
                                                                </tr>
                                                            }
                                                            <tr style="font-weight:600">
                                                                <td colspan="2">Sub-Total</td>
                                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven.Sum(g => g.TetFundAmount))</td>
                                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven.Sum(g => g.InstitutionFundingAmount))</td>
                                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven.Sum(g => g.OtherFunding))</td>
                                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven.Sum(g => g.Total))</td>
                                                            </tr>
                                                            <tr class="monts" style="font-weight:600">
                                                                <td colspan="2">Percentage </td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td colspan="2">@Model.SectionPercentage7 %</td>
                                                            </tr>
                                                            <tr style="font-weight:900">
                                                                <td colspan="2" style="font-style:italic;">GRAND-TOTAL</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td>₦ @string.Format("{0:0,0.00}", Model.BudgetDetails.Sum(g => g.Total))</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>


                                            </div>

                                        </div>

                                        <br />
                                        <br />
                                        <hr>
                                        <div class="row justify-content-between mt-3 px-4">
                                            <button id="step-nine-prev" type="button" class="btn btn-outline-success">
                                                Previous
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!------------------------New Tab End-------------------->

                </div>
            </form>
        </div>
    </section>
    <script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="~/css/TabStyle.css" rel="stylesheet" />

    @section Scripts{
        <script type="text/javascript">
        @** new tab system *@
        $('#step-one-next').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-two-tab').tab('show')
        })


        $('#step-two-prev').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-one-tab').tab('show')
        })

        $('#step-two-next').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-three-tab').tab('show')
        })
        $('#step-three-next').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-four-tab').tab('show')
        })
        $('#step-three-prev').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-two-tab').tab('show')
        })

        $('#step-four-prev').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-three-tab').tab('show')
        })
        $('#step-four-next').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-five-tab').tab('show')
        })
        $('#step-five-prev').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-four-tab').tab('show')
        })
        $('#step-five-next').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-six-tab').tab('show')
        })
        $('#step-six-prev').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-five-tab').tab('show')
        })
        $('#step-six-next').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-seven-tab').tab('show')
        })
        $('#step-seven-prev').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-six-tab').tab('show')
        })
        $('#step-seven-next').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-eight-tab').tab('show')
        })
        $('#step-eight-prev').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-seven-tab').tab('show')
        })
        $('#step-eight-next').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-nine-tab').tab('show')
        })
        $('#step-nine-prev').on('click', function (e) {
            e.preventDefault()
            TopFocus();
            $('#step-eight-tab').tab('show')
        })
            //Focus on top page
            function TopFocus() {
                window.scrollTo(0, 0);
            }
        </script>
    }
