﻿@model Grant.Web.Models.ViewModels.UserViewModel
@{
    ViewData["Title"] = "SubmitProposal";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<section class="content-header">
    @if (@TempData["Message"] != null)
            {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-sm-8">
                <!-- Horizontal Form -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Submit Proposal</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form asp-action="SubmitProposal" asp-antiforgery="true" enctype="multipart/form-data" class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="ApplicantThematic.Id" />

                        <div class="box-body">

                            <div class="box-body">
                                <div class="form-group">
                                    <label asp-for="ApplicantThematic.Title" class="col-sm-12"> Title</label>
                                    <div class="col-sm-12">
                                        <input asp-for="ApplicantThematic.Title" class="form-control" disabled />
                                        <span asp-validation-for="ApplicantThematic.Title" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Category.Name" class="col-sm-12"> Category</label>
                                    <div class="col-sm-12">
                                        <input asp-for="Category.Name" class="form-control" disabled />
                                        <span asp-validation-for="Category.Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Theme.Name" class="col-sm-12"> Thematic Area</label>
                                    <div class="col-sm-12">
                                        <input asp-for="Theme.Name" class="form-control" disabled />
                                        <span asp-validation-for="Theme.Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Proposal.SubmittedBudget" class="col-sm-12"> Proposed Budget &#8358</label>
                                    <div class="col-sm-12">
                                        <input asp-for="Proposal.SubmittedBudget" class="form-control" required />
                                        <span asp-validation-for="Proposal.SubmittedBudget" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="UploadFiles" class="col-sm-12">PDF File</label>
                                    <div class="col-sm-12">
                                        <input type="file" asp-for="UploadFile" />
                                    </div>
                                </div>



                            </div>



                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">

                            <button type="submit" class="btn btn-success pull-right">Save</button>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
                <!-- /.box -->

            </div>

        </div>
     </div>
</section>
