﻿@model Grant.Web.Models.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Concept Note";
    Layout = "~/Views/Shared/_UserLayout.cshtml";

}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @*<div class="pg-head">
        <h3 class="monts text-center Leftalign" style="font-weight: 300; margin-top: 10px;text-align:left">Submit Concept Note</h3>
    </div>*@

    @if (@TempData["Message"] != null)
            {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>

<section class="content">
    @*<div class="container" style="margin-bottom: 30px">

        <div class="">
            
            <div class="col-md-12">*@



                <div class="ct-page-title">
                    <h1 class="ct-title" id="content">Concept Note <span class="text-muted text-sm">Application </span></h1>
                    <hr class="mt-0 mb-2" />
                </div>
                <div class="row justify-content-center" style="margin-bottom: 30px">

                    <div class="col-md-12">

                        <div class="card animated fadeInUp delay-1s" style="">

                            <div class="card-body">
                                <div class="" style="margin-left: 3px !important; margin-bottom: 20px">


                                    <!-- Horizontal Form -->
                                    <div class="box box-danger" style="border-top-color: #fff; border-radius: 0px">

                                        <div class="box-body">



                                            <!-- Horizontal Form -->
                                            <!-- /.box-header -->
                                            <!-- form start -->
                                            <!-- /.box-body -->
                                            @if (!Model.HideButton)
                                            {
                                                if (Model.ApplicantThematic != null && Model.ApplicantThematic.Id > 0)
                                                {
                                                    @Html.HiddenFor(model => model.ApplicantThematic.Theme.Id)
                                                }

                                                <form class="box box-danger" style="border-top-color: #fff; border-radius: 0" asp-action="SubmitConceptNote" asp-antiforgery="true" enctype="multipart/form-data" class="form-horizontal">
                                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                    <div class="box-body">

                                                        <div class="box-body">
                                                            <div class="form-group">
                                                                <label asp-for="Title" class="col-sm-12 ">Concept Note Title</label>
                                                                <div class="col-sm-12">
                                                                    <input asp-for="ApplicantThematic.Title" class="form-control " required />
                                                                    <span asp-validation-for="ApplicantThematic.Title" class="text-danger"></span>
                                                                </div>
                                                            </div>


                                                            <div class="form-group">
                                                                <label asp-for="CategoryId" , class="col-sm-12 ">Category</label>
                                                                <div class="col-sm-12">
                                                                    <select id="CategoryId" asp-for="ApplicantThematic.Theme.Category.Id" class="form-control"
                                                                            asp-items=@Model.CategoryNameSL required>
                                                                        <option value="">-- Select Category --</option>
                                                                    </select>
                                                                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="col-sm-12 ">Thematic Area</label>
                                                                <div class="col-sm-12">
                                                                    <select asp-for=ThemeId class="form-control" id="ThemeId" required
                                                                            name="ThemeId" data-url="@Url.Action("GetTheme")"></select>
                                                                    <span asp-validation-for="ThemeId" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-12 ">Estimated Budget &#8358;</label>
                                                                <div class="col-sm-12">
                                                                    <input asp-for="ConceptNote.ConceptNoteSubmittedBudget" type="number" class="form-control" id="budgettxt" />
                                                                    <span asp-validation-for="ConceptNote.ConceptNoteSubmittedBudget" class="text-danger"></span>
                                                                </div>
                                                            </div>




                                                        </div>



                                                    </div>
                                                    <div class="box-footer">

                                                        <button type="submit" class="btn btn-success pull-right">Save and Continue</button>
                                                    </div>
                                                </form>

                                            }
                                            else
                                            {
                                                <div class="box-body">

                                                    <div class="box-body">
                                                        <div class="form-group">
                                                            <label asp-for="Title" class="col-sm-12 ">Concept Note Title</label>
                                                            <div class="col-sm-12">
                                                                <input asp-for="ApplicantThematic.Title" class="form-control" readonly />
                                                                <span asp-validation-for="ApplicantThematic.Title" class="text-danger"></span>
                                                            </div>
                                                        </div>


                                                        <div class="form-group">
                                                            <label asp-for="CategoryId" , class="col-sm-12 ">Category</label>
                                                            <div class="col-sm-12">
                                                                <input asp-for="ApplicantThematic.Theme.Category.Name" class="form-control" readonly />

                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-12 ">Thematic Area</label>
                                                            <div class="col-sm-12">
                                                                <input asp-for="ApplicantThematic.Theme.Name" class="form-control" readonly />
                                                            </div>


                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-12 ">Estimated Budget</label>
                                                            <div class="col-sm-12">
                                                                <input asp-for="ConceptNote.ConceptNoteSubmittedBudget" class="form-control" />
                                                                <span asp-validation-for="ConceptNote.ConceptNoteSubmittedBudget" class="text-danger"></span>
                                                            </div>
                                                        </div>


                                                        <div class="box-footer">
                                                            <a asp-action="ConceptNotePreview" asp-controller="Application" class="btn btn-success pull-right">Preview Concept Note</a>
                                                        </div>
                                                    </div>


                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div></div>
                    </div>

</section>
<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
@section Scripts{ 
<script>
    $(document).ready(function () {

        var v = $('#CategoryId').val();
        var preselectedTheme = $('#ApplicantThematic_Theme_Id').val();
        var url = $("#ThemeId").data("url") + '?value=' + v;
        $.getJSON(url, function (themecategoryList) {
            //$("#ThemeId").empty();

            
            $.each(themecategoryList, function (i, theme) {
                $("#ThemeId").append('<option value="' + theme.value + '">' +
                    theme.text + '</option>');
            });
            if (preselectedTheme > 0) {
                $('#ThemeId').val(preselectedTheme);
            }



        });
    $('#txtSummary').on('keyup', function (e) {

                var max = 1500;
                var words = e.target.value.split(" ").length;
                if (words > 1500) {
                    var trimmed = e.target.value.split(" ", max).join(" ");
                    $(this).val(trimmed + " ");
                    $('#summary').html(word);
                }
                else {
                    var word = max - words;
                    $('#summary').html(word);

                }


            });

    $('#txtSummary').on('paste', function (e) {

     var max = 1500;
                var words = e.target.value.split(" ").length;
                if (words > 1500) {
                    var trimmed = e.target.value.split(" ", max).join(" ");
                    $(this).val(trimmed + " ");
                    $('#summary').html(word);
                }
                else {
                    var word = max - words;
                    $('#summary').html(word);

                }
    })
        $('#budgettxt').keyup(function (e) {
            //skip arrow key
            if (e.which >= 37 && e.which <= 40)
                return;
            //format number
            $(this).val(function (index, value) {
                return value
                    .replace(/\D/g, "")
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            });
        });


    })
        $(function () {
            $("#CategoryId").change(function () {
                var v = $(this).val();
                var url = $("#ThemeId").data("url") + '?value=' + v;
                $.getJSON(url, function (themecategoryList) {
                    $("#ThemeId").empty();

                    $("#ThemeId").append('<option value="' + 0 + '">' +
                        '-- Select Thematic Area --' + '</option>');
                    $.each(themecategoryList, function (i, theme) {
                        $("#ThemeId").append('<option value="' + theme.value + '">' +
                            theme.text + '</option>');
                    });


                });

            })

    })
</script>
}


