﻿@model Grant.Web.Models.ViewModels.BulletinViewModel
@{
    ViewData["Title"] = "Create Bulletin Topic";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    <div class="pg-head">
        <h3 class="monts text-center" style="font-weight: 300; margin-top: 10px">Create Discussion Topic</h3>
    </div>

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>

<section class="content">
    <div class="container" style="margin-bottom: 30px">

        <div class="">

            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-danger" style="border-top-color: #fff; border-radius: 0">

                    <div class="box-body">
                     
                        <form asp-action="CreateBulletinTopic" asp-controller="BulletinBoard" method="POST" role="form" class="form-horizontal">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">


                                <label asp-for="BulletinTopic.Topic" class="col-sm-12">Discussion Topic</label>
                                    <div class="col-sm-12">
                                        <input asp-for="BulletinTopic.Topic" class="form-control" />
                                        <span asp-validation-for="BulletinTopic.Topic" class="text-danger"></span>
                                    </div>
                            </div>
                            <div class="box-footer">

                                <button type="submit" class="btn btn-success pull-right">Create Discussion Topic</button>
                            </div>
                        </form>
                    </div>


                </div>
            </div>


        </div>
    </div>
</section>

<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
