﻿@model Grant.Web.Models.ViewModels.BulletinViewModel
@{
    ViewData["Title"] = "Chat Board";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<style>
    body {
        font-family: Montserrat;
    }

    .bg-custom {
        background-color: #5FB9B0;
    }

    .message-box {
        margin-top: 40px;
        padding-left: 50px;
        padding-right: 50px
    }


    .recipient-msg {
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 30px;
        color: #fff;
        background: #00BFA5;
        padding: 1em;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin: 1em 5px;
        max-width: 60%;
        position: left;
    }


    .sender-msg {
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 30px;
        color: #000;
        background: #efe9ce;
        padding: 1em;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin: 1em 5px;
        max-width: 60%;
        text-align: right;
        right: 0px;
    }

    .msg-text {
        font-size: 15px;
    }

    .date-text {
        font-size: 11px;
        margin-bottom: 0px;
        text-align: right;
    }

    .jus-left {
        justify-content: end;
    }

    .push-right {
        margin-left: auto;
    }

    .message-input {
        background-color: #efe9ce;
        padding: 20px
    }

    .date {
        background-color: #92a6c6;
        padding: .7em;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin: 1em auto;
        border-radius: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-top: 0;
    }

        .date p {
            font-weight: 400;
            margin-bottom: 0;
            color: #fff;
            font-size: 14px;
        }
</style>
<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    <div class="pg-head">
        <h3 class="monts text-center" style="font-weight: 300; margin-top: 10px">Bulletin Board</h3>
    </div>

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>

<section class="content">
    <div class="container" style="margin-bottom: 30px">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-danger" style="border-top-color: #fff; border-radius: 0">

                @*<div class="box-body">*@
                @Html.HiddenFor(m => m.ChatTopicId )
                <div class="container-fluid bg-custom">
                    <div class="py-4 pl-3 text-light">
                        <h2 class="">@Model.BulletinTopic.Topic</h2>
                        <h4><i class="fa fa-user-circle"></i> @Model.Person.ApplicantFullName</h4>
                    </div>
                </div>

                <div class="message-box" id="message-box"></div>

                <div class="message-input">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2 pull-right">
                            <form class="send-msg-form" enctype="multipart/form-data">
                                <div class=" row mb-3">
                                    <div class="col-md-8">
                                        <textarea class="form-control" 
                                                  style="resize:none;" 
                                                  required 
                                                  placeholder="Enter message" 
                                                  aria-label="Recipient's username" 
                                                  aria-describedby="basic-addon2" 
                                                  name="Message"
                                                  id="responseMessage"></textarea>
                                    </div>
                                    <div class="col-md-1">
                                        <input type="file" 
                                               id="add-attachment" 
                                               class="btn btn-info" 
                                               
                                               name="AttachmentFile"
                                               style="display:none;" />

                                        <button type="button" class="btn btn-info" id="attachBtn"onclick="$('#add-attachment').trigger('click')">
                                            <i class="fa fa-paperclip"></i>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-danger" style="display:none" id="cancleAttachement">Remove</button>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" 
                                                class="btn btn-secondary" 
                                                id="basic-addon2">Send <i class="fa fa-paper-plane"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    let bulletinTopicId = 0;
    $(document).ready(function () {
        bulletinTopicId = $('#@Html.IdFor(m => m.ChatTopicId)').val();
        loadChat();

        $(".send-msg-form").on("submit", function (e) {
            e.preventDefault();
            
            let response = $('#responseMessage').val();
            if ((response != null || $("#add-attachment").val()!=null) && response != undefined) {
                let attachmentFile = $("#add-attachment");

                let url_path = attachmentFile.val() ? "@(Url.Action("SendMessage", "BulletinBoard"))" : "@(Url.Action("SendMessageWithoutAttachment", "BulletinBoard"))"
                let formData = new FormData(this);
                formData.append("bulletinId", bulletinTopicId);
                $('#basic-addon2').text("Sending...");
                $('#basic-addon2').attr('disabled',true);

                $.ajax({
                    url: url_path,
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function (result) {
                        console.log(result);
                        if (!result.isError) {
                            $('#cancleAttachement').hide();
                            $('#attachBtn').show();
                            loadChat(); $('#responseMessage').val('');
                        }
                    },
                    error: function (ex) {
                        alert('Failed to retrieve messages, refresh and try again');
                    }
                });
            }
        })

        //Validate image to make sure that file size criteria is met
        $("#add-attachment").on("change", function () {
            let validType = new RegExp('^.*\.(jpg|jpeg|png|gif|pdf|vnd.openxmlformats-officedocument.wordprocessingml.document|vnd.ms-excel|vnd.openxmlformats-officedocument.spreadsheetml.sheet)$');
            //let validType = new RegExp('(.*?)\.(jpg|jpeg|png|gif|pdf|DOC|docx|xls|xlsx)$');
            let fileType = this.files[0].type;

            if (this.files[0].size > 20000000) {
                alert("Please upload file less than 20MB. Thanks!!");
                $(this).val('');
                $('#cancleAttachement').hide();
                $('#attachBtn').show();
                
                
            }
            //validate against valid types
            if (!validType.test(fileType.toLowerCase())) {
                let fileTypeExt = fileType.split('/')[1];
                //let message = `'${fileTypeExt}' is invalid!! Only accepted types are: 'jpg', 'jpeg', 'png', 'gif', 'pdf','doc','docx','xls','xlsx'`;
                let message = `Invalid file format!! Acceptable file formats are: 'jpg', 'jpeg', 'png', 'gif', 'pdf','doc','docx','xls','xlsx'`;
                alert(message);
                $(this).val('');
                $('#cancleAttachement').hide();
                $('#attachBtn').show();
                
            }
            else {
                $('#attachBtn').hide();
                $('#cancleAttachement').show();
                
            }
        });
        $('#cancleAttachement').on('click', function () {
            
            $("#add-attachment").val('');
            $('#cancleAttachement').hide();
            $('#attachBtn').show();
            
        })
    })

    function loadChat() {
        if (bulletinTopicId > 0) {
             $.ajax({
                 type: 'POST',
                 url: '@Url.Action("AjaxLoadChatBoard", "BulletinBoard")', // we are calling json method
                 dataType: 'json',
                 data: { bulletinTopicId},
                 success: function (result) {
                     if (!result.isError) {
                         if (result.bulletinChatResponses && result.bulletinChatResponses.length > 0) {
                             let messageBox = $("#message-box");
                             messageBox.empty();//Clear all earlier content from the message box
                             let messageBoxContent = "";

                             //localStorage.setItem("Messages", JSON.stringify(result.bulletinChatResponses));
                             result.bulletinChatResponses.forEach(chatMessage => {

                                 if (!chatMessage.activeSender) {
                                     messageBoxContent += `<div class="recipient-msg">
                                            <h6>${chatMessage.sender}</h6>
                                            <p class="msg-text">
                                                ${chatMessage.response}
                                            </p>`;
                                     if (chatMessage.filePath && chatMessage.filePath !== "") {
                                         if (chatMessage.fileName != null) {
                                             var displayName = chatMessage.fileName.substring(0, 20) +"...";
                                         }
                                         messageBoxContent += `<a href='${chatMessage.filePath}' download='${chatMessage.fileName}' class='attachment-link'>${cdisplayName}</a>`;
                                     }
                                     messageBoxContent +=  `<p class="date-text">${chatMessage.dateSent}</p></div>`;
                                 }
                                 else {
                                     messageBoxContent += `<div class="sender-msg push-right">
                                                    <h6>${chatMessage.sender}</h6 >
                                                    <p class="msg-text">
                                                        ${chatMessage.response}
                                                    </p>`;

                                     if (chatMessage.filePath && chatMessage.filePath !== "") {
                                         if (chatMessage.fileName != null) {
                                             var displayName = chatMessage.fileName.substring(0, 20) + "...";
                                         }
                                         messageBoxContent += `<a href='${chatMessage.filePath}' download='${chatMessage.fileName}' class='attachment-link'>${displayName}</a>`;
                                     }
                                     messageBoxContent += `<p class="date-text">${chatMessage.dateSent}</p></div>`;
                                 }
                             });
                             $('#basic-addon2').text("Send");
                             $('#basic-addon2').attr('disabled', false);
                             $("#add-attachment").val('');
                             messageBox.html(messageBoxContent);
                         }
                     }
                 },
                 error: function (ex) {
                     alert('Failed to retrieve messages, refresh and try again');
                 }
             });
        }
               
        }
</script>