﻿@model Grant.Web.Models.ViewModels.BulletinViewModel
@{
    ViewData["Title"] = "All Active Topics";
    Layout = "~/Views/Shared/_UserLayout.cshtml";

}


<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    <div class="pg-head">
        <h3 class="monts text-center" style="font-weight: 300; margin-top: 10px">Active Discussion Topics</h3>
    </div>

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>

<section class="content">
    <div class="container" style="margin-bottom: 30px">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-danger" style="border-top-color: #fff; border-radius: 0">

                <div class="box-body">
                    <div class="table-responsive">
                        <table id="modelDataTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        S/N
                                    </th>
                                    <th>
                                        Author
                                    </th>
                                    <th>
                                        Topic
                                    </th>
                                    <th>
                                        Date Created
                                    </th>

                                    <th>
                                        Replies
                                    </th>
                                   
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int index = 0;}
                                @foreach (var item in Model.bulletinTopicLists)
                                {
                                    index += 1;
                                    <tr>
                                        <td>
                                            @index
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Author)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Topic)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DateCreated)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NumberOfResponse)
                                        </td>
                                        <td>
                                            <a asp-action="JoinBulletinBoard" asp-controller="BulletinBoard" class="btn btn-primary" asp-route-bulletinTopicId="@item.BulletinTopicId">Join</a>
                                        </td>
                                    

                                    </tr>
                                }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>