﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Activate Accessors";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: red">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }

</section>

<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Concept Notes <span class="text-muted text-sm">/ Activate Accessor(s) for distribution </span></h1>
        <hr class="mt-0 mb-2" />
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">

        <div class="col-md-12">

            <div class="card animated fadeInUp delay-1s" style="">

                <div class="card-body">
                    <div class="" style="margin-left: 3px !important; margin-bottom: 20px">


                        <!-- Horizontal Form -->
                        <div class="box box-danger" style="border-top-color: #fff; border-radius: 0px">

                            <div class="box-body">
                                <div class="table-responsive">
                                    <table id="modelDataTable" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>S/N</th>
                                                <th>
                                                    Title
                                                </th>
                                                <th>
                                                    Name
                                                </th>

                                                <th>
                                                    Email
                                                </th>
                                                <th>
                                                    Status
                                                </th>
                                                <th>
                                                    
                                                </th>




                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.AccessorActivationList.Count; i++)
                                            {
                                                var index = i + 1;

                                            <tr>
                                                <td>@index</td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => Model.AccessorActivationList[i].Reviewer.Title.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => Model.AccessorActivationList[i].Reviewer.Name)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => Model.AccessorActivationList[i].Reviewer.Email)
                                                </td>

                                                @if (Model.AccessorActivationList[i].Active)
                                                {
                                                    <td>
                                                        Active
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" checked="checked" id="clickId_@Model.AccessorActivationList[i].Reviewer.Id" onclick="checkButtonClick(@Model.AccessorActivationList[i].Reviewer.Id)" />
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        Not-Active
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" id="clickId_@Model.AccessorActivationList[i].Reviewer.Id" onclick="checkButtonClick(@Model.AccessorActivationList[i].Reviewer.Id)" />
                                                    </td>
                                                }



                                            </tr>
                                            }

                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="box-footer">
                        <div class="row justify-content-between mt-3 px-4">
                            <button onclick="goBack()" type="button" class="save btn btn-outline-success">Back</button>
                            <button id="save" type="button" class="save btn btn-outline-success">Save</button>
                        </div>
                        
                    </div>



                </div>

            </div>

        </div>

    </div>


</section>
<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
@section Scripts{
    <script>
        let reviewerArray = [];
        let clickObj = {};
        $(document).ready(function () {
            reviewerArray = JSON.parse(localStorage.getItem("array")) || [];
            $('#save').on('click', function () {
                if (reviewerArray.length > 0) {
                     $('#save').attr('disabled', true);
                    $('#save').text("Saving...");
                    let type = 1;
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SaveActivation", "AdminHome")', // we are calling json method
                    dataType: 'json',
                    data: { reviewerArray, type },
                    success: function (result) {
                        if (!result.isError && result.message != null) {
                            alert(result.message);
                            localStorage.setItem("array", '[]');
                            reviewerArray = '[]';
                            clickObj = '{}';
                            window.location.reload(true);
                        }

                    },
                    error: function (ex) {
                        $('#save').attr('disabled', false);
                        $('#save').text("Save");
                        alert('Failed to Open Theme.' + ex);
                    }
                });
                }
                else {
                    alert("You have not made any change yet");
                    return;
                }
               
        })
    })
        function checkButtonClick(e) {
            let reviewerId = e;
            var status = $(`#clickId_${e}`).prop("checked");
            reviewerArray = JSON.parse(localStorage.getItem("array")) || [];
            let existingId = reviewerArray.find(i => i.Id == reviewerId);
            if (existingId) {
                reviewerArray = $.grep(reviewerArray, function (value) {
                    return value != existingId;
                })

                clickObj = {
                    Id: reviewerId,
                    Status: status,

                }
                reviewerArray.push(clickObj);
                clickObj = {};
                
            }
            else {
                clickObj = {
                    Id: reviewerId,
                    Status: status,
                    
                }
                reviewerArray.push(clickObj);
                clickObj = {};
            }
            //reset the localStorage
            localStorage.setItem("array", JSON.stringify(reviewerArray));
        }
        //go back
        function goBack() {
            window.history.back()
        }
    </script>
}
