﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Add Institution";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    <div class="pg-head">
        <h3 class="monts text-center" style="font-weight: 300; margin-top: 10px">Institution / <span class="small">Add Institution</span></h3>
    </div>

    @if (@TempData["Message"] != null)
            {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>

<section class="content">
    <div class="container" style="margin-bottom: 30px">

        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-danger" style="border-top-color: #fff; border-radius: 0">
                <div class="box-header with-border">
                    <h4 class="box-title">ADD INSTITUTION</h4>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <!-- form start -->
                        <form asp-action="SaveInstitution" asp-antiforgery="true" enctype="multipart/form-data" class="form-horizontal">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="box-body">

                                <div class="box-body">
                                    <div class="form-group">


                                        <label asp-for="InstitutionCategory.Id" class="col-sm-12">Higher Education Sector</label>
                                        <div class="col-sm-12">
                                            <select asp-for=InstitutionCategory.Id class="form-control"
                                                    asp-items=Model.InstitutionCategoryNameSL required>
                                                <option value="">-- Select Higher Education Sector --</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">


                                        <label asp-for="State.Id" class="col-sm-12">State</label>
                                        <div class="col-sm-12">
                                            <select asp-for=State.Id class="form-control"
                                                    asp-items=Model.StateNameSL required>
                                                <option value="">-- Select State --</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">


                                        <label asp-for="isPublic" class="col-sm-12">Is Public Institution?</label>
                                        <div class="col-sm-12">
                                            <input asp-for="isPublic" class="" type="checkbox" />

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Institution.Name" class="col-sm-12">Name of Institution</label>
                                        <div class="col-sm-12">
                                            <input asp-for="Institution.Name" class="form-control" />
                                            <span asp-validation-for="Institution.Name" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>


                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">

                                <button type="submit" class="btn btn-success pull-right">Save</button>
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.box -->

        </div>
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-danger" style="border-top-color: #fff; border-radius: 0">
                <div class="box-header with-border">
                    <h4 class="box-title">INSTITUTIONS</h4>
                </div>
                <div class="row">
                    
                    <div class="col-md-12">
                        <div class="box-body">
                            <div class="table-responsive">
                                <table id="modelDataTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                Institution Name
                                            </th>
                                            <th>
                                                Education Sector
                                            </th>
                                            <th>
                                                Public
                                            </th>
                                            <th>
                                                State
                                            </th>
                                            <th>
                                                Active
                                            </th>
                                            <th>
                                                
                                            </th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.InstitutionList)
                                        {
                                            var institutionId = item.Id;
                                            <tr>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.InstitutionCategory.Name)
                                                </td>
                                          
                                                    @if (item.IsPublic)
                                                    {
                                                        
                                                        <td>
                                                            Public
                                                            </td>

                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            Private
                                                        </td>

                                                    }
                                               
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.State.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Active)
                                                </td>
                                                <td>
                                                    <Button class="btn btn-primary" onclick="assignAccessor(@item.Id)">Edit</Button>
                                                </td>
                                            </tr>
                                        }

                                </table>
                            </div>

                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                    </div>
</section>

