﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Add User Guide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">
            <partial name="_Message" model="@TempData["Message"]"/>
        </div>
    }
</section>

<section class="content">
    <div class="ct-page-title">
        <h1 class="ct-title" id="content">User Guide  <span class="text-muted text-sm">/ Upload User Guide </span></h1>
        <hr class="mt-0 mb-2" />
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">

        <div class="col-md-8">
            <!-- Horizontal Form -->
            <div class="card animated fadeInUp delay-1s" style="">

                <div class="card-body">

                    <!-- form start -->
                    <form id="upload-user-guide" enctype="multipart/form-data" class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="box-body">
                            <div class="box-body">
                                <div class="form-group">
                                    <input type="file" accept="application/pdf" required id="GuideFile" name="GuideFile"/>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-12">User Category</label>
                                    <div class="col-sm-12">
                                        <select id="GuideCategory" name="GuideCategory" class="form-control"
                                                asp-items=Model.UserGuideList required>
                                        </select>
                                    </div>
                                </div>
                                <br />
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer text-center">
                            <button type="submit" class="btn btn-success pull-right" id="saveBtn">Save</button>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">
    //Validate image to make sure that file size criteria is met
    $("#GuideFile").on("change", function () {
        let validType = new RegExp('^.*\.(pdf)$');
        let fileType = this.files[0].type;

        if (this.files[0].size > 3000000) {
            alert("Please upload file less than 1MB. Thanks!!");
            $(this).val('');
        }
        //validate against valid types
        if (!validType.test(fileType.toLowerCase())) {
            let fileTypeExt = fileType.split('/')[1];
            let message = `'${fileTypeExt}' is invalid!! Only accepted type is: 'pdf'`;
            alert(message);
            $(this).val('');
        }
    });

    $("#upload-user-guide").on("submit", function(e){
        e.preventDefault();

        const GuideCategory = $("#GuideCategory").val();
        const GuideFile = $("#GuideFile").val();
        $('#saveBtn').text("...Uploading");
        $('#saveBtn').attr("disabled", true);
        let formData = new FormData(this);
        formData.append("GuideCategory", GuideCategory);

        $.ajax({
            url: "@Url.Action("AddUserGuide", "AdminHome")",
            type: "POST",
            processData: false,
            contentType: false,
            data: formData,
            success: function (result) {
                alert(result);
                document.querySelector("#upload-user-guide").reset();
                $('#saveBtn').text("Save");
                $('#saveBtn').attr("disabled", false);
            },
            error: function (ex) {
                alert('Failed to Upload User Guide.' + ex);
            }
        });

    });

</script>