﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "ApplicantProfile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    @if (@TempData["Message"] != null)
            {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>
<section class="content">
    <div class="container">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-danger">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Application Detail</h2>
                        </div>

                        <div class="col-lg-4">
                            <h3 class="box-title">Applicant</h3>
                        </div>
                        <div class="col-lg-4">
                            @if (Model.Approval != null)
                            {
                                <h3 class="box-title text-center btn btn-primary">CONCEPT NOTE APPROVED </h3>

                            }
                        </div>
                        <div class="col-lg-4 ">
                            @if (Model.Proposal != null)
                            {
                                <a style="margin-top:20px" asp-action="ViewApplicantProposal" asp-controller="AdminHome" class="btn btn-primary pull-right" asp-route-id="@Model.Proposal.ApplicantThemeId">View Proposal</a>

                            }
                        </div>
                    </div>

                </div>

                <div class="box-body">
                    <div class="form-group">
                        <label asp-for="Person.Name" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="Person.Name" class="form-control" disabled />
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Person.Email" class="col-sm-4 control-label"></label>
                                <div class="col-sm-8">
                                    <input asp-for="Person.Email" class="form-control" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Person.PhoneNo" class="col-sm-4 control-label"></label>
                                <div class="col-sm-8">
                                    <input asp-for="Person.PhoneNo" class="form-control" disabled />
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <br />
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Team Member/Co-Researcher </h3>
                </div>
                @foreach (Person team in Model.TeamMember)
                {
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Member Name</label>
                            <div class="col-sm-10">
                                <input asp-for="@team.Name" class="form-control" disabled />
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">E-mail</label>
                                    <div class="col-sm-8">
                                        <input asp-for="@team.Email" class="form-control" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label"> Phone No.</label>
                                    <div class="col-sm-8">
                                        <input asp-for="@team.PhoneNo" class="form-control" disabled />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                }

            </div>
        </div>
        <br />
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Assessor(s)</h3>
                </div>
                @if (Model.ReviewerAssignedScoreList.Count > 0)
                {
                    @foreach (var team in Model.ReviewerAssignedScoreList)
                {
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Assessor Name</label>
                                <div class="col-sm-10">
                                    <input asp-for="@team.Reviewer.Name" class="form-control" disabled />
                                </div>
                            </div>
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">E-mail</label>
                                        <div class="col-sm-8">
                                            <input asp-for="@team.Reviewer.Email" class="form-control" disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label"> Phone No.</label>
                                        <div class="col-sm-8">
                                            <input asp-for="@team.Score" class="form-control" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }

                }
                else
                {
                    <div class="box-body">
                        <h3 class="box-title">No Assessor Assigned Yet</h3>
                    </div>

                }


            </div>
        </div>
        <br />
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Concept Note Detail</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Assessor Name</label>
                        <div class="col-sm-10">
                            <input asp-for="ApplicantThematic.Title" class="form-control" disabled />
                        </div>
                    </div>
                    <br />
                    <br />
                    <input type="hidden" asp-for="ConceptNote.NoteUrl" id="conceptNoteUrl" />
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <button id="prebtn" class="btn btn-danger pull-left"> Previous</button>
                            </div>
                            <div class="col-lg-4 text-center">
                                <span class="page-info white-text text-center">
                                    Page <span id="page-num"> </span> of <span id="page-count"></span>
                                </span>

                            </div>
                            <div class="col-lg-4">
                                <button id="nxtbtn" class="btn btn-danger pull-right"> Next</button>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12 text-center" style="height:700px">
                        <canvas id="pdfrender" style="height:100%; "></canvas>
                    </div>

                </div>




            </div>

        </div>


    </div>
</section>
<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
<script src="~/PdfReader/pdf.js"></script>
<script>
    let pdfDoc = null,
        pageNum = 1,
        pageIsRendering = false,
        pageNumIsPending = null;

    const scale = 1,
        canvas = document.querySelector("#pdfrender"),
        ctx = canvas.getContext("2d");

    const url = $('#conceptNoteUrl').val();

    //var ctx = canvas[0].getContext("2d");

    pdfjsLib.getDocument(url)
        .promise
        .then((pdfDoc_) => {
            pdfDoc = pdfDoc_;
            //set the total number of pages in a span
            $("#page-count").text(pdfDoc.numPages);

            renderPage(pageNum);//init at one
        })
        .catch((err) => console.error(err));

    const renderPage = (num) => {
        pageIsRendering = true;//tell the app that a page is rendering
        //get the page
        pdfDoc.getPage(num)
            .then((page) => {
                //set the scale of the pdf
                const viewport = page.getViewport(scale);
                canvas.height = viewport.height;
                canvas.width = viewport.width;

                const renderCtx = {
                    canvasContext: ctx,
                    viewport
                };

                page.render(renderCtx)
                    .promise
                    .then(() => {
                        pageIsRendering = false;

                        if (pageNumIsPending !== null) {
                            renderPage(pageNumIsPending);
                            pageNumIsPending = null;
                        }
                    })
                    .catch((err) => console.error(err));

                //output the current page
                $("#page-num").text(num);
            })
            .catch((err) => console.error(err));
    };


    function queueRenderPage (num) {
        if (pageIsRendering)
            pageNumIsPending = null;
        else renderPage(num);
    };


    $("#nxtbtn").on('click', function () {
        if (pageNum >= pdfDoc.numPages) {
            return;

        }
        pageNum++;
        queueRenderPage(pageNum);

    });


    $("#prebtn").on('click', function () {
        if (pageNum <= 1) {
            return;

        }
        pageNum--;
        queueRenderPage(pageNum);

    });
</script>

