﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "All Assessed Proposal";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
            {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>

<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Reports  <span class="text-muted text-sm">/ View Ranked Proposals (Assessed Proposals)</span></h1>
        <hr class="mt-0 mb-2" />
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">
        <div class="col-md-10">
            <!-- Horizontal Form -->
            <div class="card" style="">
                
                <div class="card-body">
                    <div class="table-responsive">
                    <table id="modelDataTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                @*<th>
                                    Principal Invstigator(PI)
                                </th>*@
                                <th>
                                    Phone No
                                </th>
                                <th>
                                    E-mail
                                </th>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Category-(Thematic Area)
                                </th>
                                <th>
                                    Assessor(s)
                                </th>

                                @*<th>
                                        Average Score
                                    </th>*@

                            </tr>
                        </thead>
                        <tbody>
                            @{ int index = 0;}
                            @foreach (var item in Model.ApplicationList)
                            {
                                index += 1;
                                <tr>
                                    <td>@index</td>
                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.Person.Name)
                                    </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Person.PhoneNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Person.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ApplicantThematic.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Category.Name)-(@Html.DisplayFor(modelItem => item.Theme.Name))
                                    </td>
                                    <td>
                                        @if (item.ReviewerScores.Count > 0)
                                        {
                                            for (int t = 0; t < item.ReviewerScores.Count; t++)
                                            {
                                               <b>@Html.DisplayFor(modelItem => item.ReviewerScores[t].Reviewer.Name) </b>  <br />  @Html.DisplayFor(modelItem => item.ReviewerScores[t].proposalScore)
                                                <br />
                                                @string.Format("{0:0,0.00}", item.ReviewerScores[t].ProposedBudget)
                                                
                                                <hr />

                                            }

                                        }
                                    </td>
                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.Average)
                                        </td>*@

                                    @*<td>
                                            <a asp-action="ApproveConceptNote" asp-controller="AdminHome" class="btn btn-primary" asp-route-applicantthematicId="@item.ApplicantThematic.Id" asp-route-averageScore="@item.Average">Approve</a>
                                        </td>*@

                                </tr>
                            }

                    </table>
                        </div>
                </div>
            </div>
        </div>
    </div>

</section>



