﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@using Grant.Web.Infrastructure
@{
    ViewData["Title"] = "Accessor Distribution";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: red">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }

</section>

<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Concept Notes <span class="text-muted text-sm">/ Auto Distribution </span></h1>
        <hr class="mt-0 mb-2" />
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">

        <div class="col-md-12">

            <div class="card animated fadeInUp delay-1s" style="">

                <div class="card-body">
                    <div class="" style="margin-left: 3px !important; margin-bottom: 20px">


                        <!-- Horizontal Form -->
                        <div class="box box-danger" style="border-top-color: #fff; border-radius: 0px">

                            <div class="box-body">
                                <div class="table-responsive">
                                    <table id="modelDataTable" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>S/N</th>
                                                <th>
                                                    Category
                                                </th>

                                                <th>
                                                    Total Submission
                                                </th>
                                                <th>
                                                    Assigned
                                                </th>
                                                <th>
                                                    Unassigned
                                                </th>




                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.AccessorDistributionCount.Count; i++)
                                            {
                                                var index = i + 1;
                                                var cId = Utility.Encrypt(Model.AccessorDistributionCount[i].Category.Id.ToString());
                                                <tr>
                                                    <td>@index</td>
                                                    <td>
                                                        <a asp-action="ActivatAccessor" asp-controller="AdminHome"  asp-route-cId=@cId>@Html.DisplayFor(modelItem => Model.AccessorDistributionCount[i].Category.Name)</a>

                                                    </td>

                                                    <td>
                                                        
                                                        <a asp-action="SubmittedConceptNoteByCategory" asp-controller="AdminHome" asp-route-cId=@cId>@Html.DisplayFor(modelItem => Model.AccessorDistributionCount[i].TotalSubmission)</a>
                                                    </td>
                                                    <td>
                                                        <a asp-action="AssignedConceptNoteByCategory" asp-controller="AdminHome" asp-route-cId=@cId>@Html.DisplayFor(modelItem => Model.AccessorDistributionCount[i].TotalAssigned)</a>
                                                        
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.AccessorDistributionCount[i].TotalUnassigned)
                                                    </td>


                                                </tr>
                                            }

                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="box-footer mt-3 text-center">
                        <button class="btn btn-success pull-right" id="distribute">Distribute</button>
                    </div>



                </div>

            </div>

        </div>

    </div>


</section>
<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
@section Scripts{
    <script>

    $(document).ready(function () {
        $('#distribute').on('click', function () {

                $('#distribute').attr('disabled', true);
                $('#distribute').text("Distributing...");
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AutoDustribution", "AdminHome")', // we are calling json method
                    dataType: 'json',
                    data: { },
                    success: function (result) {
                        if (!result.isError && result.message != null) {
                            alert(result.message);
                            window.location.reload(true);
                        }

                    },
                    error: function (ex) {
                        $('#distribute').attr('disabled', false);
                        $('#distribute').text("Distribute");
                        alert('Failed to Open Theme.' + ex);
                    }
                });
        })
    })

    </script>
}
