﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Submitted Concept Note";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: red">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }

</section>

    <section class="content">

        <div class="ct-page-title">
            <h1 class="ct-title" id="content">Concept Notes <span class="text-muted text-sm">/ Auto Distribution </span></h1>
            <hr class="mt-0 mb-2" />
        </div>

        <div class="row justify-content-center" style="margin-bottom: 30px">

            <div class="col-md-8">

                <div class="card animated fadeInUp delay-1s" style="">

                    <div class="card-body">
                        <div class="" style="">
                            <form asp-action="ConceptNoteAutoAccessorAssignment" asp-controller="AdminHome" method="POST" role="form" class="form-horizontal" style="">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class=" mt-2">
                                    <div class="form-group">
                                        <label asp-for="SessionId" , class="col-sm-12">Research Cycle</label>
                                        <div class="col-sm-12">
                                            <select asp-for="SessionId" class="form-control"
                                                    asp-items=@Model.AllSessionNameSL required>
                                                <option value="">-- Select Research Cycle --</option>
                                            </select>
                                            <span asp-validation-for="SessionId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>



                                <div class="form-group">

                                    <div class="col-sm-12 text-center">
                                        <button type="submit" class="btn btn-success pull-right">View</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (Model.ShowPanel)
        {

            <div class="row justify-content-center" style="margin-bottom: 30px">

                <div class="col-md-12">

                    <div class="card animated fadeInUp delay-1s" style="">

                        <div class="card-body">
                            <div class="" style="margin-left: 3px !important; margin-bottom: 20px">


                                <!-- Horizontal Form -->
                                <div class="box box-danger" style="border-top-color: #fff; border-radius: 0px">

                                    <div class="box-body">










                                        <div class="table-responsive">
                                            <table id="modelDataTable" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>S/N</th>
                                                        <th>
                                                            Principal Investigator(PI)
                                                        </th>

                                                        <th>
                                                            Concept Note Title
                                                        </th>
                                                        <th>
                                                            File-No
                                                        </th>
                                                        <th>
                                                            Category-(Thematic Area)
                                                        </th>

                                                        <th>
                                                            Assessor
                                                        </th>
                                                        <th>
                                                            <input type="checkbox" id="masterCheckBox" />
                                                        </th>


                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @for (int i = 0; i < Model.ApplicationList.Count; i++)
                                                    {
                                                        var index = i + 1;

                                                        <tr>
                                                            <td>@index</td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => Model.ApplicationList[i].Person.Name)
                                                            </td>

                                                            <td>
                                                                @Html.DisplayFor(modelItem => Model.ApplicationList[i].ApplicantThematic.Title)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => Model.ApplicationList[i].ApplicantThematic.FileNo)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => Model.ApplicationList[i].ApplicantThematic.Theme.Category.Name)-(@Html.DisplayFor(modelItem => Model.ApplicationList[i].ApplicantThematic.Theme.Name))
                                                            </td>


                                                            <td>
                                                                <span class="badge">@Html.DisplayFor(modelItem => Model.ApplicationList[i].Reviewers.Count)-Assessor(s)</span> <br />
                                                                @if (Model.ApplicationList[i].Reviewers.Count > 0)
                                                                {
                                                                    <ul class="list-unstyled">
                                                                        @for (int t = 0; t < Model.ApplicationList[i].Reviewers.Count; t++)
                                                                        {

                                                                            <li>@Html.DisplayFor(modelItem => Model.ApplicationList[i].Reviewers[t].Name)</li>
                                                                            <hr style="margin: 0; color: #000; border-top: 1px solid #000;" />

                                                                        }
                                                                    </ul>

                                                                }
                                                            </td>
                                                            <td>
                                                                <input type="checkbox" onclick="selectClick(`@Model.ApplicationList[i].ApplicantThematic.Id`)" />
                                                            </td>

                                                        </tr>
                                                    }

                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>
                        <button class="btn btn-outline-success" id="distribute">Distribute</button>
                    </div>

                </div>

            </div>
        }

    </section>
    <script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
    @section Scripts{
        <script>
        var applicantThematicIdArray = [];
        localStorage.setItem("array", '[]');
    $(document).ready(function () {
        $('#distribute').on('click', function () {

            applicantThematicIdArray = JSON.parse(localStorage.getItem("array")) || [];
            if (applicantThematicIdArray.length > 0) {
                $('#distribute').attr('disabled', true);
                $('#distribute').text("Distributing...");
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ConceptNoteAccessorAutoDistribution", "AdminHome")', // we are calling json method
                    dataType: 'json',
                    data: { applicantThematicIdArray},
                    success: function (result) {
                        if (!result.isError && result.message != null) {
                            alert(result.message);
                            applicantThematicIdArray = [];
                            localStorage.setItem("array", '[]');
                            window.location.reload(true);
                        }

                    },
                    error: function (ex) {
                        $('#distribute').attr('disabled', false);
                        $('#distribute').text("Distribute");
                        alert('Failed to Open Theme.' + ex);
                    }
                });
            }
            else {
                alert("Nothing to send");
            }

        })
    })
        //Add or remove applicantThematicId to list distributionList
        function selectClick(e) {
            let applicantThematicId = e;
            applicantThematicIdArray = JSON.parse(localStorage.getItem("array")) || [];
            let existApplicantThematicId = applicantThematicIdArray.includes(applicantThematicId);
            if (existApplicantThematicId) {
                applicantThematicIdArray = $.grep(applicantThematicIdArray, function (value) {
                    return value != existApplicantThematicId;
                })
                //reset the object
                localStorage.setItem("array", JSON.stringify(applicantThematicIdArray));

            }
            else {
                applicantThematicIdArray.push(applicantThematicId);
                localStorage.setItem("array", JSON.stringify(applicantThematicIdArray));
            }
        }
        </script>
    }
