﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@using Grant.Web.Infrastructure
@{
    ViewData["Title"] = "Concept Note to reconcile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }

</section>
<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Concept Notes <span class="text-muted text-sm">/ Awaiting reconciliation</span></h1>
        <hr class="mt-0 mb-2" />
    </div>


    <div class="row justify-content-center" style="margin-bottom: 30px">

        <div class="col-md-12">

            <div class="card animated fadeInUp delay-1s" style="">

                <div class="card-body">
                    <div class="" style="margin-left: 3px !important; margin-bottom: 20px">


                        <!-- Horizontal Form -->
                        <div class="box box-danger" style="border-top-color: #fff; border-radius: 0px">

                            <div class="box-body">
                                <div class="table-responsive">



                                    <table id="modelDataTable" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>S/N</th>
                                                <th>
                                                    Principal Investigator(PI)
                                                </th>

                                                <th>
                                                    Concept Note Title
                                                </th>
                                                <th>
                                                    File-No
                                                </th>
                                                <th>
                                                    Category-(Thematic Area)
                                                </th>
                                                <th></th>
                                                

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{ int index = 0; }
                                            @foreach (var item in Model.ApplicantThematics)
                                            {
                                                var id = Utility.Encrypt(item.Id.ToString());
                                                index += 1;
                                                <tr>
                                                    <td>@index</td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Applicant.Person.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Title)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.FileNo)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Theme.Category.Name)-(@Html.DisplayFor(modelItem => item.Theme.Name))
                                                    </td>
                                                    <td>
                                                        <a asp-action="ViewReconciliation" asp-controller="AdminHome" class="btn btn-primary" asp-route-id=@id>View</a>
                                                    </td>

                                                </tr>
                                            }

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</section>
















