﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Edit Assessor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<section class="content-header">
    @if (@TempData["Message"] != null)
            {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>
<section class="content">
    <div class="container">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Add Assessor </h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form asp-action="UpdateReviewer" asp-antiforgery="true" enctype="multipart/form-data" class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Reviewer.Id" />
                    <div class="box-body">

                        <div class="box-body">
                            <div class="form-group">
                                <label asp-for="Reviewer.Name" class="col-sm-4 control-label">Name</label>
                                <div class="col-sm-8">
                                    <input asp-for="Reviewer.Name" class="form-control" />
                                    <span asp-validation-for="Reviewer.Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Reviewer.Email" class="col-sm-4 control-label">Email</label>
                                <div class="col-sm-8">
                                    <input type="email" asp-for="Reviewer.Email" class="form-control" />
                                    <span asp-validation-for="Reviewer.Email" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="Reviewer.PhoneNo" class="col-sm-4 control-label">Phone No.</label>
                                <div class="col-sm-8">
                                    <input asp-for="Reviewer.PhoneNo" class="form-control" />
                                    <span asp-validation-for="Reviewer.PhoneNo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Reviewer.Active" class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="Reviewer.Active" />
                                </div>
                            </div>



                        </div>



                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">

                        <button type="submit" class="btn btn-danger pull-right">Save</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!-- /.box -->

        </div>
    </div>
</section>