﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Edit Budget";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    <div class="pg-head">
        <h3 class="monts text-center" style="font-weight: 300; margin-top: 10px">Edit Budget / <span class="small">By Research Cycle</span></h3>
    </div>

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">
            <partial name="_Message" model="@TempData["Message"]" />
        </div>
    }
</section>

<section class="content">
    <div class="container" style="margin-bottom: 30px">
        <form asp-action="EditBudget" asp-controller="AdminHome" method="POST" role="form" class="form-horizontal">
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-danger" style="border-top-color: #fff; border-radius: 0">
                    <div class="box-body" id="percentage-badge-section" style="display:none;">
                        <label style="font-size: 16px" class="badge badge--success pull-right">
                            Percentage Remaining:
                            <span id="percentage-allocated-budget">100%</span>
                        </label>
                    </div>

                    <input type="hidden" asp-for="SessionId"/>

                    <div class="box-footer">
                        <label>Total Allocated Amount(&#8358;)</label>
                        <input class="form-control" id="total-amount-allocated" type="text" required />
                        @Html.HiddenFor(modelItem => modelItem.TotalAllocatedAmountForThematicCategory, new { @required = "required", @id="read-total-amount" })
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="modelDataTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Category
                                        </th>
                                        <th>
                                            Budget &#8358
                                        </th>
                                        <th>
                                            Percentage(%)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.BudgetSums)
                                    {
                                        <tr>
                                            @Html.HiddenFor(modelItem => item.Category.Id)
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Category.Name)
                                            </td>
                                            <td>
                                                <input type="text" class="total-amount-breakdown" disabled = "disabled"/>
                                                @Html.HiddenFor(modelItem => item.Amount, new { @class = "hidden-total-amount-breakdown" })
                                            </td>
                                            <td>0%</td>
                                        </tr>
                                    }
                            </table>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right"><i class="fa fa-pencil"></i> Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<script type="text/javascript">
    const cleanUpAmountString = (rawString) => parseInt(rawString.split(".")[0].replace(/\,/g, "").trim());

    const addCommas = (nStr) => {
        nStr += '';
        var x = nStr.split('.');
        var x1 = x[0];
        var x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }

    const totalAmountHiddenEl = document.querySelector("#read-total-amount");

    const totalAmountEl = document.querySelector("#total-amount-allocated");

    totalAmountEl.value = addCommas(cleanUpAmountString(totalAmountHiddenEl.value));

    document.querySelectorAll(".hidden-total-amount-breakdown").forEach(el => {
        const amountValue = el.value;
        el.previousElementSibling.value = addCommas(amountValue);
    })

    totalAmountEl.addEventListener("input", (e) => {
        const totalAmount = cleanUpAmountString(e.target.value);
        totalAmountHiddenEl.value = totalAmount;
        e.target.value = addCommas(cleanUpAmountString(e.target.value));

        const elementsToEnable = document.getElementsByClassName("total-amount-breakdown");
        const sourceEl = document.getElementById("total-amount-allocated");
        const percentageBadgeContainer = document.getElementById("percentage-badge-section");

        percentageBadgeContainer.style.display = "none";

        if (totalAmount > 0) {
            sourceEl.value = addCommas(totalAmount);
            percentageBadgeContainer.style.display = "block";

            for (const el of elementsToEnable) {
                el.removeAttribute("disabled");
            }
        }
        else {
            for (const el of elementsToEnable) {
                el.setAttribute("disabled", "disabled");
            }
        }
    });

    document.querySelectorAll(".total-amount-breakdown").forEach(el => {
        el.addEventListener("input", (e) => {

            if (e.target.value !== "") {
                if (/\d+/.test(cleanUpAmountString(e.target.value))) {
                    let sumTotal = 0;
                    document.querySelectorAll(".total-amount-breakdown").forEach(el => sumTotal += cleanUpAmountString(el.value));

                    const percentageBadgeContainer = document.getElementById("percentage-badge-section");
                    percentageBadgeContainer.style.display = "none";
                    const elementToOutput = e.target.parentElement.nextElementSibling;
                    const percentageAllocatedBudget = document.getElementById("percentage-allocated-budget");

                    const totalEl = document.getElementById("total-amount-allocated");
                    totalEl.setAttribute("disabled", "disabled");

                    const total = cleanUpAmountString(totalEl.value);
                    const enteredAmount = cleanUpAmountString(e.target.value);
                    const percentage = ((enteredAmount / total) * 100).toFixed(2);

                    const sumPercentage = ((sumTotal / total) * 100).toFixed(2);
                    const percentageLeft = (100 - sumPercentage).toFixed(2);

                    if (percentageLeft > 100) {
                        alert("Budget is maxed out");
                    }
                    if (percentageLeft >= 0 && percentageLeft <= 100) {
                        percentageBadgeContainer.style.display = "block";
                        percentageAllocatedBudget.innerHTML = `${percentageLeft}%`;
                    }
                    if (percentageLeft < 0) {
                        alert("You have exceeded the total budget");
                    }

                    elementToOutput.innerHTML = `${percentage}%`;

                    e.target.value = addCommas(cleanUpAmountString(e.target.value));

                    e.target.nextElementSibling.value = cleanUpAmountString(e.target.value);
                }
                else {
                    alert("Error...only digits are allowed");
                }
            }
        });
    });

</script>