﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "GetAllApprovedConceptNote";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    <div class="pg-head">
        <h3 class="monts text-center" style="font-weight: 300; margin-top: 10px">Concept Notes / <span class="small">Approved Concept Notes</span></h3>
    </div>

    @if (@TempData["Message"] != null)
            {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>
<section class="content">
    <div class="container" style="margin-bottom: 30px">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-danger" style="border-top-color: #fff; border-radius: 0">
                
                <div class="box-body">
                    <div class="table-responsive">
                    <table id="modelDataTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Principal Investigator(PI)
                                </th>
                                <th>
                                    Phone No
                                </th>
                                <th>
                                    E-mail
                                </th>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Category-(Thematic Area)
                                </th>
                                <th>
                                    Assessor(s)
                                </th>

                                <th>
                                    Average Score
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ApplicationList)
                                {
                                    <tr>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Person.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Person.PhoneNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Person.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ApplicantThematic.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Category.Name)-(@Html.DisplayFor(modelItem => item.Theme.Name))
                                        </td>
                                        <td>
                                            @if (item.ReviewerScores.Count > 0)
                                            {
                                                for (int t = 0; t < item.ReviewerScores.Count; t++)
                                                {
                                                    @Html.DisplayFor(modelItem => item.ReviewerScores[t].Reviewer.Name)    @Html.DisplayFor(modelItem => item.ReviewerScores[t].Mark)
                                                    <br />


                                                }

                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Average)
                                        </td>

                                        @*<td>
                                <a asp-action="ApproveConceptNote" asp-controller="AdminHome" class="btn btn-primary" asp-route-applicantthematicId="@item.ApplicantThematic.Id" asp-route-averageScore="@item.Average">Approve</a>
                            </td>*@

                                    </tr>
                                }

                        </table>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</section>



