﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    @if (@TempData["Message"] != null)
            {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>


<section class="content">
    
    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Dashboard</h1>
        <div class="avatar-group mt-3">
        </div>
    </div>

    <div class="">
        <div class="row">
            <div class="col-md-3">
                <div class="card bg-success o-hidden ">
                    <div class="card-body">
                        <div class="mr-5"> <h4 class="monts text-white">Received Concept Note(s)</h4> </div>
                    </div>
                    <h1 class="align-self-lg-center monts text-white" id="countConceptNote">

                        0

                    </h1>

                    @*<a class="card-footer clearfix small z-1" asp-action="ViewApplication" asp-controller="AdminHome">
                        <span class="float-left text-dark">
                            View Submitted Concept Note
                        </span>
                        <span class="float-right text-dark">
                            <i class="fa fa-angle-right pull-right"></i>
                        </span>
                    </a>

                    <a class="card-footer clearfix small z-1" asp-action="ViewReviewedConceptNote" asp-controller="AdminHome">
                        <span class="float-left text-dark">
                            View Reviewed
                        </span>
                        <span class="float-right text-dark">
                            <i class="fa fa-angle-right pull-right"></i>
                        </span>
                    </a>*@

                    @*<a class="card-footer text-white clearfix small z-1" asp-action="GetAllApprovedConceptNote" asp-controller="AdminHome">
                        <span class="float-left text-black">
                            Approved Notes
                        </span>
                        <span class="float-right text-black">
                            <i class="fa fa-angle-right pull-right"></i>
                        </span>
                    </a>*@

                </div>
            </div>

            <div class="col-md-3">
                <div class="card bg-primary o-hidden">
                    <div class="card-body">
                        <div class="mr-5"> <h4 class="monts text-white">Received Full Proposal(s)</h4> </div>
                    </div>
                    <h1 class="align-self-lg-center monts text-white" id="countProposal">
                        0
                    </h1>
                    @*<a class="card-footer clearfix small z-1" asp-action="ViewSubmittedProposal" asp-controller="AdminHome">
                        <span class="float-left text-dark">
                            View Submitted Proposals
                        </span>
                        <span class="float-right text-dark">
                            <i class="fa fa-angle-right pull-right"></i>
                        </span>
                    </a>

                    <a class="card-footer clearfix small z-1" asp-action="AllProposalRanking" asp-controller="AdminReport">
                        <span class="float-left text-dark">
                            View Reviewed Proposals
                        </span>
                        <span class="float-right text-dark">
                            <i class="fa fa-angle-right pull-right"></i>
                        </span>
                    </a>*@

                    @*<a class="card-footer text-white clearfix small z-1" asp-action="AverageBudget" asp-controller="AdminReport">
                        <span class="float-left text-black">
                            Average Approved Budget
                        </span>
                        <span class="float-right text-black">
                            <i class="fa fa-angle-right pull-right"></i>
                        </span>
                    </a>*@

                    @*<a class="card-footer text-white clearfix small z-1" asp-action="SetBudget" asp-controller="AdminHome">
                        <span class="float-left text-dark">
                            Set Budget
                        </span>
                        <span class="float-right text-dark">
                            <i class="fa fa-angle-right pull-right"></i>
                        </span>
                    </a>*@

                </div>
            </div>

            <div class="col-md-3">
                <div class="card bg-warning o-hidden">
                    <div class="card-body">
                        <div class="mr-5"> <h4 class="monts text-white">Approved Concept Note(s)</h4> </div>
                    </div>
                    <h1 class="align-self-lg-center monts text-white" id="approvedConceptNote">
                        0
                    </h1>

                    @*<a class="card-footer clearfix small z-1" asp-action="AssessedProposal" asp-controller="AdminHome">
                        <span class="float-left text-dark">
                            View Ranked Proposals
                        </span>
                        <span class="float-right text-dark">
                            <i class="fa fa-angle-right pull-right"></i>
                        </span>
                    </a>

                    <a class="card-footer clearfix small z-1" asp-action="ReviewerExpertiseDistribution" asp-controller="AdminReport">
                        <span class="float-left text-dark">
                            Assessor Expertise
                        </span>
                        <span class="float-right text-dark">
                            <i class="fa fa-angle-right pull-right"></i>
                        </span>
                    </a>*@

                </div>
            </div>

            <div class="col-md-3">
                <div class="card bg-prpl o-hidden">
                    <div class="card-body">
                        <div class="mr-5"> <h4 class="monts text-white">Approved Full Proposal(s)</h4> </div>
                    </div>
                    <h1 class="align-self-lg-center monts text-white" id="approvedProposal">
                        0
                    </h1>
                    @*<a class="card-footer clearfix small z-1" asp-action="AddReviewer" asp-controller="AdminHome">
                        <span class="float-left text-dark">
                            Add Assessor
                        </span>
                        <span class="float-right text-dark">
                            <i class="fa fa-angle-right pull-right"></i>
                        </span>
                    </a>

                    <a class="card-footer clearfix small z-1" asp-action="ViewReviewer" asp-controller="AdminHome">
                        <span class="float-left text-dark">
                            View Assessor(s)
                        </span>
                        <span class="float-right text-dark">
                            <i class="fa fa-angle-right pull-right"></i>
                        </span>
                    </a>*@

                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card bg-prpl o-hidden">
                    <div class="card-body">
                        <div class="mr-5"> <h4 class="monts text-white">Active PI(s)</h4> </div>
                    </div>
                    <h1 class="align-self-lg-center monts text-white" id="activePI">
                        0
                    </h1>
                    @*<a class="card-footer clearfix small z-1" asp-action="AddReviewer" asp-controller="AdminHome">
                    <span class="float-left text-dark">
                        Add Assessor
                    </span>
                    <span class="float-right text-dark">
                        <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>

                <a class="card-footer clearfix small z-1" asp-action="ViewReviewer" asp-controller="AdminHome">
                    <span class="float-left text-dark">
                        View Assessor(s)
                    </span>
                    <span class="float-right text-dark">
                        <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>*@

                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-success o-hidden ">
                    <div class="card-body">
                        <div class="mr-5"> <h4 class="monts text-white">Accessor(s)</h4> </div>
                    </div>
                    <h1 class="align-self-lg-center monts text-white" id="accessor">

                        0

                    </h1>

                    @*<a class="card-footer clearfix small z-1" asp-action="ViewApplication" asp-controller="AdminHome">
                    <span class="float-left text-dark">
                        View Submitted Concept Note
                    </span>
                    <span class="float-right text-dark">
                        <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>

                <a class="card-footer clearfix small z-1" asp-action="ViewReviewedConceptNote" asp-controller="AdminHome">
                    <span class="float-left text-dark">
                        View Reviewed
                    </span>
                    <span class="float-right text-dark">
                        <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>*@

                    @*<a class="card-footer text-white clearfix small z-1" asp-action="GetAllApprovedConceptNote" asp-controller="AdminHome">
                    <span class="float-left text-black">
                        Approved Notes
                    </span>
                    <span class="float-right text-black">
                        <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>*@

                </div>
            </div>

            <div class="col-md-3">
                <div class="card bg-primary o-hidden">
                    <div class="card-body">
                        <div class="mr-5"> <h4 class="monts text-white">Assessed Concept Note(s)</h4> </div>
                    </div>
                    <h1 class="align-self-lg-center monts text-white" id="conceptNoteAssessed">
                        0
                    </h1>
                    @*<a class="card-footer clearfix small z-1" asp-action="ViewSubmittedProposal" asp-controller="AdminHome">
                    <span class="float-left text-dark">
                        View Submitted Proposals
                    </span>
                    <span class="float-right text-dark">
                        <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>

                <a class="card-footer clearfix small z-1" asp-action="AllProposalRanking" asp-controller="AdminReport">
                    <span class="float-left text-dark">
                        View Reviewed Proposals
                    </span>
                    <span class="float-right text-dark">
                        <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>*@

                    @*<a class="card-footer text-white clearfix small z-1" asp-action="AverageBudget" asp-controller="AdminReport">
                    <span class="float-left text-black">
                        Average Approved Budget
                    </span>
                    <span class="float-right text-black">
                        <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>*@

                    @*<a class="card-footer text-white clearfix small z-1" asp-action="SetBudget" asp-controller="AdminHome">
                    <span class="float-left text-dark">
                        Set Budget
                    </span>
                    <span class="float-right text-dark">
                        <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>*@

                </div>
            </div>

            <div class="col-md-3">
                <div class="card bg-warning o-hidden">
                    <div class="card-body">
                        <div class="mr-5"> <h4 class="monts text-white">Assessed Full Proposal(s)</h4> </div>
                    </div>
                    <h1 class="align-self-lg-center monts text-white" id="proposalAssessed">
                        0
                    </h1>

                    @*<a class="card-footer clearfix small z-1" asp-action="AssessedProposal" asp-controller="AdminHome">
                    <span class="float-left text-dark">
                        View Ranked Proposals
                    </span>
                    <span class="float-right text-dark">
                        <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>

                <a class="card-footer clearfix small z-1" asp-action="ReviewerExpertiseDistribution" asp-controller="AdminReport">
                    <span class="float-left text-dark">
                        Assessor Expertise
                    </span>
                    <span class="float-right text-dark">
                        <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>*@

                </div>
            </div>




        </div>

        
        <div class="ct-page-title">
            <h1 class="ct-title" id="content">Current Event</h1>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6" id="concept-note-container">
                <div class="card">
                    <div class="row">
                        <div class="col-xs-12 col-md-2 text-center" style="padding-top:65px;">
                            <img src="~/images/hourglass-animated-gif-157171-5610942.gif" style="width: 50px;height: 50px;" />
                        </div>
                        <div class="col-xs-12 col-md-10">
                            <table>
                                <tr style="font-size:20px;">
                                    <td colspan="4" class="text-center text-success" id="concept-note-title">Count Down</td>
                                </tr>
                                <tr class="info-counter text-center">
                                    <td id="days"></td>
                                    <td id="hours"></td>
                                    <td id="minutes"></td>
                                    <td id="seconds"></td>
                                </tr>
                                <tr class="text-center">
                                    <td>DAYS</td>
                                    <td>HOURS</td>
                                    <td>MINUTES</td>
                                    <td>SECONDS</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6" id="proposal-container">
                <div class="card">
                    <div class="row">
                        <div class="col-xs-12 col-md-2 text-center" style="padding-top:65px;">
                            <img src="~/images/hourglass-animated-gif-157171-5610942.gif" style="width: 50px;height: 50px;" />
                        </div>
                        <div class="col-xs-12 col-md-10">
                            <table>
                                <tr style="font-size:20px;">
                                    <td colspan="4" class="text-center text-success" id="proposal-title">Count Down</td>
                                </tr>
                                <tr class="info-counter text-center" style="font-size: 50px;">
                                    <td id="proposal-days"></td>
                                    <td id="proposal-hours"></td>
                                    <td id="proposal-minutes"></td>
                                    <td id="proposal-seconds"></td>
                                </tr>
                                <tr class="text-center">
                                    <td>DAYS</td>
                                    <td>HOURS</td>
                                    <td>MINUTES</td>
                                    <td>SECONDS</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="other-events-body">
            <div class="col-xs-12 col-md-6 other-events">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-success" id="event-title">Event Name</h3>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <i class="fa fa-calendar text-success"></i> Start Date: <span id="event-start-date">12/12/2019</span>
                            </div>

                            <div class="col-xs-12 col-md-6">
                                <i class="fa fa-calendar text-success"></i> End Date: <span id="event-end-date">12/12/2019</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <script type="text/javascript">

        function genericCountdown(year, month, day, hour, minuite, second) {
            let eventDate = new Date(year, (month - 1), day,hour, minuite, second);
            let now = new Date();
        
            let currentTime = now.getTime();
            let eventTime = eventDate.getTime();

            let remainingTimeMs = (eventTime - currentTime);
            //avoid negative timmer
            if (remainingTimeMs < 0) {
                return { days: 0, hours: 0, minutes: 0, seconds: 0 };
            }

            let s = Math.floor(remainingTimeMs / 1000);

            let m = Math.floor(s / 60);

            let h = Math.floor(m / 60);

            let d = Math.floor(h / 24);

            //start

            //let cd = 24 * 60 * 60 * 1000;
            //let ch = 60 * 60 * 1000;
            //let cm = 60 * 1000;
            //let d = Math.floor(remainingTimeMs / cd);
            //let h = Math.floor((remainingTimeMs - d * cd) / ch);
            //let m = Math.floor((remainingTimeMs - d * cd - h * ch) / 60000);
            //let s = Math.round((remainingTimeMs - (d * cd) - (h * ch) - (m * cm) / 1000));
            
            //pad = function (n) { return n < 10 ? '0' + n : n; };


            //end


            //Get the remaining hours, minutes, and seconds
            h %= 24;
            m %= 60;
            s %= 60;

            h = (h < 10) ? "0" + h : h;
            m = (m < 10) ? "0" + m : m;
            s = (s < 10) ? "0" + s : s;

            //Set the days, minutes and seconds into inner html
            //d = (parseInt(d) < 1 ? 0 + "0" : d) + ":";
            //h = (parseInt(h) < 1 ? 0 + "0" : h) + ":";
            //m = (parseInt(m) < 1 ? 0 + "0" : m) + ":";
            //s = (parseInt(s) < 1 ? 0 + "0" : s);

            return { days: d, hours: h, minutes: m, seconds: s };
        }

        function renderConceptNoteCountDown(futureDate) {
            document.querySelector("#concept-note-container").style.display = "none";
            document.querySelector("#concept-note-container").style.visibility = "hidden";
            document.querySelector("#concept-note-container").classList.add("float-right");

            if (futureDate) {
                let { days, hours, minutes, seconds } = genericCountdown(futureDate.year, futureDate.month, futureDate.day, futureDate.hour, futureDate.minuite, futureDate.second);

                    //days = (parseInt(days) < 1 ? 0 + "0" : days) + ":";
                    //hours = (parseInt(hours) < 1 ? 0 + "0" : hours) + ":";
                    //minutes = (parseInt(minutes) < 1 ? 0 + "0" : minutes) + ":";
                    //seconds = (parseInt(seconds) < 1 ? 0 + "0" : seconds);

                    //Set the days, minutes and seconds into inner html
                    document.querySelector("#days").innerHTML = days;
                    document.querySelector("#hours").innerHTML = hours;
                    document.querySelector("#minutes").innerHTML = minutes;
                    document.querySelector("#seconds").innerHTML = seconds;

                    document.querySelector("#concept-note-title").innerHTML = futureDate.type;
                document.querySelector("#concept-note-container").style.display = "block";
                 //hide timmer when time has finished
                if (days == 0 && hours == 0 && minutes == 0 && seconds == 0) {
                    document.querySelector("#concept-note-container").style.visibility = "hidden";
                }
                else {
                    document.querySelector("#concept-note-container").style.visibility = "visible";
                }
                    

                    document.querySelector("#concept-note-container").classList.add("float-left");
                    document.querySelector("#concept-note-container").classList.remove("float-right");

            }
        }

        function renderProposalCountDown(futureDate) {
            document.querySelector("#proposal-container").style.display = "none";
            //document.querySelector("#proposal-container").style.visibility = "hidden";
            //document.querySelector("#proposal-container").style.position = "fixed";
            document.querySelector("#proposal-container").classList.add("float-right");

            if (futureDate) {
                let { days, hours, minutes, seconds } = genericCountdown(futureDate.year, futureDate.month, futureDate.day, futureDate.hour, futureDate.minuite, futureDate.second);

                    //days = (parseInt(days) < 1 ? 0 + "0" : days) + ":";
                    //hours = (parseInt(hours) < 1 ? 0 + "0" : hours) + ":";
                    //minutes = (parseInt(minutes) < 1 ? 0 + "0" : minutes) + ":";
                    //seconds = (parseInt(seconds) < 1 ? 0 + "0" : seconds);

                    //Set the days, minutes and seconds into inner html
                    document.querySelector("#proposal-days").innerHTML = days;
                    document.querySelector("#proposal-hours").innerHTML = hours;
                    document.querySelector("#proposal-minutes").innerHTML = minutes;
                    document.querySelector("#proposal-seconds").innerHTML = seconds;

                    document.querySelector("#proposal-title").innerHTML = futureDate.type;
                document.querySelector("#proposal-container").style.display = "block";
                //hide timmer when time has finished
                if (days == 0 && hours == 0 && minutes == 0 && seconds == 0) {
                    document.querySelector("#proposal-container").style.visibility = "hidden";
                }
                else {
                    document.querySelector("#proposal-container").style.visibility = "visible";
                }
                    

                    document.querySelector("#proposal-container").classList.add("float-left");
                    document.querySelector("#proposal-container").classList.remove("float-right");
            }
        }

        function renderOtherEvents() {
            const rowContainer = document.querySelector("#other-events-body");
            rowContainer.style.display = "none";
            
            const eventList = JSON.parse(localStorage.getItem("AllEvents")) || [];
            const startDate = document.querySelector("#event-start-date");
            const endDate = document.querySelector("#event-end-date");
            const title = document.querySelector("#event-title");

            if (eventList.event) {
                //const obj = eventList && eventList.event[0];
                let obj = eventList.event;
                startDate.innerHTML = obj.eventStartDate;
                endDate.innerHTML = obj.eventEndDate;
                title.innerHTML = obj.eventName;

                rowContainer.style.display = "block";
            }
        }

        renderOtherEvents();

        //Extract Concept Note date from LocalStorage
        let conceptNoteDate = JSON.parse(localStorage.getItem("ConceptDate"));

        //Extract Proposal date from LocalStorage
        let proposalDate = JSON.parse(localStorage.getItem("ProposalDate"));

        setInterval(() => renderConceptNoteCountDown(conceptNoteDate), 1000);

        setInterval(() => renderProposalCountDown(proposalDate), 1000);
    
    </script>

</section>
