﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Failed Upload Accessor(s)";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: red">
            <partial name="_Message" model="@TempData["Message"]" />
        </div>
    }

</section>

<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Accessors <span class="text-muted text-sm">/ Failed Upload of Accessors </span></h1>
        <hr class="mt-0 mb-2" />
    </div>


        <div class="row justify-content-center" style="margin-bottom: 30px">

            <div class="col-md-12">

                <div class="card animated fadeInUp delay-1s" style="">

                    <div class="card-body">
                        <div class="" style="margin-left: 3px !important; margin-bottom: 20px">

                                <!-- Horizontal Form -->
                                <div class="box box-danger" style="border-top-color: #fff; border-radius: 0px">

                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table id="modelDataTable" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>S/N</th>
                                                        <th>
                                                            Accessor Name
                                                        </th>

                                                        <th>
                                                            Email Address
                                                        </th>
                                                        <th>
                                                            Phone No.
                                                        </th>

                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @foreach (var item in Model.ReadExcelList)
                                                    {
                                                        <tr>
                                                            <td>@item.SerialNumber</td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.FullName)
                                                            </td>

                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Email)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.PhoneNo)
                                                            </td>


                                                        </tr>
                                                    }

                                            </table>
                                        </div>
                                    </div>
                                  
                                </div>
                            
                        </div>



                    </div>

                </div>

            </div>

        </div>
 
</section>

