﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Set Budget";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
     {
        <div class="callout " style="color: white">
            <partial name="_Message" model="@TempData["Message"]" />
        </div>
     }
</section>
<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Set Budget <span class="text-muted text-sm">/ By Research Cycle</span></h1>
        <hr class="mt-0 mb-2" />
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">
        <div class="col-md-10">
            <div class="card animated fadeInUp delay-1s">
                <div class="card-body">

                    <form asp-action="SetBudget" asp-controller="AdminHome" method="POST" role="form" class="form-horizontal">
                        <div class="col-md-12">
                            <!-- Horizontal Form -->
                            <div class="box box-danger" style="border-top-color: #fff; border-radius: 0">
                                <div class="box-body" id="percentage-badge-section" style="display:none;">
                                    <label style="font-size: 16px" class="badge badge-success pull-right">
                                        Percentage Remaining:
                                        <span id="percentage-allocated-budget">100%</span>
                                    </label>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label>Total Allocated Amount(&#8358;)</label>
                                        <input class="form-control input-sm" id="total-amount-allocated" placeholder="Enter allocated amount" type="text" required />
                                    </div>

                                    <div class="col">
                                        <label>Research Cycle</label>
                                        <select asp-for="SessionId" class="form-control"
                                                asp-items=@Model.SessionNameSL required>
                                            <option value="">-- Select Research Cycle --</option>
                                        </select>
                                    </div>
                                </div>
                                <hr class="my-5" />

                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table id="modelDataTable" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Category
                                                    </th>
                                                    <th>
                                                        Budget &#8358
                                                    </th>
                                                    <th>
                                                        Percentage(%)
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.BudgetSums)
                                            {
                                                    <tr>
                                                        @Html.HiddenFor(modelItem => item.Category.Id)
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Category.Name)
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(modelItem => item.Amount, new { disabled = "disabled", @class = "total-amount-breakdown" })
                                                        </td>
                                                        <td>0%</td>
                                                    </tr>
                                            }
                                        </table>
                                    </div>
                                </div>

                            </div>
                            <div class="text-center mt-5">
                                <button type="submit" class="btn btn-success pull-right"><i class="fa fa-save"></i> Save</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</section>


<script type="text/javascript">
    
    const cleanUpAmountString = (rawString) => parseInt(rawString.split(".")[0].replace(/\,/g, "").trim());

    const addCommas = (nStr) => {
        nStr += '';
        var x = nStr.split('.');
        var x1 = x[0];
        var x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }

    function handleClick(inputedText) {
        const totalAmount = cleanUpAmountString(inputedText);
        const elementsToEnable = document.getElementsByClassName("total-amount-breakdown");
        const sourceEl = document.getElementById("total-amount-allocated");
        const percentageBadgeContainer = document.getElementById("percentage-badge-section");

        percentageBadgeContainer.style.display = "none";

        if (totalAmount > 0) {
            sourceEl.value = addCommas(totalAmount);
            percentageBadgeContainer.style.display = "block";

            for (const el of elementsToEnable) {
                el.removeAttribute("disabled");
            }
        }
        else {
            for (const el of elementsToEnable) {
                el.setAttribute("disabled", "disabled");
            }
        }
    }

    const thematicAreas = [];

    document.querySelectorAll(".total-amount-breakdown").forEach(el => {
        el.addEventListener("input", (e) => {

            if (e.target.value !== "") {
                if (/\d+/.test(cleanUpAmountString(e.target.value))) {
                    let sumTotal = 0;
                    document.querySelectorAll(".total-amount-breakdown").forEach(el => sumTotal += cleanUpAmountString(el.value));

                    const percentageBadgeContainer = document.getElementById("percentage-badge-section");
                    percentageBadgeContainer.style.display = "none";
                    const elementToOutput = e.target.parentElement.nextElementSibling;
                    const percentageAllocatedBudget = document.getElementById("percentage-allocated-budget");

                    const totalEl = document.getElementById("total-amount-allocated");
                    totalEl.setAttribute("disabled", "disabled");

                    const total = cleanUpAmountString(totalEl.value);
                    const enteredAmount = cleanUpAmountString(e.target.value);
                    const percentage = ((enteredAmount / total) * 100).toFixed(2);

                    const sumPercentage = ((sumTotal / total) * 100).toFixed(2);
                    const percentageLeft = (100 - sumPercentage).toFixed(2);

                    if (percentageLeft > 100) {
                        alert("Budget is maxed out");
                    }
                    if (percentageLeft >= 0 && percentageLeft <= 100) {
                        percentageBadgeContainer.style.display = "block";
                        percentageAllocatedBudget.innerHTML = `${percentageLeft}%`;
                    }
                    if (percentageLeft < 0) {
                        alert("You have exceeded the total budget");
                    }

                    elementToOutput.innerHTML = `${percentage}%`;

                    e.target.value = addCommas(cleanUpAmountString(e.target.value));
                }
                else {
                    alert("Error...only digits are allowed");
                }
            }
        });
    });

    document.querySelector("#total-amount-allocated").addEventListener("input", (e) => handleClick(e.target.value));

</script>
