﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Set Up";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    <div class="pg-head">
        <h3 class="monts text-center" style="font-weight: 300; margin-top: 10px">Set Up / <span class="small">Session and Title</span></h3>
    </div>

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>
<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
@section Scripts{
    <script>
        var sessionId = 0;
        //Create Session
        $('#saveSession').on('click', function () {
            var sessioname = $('#sessioname').val();
            var sessionActive = false;
            var applicationActive = false;
            if ($('#sessionActive').is(':checked')) {
                sessionActive = "True";
            }
            if ($('#sessionApplicationActive').is(':checked')) {
                applicationActive = "True";
            }
            if (sessioname != undefined && sessioname != null) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("CreateSession")', // we are calling json method
                    dataType: 'json',
                    data: { sessioname, sessionActive, applicationActive },
                    success: function (result) {
                    if (!result.isError) {
                    alert(result.message);
                    location.reload(true);
                    }
                    else {
                        alert(result.message);
                        location.reload(true);

                    }
                    $('#sessionmodal').modal('toggle');
                    },
                    error: function(ex) {
                    alert('Failed to Create Session.' + ex);
                    }
                    });
                    }
        })
        //Create Title
        $('#saveTitle').on('click', function () {
                    var titleName = $('#titlename').val();
            var activeTitle = false;
            if ($('#titleActive').is(':checked')) {
                activeTitle = "True";
            }
            if (titleName != undefined && titleName!=null ) {
                                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("CreateTitle")', // we are calling json method
                    dataType: 'json',
                    data: { titleName, activeTitle},
                    success: function (result) {
                    if (!result.isError) {
                    alert(result.message);
                    location.reload(true);
                    }
                    else {
                        alert(result.message);
                        location.reload(true);

                    }
                    $('#titlemodal').modal('toggle');
                    },
                    error: function(ex) {
                    alert('Failed to Create Title.' + ex);
                    }
                    });
                    }
        })
          //save Edit Session
        $('#saveEditSession').on('click', function () {
            var sessioname = $('#editSessioname').val();
            var sessionActive = false;
            var applicationActive = false;

            if ($('#editSessionActive').is(':checked')) {
                sessionActive = "True";
            }
            if ($('#editSessionApplicationActive').is(':checked')) {
                applicationActive = "True";
            }
            if (sessioname != undefined && sessioname != null) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SaveEditSession")', // we are calling json method
                    dataType: 'json',
                    data: { sessionId,sessioname, sessionActive, applicationActive },
                    success: function (result) {
                    if (!result.isError) {
                    alert(result.message);
                    location.reload(true);
                    }
                    else {
                        alert(result.message);
                        location.reload(true);

                    }
                        $('#editSessionmodal').modal('toggle');
                    },
                    error: function(ex) {
                    alert('Failed to Create Session.' + ex);
                    }
                    });
                    }
        })
        function EditSession(e) {
            sessionId = e;
            if (sessionId > 0 && sessionId != undefined) {
                                          $.ajax({
                    type: 'POST',
                    url: '@Url.Action("FetchSession")', // we are calling json method
                    dataType: 'json',
                    data: { sessionId},
                    success: function (result) {
                        if (!result.isError && result.session != null) {
                            $('#editSessioname').val(result.session.name);
                            if (result.session.active == true) {
                                $('#editSessionActive').prop('checked', true);
                            }
                            if (result.session.activeForApplication) {
                                $('#editSessionApplicationActive').prop('checked', true);

                            }
                            $("#showEditSession").trigger("click");
                    }
                    else {
                        alert(result.message);

                    }
                    },
                    error: function(ex) {
                    alert('Failed to Edit Session.' + ex);
                    }
                    });

            }

        }
    </script>
}
<section class="content">


    <div class="row justify-content-center" style="margin-bottom: 30px">

        <div class="col-md-10">

            <div class="card animated fadeInUp delay-1s" style="">

                <div class="card-body">
                    <div class="" style="margin-left: 3px !important; margin-bottom: 20px">


                        <!-- Horizontal Form -->
                        <div class="box box-danger" style="border-top-color: #fff; border-radius: 0px">

                            <div class="box-header with-border">
                                <h4 class="box-title">Research Cycle</h4>
                            </div>
                            <div class="box-body">



                                <div class="table-responsive">
                                    <table id="modelDataTable" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>
                                                    SN
                                                </th>
                                                <th>
                                                    Name
                                                </th>
                                                <th>
                                                    Active
                                                </th>
                                                <th>
                                                    Active For Application
                                                </th>
                                                <th>

                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.SessionList.Count; i++)
                                            {
                                                int sn = i + 1;
                                                <tr>
                                                    <td>
                                                        @sn
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.SessionList[i].Name)
                                                    </td>


                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.SessionList[i].Active)

                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.SessionList[i].ActiveForApplication)

                                                    </td>

                                                    <td><button class="btn btn-primary" onclick="EditSession(@Model.SessionList[i].Id)">Edit</button></td>



                                                </tr>
                                            }

                                    </table>
                                </div>
                                <div class="box-footer">
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#sessionmodal">Add Research Cycle</button>
                                </div>
                            </div>
                            <button style="display:none" class="btn btn-primary" data-toggle="modal" data-target="#editSessionmodal" id="showEditSession"></button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content">


    <div class="row justify-content-center" style="margin-bottom: 30px">
        <div class="col-md-10">



            <div class="card animated fadeInUp delay-1s" style="">

                <div class="card-body">
                    <div class="" style="margin-left: 3px !important; margin-bottom: 20px">


                        <!-- Horizontal Form -->
                        <div class="box box-danger" style="border-top-color: #fff; border-radius: 0px">

                            <div class="box-header with-border">
                                <h4 class="box-title">Titles</h4>
                            </div>
                            <div class="box-body">

                                <div class="table-responsive">
                                    <table id="" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>
                                                    SN
                                                </th>
                                                <th>
                                                    Name
                                                </th>
                                                <th>
                                                    Active
                                                </th>
                                                <th>

                                                </th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.TitleList.Count; i++)
                                            {
                                                int sn = i + 1;
                                                <tr>
                                                    <td>
                                                        @sn
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.TitleList[i].Name)
                                                    </td>


                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.TitleList[i].Active)

                                                    </td>

                                                    <td><button class="btn btn-primary" onclick="EditSession(@Model.TitleList[i].Id)">Edit</button></td>

                                                </tr>
                                            }

                                    </table>
                                </div>
                                <div class="box-footer">
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#titlemodal">ADD TITLE</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!----------------------------------SESSION MODAL------------------------------------>
<div class="modal fade" id="sessionmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Research Cycle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Session Name:</label>
                    <input type="text" class="form-control" id="sessioname" required="true" />
                    <label class="control-label">Activate:</label>
                    <input type="checkbox" class="" id="sessionActive" />
                    <label class="control-label">Activate For Application:</label>
                    <input type="checkbox" class="" id="sessionApplicationActive" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveSession">SAVE</button>

            </div>
        </div>
    </div>
</div>
<!----------------------------------EDIT SESSION MODAL------------------------------------>
<div class="modal fade" id="editSessionmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Research Cycle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Research Cycle:</label>
                    <input type="text" class="form-control" id="editSessioname" required="true" />
                    <label class="control-label">Activate:</label>
                    <input type="checkbox" class="" id="editSessionActive" />
                    <label class="control-label">Activate For Application:</label>
                    <input type="checkbox" class="" id="editSessionApplicationActive" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveEditSession">SAVE</button>

            </div>
        </div>
    </div>
</div>
<!----------------------------------TITLE MODAL------------------------------------>
<div class="modal fade" id="titlemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Title Name:</label>
                    <input type="text" class="form-control" id="titlename" required="true" />
                    <label class="control-label">Activate:</label>
                    <input type="checkbox" class="" id="titleActive" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveTitle">SAVE</button>
            </div>
        </div>
    </div>
</div>