﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@using Grant.Web.Infrastructure
@{
    ViewData["Title"] = "Submitted Concept Note";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }

</section>
<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Concept Notes <span class="text-muted text-sm">/ Submitted Concept Notes By Category</span></h1>
        <hr class="mt-0 mb-2" />
    </div>


    <div class="row justify-content-center" style="margin-bottom: 30px">

        <div class="col-md-12">

            <div class="card animated fadeInUp delay-1s" style="">

                <div class="card-body">
                    <div class="" style="margin-left: 3px !important; margin-bottom: 20px">


                        <!-- Horizontal Form -->
                        <div class="box box-danger" style="border-top-color: #fff; border-radius: 0px">

                            <div class="box-body">
                                <div class="table-responsive">



                                    <table id="modelDataTable" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>S/N</th>
                                                <th>
                                                    Principal Investigator(PI)
                                                </th>

                                                <th>
                                                    Concept Note Title
                                                </th>
                                                <th>
                                                    File-No
                                                </th>
                                                <th>
                                                    Category-(Thematic Area)
                                                </th>

                                                <th>
                                                    Assessor(s)
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{ int index = 0; }
                                            @foreach (var item in Model.PIAccessorSummary)
                                            {

                                                index += 1;
                                                <tr>
                                                    <td>@index</td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ApplicantThematic.Applicant.Person.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ApplicantThematic.Title)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ApplicantThematic.FileNo)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ApplicantThematic.Theme.Category.Name)-(@Html.DisplayFor(modelItem => item.ApplicantThematic.Theme.Name))
                                                    </td>
                                                    <td>
                                                        @if (item.Reviewers.Count > 0)
                                                        {
                                                            for (int t = 0; t < item.Reviewers.Count; t++)
                                                            {
                                                                @Html.DisplayFor(modelItem => item.Reviewers[t].Title.Name) @Html.DisplayFor(modelItem => item.Reviewers[t].Name)
                                                                <br />
                                                                <hr />



                                                            }

                                                        }



                                                    </td>

                                                </tr>
                                            }

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="row justify-content-between mt-3 px-4">
                            <button onclick="goBack()" type="button" class="save btn btn-outline-success">Back</button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



</section>
<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
@section Scripts{
    <script>
        //go back
        function goBack() {
            window.history.back()
        }
    </script>
}















