﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Upload Accessor(s)";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: red">
            <partial name="_Message" model="@TempData["Message"]" />
        </div>
    }

</section>

<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Accessors <span class="text-muted text-sm">/ Excel Upload of Accessors </span></h1>
        <hr class="mt-0 mb-2" />
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">

        <div class="col-md-10">

            <div class="card animated fadeInUp delay-1s" style="">
                <div class="card-header">Accessor Upload using excel file</div>
                <div class="card-body">

                    <div class="" style="">
                        <form asp-action="UploadAccessors" asp-controller="AdminHome" method="POST" role="form" enctype="multipart/form-data" class="form-horizontal" style="">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        
                                        <div class="col-sm-12">
                                            <input type="file" name="AttachmentFile" required />

                                        </div>
                                    </div>
                                </div>



                                <div class="col-md-6">

                                    <div class="col-sm-12 text-center">
                                        <button type="submit" class="btn btn-success pull-right">Preview</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    @if (Model.ShowPanel)
    {

        <div class="row justify-content-center" style="margin-bottom: 30px">

            <div class="col-md-12">

                <div class="card animated fadeInUp delay-1s" style="">

                    <div class="card-body">
                        <div class="" style="margin-left: 3px !important; margin-bottom: 20px">
                            <form asp-action="SaveAccessorList" asp-controller="AdminHome" method="POST" role="form" class="form-horizontal" style="">

                                <!-- Horizontal Form -->
                                <div class="box box-danger" style="border-top-color: #fff; border-radius: 0px">

                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table id="modelDataTable" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>S/N</th>
                                                        <th>
                                                            Accessor Name
                                                        </th>

                                                        <th>
                                                            Email Address
                                                        </th>
                                                        <th>
                                                            Phone No.
                                                        </th>

                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @foreach (var item in Model.ReadExcelList)
                                                    {
                                                        <tr>
                                                            <td>@item.SerialNumber</td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.FullName)
                                                            </td>

                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Email)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.PhoneNo)
                                                            </td>


                                                        </tr>
                                                    }

                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">


                                            

                                        </div>
                                        <div class="col-md-6 text-right">


                                            <button type="submit" class="btn btn-success pull-right">Save</button>

                                        </div>
                                    </div>
                                    
                                </div>
</form>
</div>



                    </div>

                </div>

            </div>

        </div>
    }


</section>

