﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Submitted Concept Note";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: red">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }

</section>

<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Concept Notes <span class="text-muted text-sm">/ View By Research Cycle </span></h1>
        <hr class="mt-0 mb-2" />
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">

        <div class="col-md-8">

            <div class="card animated fadeInUp delay-1s" style="">

                <div class="card-body">
                    <div class="" style="">
                        <form asp-action="ViewSubmittedConceptNoteByResearchCycle" asp-controller="AdminHome" method="POST" role="form" class="form-horizontal" style="">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class=" mt-2">
                                <div class="form-group">
                                    <label asp-for="SessionId" , class="col-sm-12">Research Cycle</label>
                                    <div class="col-sm-12">
                                        <select asp-for="SessionId" class="form-control"
                                                asp-items=@Model.AllSessionNameSL required>
                                            <option value="">-- Select Research Cycle --</option>
                                        </select>
                                        <span asp-validation-for="SessionId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>



                            <div class="form-group">

                                <div class="col-sm-12 text-center">
                                    <button type="submit" class="btn btn-success pull-right">View</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (Model.ShowPanel)
    {

        <div class="row justify-content-center" style="margin-bottom: 30px">

            <div class="col-md-12">

                <div class="card animated fadeInUp delay-1s" style="">

                    <div class="card-body">
                        <div class="" style="margin-left: 3px !important; margin-bottom: 20px">


                            <!-- Horizontal Form -->
                            <div class="box box-danger" style="border-top-color: #fff; border-radius: 0px">

                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table id="modelDataTable" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>S/N</th>
                                                    <th>
                                                        Principal Investigator(PI)
                                                    </th>

                                                    <th>
                                                        Concept Note Title
                                                    </th>
                                                    <th>
                                                        File-No
                                                    </th>
                                                    <th>
                                                        Category-(Thematic Area)
                                                    </th>

                                                    <th>
                                                        Assessor
                                                    </th>
                                         
                                            
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{ int index = 0; }
                                                @foreach (var item in Model.ApplicationList)
                                                {
                                                    index += 1;
                                                    var reviewId = item.ReviewerId;
                                                    <tr>
                                                        <td>@index</td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Person.Name)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ApplicantThematic.Title)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ApplicantThematic.FileNo)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ApplicantThematic.Theme.Category.Name)-(@Html.DisplayFor(modelItem => item.ApplicantThematic.Theme.Name))
                                                        </td>


                                                        <td>
                                                            <span class="badge">@Html.DisplayFor(modelItem => item.Reviewers.Count)-Assessor(s)</span> <br />
                                                            @if (item.Reviewers.Count > 0)
                                                            {
                                                                <ul class="list-unstyled">
                                                                    @for (int t = 0; t < item.Reviewers.Count; t++)
                                                                    {

                                                                        <li>@Html.DisplayFor(modelItem => item.Reviewers[t].Name)</li>
                                                                        <hr style="margin: 0; color: #000; border-top: 1px solid #000;" />

                                                                    }
                                                                </ul>

                                                            }
                                                        </td>

                                                    </tr>
                                                }

                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>



                    </div>

                </div>

            </div>

        </div>
    }

</section>
