﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "View Submitted Proposal";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
            {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>
<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Proposals <span class="text-muted text-sm">/ View Submitted Proposals </span></h1>
        <hr class="mt-0 mb-2" />
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">
        @if (Model.Theme != null && Model.Theme.Id > 0)
        {
            @Html.HiddenFor(model => model.Theme.Id)
        }
        <div class="col-md-8">
            <!-- Horizontal Form -->
            <div class="card animated fadeInUp delay-1s" style="">
                <div class="card-body row">
                    <div class="col-md-2"></div>
                    <form asp-action="ViewSubmittedProposal" asp-controller="AdminHome" method="POST" role="form" class="form-horizontal col-md-8">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-md-12 mt-2">
                            <div class="form-group">
                                <label asp-for="SessionId" , class="col-sm-12">Research Cycle</label>
                                <div class="col-sm-12">
                                    <select asp-for="SessionId" class="form-control"
                                            asp-items=@Model.AllSessionNameSL required>
                                        <option value="">-- Select Research Cycle --</option>
                                    </select>
                                    <span asp-validation-for="SessionId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mt-2">
                            <div class="form-group">
                                <label asp-for="CategoryId" , class="col-sm-12">Category</label>
                                <div class="col-sm-12">
                                    <select id="CategoryId" asp-for="CategoryId" class="form-control"
                                            asp-items=@Model.ExpertCategoryNameSL required>
                                        <option value="">-- Select Category --</option>
                                    </select>
                                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-12">Thematic Area</label>
                                <div class="col-sm-12">
                                    <select id="ThemeId" asp-for="ThemeId" class="form-control"
                                            asp-items=@Model.ThemeNameSL required>
                                        <option value="">-- Select Thematic Area --</option>
                                    </select>
                                    <span asp-validation-for="ThemeId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>



                        <div class="mt-3 text-center">
                            <button type="submit" class="btn btn-success">View</button>
                        </div>
                    </form>

                </div>


            </div>

        </div>

    </div>
        @if (Model.ShowPanel)
        {
            <hr class="my-5" />
            <div class="col-12" card-body style="margin-left: 3px !important; margin-bottom: 20px">


                <div class="col-md-12">
                    <!-- Horizontal Form -->
                    <div class="card card-danger" style="border-top-color: #fff; border-radius: 0px">

                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="modelDataTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>S/N</th>
                                            <th>
                                                Principal Investigator(PI)
                                            </th>
                                            <th>
                                                Title
                                            </th>
                                            <th>
                                                File-No
                                            </th>
                                            <th>
                                                Category-(Thematic Area)
                                            </th>
                                            <th>
                                                Assessor
                                            </th>
                                            <th>
                                                Select Assessor
                                            </th>
                                            <th>
                                                Assessor
                                            </th>
                                            @*<th>
                                                Profile
                                            </th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int index = 0;}
                                        @foreach (var item in Model.ApplicationList)
                                        {
                                            index += 1;
                                            var reviewId = item.ReviewerId;
                                            <tr>
                                                <td>@index</td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ApplicantSubmission.ApplicantThematic.Applicant.Person.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ApplicantSubmission.Title)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ApplicantSubmission.ApplicantThematic.FileNo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ApplicantSubmission.ApplicantThematic.Theme.Category.Name)-(@Html.DisplayFor(modelItem => item.ApplicantSubmission.ApplicantThematic.Theme.Name))
                                                </td>

                                                <td>
                                                    <span class="badge">@Html.DisplayFor(modelItem => item.Reviewers.Count)-Assessor(s)</span> <br />
                                                    <br />
                                                    @if (item.Reviewers.Count > 0)
                                                    {
                                                        <ul class="list-unstyled">
                                                            @for (int t = 0; t < item.Reviewers.Count; t++)
                                                            {
                                                                <li>@Html.DisplayFor(modelItem => item.Reviewers[t].Name)</li>
                                                                <hr style="margin: 0; color: #000; border-top: 1px solid #000;" />


                                                            }
                                                        </ul>

                                                    }
                                                </td>
                                                <td>

                                                    @*<select id="reviewer_@item.ApplicantThematic.Id" asp-for=@reviewId class="form-control"
                                                            asp-items=@Model.ReviewerNameSL required>
                                                        <option value="">-- Select Reviewer --</option>
                                                    </select>*@
                                                    <select id="reviewer_@item.ApplicantSubmission.ApplicantThematic.Id" asp-for=@reviewId class="form-control"
                                                            asp-items=@item.ReviewerHighStrengthNameSL required>
                                                        @*asp-items=@Model.ReviewerHighStrengthNameSL required>*@
                                                        <option value="">-- Select Assessor --</option>
                                                    </select>

                                                </td>
                                                <td>
                                                    <Button class="btn btn-primary" onclick="assignAccessor(@item.ApplicantSubmission.ApplicantThematic.Id)">Assign</Button>
                                                </td>
                                                @*<td>
                                                    <a asp-action="ApplicantProfile" class="btn btn-primary" asp-route-id="@item.Person.Id">View</a>
                                                </td>*@

                                            </tr>
                                        }

                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        }




</section>
<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
@section Scripts{
    <script type="text/javascript">
        let applicantThematicId;
        let selectAccessorId;
        const categorySelectList = $("#CategoryId");
        var preselectedTheme = $('#Theme_Id').val();

        $(function () {
            if (categorySelectList.val() && typeof categorySelectList.val() !== "undefined") {
                loadThematicAreas(categorySelectList.val());
            }

            //On change event
            categorySelectList.change(function () {
                let v = $(this).val();
                loadThematicAreas(v);
            });
        });

        function loadThematicAreas(v) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetTheme")', // we are calling json method
                dataType: 'json',
                data: { value: v },
                success: function (themecategoryList) {
                        $("#ThemeId").empty();

                        $("#ThemeId").append('<option value="' + 0 + '">' +
                            '-- Select Thematic Area --' + '</option>');
                        $.each(themecategoryList, function (i, theme) {
                            $("#ThemeId").append('<option value="' + theme.value + '">' +
                                theme.text + '</option>');
                        });
                    if (preselectedTheme > 0) {
                        $('#ThemeId').val(preselectedTheme);
                    }

                    },
                error: function (ex) {
                     alert('Failed to Open Theme.' + ex);
                }
            });
        }

        function selectAccessor(e) {
            selectAccessorId = $(this).val();
        }

        function assignAccessor(s) {
            applicantThematicId = s;
            selectAccessorId = $(`#reviewer_${s}`).val();
            if (applicantThematicId != "undefined" && applicantThematicId > 0 && selectAccessorId != "undefined" && selectAccessorId > 0){

              $.ajax({
                type: "POST",
                url: '@Url.Action("AssignProposalAccessor", "AdminHome")',
                //contentType: "application/json; charset=utf-8",
                data: { id: applicantThematicId, reviewerId: selectAccessorId },
                success: function (response) {
                    if (response.success) {
                        alert(response.responseText);
                        window.location.reload(true);
                    } else {
                        // DoSomethingElse()
                        alert(response.responseText);
                    }
                },
                error: function (response) {
                    alert("error!");  //
                }

                })
            }


        }
    </script>
}
