﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "View Assessed Proposal";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    <div class="pg-head">
        <h3 class="monts text-center" style="font-weight: 300; margin-top: 10px">Assessed Proposal / <span class="small"> View By Category</span></h3>
    </div>

    @if (@TempData["Message"] != null)
            {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }

</section>

<section class="content">

    <div class="container" style="margin-bottom: 30px">

        <div class="col-md-12">

            <div class="box box-danger" style="border-top-color: #fff; border-radius: 0px">
                
                <div class="box-body">
                    <div class="" style="">
                        <form asp-action="ViewReviewedProposal" asp-controller="AdminHome" method="POST" role="form" class="form-horizontal" style="">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class=" mt-2">
                                <div class="form-group">
                                    <label asp-for="SessionId" , class="col-sm-12">Research Cycle</label>
                                    <div class="col-sm-12">
                                        <select asp-for="SessionId" class="form-control"
                                                asp-items=@Model.AllSessionNameSL required>
                                            <option value="">-- Select Research Cycle --</option>
                                        </select>
                                        <span asp-validation-for="SessionId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class=" mt-2">
                                <div class="form-group">
                                    <label asp-for="CategoryId" , class="col-sm-12">Category</label>
                                    <div class="col-sm-12">
                                        <select id="CategoryId" asp-for="CategoryId" class="form-control"
                                                asp-items=@Model.CategoryNameSL required>
                                            <option value="">-- Select Category --</option>
                                        </select>
                                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>




                            <div class="form-group">


                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-success pull-right">View</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (Model.ShowPanel)
            {

        <div class="" style="margin-left: 3px !important; margin-bottom: 20px">
            <div class="container">

                <div class="col-md-12">
                    <!-- Horizontal Form -->
                    <div class="box box-danger" style="border-top-color: #fff; border-radius: 0px">

                        <div class="box-body">
                            <div class="table-responsive">
                                <table id="modelDataTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                S/N
                                            </th>
                                            <th>
                                                Category
                                            </th>
                                            <th>
                                                Thematic-Area
                                            </th>
                                            <th>
                                                Assessor Count
                                            </th>

                                            <th>
                                                Average Score
                                            </th>
                                            <th>
                                                Approved Average Budget (&#8358;)
                                            </th>
                                            <th>
                                                Approved
                                            </th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int index = 0; }
                                        @foreach (var item in Model.ScoreRankings)
                                        {
                                            index += 1;
                                        <tr>
                                            <td>
                                                @index
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CategoryName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ThematicAreaName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ReviewerCount)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.AverageScore)
                                            </td>
                                            <td>
                                                @string.Format("{0:0,0.00}", item.AverageApprovedBudget)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.iSApproved)
                                            </td>
                                            <td>
                                                @if (!item.iSApproved)
                                                {

                                                    <Button class="btn btn-primary" onclick="saveApproveProposal(@item.ApplicantThematic.Id,@item.AverageApprovedBudget)">Approve</Button>
                                                }

                                            </td>
                                            <td>
                                                @if (!item.iSApproved)
                                                {
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" onclick="rejectProposal(@item.ApplicantThematic.Id)">
                                                        Reject
                                                    </button>
                                                }
                                            </td>

                                        </tr>
                                        }

</table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    }

   

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Remark</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <textarea type="text" rows="5" cols="10" id="remark" class="col-md-12" style="display:none"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-md-3">Default</label>
                            <input type="radio" name="isDefault" id="default" class="col-md-4 radio" value="Default" />
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-3">Custom</label>
                            <input type="radio" name="isDefault" id="custom" class="col-md-4 radio" value="Custom" />
                            </div>
                           
                        </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"onclick="saveRejectProposal()">Save</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
@section Scripts{
    <script>
        let applicantThematicId = 0;
        //$(document).ready(function () {
            $('.radio').on('click', function () {
                var radios = document.getElementsByClassName('radio');
                var value;
                for (var i = 0; i < radios.length; i++) {
                    if (radios[i].type == 'radio' && radios[i].checked) {
                        value = radios[i].value;
                        if (value == 'Custom') {
                            $('#remark').show();

                        }
                        else {
                            $('#remark').hide();

                        }

                    }

                }
            })
            //if ($('input[name=isDefault]:checked').length > 0) {


            //}

        //})
        function rejectProposal(e) {

            applicantThematicId = e;

        }
        function saveRejectProposal() {
            var isDefault = false;
            var remark = $('#remark').val();
            if ($('#default').is(':checked')) {
                isDefault = true;

            }
            if (applicantThematicId > 0 && applicantThematicId != undefined && isDefault != undefined) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("RejectProposal", "AdminHome")',
                //contentType: "application/json; charset=utf-8",
                data: { isDefault, applicantThematicId, remark},
                success: function (response) {
                    if (response.success) {
                        alert(response.responseText);
                        window.location.reload(true);
                    } else {
                        // DoSomethingElse()
                        alert(response.responseText);
                    }
                },
                error: function (response) {
                    alert("error!");  //
                }

                })

            }


        }

                function saveApproveProposal(e,r) {
                    let Amount = r;
                    applicantThematicId = e;
                    if (applicantThematicId > 0 && applicantThematicId != undefined && Amount != undefined) {
                                            $.ajax({
                type: "POST",
                url: '@Url.Action("ProposalFinalApproval", "AdminHome")',
                //contentType: "application/json; charset=utf-8",
                data: { Amount,applicantThematicId},
                success: function (response) {
                    if (response.success) {
                        alert(response.responseText);
                        window.location.reload(true);
                    } else {
                        // DoSomethingElse()
                        alert(response.responseText);
                    }
                },
                error: function (response) {
                    alert("error!");  //
                }

                })

            }


        }

    </script>
}




