﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "View Application";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    @if (@TempData["Message"] != null)
            {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>
<section class="content">
    <div class="container">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title"> Proposal Ranking </h3>
                </div>
                <form asp-action="ViewApplication" asp-controller="AdminHome" method="POST" role="form" class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="CategoryId" , class="col-sm-4 control-label">Category</label>
                                <div class="col-sm-8">
                                    <select id="CategoryId" asp-for="CategoryId" class="form-control"
                                            asp-items=@Model.CategoryNameSL required>
                                        <option value="">-- Select Category --</option>
                                    </select>
                                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="box-footer">

                        <button type="submit" class="btn btn-danger pull-right">View</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @if (Model.ShowPanel)
    {

        <div class="container">
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>
                    </div>
                    <div class="box-body">
                        <table id="modelDataTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        S/N
                                    </th>
                                    <th>
                                        Principal Investigator(PI)
                                    </th>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Category-(Thematic Area)
                                    </th>
                                    <th>
                                        Assessor
                                    </th>
                                    <th>
                                        Select Assessor
                                    </th>
                                    <th>
                                        Assessor
                                    </th>
                                    <th>
                                        Profile
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int index = 0; }
                                @foreach (var item in Model.ApplicationList)
                                {
                                    index += 1;
                                    var reviewId = item.ReviewerId;
                                <tr>
                                    <td>@index</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Person.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ApplicantThematic.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Category.Name)-(@Html.DisplayFor(modelItem => item.Theme.Name))
                                    </td>

                                    <td>
                                        (@Html.DisplayFor(modelItem => item.Reviewers.Count))-
                                        @if (item.Reviewers.Count > 0)
                                        {
                                            for (int t = 0; t < item.Reviewers.Count; t++)
                                            {
                                                @Html.DisplayFor(modelItem => item.Reviewers[t].Name)
                                                <br />

                                            }

                                        }
                                    </td>
                                    <td>

                                        <select id="reviewer_@item.ApplicantThematic.Id" asp-for=@reviewId class="form-control"
                                                asp-items=@Model.ReviewerNameSL required>
                                            <option value="">-- Select Assessor --</option>
                                        </select>

                                    </td>
                                    <td>
                                        <Button class="btn btn-primary" onclick="assignAccessor(@item.ApplicantThematic.Id)">Assign</Button>
                                    </td>
                                    <td>
                                        <a asp-action="ApplicantProfile" class="btn btn-primary" asp-route-id="@item.Person.Id">View</a>
                                    </td>

                                </tr>
                                }

</table>
                    </div>
                </div>
            </div>
        </div>

    }

</section>
<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>


