﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@using Grant.Web.Infrastructure
@{
    ViewData["Title"] = "Reconciliation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }

</section>
<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Concept Notes <span class="text-muted text-sm">/ Reconciliation</span></h1>
        <hr class="mt-0 mb-2" />
    </div>


    <div class="row justify-content-center" style="margin-bottom: 30px">
        <div class="col-md-12">

            <div class="card animated fadeInUp delay-1s" style="">
                <div class="card-body">
                    @if (Model.Reconciliation?.Id > 0)
                    {
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            Is Reconciled
                                        </th>
                                        <th>Reconcile average</th>
                                        <th>By</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            True
                                        </td>
                                        <td>
                                            @Model.Reconciliation.ReconcilliationAverageScore
                                        </td>
                                        <td>@Model.Reconciliation.User.Reviewer.FullName</td>
                                        <td>@Model.Reconciliation.DateReconcilled.ToLongDateString()</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        var id = Utility.Encrypt(Model.ApplicantReviewerViewModel.FirstOrDefault().ApplicantThematic.Id.ToString());
                        var tid = Utility.Encrypt("1");
                        <a asp-action="Reconcile" asp-controller="AdminHome" class="btn btn-primary float-right" asp-route-id=@id asp-route-tid=@tid>Reconcile</a>
                    }

                </div>
            </div>
        </div>
                <div class="col-md-12">

                    <div class="card animated fadeInUp delay-1s" style="">
                        
                        <div class="card-body">
                            <div class="" style="margin-left: 3px !important; margin-bottom: 20px">


                                <!-- Horizontal Form -->
                                <div class="box box-danger" style="border-top-color: #fff; border-radius: 0px">

                                    <div class="box-body">
                                        <div class="table-responsive">



                                            <table id="modelDataTable" class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>S/N</th>
                                                        <th>
                                                            Accessor Name
                                                        </th>
                                                        <th>
                                                            Phone No.
                                                        </th>
                                                        <th>
                                                            Email Address
                                                        </th>
                                                        <th>
                                                            Principal Investigator(PI)
                                                        </th>
                                                        <th>
                                                            Concept Note Title
                                                        </th>
                                                        <th>
                                                            Total Score
                                                        </th>



                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{ int index = 0; }
                                                    @foreach (var item in Model.ApplicantReviewerViewModel)
                                                    {

                                                        index += 1;
                                                    <tr>
                                                        <td>@index</td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Reviewer.Name)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Reviewer.PhoneNo)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Reviewer.Email)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ApplicantThematic.Applicant.Person.ApplicantFullName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ApplicantThematic.Title)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ConceptNoteMark)
                                                        </td>


                                                    </tr>
                                                    }

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <div class="row justify-content-between mt-3 px-4">
                                    <button onclick="goBack()" type="button" class="save btn btn-outline-success">Back</button>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>



</section>
<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
@section Scripts{
    <script>
        //go back
        function goBack() {
            window.history.back()
        }
    </script>
}















