﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@using Grant.Web.Infrastructure
@{
    ViewData["Title"] = "ViewReviewedConceptNote";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }

</section>
<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Concept Notes <span class="text-muted text-sm">/ Assessed Concept Notes</span></h1>
        <hr class="mt-0 mb-2" />
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">

        <div class="col-md-8">

            <div class="card animated fadeInUp delay-1s" style="">


                <div class="card-body">
                    <div class="mb-4">
                        <form asp-action="ViewReviewedConceptNote" asp-controller="AdminHome" method="POST" role="form" class="form-horizontal" style="">
                            <div asp-validation-summary="ModelOnly" class="mb-5"></div>


                            <div class=" mt-2">
                                <div class="form-group row">
                                    <label asp-for="SessionId" , class="col-sm-12">Research Cycle</label>
                                    <div class="col-md-10">
                                        <select asp-for="SessionId" class="form-control"
                                                asp-items=@Model.AllSessionNameSL required>
                                            <option value="">-- Select Research Cycle --</option>
                                        </select>
                                        <span asp-validation-for="SessionId" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-2 text-center">
                                        <button type="submit" class="btn btn-success">View</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>


    @if (Model.ShowPanel)
    {

                                        <div class="row justify-content-center" style="margin-bottom: 30px">

                                            <div class="col-md-12">

                                                <div class="card animated fadeInUp delay-1s" style="">

                                                    <div class="card-body">
                                                        <div class="" style="margin-left: 3px !important; margin-bottom: 20px">


                                                            <!-- Horizontal Form -->
                                                            <div class="box box-danger" style="border-top-color: #fff; border-radius: 0px">

                                                                <div class="box-body">
                                                                    <div class="table-responsive">



                                                                        <table id="modelDataTable" class="table table-bordered table-hover">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>S/N</th>
                                                                                    <th>
                                                                                        Principal Investigator(PI)
                                                                                    </th>

                                                                                    <th>
                                                                                        Concept Note Title
                                                                                    </th>
                                                                                    <th>
                                                                                        File-No
                                                                                    </th>
                                                                                    <th>
                                                                                        Category-(Thematic Area)
                                                                                    </th>

                                                                                    <th>
                                                                                        Assessor(s)
                                                                                    </th>

                                                                                    <th>
                                                                                        Average Score
                                                                                    </th>
                                                                                    <th>
                                                                                        Approved
                                                                                    </th>
                                                                                    <th>
                                                                                        Actions
                                                                                    </th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                @{ int index = 0; }
                                                                                @foreach (var item in Model.ApplicationList)
                                                                                {
                                                                                    var id = Utility.Encrypt(item.ApplicantThematic.Id.ToString());
                                                                                    var score = Utility.Encrypt(item.Average.ToString());
                                                                                    index += 1;
                                                                                    <tr>
                                                                                        <td>@index</td>
                                                                                        <td>
                                                                                            @Html.DisplayFor(modelItem => item.Person.Name)
                                                                                        </td>
                                                                                        <td>
                                                                                            @Html.DisplayFor(modelItem => item.ApplicantThematic.Title)
                                                                                        </td>
                                                                                        <td>
                                                                                            @Html.DisplayFor(modelItem => item.ApplicantThematic.FileNo)
                                                                                        </td>
                                                                                        <td>
                                                                                            @Html.DisplayFor(modelItem => item.Category.Name)-(@Html.DisplayFor(modelItem => item.Theme.Name))
                                                                                        </td>
                                                                                        <td>
                                                                                            @if (item.ReviewerScores.Count > 0)
                                                                                            {
                                                                                                for (int t = 0; t < item.ReviewerScores.Count; t++)
                                                                                                {
                                                                                                    @Html.DisplayFor(modelItem => item.ReviewerScores[t].Reviewer.Name) <br /> @Html.DisplayFor(modelItem => item.ReviewerScores[t].Mark)
                                                                                                    <br />
                                                                                                    <br />



                                                                                                }

                                                                                            }



                                                                                        </td>
                                                                                        <td>
                                                                                            @Html.DisplayFor(modelItem => item.Average)
                                                                                        </td>
                                                                                        @if (item.Approval != null)
                                                                                        {
                                                                                            <td>
                                                                                                Approved
                                                                                            </td>

                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <td>
                                                                                                Not Approved
                                                                                            </td>

                                                                                        }
                                                                                        <td>
                                                                                            @if (item.Approval != null && item.Approval.Approved)
                                                                                            {


                                                                                            }
                                                                                            else
                                                                                            {

                                                                                                <a asp-action="ApproveConceptNote" asp-controller="AdminHome" class="btn btn-primary" asp-route-id=@id asp-route-score=@score>Approve</a>
                                                                                            }

                                                                                        </td>

                                                                                    </tr>
                                                                                }

                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        }



</section>















