﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "View Research Cycles";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">
            <partial name="_Message" model="@TempData["Message"]" />
        </div>
    }
</section>

<div class="content" >

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Research Cycle / <span class="text-sm text-muted">View Research Cycles</span></h1>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-10">
            <!-- Horizontal Form -->
            <div class="card ">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="modelDataTable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        SN
                                    </th>
                                    <th>
                                        Research Cycle Name
                                    </th>
                                    <th>
                                        No. Of Categories
                                    </th>
                                    <th>
                                        Amount Allocated(&#8358;)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int index = 0; }
                                @foreach (var item in Model.ReasearchCycleReportList)
                                {
                                    index += 1;
                                    <tr>
                                        <td>
                                            @index
                                        </td>
                                        <td class="text-capitalize">
                                            @item.ReaserchCycleName
                                        </td>
                                        <td>
                                            @item.CategoryCountPerCycle
                                        </td>
                                        <td>
                                            &#8358;@string.Format("{0:N}", item.AmountAllocated)
                                        </td>
                                        <td>
                                            @if (item.ShowEdit)
                                            {
                                                <a asp-action="EditBudget" asp-controller="AdminHome" class="btn btn-success" asp-route-id="@item.ResearchCycleId">Edit Budget</a>
                                            }

                                        </td>
                                    </tr>
                                }
                        </table>
                    </div>
                </div>
                <div class="card-footer text-center" >
                    <a class="btn btn-success" asp-action="SetBudget" asp-controller="AdminHome">Set Budget</a>
                </div>
            </div>
        </div>
    </div>
</div>