﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@using Grant.Web.Infrastructure
@{
    ViewData["Title"] = "Assessor Expertise";
    //Layout = "~/Views/Shared/_ReviewerLayout.cshtml";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section class="content-header" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>

<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Assessor's Expertise</h1>
        <div class="avatar-group mt-3">
        </div>
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">
        <div class="col-md-10">
            <!-- Horizontal Form -->
            <div class="card" style="">

                <div class="card-body">
                    <div class="table-responsive">
                        <table id="modelDataTable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>
                                        Category
                                    </th>

                                    <th>
                                        Thematic Area
                                    </th>

                                    <th>
                                        Expertise
                                    </th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                                @{ int index = 0;}
                                @foreach (var item in Model.ReviewerThematicStrenght)
                                {
                                    var id=Utility.Encrypt(item.Id.ToString());
                                    index += 1;
                                    <tr>
                                        <td>@index</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Theme.Category.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Theme.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Strenght)
                                        </td>
                                        <td>
                                            <a asp-action="EditStrength" class="btn btn-success" asp-route-id=@id>Edit</a>
                                        </td>
                                    </tr>
                                }

                        </table>
                    </div>

                </div>
                <div class="card-footer text-center">
                    <div class=" row justify-content-center mb-3">
                        <ul class="list-group list-group-horizontal-md text-danger">
                            <li class="list-group-item h5">5: Excellent</li>
                            <li class="list-group-item h5">4: Very Good</li>
                            <li class="list-group-item h5">3: Average Knowledge</li>
                            <li class="list-group-item h5">2: Fair</li>
                            <li class="list-group-item h5">1: Poor</li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-success" id="showStrength">Update Expertise</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-bottom: 30px">
        <div id="strenghtDiv" style="display:none" class="col-md-10">
            <!-- Horizontal Form -->
            <div class="card" style="border-top-color: #fff; border-radius: 0">
                <div class="card-header with-border">
                    <h4 class="card-title monts">Add Expertise</h4>
                </div>
                <form asp-action="AddStrength" asp-antiforgery="true" enctype="multipart/form-data" class="form-horizontal">
                    <div class="card-body">

                        <div class="form-group">
                            <label asp-for="CategoryId" , class="col-sm-12 ">Category</label>
                            <div class="col-sm-12">
                                <select id="CategoryId" asp-for="CategoryId" class="form-control"
                                        asp-items=@Model.ExpertCategoryNameSL required>
                                    <option value="">-- Select Category --</option>
                                </select>
                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-12 ">Thematic Area</label>
                            <div class="col-sm-12">
                                <select asp-for="ThemeId" class="form-control" id="ThemeId"
                                        name="ThemeId" data-url="@Url.Action("GetTheme")"></select>
                                <span asp-validation-for="ThemeId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-12 ">Expertise</label>
                            <div class="col-sm-12">
                                <select asp-for=Strength class="form-control">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center mb-3">

                        <div class="row justify-content-center">
                            <ul class="list-group list-group-horizontal-md text-danger">
                                <li class="list-group-item h5">5: Excellent</li>
                                <li class="list-group-item h5">4: Very Good</li>
                                <li class="list-group-item h5">3: Average Knowledge</li>
                                <li class="list-group-item h5">2: Fair</li>
                                <li class="list-group-item h5">1: Poor</li>
                            </ul>
                        </div>
                        <button type="submit" class="btn btn-success  pull-right">Save</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#showStrength').on('click', function () {
                $('#strenghtDiv').show();
            })

        })
        $(function () {
            $("#CategoryId").change(function () {
                var v = $(this).val();
                var url = $("#ThemeId").data("url") + '?value=' + v;
                $.getJSON(url, function (themecategoryList) {
                    $("#ThemeId").empty();

                    $("#ThemeId").append('<option value="' + 0 + '">' +
                        '-- Select Thematic Area --' + '</option>');
                    $.each(themecategoryList, function (i, theme) {
                        $("#ThemeId").append('<option value="' + theme.value + '">' +
                            theme.text + '</option>');
                    });


                });

            })

        })
    </script>
}