﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Proposal Review And Assessment";
    //Layout = "~/Views/Shared/_ReviewerLayout.cshtml";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    body {
        font-family: Poppins, sans-serif;
        background-color: whitesmoke !important;
    }

    .th-bg {
        background-color: #1CBC9D;
    }

    .th-bg2 {
        background-color: #DAEEF3;
    }
</style>
<section class="content-header">
    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">
            <partial name="_Message" model="@TempData["Message"]" />
        </div>
    }
</section>

        <section class="content" style="min-height: 260vh">

            <div class="ct-page-title">
                <h1 class="ct-title" id="content">Co-Reviewer Proposal Assessment</h1>
                @*<div class="avatar-group mt-3">
                </div>*@
            </div>

            <div class="col-xs-12 col-md-12 text-center no-padding">
                <button type="button" class="btn btn-success" id="full-preview">Full Preview</button>
            </div>

            <div class="row justify-content-center" style="margin-bottom: 30px">
                <div class="col-md-12">


                    @*<div class="col-md-12">

                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Proposal Preview</h3>
                    </div>
                    <div class="box-body">
                        <br />
                        <br />
                        <input type="hidden" asp-for="Proposal.ProposalUrl" id="proposalUrl" />
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-lg-4">
                                    <button id="prebtn" class="btn btn-danger pull-left"> Previous</button>
                                </div>
                                <div class="col-lg-4 text-center">
                                    <span class="page-info white-text text-center">
                                        Page <span id="page-num"> </span> of <span id="page-count"></span>
                                    </span>

                                </div>
                                <div class="col-lg-4">
                                    <button id="nxtbtn" class="btn btn-danger pull-right"> Next</button>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12 text-center" style="height:700px">
                            <canvas id="pdfrender" style="height:100%; width:100%"></canvas>
                        </div>

                    </div>




                </div>

            </div>*@
                    <form id="msform" method="POST" role="form" enctype="multipart/form-data" class="form-horizontal">
                        <div class="col-md-12">
                            <input type="hidden" asp-for="ApplicantSubmission.ApplicantThematicId" />
                            <input type="hidden" asp-for="Reviewer.Id" />
                            <!-- Horizontal Form -->
                            <div>
                                <ul class="nav nav-pills nav-pills-success mb-3 justify-content-center" id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="save nav-link active" id="step-one-tab" data-toggle="pill" href="#step-one"
                                           role="tab" aria-controls="step-one" aria-selected="true">Step One</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="save nav-link" id="step-two-tab" data-toggle="pill" href="#step-two"
                                           role="tab" aria-controls="step-two" aria-selected="false">Step Two</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="save nav-link" id="step-three-tab" data-toggle="pill" href="#step-three"
                                           role="tab" aria-controls="step-three" aria-selected="false">Step Three</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="save nav-link" id="step-four-tab" data-toggle="pill" href="#step-four"
                                           role="tab" aria-controls="step-four" aria-selected="false">Step Four</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="save nav-link" id="step-five-tab" data-toggle="pill" href="#step-five"
                                           role="tab" aria-controls="step-five" aria-selected="false">Step Five</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="save nav-link" id="step-six-tab" data-toggle="pill" href="#step-six"
                                           role="tab" aria-controls="step-six" aria-selected="false">Step Six</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="save nav-link" id="step-seven-tab" data-toggle="pill" href="#step-seven"
                                           role="tab" aria-controls="step-seven" aria-selected="false">Step Seven</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="save nav-link" id="step-eight-tab" data-toggle="pill" href="#step-eight"
                                           role="tab" aria-controls="step-eight" aria-selected="false">Step Eight</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="save nav-link" id="step-nine-tab" data-toggle="pill" href="#step-nine"
                                           role="tab" aria-controls="step-nine" aria-selected="false">Step Nine</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="save nav-link" id="step-ten-tab" data-toggle="pill" href="#step-ten"
                                           role="tab" aria-controls="step-ten" aria-selected="false">Step Ten</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="pills-tabContent">


                                    <div class="tab-pane fade show active" id="step-one" role="tabpanel" aria-labelledby="step-one-tab">
                                        <div class="card">
                                            <div class="card-body">
                                                <h3 class="fs-subtitle">Research Project Title</h3>

                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <textarea asp-for="ApplicantSubmission.Title" id="txtTitle" type="text" rows="1" readonly></textarea>
                                                    </div>
                                                    <div class="pull-right col-md-4">
                                                        <select asp-for=ProposalScoring.TitleScore class="form-control section" readonly>

                                                            <option value="0">@Model.ProposalScoring.TitleScore</option>
                                                            @*@for (int i = 1; i <= 1; i++)
                                                            {
                                                                <option selected=@(i  == Model.ProposalScoring.TitleScore ) value="@i">@i</option>

                                                            }*@
                                                        </select>
                                                    </div>
                                                </div>

                                                @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="title">300</span> character(s) left</div>*@

                                                <br />
                                                <h2 class="fs-subtitle">Executive Summary</h2>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <textarea asp-for="ApplicantSubmission.ExecutiveSummary" id="txtExecutiveSummary" type="text" rows="5" readonly></textarea>
                                                    </div>
                                                    <div class="pull-right col-md-4">
                                                        <select asp-for=ProposalScoring.ExecutiveSummaryScore class="form-control section" readonly>
                                                            <option value="0">@Model.ProposalScoring.ExecutiveSummaryScore</option>
                                                            @*@for (int i = 1; i <= 4; i++)
                                                            {


                                                                <option selected=@(i  == Model.ProposalScoring.ExecutiveSummaryScore ) value="@i">@i</option>
                                                            }*@

                                                        </select>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="ppx-4 text-right mt-3">
                                                    <button id="step-one-next" type="button" class="btn btn-success">Next</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="step-two" role="tabpanel" aria-labelledby="step-two-tab">
                                        <div class="card">
                                            <div class="card-body">
                                                <h2 class="fs-title">General Background of Research Project</h2>
                                                <h3 class="fs-subtitle">Introduction(Provide a general background and justification leading to the research project)</h3>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <textarea asp-for="ApplicantSubmission.IntroductionBackground" id="txtBackgroundIntro" type="text" rows="5" readonly></textarea>
                                                    </div>
                                                    <div class="pull-right col-md-4">
                                                        <select asp-for=ProposalScoring.IntroductionBackgroundScore class="form-control section" readonly>
                                                            <option value="0">@Model.ProposalScoring.IntroductionBackgroundScore</option>
                                                            @*@for (int i = 1; i <= 7; i++)
                                                            {

                                                                <option selected=@(i  == Model.ProposalScoring.IntroductionBackgroundScore ) value="@i">@i</option>
                                                            }*@
                                                        </select>
                                                    </div>
                                                </div>


                                                <br />
                                                <h3 class="fs-subtitle">Aims, General and Specific Objectives of the Research Project</h3>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <textarea asp-for="ApplicantSubmission.Aims" id="txtAim" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                    </div>
                                                    <div class="pull-right col-md-4">
                                                        <select asp-for=ProposalScoring.AimsScore class="form-control section" readonly>
                                                            <option value="0">@Model.ProposalScoring.AimsScore</option>
                                                            @*@for (int i = 1; i <= 8; i++)
                                                            {

                                                                <option selected=@(i  == Model.ProposalScoring.AimsScore ) value="@i">@i</option>
                                                            }*@
                                                        </select>
                                                    </div>
                                                </div>

                                                <br />
                                                <h3 class="fs-subtitle">Statement of the Problem(Why does this research need to be conducted)</h3>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <textarea asp-for="ApplicantSubmission.StatementOfProblem" id="txtStatement" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                    </div>
                                                    <div class="pull-right col-md-4">
                                                        <select asp-for=ProposalScoring.StatementOfProblemScore class="form-control section" readonly>
                                                            <option value="0">@Model.ProposalScoring.StatementOfProblemScore</option>
                                                            @*@for (int i = 1; i <= 14; i++)
                                                            {
                                                                <option selected=@(i  == Model.ProposalScoring.StatementOfProblemScore ) value="@i">@i</option>

                                                            }*@
                                                        </select>
                                                    </div>
                                                </div>

                                                <hr>
                                                <div class="row justify-content-between mt-3 px-4">
                                                    <button id="step-two-prev" type="button" class="btn btn-outline-success">Previous</button>
                                                    <button id="step-two-next" type="button" class="btn btn-success">Next</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="step-three" role="tabpanel" aria-labelledby="step-three-tab">
                                        <div class="card">
                                            <div class="card-body">
                                                <h2 class="fs-title">General Background of Research Project(cont.)</h2>
                                                <h3 class="fs-subtitle">Conceptual framework of the study(clearly identify and define the central concepts or ideas underlying the study)</h3>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <textarea asp-for="ApplicantSubmission.ConceptualFramework" id="txtConceptual" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                    </div>
                                                    <div class="pull-right col-md-4">
                                                        <select asp-for=ProposalScoring.ConceptualFrameworkScore class="form-control section" readonly>
                                                            <option value="0">@Model.ProposalScoring.ConceptualFrameworkScore</option>
                                                            @*@for (int i = 1; i <= 14; i++)
                                                            {

                                                                <option selected=@(i  == Model.ProposalScoring.ConceptualFrameworkScore ) value="@i">@i</option>
                                                            }*@
                                                        </select>
                                                    </div>
                                                </div>


                                                <br />
                                                <br />
                                                <h3 class="fs-subtitle">Project Goals(provide a summary of the short and long term goals of the project. indicate clearly the problems the project will help to address)</h3>

                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <textarea asp-for="ApplicantSubmission.ProjectGoal" id="txtProjectGoal" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                    </div>
                                                    <div class="pull-right col-md-4">
                                                        <select asp-for=ProposalScoring.ProjectGoalScore class="form-control section" readonly>
                                                            <option value="0">@Model.ProposalScoring.ProjectGoalScore</option>
                                                            @*@for (int i = 1; i <= 14; i++)
                                                            {

                                                                <option selected=@(i  == Model.ProposalScoring.ProjectGoalScore ) value="@i">@i</option>
                                                            }*@
                                                        </select>
                                                    </div>
                                                </div>

                                                <br />
                                                <h3 class="fs-subtitle">Project Impact(provide information to the long term impact of the project within the context of social, economic and technological benefits)</h3>

                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <textarea asp-for="ApplicantSubmission.ProjectImpact" id="txtProjectImpact" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                    </div>
                                                    <div class="pull-right col-md-4">
                                                        <select asp-for=ProposalScoring.ProjectImpactScore class="form-control section" readonly>
                                                            <option value="0">@Model.ProposalScoring.ProjectImpactScore</option>
                                                            @*@for (int i = 1; i <= 14; i++)
                                                            {

                                                                <option selected=@(i  == Model.ProposalScoring.ProjectImpactScore ) value="@i">@i</option>
                                                            }*@
                                                        </select>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row justify-content-between mt-3 px-4">
                                                    <button id="step-three-prev" type="button" class="btn btn-outline-success">Previous</button>
                                                    <button id="step-three-next" type="button" class="btn btn-success">Next</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="step-four" role="tabpanel" aria-labelledby="step-four-tab">
                                        <div class="card">
                                            <div class="card-body">
                                                <h2 class="fs-title">Research Details</h2>
                                                <h3 class="fs-subtitle">Literature Review</h3>

                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <textarea asp-for="ApplicantSubmission.LiteratureReview" id="txtLiteratureReview" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                    </div>
                                                    <div class="pull-right col-md-4">
                                                        <select asp-for=ProposalScoring.LiteratureReviewScore class="form-control section" readonly>
                                                            <option value="0">@Model.ProposalScoring.LiteratureReviewScore</option>
                                                            @*@for (int i = 1; i <= 14; i++)
                                                            {

                                                                <option selected=@(i  == Model.ProposalScoring.LiteratureReviewScore ) value="@i">@i</option>
                                                            }*@
                                                        </select>
                                                    </div>
                                                </div>
                                                <br />
                                                <h3 class="fs-subtitle">Research Methodology(Given detail methodology of the proposed research project)</h3>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <textarea asp-for="ApplicantSubmission.ResearchMethodoly" id="txtResearchMethodology" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                    </div>
                                                    <div class="pull-right col-md-4">
                                                        <select asp-for=ProposalScoring.ResearchMethodolyScore class="form-control section" readonly>
                                                            <option value="0">@Model.ProposalScoring.ResearchMethodolyScore</option>
                                                            @*@for (int i = 1; i <= 14; i++)
                                                            {

                                                                <option selected=@(i  == Model.ProposalScoring.ResearchMethodolyScore ) value="@i">@i</option>
                                                            }*@
                                                        </select>
                                                    </div>
                                                </div>

                                                <br />
                                                <h3 class="fs-subtitle">Project Activities and output(Given details of expected output from the research grant i.e. results to be obtained/produced within the produced time frame of the project)</h3>

                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <textarea asp-for="ApplicantSubmission.ProjectActivities" id="txtProjectActivities" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                    </div>
                                                    <div class="pull-right col-md-4">
                                                        <select asp-for=ProposalScoring.ProjectActivities class="form-control section" readonly>
                                                            <option value="0">@Model.ProposalScoring.ProjectActivities</option>
                                                            @*@for (int i = 1; i <= 14; i++)
                                                            {

                                                                <option selected=@(i  == Model.ProposalScoring.ProjectActivities ) value="@i">@i</option>
                                                            }*@
                                                        </select>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row justify-content-between mt-3 px-4">
                                                    <button id="step-four-prev" type="button" class="btn btn-outline-success">Previous</button>
                                                    <button id="step-four-next" type="button" class="btn btn-success">Next</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="step-five" role="tabpanel" aria-labelledby="step-five-tab">
                                        <div class="card">
                                            <div class="card-body">
                                                <h2 class="fs-title">Research Details(cont.)</h2>
                                                <h3 class="fs-subtitle">Time frame(provide a time line for the major activities of the project)</h3>

                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <textarea asp-for="ApplicantSubmission.TimeFrame" id="txtTimeFrame" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                    </div>
                                                    <div class="pull-right col-md-4">
                                                        <select asp-for=ProposalScoring.TimeFrameScore class="form-control section" readonly>
                                                            <option value="0">@Model.ProposalScoring.TimeFrameScore</option>
                                                            @*@for (int i = 1; i <= 14; i++)
                                                            {

                                                                <option selected=@(i  == Model.ProposalScoring.TimeFrameScore ) value="@i">@i</option>
                                                            }*@
                                                        </select>
                                                    </div>
                                                </div>
                                                <br />
                                                <h3 class="fs-subtitle">Activities Indicators(clearly state the indicators of each major activity of the project.)</h3>

                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <textarea asp-for="ApplicantSubmission.ActivityIndicator" id="txtActivityIndicator" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                    </div>
                                                    <div class="pull-right col-md-4">
                                                        <select asp-for=ProposalScoring.ActivityIndicatorScore class="form-control section" readonly>
                                                            <option value="0">@Model.ProposalScoring.ActivityIndicatorScore</option>
                                                            @*@for (int i = 1; i <= 14; i++)
                                                            {

                                                                <option selected=@(i  == Model.ProposalScoring.ActivityIndicatorScore ) value="@i">@i</option>
                                                            }*@
                                                        </select>
                                                    </div>
                                                </div>

                                                <br />
                                                <h3 class="fs-subtitle">The Study Location</h3>

                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <textarea asp-for="ApplicantSubmission.StudyLocation" id="txtStudyLocation" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                    </div>
                                                    <div class="pull-right col-md-4">
                                                        <select asp-for=ProposalScoring.StudyLocationScore class="form-control section" readonly>
                                                            <option value="0">@Model.ProposalScoring.StudyLocationScore</option>
                                                            @*@for (int i = 1; i <= 3; i++)
                                                            {

                                                                <option selected=@(i  == Model.ProposalScoring.StudyLocationScore ) value="@i">@i</option>
                                                            }*@

                                                        </select>
                                                    </div>
                                                </div>

                                                <hr>
                                                <div class="row justify-content-between mt-3 px-4">
                                                    <button id="step-five-prev" type="button" class="btn btn-outline-success">Previous</button>
                                                    <button id="step-five-next" type="button" class="btn btn-success">Next</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="step-six" role="tabpanel" aria-labelledby="step-six-tab">
                                        <div class="card">
                                            <div class="card-body">
                                                <h2 class="fs-title">Research Details(cont.)</h2>
                                                <h3 class="fs-subtitle">Data Management and Analysis</h3>

                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <textarea asp-for="ApplicantSubmission.DataManagement" id="txtDataManagement" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                    </div>
                                                    <div class="pull-right col-md-4">
                                                        <select asp-for=ProposalScoring.DataManagementScore class="form-control section" readonly>
                                                            <option value="0">@Model.ProposalScoring.DataManagementScore</option>
                                                            @*@for (int i = 1; i <= 14; i++)
                                                            {

                                                                <option selected=@(i  == Model.ProposalScoring.DataManagementScore ) value="@i">@i</option>
                                                            }*@
                                                        </select>
                                                    </div>
                                                </div>

                                                <br />
                                                <h3 class="fs-subtitle">Ethical and Environmental Considerations</h3>

                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <textarea asp-for="ApplicantSubmission.Ethical" id="txtEthical" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                    </div>
                                                    <div class="pull-right col-md-4">
                                                        <select asp-for=ProposalScoring.EthicalScore class="form-control section" readonly>
                                                            <option value="0">@Model.ProposalScoring.EthicalScore</option>
                                                            @*@for (int i = 1; i <= 14; i++)
                                                            {

                                                                <option selected=@(i  == Model.ProposalScoring.EthicalScore ) value="@i">@i</option>
                                                            }*@
                                                        </select>
                                                    </div>
                                                </div>
                                                <br />
                                                <h3 class="fs-subtitle">Monitoring and Evaluation Mechanisms you will adopt in achieving the stated objectives.</h3>

                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <textarea asp-for="ApplicantSubmission.Monitoring" id="txtMonitoring" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                    </div>
                                                    <div class="pull-right col-md-4">
                                                        <select asp-for=ProposalScoring.MonitoringScore class="form-control section" readonly>
                                                            <option value="0">@Model.ProposalScoring.MonitoringScore</option>
                                                            @*@for (int i = 1; i <= 14; i++)
                                                            {

                                                                <option selected=@(i  == Model.ProposalScoring.MonitoringScore ) value="@i">@i</option>
                                                            }*@
                                                        </select>
                                                    </div>
                                                </div>
                                                <br />
                                                <h3 class="fs-subtitle">Dissemination Strategies (indicate the steps you will take to ensure the project outcomes are brought to the attention of stakeholders).</h3>

                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <textarea asp-for="ApplicantSubmission.DisseminationStrategies" id="txtStrategies" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                    </div>
                                                    <div class="pull-right col-md-4">
                                                        <select asp-for=ProposalScoring.DisseminationStrategiesScore class="form-control section" readonly>
                                                            <option value="0">@Model.ProposalScoring.DisseminationStrategiesScore</option>
                                                            @*@for (int i = 1; i <= 14; i++)
                                                            {

                                                                <option selected=@(i  == Model.ProposalScoring.DisseminationStrategiesScore ) value="@i">@i</option>
                                                            }*@
                                                        </select>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row justify-content-between mt-3 px-4">
                                                    <button id="step-six-prev" type="button" class="btn btn-outline-success">Previous</button>
                                                    <button id="step-six-next" type="button" class="btn btn-success">Next</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="step-seven" role="tabpanel" aria-labelledby="step-seven-tab">
                                        <div class="card">
                                            <div class="card-body">
                                                <h2 class="fs-title">Research Team</h2>
                                                <h3 class="fs-subtitle">Research Work to Date(List the relevant team publications. Also list not more than 3 relevant on-going research works)</h3>

                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <textarea asp-for="ApplicantSubmission.ResearchWorkToDate" id="txtResearchWorkToDate" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                    </div>
                                                    <div class="pull-right col-md-4">
                                                        <select asp-for=ProposalScoring.ResearchWorkToDateScore class="form-control section" readonly>
                                                            <option value="0">@Model.ProposalScoring.ResearchWorkToDateScore</option>
                                                            @*@for (int i = 1; i <= 14; i++)
                                                            {

                                                                <option selected=@(i  == Model.ProposalScoring.ResearchWorkToDateScore ) value="@i">@i</option>
                                                            }*@
                                                        </select>
                                                    </div>
                                                </div>
                                                <br />
                                                <h3 class="fs-subtitle">Previous Research Grant</h3>

                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <textarea asp-for="ApplicantSubmission.PreviousGrant" id="txtPreviousGrant" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                    </div>
                                                    <div class="pull-right col-md-4">
                                                        <select asp-for=ProposalScoring.PreviousGrantScore class="form-control section" readonly>
                                                            <option value="0">@Model.ProposalScoring.PreviousGrantScore</option>
                                                            @*@for (int i = 1; i <= 14; i++)
                                                            {

                                                                <option selected=@(i  == Model.ProposalScoring.PreviousGrantScore ) value="@i">@i</option>
                                                            }*@
                                                        </select>
                                                    </div>
                                                </div>
                                                <br />
                                                <h3 class="fs-subtitle">Group Research(For group research, applicants are encouraged to consider gender, age and descipline. Provide below details about the roles and responsibilities of each member.)</h3>

                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <textarea asp-for="ApplicantSubmission.GroupResearch" id="txtGroupResearch" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                    </div>
                                                    <div class="pull-right col-md-4">
                                                        <select asp-for=ProposalScoring.GroupResearchScore class="form-control section" readonly>
                                                            <option value="0">@Model.ProposalScoring.GroupResearchScore</option>
                                                            @*@for (int i = 1; i <= 14; i++)
                                                            {

                                                                <option selected=@(i  == Model.ProposalScoring.GroupResearchScore ) value="@i">@i</option>
                                                            }*@
                                                        </select>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row justify-content-between mt-3 px-4">
                                                    <button id="step-seven-prev" type="button" class="btn btn-outline-success">Previous</button>
                                                    <button id="step-seven-next" type="button" class="btn btn-success">Next</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="step-eight" role="tabpanel" aria-labelledby="step-eight-tab">
                                        <div class="card">
                                            <div class="card-body">
                                                <h2 class="fs-title">Financial Aspects of the Research Project Implementation</h2>
                                                <h3 class="fs-subtitle">Budget Justification</h3>

                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <textarea asp-for="ApplicantSubmission.BudgetJustification" id="txtBudgetJustification" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                    </div>
                                                    <div class="pull-right col-md-4">
                                                        <select asp-for=ProposalScoring.BudgetJustificationScore class="form-control section" readonly>
                                                            <option value="0">@Model.ProposalScoring.BudgetJustificationScore</option>
                                                            @*@for (int i = 1; i <= 14; i++)
                                                            {

                                                                <option selected=@(i  == Model.ProposalScoring.BudgetJustificationScore ) value="@i">@i</option>
                                                            }*@
                                                        </select>
                                                    </div>
                                                </div>
                                                <br />
                                                <h3 class="fs-subtitle">Additional Source(s) of Funding (Provide full details of other source(s) of support and the amount)</h3>

                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <textarea asp-for="ApplicantSubmission.AdditionalSources" id="txtAdditionalSource" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                    </div>
                                                    <div class="pull-right col-md-4">
                                                        <select asp-for=ProposalScoring.AdditionalSourcesScore class="form-control section" readonly>
                                                            <
                                                            <option value="0">@Model.ProposalScoring.AdditionalSourcesScore</option>
                                                            @*@for (int i = 1; i <= 14; i++)
                                                            {

                                                                <option selected=@(i  == Model.ProposalScoring.AdditionalSourcesScore ) value="@i">@i</option>
                                                            }*@
                                                        </select>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row justify-content-between mt-3 px-4">
                                                    <button id="step-eight-prev" type="button" class="btn btn-outline-success">Previous</button>
                                                    <button id="step-eight-next" type="button" class="btn btn-success">Next</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="step-nine" role="tabpanel" aria-labelledby="step-nine-tab">
                                        <div class="card">
                                            <div class="card-body">
                                                <h2 class="fs-title">Financial Aspects of the Research Project Implementation</h2>
                                                <h3 class="fs-subtitle">Personnel Cost/Allowances</h3>
                                                <div class="container mt-5">
                                                    <div class="col-md-12">


                                                        <div class="table-responsive">
                                                            <table id="othersTable" class="table table-striped table-hover table-bordered">
                                                                <thead class="text-center">
                                                                    <tr class="th-bg">
                                                                        <th>SN</th>
                                                                        <th>Description of Item</th>
                                                                        <th colspan="3">Expected From</th>
                                                                        <th>Total (&#8358;)</th>
                                                                    </tr>

                                                                    <tr class="th-bg2">
                                                                        <th></th>
                                                                        <th></th>
                                                                        <th>TETFund and NRF (&#8358;)</th>
                                                                        <th>Institution (&#8358;)</th>
                                                                        <th>Other (&#8358;)</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td colspan="6" style="font-weight:900;">PERSONNEL COSTS/ALLOWANCE </td>


                                                                    </tr>
                                                                    @for (int i = 0; i < Model.BudgetDetailsSectionOne.Count; i++)
                                                                    {
                                                                        var sn = i + 1;
                                                                        <tr>

                                                                            <td>@sn</td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionOne[i].Description)

                                                                            </td>
                                                                            <td>

                                                                                @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne[i].TetFundAmount)
                                                                            </td>
                                                                            <td>

                                                                                @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne[i].InstitutionFundingAmount)
                                                                            </td>
                                                                            <td>

                                                                                @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne[i].OtherFunding)
                                                                            </td>
                                                                            <td>

                                                                                @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne[i].Total)
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                    <tr style="font-weight:600">
                                                                        <td colspan="2">Sub-Total</td>
                                                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne.Sum(g => g.TetFundAmount))</td>
                                                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne.Sum(g => g.InstitutionFundingAmount))</td>
                                                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne.Sum(g => g.OtherFunding))</td>
                                                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionOne.Sum(g => g.Total))</td>
                                                                    </tr>
                                                                    <tr class="monts" style="font-weight:600">
                                                                        <td colspan="2">Percentage </td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td colspan="2">@Model.SectionPercentage1 %</td>
                                                                    </tr>


                                                                    <tr>
                                                                        <td colspan="6" style="font-weight:900;">EQUIPMENT (LIST & SPECIFY) </td>


                                                                    </tr>
                                                                    @for (int i = 0; i < Model.BudgetDetailsSectionTwo.Count; i++)
                                                                    {
                                                                        var sn = i + 1;
                                                                        <tr>

                                                                            <td>@sn</td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionTwo[i].Description)

                                                                            </td>
                                                                            <td>

                                                                                @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo[i].TetFundAmount)
                                                                            </td>
                                                                            <td>

                                                                                @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo[i].InstitutionFundingAmount)
                                                                            </td>
                                                                            <td>

                                                                                @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo[i].OtherFunding)
                                                                            </td>
                                                                            <td>

                                                                                @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo[i].Total)
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                    <tr style="font-weight:600">
                                                                        <td colspan="2">Sub-Total</td>
                                                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo.Sum(g => g.TetFundAmount))</td>
                                                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo.Sum(g => g.InstitutionFundingAmount))</td>
                                                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo.Sum(g => g.OtherFunding))</td>
                                                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionTwo.Sum(g => g.Total))</td>
                                                                    </tr>
                                                                    <tr class="monts" style="font-weight:600">
                                                                        <td colspan="2">Percentage </td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td colspan="2">@Model.SectionPercentage2 %</td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td colspan="6" style="font-weight:900;">SUPPLIES/CONSUMABLES </td>


                                                                    </tr>
                                                                    @for (int i = 0; i < Model.BudgetDetailsSectionThree.Count; i++)
                                                                    {
                                                                        var sn = i + 1;
                                                                        <tr>

                                                                            <td>@sn</td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionThree[i].Description)

                                                                            </td>
                                                                            <td>

                                                                                @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree[i].TetFundAmount)
                                                                            </td>
                                                                            <td>

                                                                                @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree[i].InstitutionFundingAmount)
                                                                            </td>
                                                                            <td>

                                                                                @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree[i].OtherFunding)
                                                                            </td>
                                                                            <td>

                                                                                @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree[i].Total)
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                    <tr style="font-weight:600">
                                                                        <td colspan="2">Sub-Total</td>
                                                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree.Sum(g => g.TetFundAmount))</td>
                                                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree.Sum(g => g.InstitutionFundingAmount))</td>
                                                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree.Sum(g => g.OtherFunding))</td>
                                                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionThree.Sum(g => g.Total))</td>
                                                                    </tr>
                                                                    <tr class="monts" style="font-weight:600">
                                                                        <td colspan="2">Percentage </td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td>@Model.SectionPercentage3 %</td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td colspan="6" style="font-weight:900;">DATA COLLECTION & ANALYSIS</td>


                                                                    </tr>
                                                                    @for (int i = 0; i < Model.BudgetDetailsSectionFour.Count; i++)
                                                                    {
                                                                        var sn = i + 1;
                                                                        <tr>

                                                                            <td>@sn</td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionFour[i].Description)

                                                                            </td>
                                                                            <td>

                                                                                @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour[i].TetFundAmount)
                                                                            </td>
                                                                            <td>

                                                                                @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour[i].InstitutionFundingAmount)
                                                                            </td>
                                                                            <td>

                                                                                @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour[i].OtherFunding)
                                                                            </td>
                                                                            <td>

                                                                                @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour[i].Total)
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                    <tr style="font-weight:600">
                                                                        <td colspan="2">Sub-Total</td>
                                                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour.Sum(g => g.TetFundAmount))</td>
                                                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour.Sum(g => g.InstitutionFundingAmount))</td>
                                                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour.Sum(g => g.OtherFunding))</td>
                                                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFour.Sum(g => g.Total))</td>
                                                                    </tr>
                                                                    <tr class="monts" style="font-weight:600">
                                                                        <td colspan="2">Percentage </td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td colspan="2">@Model.SectionPercentage4 %</td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td colspan="6" style="font-weight:900;">TRAVEL</td>


                                                                    </tr>
                                                                    @for (int i = 0; i < Model.BudgetDetailsSectionFive.Count; i++)
                                                                    {
                                                                        var sn = i + 1;
                                                                        <tr>

                                                                            <td>@sn</td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionFive[i].Description)

                                                                            </td>
                                                                            <td>

                                                                                @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive[i].TetFundAmount)
                                                                            </td>
                                                                            <td>

                                                                                @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive[i].InstitutionFundingAmount)
                                                                            </td>
                                                                            <td>

                                                                                @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive[i].OtherFunding)
                                                                            </td>
                                                                            <td>

                                                                                @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive[i].Total)
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                    <tr style="font-weight:600">
                                                                        <td colspan="2">Sub-Total</td>
                                                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive.Sum(g => g.TetFundAmount))</td>
                                                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive.Sum(g => g.InstitutionFundingAmount))</td>
                                                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive.Sum(g => g.OtherFunding))</td>
                                                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionFive.Sum(g => g.Total))</td>
                                                                    </tr>
                                                                    <tr class="monts" style="font-weight:600">
                                                                        <td colspan="2">Percentage </td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td colspan="2">@Model.SectionPercentage5 %</td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td colspan="6" style="font-weight:900;">DISSEMINATION </td>


                                                                    </tr>
                                                                    @for (int i = 0; i < Model.BudgetDetailsSectionSix.Count; i++)
                                                                    {
                                                                        var sn = i + 1;
                                                                        <tr>

                                                                            <td>@sn</td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionSix[i].Description)

                                                                            </td>
                                                                            <td>

                                                                                @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix[i].TetFundAmount)
                                                                            </td>
                                                                            <td>

                                                                                @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix[i].InstitutionFundingAmount)
                                                                            </td>
                                                                            <td>

                                                                                @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix[i].OtherFunding)
                                                                            </td>
                                                                            <td>

                                                                                @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix[i].Total)
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                    <tr style="font-weight:600">
                                                                        <td colspan="2">Sub-Total</td>
                                                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix.Sum(g => g.TetFundAmount))</td>
                                                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix.Sum(g => g.InstitutionFundingAmount))</td>
                                                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix.Sum(g => g.OtherFunding))</td>
                                                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSix.Sum(g => g.Total))</td>
                                                                    </tr>
                                                                    <tr class="monts" style="font-weight:600">
                                                                        <td colspan="2">Percentage </td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td colspan="2">@Model.SectionPercentage6 %</td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td colspan="6" style="font-weight:900;">OTHERS/MISCELLANEOUS  </td>


                                                                    </tr>
                                                                    @for (int i = 0; i < Model.BudgetDetailsSectionSeven.Count; i++)
                                                                    {
                                                                        var sn = i + 1;
                                                                        <tr>

                                                                            <td>@sn</td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => Model.BudgetDetailsSectionSeven[i].Description)

                                                                            </td>
                                                                            <td>

                                                                                @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven[i].TetFundAmount)
                                                                            </td>
                                                                            <td>

                                                                                @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven[i].InstitutionFundingAmount)
                                                                            </td>
                                                                            <td>

                                                                                @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven[i].OtherFunding)
                                                                            </td>
                                                                            <td>

                                                                                @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven[i].Total)
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                    <tr style="font-weight:600">
                                                                        <td colspan="2">Sub-Total</td>
                                                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven.Sum(g => g.TetFundAmount))</td>
                                                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven.Sum(g => g.InstitutionFundingAmount))</td>
                                                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven.Sum(g => g.OtherFunding))</td>
                                                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetailsSectionSeven.Sum(g => g.Total))</td>
                                                                    </tr>
                                                                    <tr class="monts" style="font-weight:600">
                                                                        <td colspan="2">Percentage </td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td colspan="2">@Model.SectionPercentage7 %</td>
                                                                    </tr>
                                                                    <tr style="font-weight:900">
                                                                        <td colspan="2" style="font-style:italic;">GRAND-TOTAL</td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td> @string.Format("{0:0,0.00}", Model.BudgetDetails.Sum(g => g.Total))</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>



                                                    </div>

                                                </div>
                                                <hr>
                                                <div class="row justify-content-between mt-3 px-4">
                                                    <button id="step-nine-prev" type="button" class="btn btn-outline-success">Previous</button>
                                                    <button id="step-nine-next" type="button" class="btn btn-success">Next</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="step-ten" role="tabpanel" aria-labelledby="step-ten-tab">
                                        <div class="card">
                                            <div class="card-body">
                                                <h2 class="fs-title">Full Proposal Assessment</h2>

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        @*<input asp-for="Proposal.SubmittedBudget" type="number" readonly />*@
                                                        <label class="fs-subtitle">Proposed Budget &#8358</label>
                                                        <p style="font-weight:900"> ₦ @string.Format("{0:0,0.00}", Model.Proposal.SubmittedBudget)</p>
                                                    </div>
                                                    <div class="pull-right col-md-4">
                                                        <label>Approve Budget</label>
                                                        <input asp-for="ApprovedBudget" id="budgettxt" readonly/>
                                                    </div>
                                                    <div class="pull-right col-md-4">
                                                        <label>Score</label>
                                                        
                                                        <input asp-for="Score" id="totalScore" readonly />
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row justify-content-between mt-3 px-4">
                                                    <button id="step-ten-prev" type="button" class="btn btn-outline-success">Previous</button>
                                                    @*<button type="button" class="btn btn-success text-right">Save</button>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                </div>
</section>

        <script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
        <link href="~/css/TabStyle.css" rel="stylesheet" />
        <script src="~/PdfReader/pdf.js"></script>

        @section Scripts{
            <script type="text/javascript">
        @** new tab system *@
        $('#step-one-next').on('click', function (e) {
            e.preventDefault()
            $('#step-two-tab').tab('show')
        })


        $('#step-two-prev').on('click', function (e) {
            e.preventDefault()
            $('#step-one-tab').tab('show')
        })

        $('#step-two-next').on('click', function (e) {
            e.preventDefault()
            $('#step-three-tab').tab('show')
        })
        $('#step-three-next').on('click', function (e) {
            e.preventDefault()
            $('#step-four-tab').tab('show')
        })
        $('#step-three-prev').on('click', function (e) {
            e.preventDefault()
            $('#step-two-tab').tab('show')
        })

        $('#step-four-prev').on('click', function (e) {
            e.preventDefault()
            $('#step-three-tab').tab('show')
        })
        $('#step-four-next').on('click', function (e) {
            e.preventDefault()
            $('#step-five-tab').tab('show')
        })
        $('#step-five-prev').on('click', function (e) {
            e.preventDefault()
            $('#step-four-tab').tab('show')
        })
        $('#step-five-next').on('click', function (e) {
            e.preventDefault()
            $('#step-six-tab').tab('show')
        })
        $('#step-six-prev').on('click', function (e) {
            e.preventDefault()
            $('#step-five-tab').tab('show')
        })
        $('#step-six-next').on('click', function (e) {
            e.preventDefault()
            $('#step-seven-tab').tab('show')
        })
        $('#step-seven-prev').on('click', function (e) {
            e.preventDefault()
            $('#step-six-tab').tab('show')
        })
        $('#step-seven-next').on('click', function (e) {
            e.preventDefault()
            $('#step-eight-tab').tab('show')
        })
        $('#step-eight-prev').on('click', function (e) {
            e.preventDefault()
            $('#step-seven-tab').tab('show')
        })
        $('#step-eight-next').on('click', function (e) {
            e.preventDefault()
            $('#step-nine-tab').tab('show')
        })
        $('#step-nine-prev').on('click', function (e) {
            e.preventDefault()
            $('#step-eight-tab').tab('show')
        })
        $('#step-nine-next').on('click', function (e) {
            e.preventDefault()
            $('#step-ten-tab').tab('show')
        })
        $('#step-ten-prev').on('click', function (e) {
            e.preventDefault()
            $('#step-nine-tab').tab('show')
        })

        let sum = 0;
        $.each($(".section"), function () {
            sum += Number($(this).val());
        });
        $("#totalScore").text(sum);

        $('.section').on('change', function () {
            let sumTotal = 0;
            $.each($(".section"), function () {
                sumTotal += Number($(this).val());
            });
            $("#totalScore").text(sumTotal);
        })

        //let pdfDoc = null,
        //    pageNum = 1,
        //    pageIsRendering = false,
        //    pageNumIsPending = null;

        //const scale = 1,
        //    canvas = document.querySelector("#pdfrender"),
        //    ctx = canvas.getContext("2d");

        //const url = $('#proposalUrl').val();

        //pdfjsLib.getDocument(url)
        //    .promise
        //    .then((pdfDoc_) => {
        //        pdfDoc = pdfDoc_;
        //        //set the total number of pages in a span
        //        $("#page-count").text(pdfDoc.numPages);

        //        renderPage(pageNum);//init at one
        //    })
        //    .catch((err) => console.error(err));

        //const renderPage = (num) => {
        //    pageIsRendering = true;//tell the app that a page is rendering
        //    //get the page
        //    pdfDoc.getPage(num)
        //        .then((page) => {
        //            //set the scale of the pdf
        //            const viewport = page.getViewport(scale);
        //            canvas.height = viewport.height;
        //            canvas.width = viewport.width;

        //            const renderCtx = {
        //                canvasContext: ctx,
        //                viewport
        //            };

        //            page.render(renderCtx)
        //                .promise
        //                .then(() => {
        //                    pageIsRendering = false;

        //                    if (pageNumIsPending !== null) {
        //                        renderPage(pageNumIsPending);
        //                        pageNumIsPending = null;
        //                    }
        //                })
        //                .catch((err) => console.error(err));

        //            //output the current page
        //            $("#page-num").text(num);
        //        })
        //        .catch((err) => console.error(err));
        //};


        //function queueRenderPage(num) {
        //    if (pageIsRendering)
        //        pageNumIsPending = null;
        //    else renderPage(num);
        //};

        //$("#nxtbtn").on('click', function () {
        //    if (pageNum >= pdfDoc.numPages) {
        //        return;

        //    }
        //    pageNum++;
        //    queueRenderPage(pageNum);

        //});


        //$("#prebtn").on('click', function () {
        //    if (pageNum <= 1) {
        //        return;

        //    }
        //    pageNum--;
        //    queueRenderPage(pageNum);

        //});

                const modalTitle = document.getElementById("output-text-title");
                const modalBody = document.getElementById("output-text-content");
                const modalContainer = document.getElementById("customized-modal");
                modalContainer.style.display = "none";

                document.querySelector("#full-preview").addEventListener("click", (e) => {
                    const parentElModal = document.querySelector("#customized-modal-2");

                    const contentEl = document.querySelector("#proposal-content");
                    const textareas = document.querySelectorAll("textarea:not(#ProposalScoring_Remark)");
                    const input = document.querySelectorAll("input");
                    const tableParentEl = document.querySelector(".proposal-table-widget");
                    const financialTable = document.querySelector("#marked-table");
                    //const tableTitle = financialTable.parentElement.previousElementSibling;

                    //Clear up the original content of the HTML Parent container
                    contentEl.innerHTML = "";
                    tableParentEl.innerHTML = "";
                    let fullInnerHTML = "";

                    textareas.forEach(el => {
                        const titleElement = el.parentElement.parentElement.previousElementSibling;
                        const innerContent = `<div class="col-xs-12 col-md-12 proposal-content-widget">
                            <h3 class="text-success proposal-sub-title">${titleElement.innerHTML}</h3>
                            <p class="proposal-sub-content">${el.innerHTML}</p>
                        </div>`;
                        fullInnerHTML += innerContent;
                    });

                    //if (financialTable.innerHTML !== "") {
                    //    tableParentEl.innerHTML = `<div class="col-xs-12 col-md-12">
                    //        <h3 class="text-success proposal-sub-title">${tableTitle.innerHTML}</h3>
                    //        ${financialTable.innerHTML}
                    //        </div>`;
                    //}

                    contentEl.innerHTML = fullInnerHTML;

                    //Ease in transition
                    window.setTimeout(() => {
                        parentElModal.style.opacity = 1;
                        parentElModal.style.transform = 'scale(1)';
                        parentElModal.style.display = "block";
                    }, 1000);
                });

                //Close the opened modal
                document.querySelector("#close-modal-2").addEventListener("click", (e) => {
                    const parentElModal = document.querySelector("#customized-modal-2");
                    parentElModal.style.opacity = 0;
                    parentElModal.style.transform = 'scale(0)';
                    window.setTimeout(() => parentElModal.style.display = "none", 1000);
                });

                document.querySelector("#print-proposal-btn").addEventListener("click", (e) => {
                    e.preventDefault();
                    document.querySelector(".main-content").classList.add("hide-away");
                    document.querySelector("button").style.visibility = "hidden";
                    $(".hide-away").css("display", "none");
                    document.querySelector("#customized-modal-2").style.position = "static";

                    window.print();
                });

                window.addEventListener("click", () => {
                    $(".hide-away").css("display", "block");
                    document.querySelector(".main-content").classList.remove("hide-away");
                    document.querySelector("button").style.visibility = "visible";
                    document.querySelector("#customized-modal-2").style.position = "fixed";
                });

                document.querySelectorAll(".view-full-screen-btn").forEach(el => {
                    el.addEventListener("click", (e) => {
                        const elementToOutput = e.target.parentElement.previousElementSibling.children[0];
                        const titleElement = e.target.parentElement.parentElement.previousElementSibling;

                        modalBody.innerHTML = elementToOutput.innerHTML;
                        modalTitle.innerHTML = titleElement.innerHTML;

                        //Ease in transition
                        window.setTimeout(() => {
                            modalContainer.style.opacity = 1;
                            modalContainer.style.transform = 'scale(1)';
                            modalContainer.style.display = "block";
                        }, 1000);
                    });
                });

                //Close the opened modal
                document.querySelector("#close-modal").addEventListener("click", (e) => {
                    modalContainer.style.opacity = 0;
                    modalContainer.style.transform = 'scale(0)';
                    window.setTimeout(() => modalContainer.style.display = "none", 1000);
                });




                //$('.section').on('change', function () {
                //    let sumTotal = 0;
                //    $.each($(".section"), function () {
                //        sumTotal += Number($(this).val());
                //    });
                //    $("#totalScore").text(sumTotal);
                //})

                $(document).ready(function () {
                    //let sum = 0;
                    //$.each($(".section"), function () {
                    //    sum += Number($(this).val());
                    //});
                    //$("#totalScore").val(sum);

                    //$('.section').on('change', function () {
                    //    var sum = 0;
                    //    $.each($(".section"), function () {
                    //        sum += Number($(this).val());
                    //    });
                    //    $("#totalScore").val(sum);
                    //});
                    $('#budgettxt').keyup(function (e) {
                        //skip arrow key
                        if (e.which >= 37 && e.which <= 40)
                            return;
                        //format number
                        $(this).val(function (index, value) {
                            return value
                                .replace(/\D/g, "")
                                .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        });
                    });

                });



            </script>
        }
