﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Co-Assessor ConceptNote Review";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    body {
        font-family: Poppins, sans-serif;
        background-color: whitesmoke !important;
    }

    .monts {
        font-family: Poppins, sans-serif;
    }

    .th-bg {
        background-color: #1CBC9D;
    }

    .th-bg2 {
        background-color: #DAEEF3;
    }

    #progressbar li {
        list-style-type: none;
        color: #555;
        text-transform: uppercase;
        font-size: 9px;
        width: 30% !important;
        float: left;
        position: relative;
        letter-spacing: 1px;
    }
</style>

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">


    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">
            <partial name="_Message" , model="@TempData["Message"]" />
        </div>
    }
</section>

<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Concept Note <span class="text-muted text-sm">/ Co-Accessor Assessment </span></h1>
        <hr class="mt-0 mb-2" />
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">







        <form id="msform" asp-action="ScoreConceptNote" asp-controller="ReviewerHome" method="POST" role="form" enctype="multipart/form-data" class="form-horizontal">
            <div class="col-md-12 card-body">
                            <!-- Horizontal Form -->
                            <div class="card animated fadeInUp delay-1s" style="border-top-color: #fff; border-radius: 0">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3 class="fs-subtitle monts">Research Project Title</h3>

                                            <textarea asp-for="ApplicantThematic.Title" id="txtTitle" type="text" rows="1" readonly></textarea>
                                            <h3 class="fs-subtitle monts text-left">Category</h3>
                                            <input asp-for="ApplicantThematic.Theme.Category.Name" class="form-control wordCounter" readonly />
                                            <h3 class="fs-subtitle monts text-left">Thematic Area</h3>

                                            <input asp-for="ApplicantThematic.Theme.Name" class="form-control wordCounter" readonly />

                                            <br />
                                            <h3 class="fs-subtitle monts text-left">Estimated Budget &#8358</h3>
                                            <ins> ₦ @string.Format("{0:0,0.00}", Model.ConceptNote.ConceptNoteSubmittedBudget)</ins>
                                            <div class="pull-right col-md-2 card-footer">

                                                <select asp-for=ProposalScoring.BudgetJustificationScore class="form-control section" readonly>
                                                    <option value="0">@Model.ProposalScoring.BudgetJustificationScore</option>
                                                  
                                                </select>
                                            </div>
                                            <br />
                                            <h3 class="fs-subtitle monts text-left">Background of the Research</h3>
                                            <textarea asp-for="ApplicantSubmission.IntroductionBackground" class="wordCounter" id="txtBackgroundIntro" type="text" rows="5" readonly></textarea>
                                            <div class="col-xs-10 col-md-10">
                                                <button type="button" class="btn btn-primary view-full-screen-btn pull-left"><i class="fa fa-tv"></i> Full Screen</button>
                                            </div>
                                        </div>
                                        <div class="pull-right col-md-2 card-footer">
                                            @*<input type="hidden" asp-for="ProposalScoring.IntroductionBackgroundScore"/>*@
                                            <select asp-for=ProposalScoring.IntroductionBackgroundScore class="form-control section" readonly>
                                                <option selected:'0' value="0">@Model.ProposalScoring.IntroductionBackgroundScore</option>
                                                @*@for (int i = 1; i <= 10; i++)
                                                {

                                                    <option selected=@(i  == Model.ProposalScoring.IntroductionBackgroundScore ) value="@i">@i</option>
                                                }*@

                                            </select>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Horizontal Form -->
                            
                                <div class="card animated fadeInUp delay-1s" style="border-top-color: #fff; border-radius: 0">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h3 class="fs-subtitle monts text-left">Statement of the Problem (Why does this research need to be conducted)</h3>
                                                <textarea asp-for="ApplicantSubmission.StatementOfProblem" class="wordCounter" id="txtStatement" type="text" rows="5" readonly></textarea>
                                                <div class="col-xs-10 col-md-10">
                                                    <button type="button" class="btn btn-primary view-full-screen-btn pull-left"><i class="fa fa-tv"></i> Full Screen</button>
                                                </div>
                                                @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="statement">300</span> character(s) left</div>*@

                                                <br />
                                                <br />
                                                <br />
                                                <h3 class="fs-subtitle monts">Research Questions</h3>
                                                <textarea asp-for="ApplicantSubmission.ResearchQuestions" class="wordCounter" id="txtResearchQuestions" type="text" rows="5" readonly></textarea>
                                                <div class="col-xs-10 col-md-10">
                                                    <button type="button" class="btn btn-primary view-full-screen-btn pull-left"><i class="fa fa-tv"></i> Full Screen</button>
                                                </div>
                                                <div class="pull-right col-md-2 card-footer">
                                                    @*<input type="hidden" asp-for="ProposalScoring.StatementOfProblemScore" />*@
                                                    <select asp-for=ProposalScoring.StatementOfProblemScore class="form-control section" readonly>
                                                        <option value="0">@Model.ProposalScoring.StatementOfProblemScore</option>
                                                        @*@for (int a = 1; a <= 10; a++)
                                                        {
                                                            <option selected=@(a  == Model.ProposalScoring.StatementOfProblemScore ) value="@a">@a</option>
                                                        }*@


                                                    </select>
                                                </div>
                                                <br />
                                                <br />
                                                <br />
                                                <h3 class="fs-subtitle monts text-left">Objectives of the Research</h3>
                                                <textarea asp-for="ApplicantSubmission.Aims" id="txtAim" class="wordCounter" type="text" rows="5" readonly></textarea>
                                                @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="aim">300</span> character(s) left</div>*@
                                                <div class="col-xs-10 col-md-10">
                                                    <button type="button" class="btn btn-primary view-full-screen-btn pull-left"><i class="fa fa-tv"></i> Full Screen</button>
                                                </div>
                                                <div class="pull-right col-md-2 card-footer">
                                                    @*<input type="hidden" asp-for="ProposalScoring.AimsScore" />*@
                                                    <select asp-for=ProposalScoring.AimsScore class="form-control section" readonly>
                                                        <option value="0">@Model.ProposalScoring.AimsScore</option>
                                                        @*@for (int i = 1; i <= 10; i++)
                                                        {
                                                            <option selected=@(i  == Model.ProposalScoring.AimsScore ) value="@i">@i</option>
                                                        }*@

                                                    </select>
                                                </div>
                                                <br />
                                                <br />
                                                <br />
                                                <h3 class="fs-subtitle monts">Literature Review</h3>
                                                <textarea asp-for="ApplicantSubmission.LiteratureReview" class="wordCounter" id="txtLiteratureReview" type="text" rows="5" readonly></textarea>
                                                <div class="col-xs-10 col-md-10">
                                                    <button type="button" class="btn btn-primary view-full-screen-btn pull-left"><i class="fa fa-tv"></i> Full Screen</button>
                                                </div>
                                                @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="literatureReview">300</span> character(s) left</div>*@
                                                <br />
                                                <br />
                                                <br />
                                                <h3 class="fs-subtitle monts">Theoritical Framework</h3>
                                                <textarea asp-for="ApplicantSubmission.ConceptualFramework" class="wordCounter" id="txtConceptualFramework" type="text" rows="5" readonly></textarea>
                                                <div class="col-xs-10 col-md-10">
                                                    <button type="button" class="btn btn-primary view-full-screen-btn pull-left"><i class="fa fa-tv"></i> Full Screen</button>
                                                </div>
                                                <br />
                                                <br />
                                                <br />
                                                <h3 class="fs-subtitle monts">Research Methodology (Given detail methodology of the proposed research project)</h3>
                                                <textarea asp-for="ApplicantSubmission.ResearchMethodoly" class="wordCounter" id="txtResearchMethodology" type="text" rows="5" readonly></textarea>
                                                <div class="col-xs-10 col-md-10">
                                                    <button type="button" class="btn btn-primary view-full-screen-btn pull-left"><i class="fa fa-tv"></i> Full Screen</button>
                                                </div>
                                            </div>
                                            <div class="pull-right col-md-2 card-footer">
                                                <select asp-for=ProposalScoring.ResearchMethodolyScore class="form-control section" readonly>
                                                    <option value="0">@Model.ProposalScoring.ResearchMethodolyScore</option>
                                                    @*@for (int i = 1; i <= 25; i++)
                                                    {
                                                        <option selected=@(i  == Model.ProposalScoring.ResearchMethodolyScore ) value="@i">@i</option>
                                                    }*@


                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- Horizontal Form -->
                                    <div class="card animated fadeInUp delay-1s" style="border-top-color: #fff; border-radius: 0">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h3 class="fs-subtitle monts">Expected Result</h3>
                                                    <textarea asp-for="ApplicantSubmission.ExpectedResult" class="wordCounter" id="txtExpectedResult" type="text" rows="5" readonly></textarea>
                                                    <div class="col-xs-10 col-md-10">
                                                        <button type="button" class="btn btn-primary view-full-screen-btn pull-left"><i class="fa fa-tv"></i> Full Screen</button>
                                                    </div>
                                                    <div class="pull-right col-md-2 card-footer">
                                                        <select asp-for=ProposalScoring.EthicalScore class="form-control section" readonly>
                                                            <option value="0">@Model.ProposalScoring.EthicalScore</option>
                                                            @*@for (int i = 0; i <= 10; i++)
                                                            {
                                                                <option selected=@(i  == Model.ProposalScoring.EthicalScore ) value="@i">@i</option>
                                                            }*@
                                                        </select>
                                                    </div>
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <h3 class="fs-subtitle monts">Innovation: How Different it is from other earlier Projects</h3>
                                                    <textarea asp-for="ApplicantSubmission.Innovations" class="wordCounter" id="txtInnovations" type="text" rows="5" readonly></textarea>
                                                    <div class="col-xs-10 col-md-10">
                                                        <button type="button" class="btn btn-primary view-full-screen-btn pull-left"><i class="fa fa-tv"></i> Full Screen</button>
                                                    </div>
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <h3 class="fs-subtitle monts">References </h3>
                                                    <textarea asp-for="ApplicantSubmission.References" class="wordCounter" id="txtReferences" type="text" rows="5" readonly></textarea>
                                                    <div class="col-xs-10 col-md-10">
                                                        <button type="button" class="btn btn-primary view-full-screen-btn pull-left"><i class="fa fa-tv"></i> Full Screen</button>
                                                    </div>
                                                    <hr />
                                                    <div class="pull-right col-md-2 card-footer">

                                                        <select asp-for=ProposalScoring.DisseminationStrategiesScore class="form-control section" readonly>
                                                            <option value="0">@Model.ProposalScoring.DisseminationStrategiesScore</option>
                                                            @*@for (int i = 1; i <= 15; i++)
                                                            {


                                                                <option selected=@(i  == Model.ProposalScoring.DisseminationStrategiesScore ) value="@i">@i</option>
                                                            }*@
                                                        </select>
                                                    </div>
                                                    <br />
                                                    <br />
                                                    <br />
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                        @*</form>*@
                        <br />
                        <div class="col-md-12">
                            <div class="card animated fadeInUp delay-1s" style="border-top-color: #fff; border-radius: 0">
                                @*<form asp-action="ScoreConceptNote" asp-controller="ReviewerHome" method="POST" role="form" class="form-horizontal">*@
                                <!-- Horizontal Form -->
                                <input type="hidden" asp-for="ApplicantReviewer.ReviewerId" />
                                <input type="hidden" asp-for="ApplicantThematic.Id" />
                                <div class="box box-danger" style="border-top-color: #fff; border-radius: 0">
                                    
                                    <div class="box-body">

                                        <div class="row" style="margin-bottom: 10px">
                                            @*<div class="col-sm-4">
            <label>Approved &nbsp; &nbsp;<input asp-for="scoreId" value="1" type="radio" /></label>

        </div>

        <div class="col-sm-4">
            <label>Rejected &nbsp; &nbsp;<input asp-for="scoreId" value="2" type="radio" /></label>

        </div>*@
                                            @*<div class="col-sm-3">
            <label>To Be Reconciled &nbsp; &nbsp;<input asp-for="scoreId" value="3" type="radio" /></label>
        </div>*@
                                            <div class="col-sm-12">

                                                <div class="row mt-3">

                                                    <label class="col-sm-3 control-label">Score</label>
                                                    <div class="col-sm-2 mr-3">
                                                        <input type="number" min="0" max="100" asp-for="@Model.ApplicantReviewer.ConceptNoteMark" id="totalScore" class="form-control" readonly />
                                                    </div>
                                                </div>

                                            </div>
                
                                                <label class="col-sm-8 form-control-label mt-4">Comment</label>
                                                <textarea asp-for="@Model.ProposalScoring.Remark" class="form-control ml-5 mr-5" cols="3" readonly></textarea>
                                        </div>
                                    </div>


                                    @*<div class="box-footer">

                    <button type="submit" class="btn btn-success pull-right">Score</button>
                </div>*@

                                </div>
                                </div>
                            </div>
</form>

    </div>
</section>
<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
<script src="~/PdfReader/pdf.js"></script>
<link href="~/css/TabStyle.css" rel="stylesheet" />

<script type="text/javascript">
    const modalTitle = document.getElementById("output-text-title");
    const modalBody = document.getElementById("output-text-content");
    const modalContainer = document.getElementById("customized-modal");
    modalContainer.style.display = "none";

    document.querySelectorAll(".view-full-screen-btn").forEach(el => {
        el.addEventListener("click", (e) => {
            const elementToOutput = e.target.parentElement.previousElementSibling;
            const titleElement = e.target.parentElement.previousElementSibling.previousElementSibling;
            modalBody.innerHTML = elementToOutput.innerHTML;
            modalTitle.innerHTML = titleElement.innerHTML;

            //Ease in transition
            window.setTimeout(() => {
                modalContainer.style.opacity = 1;
                modalContainer.style.transform = 'scale(1)';
                modalContainer.style.display = "block";
            }, 1000);
        });
    });

    //Close the opened modal
    document.querySelector("#close-modal").addEventListener("click", (e) => {
        modalContainer.style.opacity = 0;
        modalContainer.style.transform = 'scale(0)';
        window.setTimeout(() => modalContainer.style.display = "none", 1000);
    });

    let conceptNoteMaxWordCount = 1500;
    const conceptNoteTotalWordsAllowed = 1500;
    const colorCodes = {
        success: "green",
        midWay: "orange",
        warning: "indianred"
    };

    function applyColor(counter) {
        color = colorCodes.success;
        let el = document.querySelectorAll(".word-status");
        const elNodes = Array.prototype.slice.call(el, document.body);

        if (counter && counter > 0) {
            if (counter < 500) {
                color = colorCodes.success;
            }
            else if (counter >= 500 && counter < 1000) {
                color = colorCodes.midWay;
            }
            else if (counter >= 1000 && counter <= 1500) {
                color = colorCodes.warning;
            }

        }
        elNodes.forEach((element, currentIndex) => element.style.backgroundColor = color);
    }

    //Disable submit button if the counter is negative
    function disableSubmit(counter) {
        let submitBtn = $("#submit");
        if (counter >= conceptNoteTotalWordsAllowed) {
            //submitBtn.attr('disabled', true);
            //submitBtn.addClass("disable-btn");
        }
        else {
            //submitBtn.removeAttr('disabled');
            //submitBtn.removeClass("disable-btn");
        }

        applyColor(counter);
    }

    const wordCounterNodes = document.querySelectorAll(".wordCounter");
    const targetNodes = Array.prototype.slice.call(wordCounterNodes, document.body);

    targetNodes.forEach((wordCounter, currentIndex) => {
        if (wordCounter.value !== "") {
            let wordCount = wordCounter.value.split(" ").length;
            conceptNoteMaxWordCount -= wordCount;
        }
    });

    $('.wordCountDown').html(conceptNoteMaxWordCount);
    disableSubmit(conceptNoteMaxWordCount);

    $('.wordCounter').on('keyup', function (e) {
        let totalCount = conceptNoteTotalWordsAllowed;
        const wordCounterNodes = document.querySelectorAll(".wordCounter");
        const targetNodes = Array.prototype.slice.call(wordCounterNodes, document.body);

        targetNodes.forEach((wordCounter, currentIndex) => {
            if (wordCounter.value !== "") {
                let wordCount = wordCounter.value.split(" ").length;
                totalCount -= wordCount;
            }
        });
        $('.wordCountDown').html(totalCount);
        disableSubmit(totalCount);
    });

    $('.wordCounter').on('paste', function (e) {
        let totalCount = conceptNoteTotalWordsAllowed;
        const wordCounterNodes = document.querySelectorAll(".wordCounter");
        const targetNodes = Array.prototype.slice.call(wordCounterNodes, document.body);

        targetNodes.forEach((wordCounter, currentIndex) => {
            if (wordCounter.value !== "") {
                let wordCount = wordCounter.value.split(" ").length;
                totalCount -= wordCount;
            }
        });
        $('.wordCountDown').html(totalCount);
        disableSubmit(totalCount);
    });

    const goToSection = (ref) => {
        const nodes = document.querySelectorAll(".navigate-wizard-2");
        const trigger = Array.prototype.slice.call(nodes, document.body);
        const index = trigger.indexOf(ref);

        let currentFs;//stores the index of the current slide

        const menuNodes = document.querySelectorAll(".widget-menu");
        const target = Array.prototype.slice.call(menuNodes, document.body);

        //LOOP THROUGH ELEMENTS AND SELECT THE ONE WITH CLASS ACTIVE
        trigger.forEach((menu, currentIndex) => {
            if (menu.classList.contains("active")) {
                currentFs = currentIndex;
            }
            //remove class 'active' from all the element in the list
            menu.classList.remove("active");
        });
        trigger[index].classList.add("active");

        let currentSlide = target[currentFs];
        let nextSlide = menuNodes[index];


        // nextSlide = new DOMParser().parseFromString(nextSlide, 'text/html');
        //console.log(currentSlide);
        //console.log(nextSlide);

        //Onclick Hide it
        currentSlide.classList.add("displayNone");
        //remove all occurences of 'showBlock' b/4 injecting to the DOM
        //trigger.forEach(menu => menu.classList.remove("showBlock"));
        currentSlide.classList.remove("showBlock");
        nextSlide.classList.add("showBlock")

        nextSlide = new DOMParser().parseFromString(nextSlide, "text/html");
        //console.log(nextSlide);

        //hide the current fieldset with style
        //hide the current fieldset with style
    }
    //let pdfDoc = null,
    //    pageNum = 1,
    //    pageIsRendering = false,
    //    pageNumIsPending = null;

    //const scale = 1,
    //    canvas = document.querySelector("#pdfrender"),
    //    ctx = canvas.getContext("2d");

    //const url = $('#conceptNoteUrl').val();

    ////var ctx = canvas[0].getContext("2d");

    //pdfjsLib.getDocument(url)
    //    .promise
    //    .then((pdfDoc_) => {
    //        pdfDoc = pdfDoc_;
    //        //set the total number of pages in a span
    //        $("#page-count").text(pdfDoc.numPages);

    //        renderPage(pageNum);//init at one
    //    })
    //    .catch((err) => console.error(err));

    //const renderPage = (num) => {
    //    pageIsRendering = true;//tell the app that a page is rendering
    //    //get the page
    //    pdfDoc.getPage(num)
    //        .then((page) => {
    //            //set the scale of the pdf
    //            const viewport = page.getViewport(scale);
    //            canvas.height = viewport.height;
    //            canvas.width = viewport.width;

    //            const renderCtx = {
    //                canvasContext: ctx,
    //                viewport
    //            };

    //            page.render(renderCtx)
    //                .promise
    //                .then(() => {
    //                    pageIsRendering = false;

    //                    if (pageNumIsPending !== null) {
    //                        renderPage(pageNumIsPending);
    //                        pageNumIsPending = null;
    //                    }
    //                })
    //                .catch((err) => console.error(err));

    //            //output the current page
    //            $("#page-num").text(num);
    //        })
    //        .catch((err) => console.error(err));
    //};


    //function queueRenderPage (num) {
    //    if (pageIsRendering)
    //        pageNumIsPending = null;
    //    else renderPage(num);
    //};


    //$("#nxtbtn").on('click', function () {
    //    if (pageNum >= pdfDoc.numPages) {
    //        return;

    //    }
    //    pageNum++;
    //    queueRenderPage(pageNum);

    //});


    //$("#prebtn").on('click', function () {
    //    if (pageNum <= 1) {
    //        return;

    //    }
    //    pageNum--;
    //    queueRenderPage(pageNum);

    //});
    $(document).ready(function () {
        $('.section').on('change', function () {
            var sum = 0;
            $.each($(".section"), function () {
                sum += Number($(this).val());
            });
            $("#totalScore").val(sum);
        });

        //Fieldset Control
        var current_fs, next_fs, previous_fs; //fieldsets
        var left, opacity, scale; //fieldset properties which we will animate
        var animating; //flag to prevent quick multi-click glitches

        $(".go-to-point").on("click", () => {
            //get the index
            let classes = $(".go-to-point").classList;
            let pointIndex = $(classes).index(this);
            console.log(pointIndex);

            //use index to navigate to the selected field
            //$("#progressbar li").eq($("fieldset").pointIndex.addClass("active"));
        });

        $(".next").click(function () {
            if (animating) return false;
            animating = true;

            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            console.log(next_fs);

            //activate next step on progressbar using the index of next_fs
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale current_fs down to 80%
                    scale = 1 - (1 - now) * 0.2;
                    //2. bring next_fs from the right(50%)
                    left = (now * 50) + "%";
                    //3. increase opacity of next_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({
                        'transform': 'scale(' + scale + ')',
                        'position': 'absolute'
                    });
                    next_fs.css({ 'left': left, 'opacity': opacity });
                },
                duration: 800,
                complete: function () {
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        });

        $(".previous").click(function () {
            if (animating) return false;
            animating = true;

            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //de-activate current step on progressbar
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();
            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale previous_fs from 80% to 100%
                    scale = 0.8 + (1 - now) * 0.2;
                    //2. take current_fs to the right(50%) - from 0%
                    left = ((1 - now) * 50) + "%";
                    //3. increase opacity of previous_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({ 'left': left });
                    previous_fs.css({ 'transform': 'scale(' + scale + ')', 'opacity': opacity });
                },
                duration: 800,
                complete: function () {
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        });


    })
</script>