﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>


<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Dashboard</h1>
        <div class="avatar-group mt-3">
        </div>
    </div>

    <div class="">

        <div class="card o-hidden ">
            <div class="card-body">
                <div class="row">
                    <canvas class="col-md-6" id="conceptNoteChart" style="width:300px; height:300px"></canvas>
                    
                    <canvas class="col-md-6" id="proposalChart" style="width:300px; height:300px"></canvas>
                </div>


            </div>

        </div>
    </div>
    <script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
    <script src="~/theme/bower_components/Chart.min.js"></script>
    <script src="~/theme/bower_components/Chart.extension.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            GetAccessorDashBoard()
        })

                    //Get submission count
                        function GetAccessorDashBoard() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("PopulateReviewer", "Home")",
                dataType: "json",
                async: false,
                success: function (data) {
                    drawConceptNoteChart(data);
                    drawProposalChart(data);
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
        // chart
        function drawConceptNoteChart(data) {
            var ctx = document.getElementById('conceptNoteChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                
                data: {
                    labels: ['Submitted ConceptNote', 'To be Reconciled', 'Assessed ConceptNote', 'Saved ConceptNote Assessment'],
                    datasets: [{
                        label: 'Distributions',
                        data: [data.reviewerConceptNoteCount.conceptNote, data.reviewerConceptNoteCount.noOfDiscodanceConceptnote, data.reviewerConceptNoteCount.noOfAssessedConceptNote, data.reviewerConceptNoteCount.savedConceptNoteAssessment],
                        backgroundColor: ['rgb(50,157,79)', 'rgb(0,113,193)', 'rgb(255,192,0)',  'rgb(149,55,53)'],

                    }
                    ]
                },
                options: {
                    legend: {
                        display: true,
                        position: 'right',
                        labels: {
                            fontColor: 'rgb(0, 0, 0)',
                            fontSize:14
                        }
                    },
                    title: {
                        display: true,
                        text: 'Concept Note',
                        fontColor: 'rgb(0, 0, 0)',
                        fontSize: 22
                    }

                }
            });
        }
        function drawProposalChart(data) {
            var ctx = document.getElementById('proposalChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',

                data: {
                    labels: ['Submitted Full Proposal', 'To be Reconciled', 'Assessed Full Proposal', 'Saved Full Proposal Assessment'],
                    datasets: [{
                        label: 'Distributions',
                        data: [data.reviewerProposalCount.proposal,data.reviewerProposalCount.noOfDiscodanceProposal, data.reviewerProposalCount.noOfAssessedProposal, data.reviewerProposalCount.savedProposalAssessment],
                        backgroundColor: ['rgb(50,157,79)', 'rgb(0,113,193)', 'rgb(255,192,0)', 'rgb(149,55,53)'],

                    }
                    ]
                },
                options: {
                    legend: {
                        display: true,
                        position:'right',
                        labels: {

                            fontColor: 'rgb(0, 0, 0)',
                            fontSize: 14
                        }
                    },
                    title: {
                        display: true,
                        text: 'Full Proposal',
                        fontColor: 'rgb(0, 0, 0)',
                        fontSize: 22
                    }

                }
            });
        }

    </script>

</section>
