﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = " Edit Assessor Thematic Expertise";
    //Layout = "~/Views/Shared/_ReviewerLayout.cshtml";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section class="content-header">
    @if (@TempData["Message"] != null)
            {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>
<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Edit Expertise</h1>
        <div class="avatar-group mt-3">
        </div>
    </div>
    <div class="">
        <div class="row justify-content-center">

            <div class="col-md-8">
                    <!-- Horizontal Form -->
                    <div class="card">

                        <form asp-action="EditStrength" asp-antiforgery="true" enctype="multipart/form-data" class="form-horizontal">
                            <div class="card-body">
                                <input type="hidden" asp-for="ThematicStrenght.Id" />
                                <div class="form-group">
                                    <label asp-for="CategoryId" class="col-sm-12 ">Category</label>
                                    <div class="col-sm-12">
                                        <input asp-for="ThematicStrenght.Theme.Category.Name" class="form-control" readonly />
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-12 ">Thematic Area</label>
                                    <div class="col-sm-12">
                                        <input asp-for="ThematicStrenght.Theme.Name" class="form-control" readonly />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12 ">Expertise</label>
                                    <div class="col-sm-12">
                                        <select asp-for=ThematicStrenght.Strenght class="form-control">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-center">

                                <div class="row justify-content-center mb-3">
                                    <ul class="list-group list-group-horizontal-md text-danger">
                                        <li class="list-group-item h5">5: Excellent</li>
                                        <li class="list-group-item h5">4: Very Good</li>
                                        <li class="list-group-item h5">3: Average Knowledge</li>
                                        <li class="list-group-item h5">2: Fair</li>
                                        <li class="list-group-item h5">1: Poor</li>
                                    </ul>
                                </div>

                                <button type="submit" class="btn btn-success  pull-right">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</section>