﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@using Grant.Web.Infrastructure
@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_ReviewerLayout.cshtml";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link href="~/theme/bower_components/datatables.net/DataTables-1.10.15/media/css/jquery.dataTables.css" rel="stylesheet" />
<script src="~/theme/bower_components/datatables.net/DataTables-1.10.15/media/js/jquery.dataTables.js"></script>
<link href="~/theme/bower_components/datatables.net/DataTables-1.10.15/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet" />
<script src="~/theme/bower_components/datatables.net/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.js"></script>
<script src="~/theme/bower_components/datatables.net/DataTables-1.10.15/extensions/Buttons/js/buttons.colVis.js"></script>
<script src="~/theme/bower_components/datatables.net/DataTables-1.10.15/extensions/Responsive/js/dataTables.responsive.js"></script>
<script src="~/theme/bower_components/datatables.net/DataTables-1.10.15/buttons.flash.min.js"></script>
<script src="~/theme/bower_components/datatables.net/DataTables-1.10.15/buttons.html5.min.js"></script>
<script src="~/theme/bower_components/datatables.net/DataTables-1.10.15/buttons.print.min.js"></script>
<script src="~/theme/bower_components/datatables.net/DataTables-1.10.15/jszip.min.js"></script>
<script src="~/theme/bower_components/datatables.net/DataTables-1.10.15/pdfmake.min.js"></script>
<script src="~/theme/bower_components/datatables.net/DataTables-1.10.15/vfs_fonts.js"></script>

<script>

    $(function () {
        $.extend($.fn.dataTable.defaults, {
            responsive: false
        });
        $('#modelDataTable2').DataTable({
            dom: 'Bfrtip',
            ordering: true,
            buttons: [
                {
                    extend: 'pdfHtml5',
                    title: partTitle,
                    orientation: 'landscape',
                    // Splice the image in after the header, but before the table
                    customize: function (doc) {
                        doc.content.splice(1, 0, {
                            margin: [0, 0, 0, 12],
                            width: 150,
                            fit: [100, 100],
                            alignment: 'center',
                            image: tetfundDataURL
                        });

                        doc.content[2].margin = [100, 0, 100, 0] //left, top, right, bottom
                    }
                },
                {
                    extend: 'copy',
                    exportOptions: {
                        columns: ':visible',
                        modifier: {
                            orientation: 'landscape'
                        }
                    },
                    orientation: 'landscape'


                },
                {
                    extend: 'csv',
                    exportOptions: {
                        columns: ':visible',
                        modifier: {
                            orientation: 'landscape'
                        }
                    },
                    orientation: 'landscape'

                },
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: ':visible',
                        modifier: {
                            orientation: 'landscape'
                        }
                    },
                    orientation: 'landscape'


                },
                {
                    extend: 'print',
                    title: partTitle,
                    customize: function (win) {
                        //win.content[2].margin = [100, 0, 100, 0] //left, top, right, bottom
                        $(win.document.body)
                            .css('font-size', '10pt')
                            .prepend(
                                `<div style="width: 100%;text-align:center">
                                <img src=${tetfundDataURL} style="top:0; left:0;margin:0 auto;width:200px;height:80px;" />
                                </div>`
                            );

                        $(win.document.messageTop)
                            .css('text-align', 'center')

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    },
                    exportOptions: {
                        columns: ':visible',
                        modifier: {
                            orientation: 'landscape'
                        }
                    },
                    orientation: 'landscape'


                }, , 'colvis'
            ]
        })
    })
</script>

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">
            <partial name="_Message" model="@TempData["Message"]" />
        </div>
    }
</section>

<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Briefcase</h1>
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">
        <div class="col-md-10">
            <!-- Horizontal Form -->
            <div class="card" style="">

                <div class="card-body">
                    <div class="table-responsive">
                        <table id="modelDataTable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Category
                                    </th>
                                    <th>
                                        Thematic Area
                                    </th>

                                    <th>
                                        Proposal Score
                                    </th>
                                    <th>
                                        Approved Budget
                                    </th>
                                    <th>
                                        Co-Assessors
                                    </th>
                                    <th>
                                        Reconcile
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int index = 0;}
                                @foreach (var item in Model.ProposalAssessments)
                                {
                                    var id = Utility.Encrypt(item.ApplicantThematic.Id.ToString());
                                    index += 1;
                                    <tr>
                                        <td>@index</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ApplicantThematic.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ApplicantThematic.Theme.Category.Name)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.ApplicantThematic.Theme.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Score)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ApprovedBudget)
                                        </td>
                                        <td>
                                            <a asp-action="ViewCoReviewer" asp-controller="ReviewerHome" class="btn btn-primary" asp-route-id=@id>View</a>
                                        </td>
                                        <td>
                                            <a asp-action="ProposalReviewAndAssessment" asp-controller="ReviewerHome" class="btn btn-success" asp-route-id=@id>Reconcile</a>
                                        </td>

                                    </tr>
                                }

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="col-md-10">
            <!-- Horizontal Form -->
            <div class="card" style="">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="modelDataTable2" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Category
                                    </th>
                                    <th>
                                        Thematic Area
                                    </th>

                                    <th>
                                        Concept Note Score
                                    </th>

                                    <th>
                                        Co-Assessors
                                    </th>
                                    <th>
                                        Reconcile
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int index2 = 0;}
                                @foreach (var item in Model.ApplicantReviewers)
                                {
                                    var id = Utility.Encrypt(item.ApplicantThematic.Id.ToString());
                                    index2 += 1;
                                    <tr>
                                        <td>@index2</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ApplicantThematic.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ApplicantThematic.Theme.Category.Name)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.ApplicantThematic.Theme.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ConceptNoteMark)
                                        </td>

                                        <td>
                                            <a asp-action="ViewCoReviewerConceptNote" asp-controller="ReviewerHome" class="btn btn-primary" asp-route-id=@id>View</a>
                                        </td>
                                        <td>
                                            <a asp-action="ReviewConceptNote" asp-controller="ReviewerHome" class="btn btn-primary" asp-route-id=@id>Reconcile</a>
                                        </td>

                                    </tr>
                                }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Current Event</h1>
    </div>

    <div class="row justify-content-center">
        <div class="container">
            <div class="row" style="padding-top: 20px">
                <div class="col-xs-12 col-md-6" id="concept-note-container">
                    <div class="card">
                        <div class="row">
                            <div class="col-xs-12 col-md-2 text-center" style="padding-top:65px;">
                                <img src="~/images/hourglass-animated-gif-157171-5610942.gif" style="width: 50px;height: 50px;" />
                            </div>
                            <div class="col-xs-12 col-md-10">
                                <table>
                                    <tr style="font-size:20px;">
                                        <td colspan="4" class="text-center text-success" id="concept-note-title">Count Down</td>
                                    </tr>
                                    <tr class="info-counter text-center" style="font-size: 50px;">
                                        <td id="days"></td>
                                        <td id="hours"></td>
                                        <td id="minutes"></td>
                                        <td id="seconds"></td>
                                    </tr>
                                    <tr class="text-center">
                                        <td>DAYS</td>
                                        <td>HOURS</td>
                                        <td>MINUTES</td>
                                        <td>SECONDS</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6" id="proposal-container">
                    <div class="card">
                        <div class="row">
                            <div class="col-xs-12 col-md-2 text-center" style="padding-top:65px;">
                                <img src="~/images/hourglass-animated-gif-157171-5610942.gif" style="width: 50px;height: 50px;" />
                            </div>
                            <div class="col-xs-12 col-md-10">
                                <table>
                                    <tr style="font-size:20px;">
                                        <td colspan="4" class="text-center text-success" id="proposal-title">Count Down</td>
                                    </tr>
                                    <tr class="info-counter text-center" style="font-size: 50px;">
                                        <td id="proposal-days"></td>
                                        <td id="proposal-hours"></td>
                                        <td id="proposal-minutes"></td>
                                        <td id="proposal-seconds"></td>
                                    </tr>
                                    <tr class="text-center">
                                        <td>DAYS</td>
                                        <td>HOURS</td>
                                        <td>MINUTES</td>
                                        <td>SECONDS</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">

        function genericCountdown(year, month, day, hour, minuite, second) {
            let eventDate = new Date(year, (month - 1), day, hour, minuite, second);
            let now = new Date();

            let currentTime = now.getTime();
            let eventTime = eventDate.getTime();

            let remainingTimeMs = (eventTime - currentTime);
            if (remainingTimeMs < 0) {
                return { days: 0, hours: 0, minutes: 0, seconds: 0 };
            }

            let s = Math.floor(remainingTimeMs / 1000);

            let m = Math.floor(s / 60);

            let h = Math.floor(m / 60);

            let d = Math.floor(h / 24);

            //Get the remaining hours, minutes, and seconds
            h %= 24;
            m %= 60;
            s %= 60;

            h = (h < 10) ? "0" + h : h;
            m = (m < 10) ? "0" + m : m;
            s = (s < 10) ? "0" + s : s;

            //Set the days, minutes and seconds into inner html
            //d = (parseInt(d) < 1 ? 0 + "0" : d) + ":";
            //h = (parseInt(h) < 1 ? 0 + "0" : h) + ":";
            //m = (parseInt(m) < 1 ? 0 + "0" : m) + ":";
            //s = (parseInt(s) < 1 ? 0 + "0" : s);

            return { days: d, hours: h, minutes: m, seconds: s };

        }

        function renderConceptNoteCountDown(futureDate) {
            document.querySelector("#concept-note-container").style.display = "none";
            document.querySelector("#concept-note-container").style.visibility = "hidden";
            //document.querySelector("#concept-note-container").style.position = "fixed";
            document.querySelector("#concept-note-container").classList.add("float-right");

            if (futureDate) {
                let { days, hours, minutes, seconds } = genericCountdown(futureDate.year, futureDate.month, futureDate.day, futureDate.hour, futureDate.minuite, futureDate.second);

                //if (days > 0 && hours > 0 && minutes > 0 && seconds > 0) {
                    //days = (parseInt(days) < 1 ? 0 + "0" : days) + ":";
                    //hours = (parseInt(hours) < 1 ? 0 + "0" : hours) + ":";
                    //minutes = (parseInt(minutes) < 1 ? 0 + "0" : minutes) + ":";
                    //seconds = (parseInt(seconds) < 1 ? 0 + "0" : seconds);

                    //Set the days, minutes and seconds into inner html
                    document.querySelector("#days").innerHTML = days;
                    document.querySelector("#hours").innerHTML = hours;
                    document.querySelector("#minutes").innerHTML = minutes;
                    document.querySelector("#seconds").innerHTML = seconds;



                    document.querySelector("#concept-note-title").innerHTML = futureDate.type;
                    document.querySelector("#concept-note-container").style.display = "block";
                    document.querySelector("#concept-note-container").style.visibility = "visible";

                    document.querySelector("#concept-note-container").classList.add("float-left");
                    document.querySelector("#concept-note-container").classList.remove("float-right");
                //}
            }
        }

        function renderProposalCountDown(futureDate) {
            document.querySelector("#proposal-container").style.display = "none";
            //document.querySelector("#proposal-container").style.visibility = "hidden";
            //document.querySelector("#proposal-container").style.position = "fixed";
            document.querySelector("#proposal-container").classList.add("float-right");

            if (futureDate) {
                let { days, hours, minutes, seconds } = genericCountdown(futureDate.year, futureDate.month, futureDate.day, futureDate.hour, futureDate.minuite, futureDate.second);

                //if (days > 0 && hours > 0 && minutes > 0 && seconds > 0) {
                    //days = (parseInt(days) < 1 ? 0 + "0" : days) + ":";
                    //hours = (parseInt(hours) < 1 ? 0 + "0" : hours) + ":";
                    //minutes = (parseInt(minutes) < 1 ? 0 + "0" : minutes) + ":";
                    //seconds = (parseInt(seconds) < 1 ? 0 + "0" : seconds);

                    //Set the days, minutes and seconds into inner html
                    document.querySelector("#proposal-days").innerHTML = days;
                    document.querySelector("#proposal-hours").innerHTML = hours;
                    document.querySelector("#proposal-minutes").innerHTML = minutes;
                    document.querySelector("#proposal-seconds").innerHTML = seconds;

                    document.querySelector("#proposal-title").innerHTML = futureDate.type;
                    document.querySelector("#proposal-container").style.display = "block";
                    document.querySelector("#proposal-container").style.visibility = "visible";

                    document.querySelector("#proposal-container").classList.add("float-left");
                    document.querySelector("#proposal-container").classList.remove("float-right");
                //}
            }
        }

        //Extract Concept Note date from LocalStorage
        let conceptNoteDate = JSON.parse(localStorage.getItem("ConceptDate"));

        //Extract Proposal date from LocalStorage
        let proposalDate = JSON.parse(localStorage.getItem("ProposalDate"));

        setInterval(() => renderConceptNoteCountDown(conceptNoteDate), 1000);

        setInterval(() => renderProposalCountDown(proposalDate), 1000);
    </script>

</section>