﻿
@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Full Proposal Assessment";
    //Layout = "~/Views/Shared/_ReviewerLayout.cshtml";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    @if (@TempData["Message"] != null)
            {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>
<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Full Proposal Assessment</h1>
        <div class="avatar-group mt-3">
        </div>
    </div>

    <div class="row justify-content-center">

            <div class="col-md-10">
                <!-- Horizontal Form -->
                <div class="card animated fadeInUp delay-1s">

                    <div class="card-body">
                        <br />
                        <input type="hidden" asp-for="Person.Id" />
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Person.Name" class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <input asp-for="Person.Name" class="form-control" disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Person.PhoneNo" class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <input asp-for="Person.PhoneNo" class="form-control" disabled />
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Person.Email" class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <input asp-for="Person.Email" class="form-control" disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Proposal.SubmittedBudget" class="col-sm-4 control-label"> Amount</label>
                                        <div class="col-sm-8">
                                            <input asp-for="Proposal.SubmittedBudget" class="form-control" disabled />
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>




                </div>

            </div>
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Full Proposal Assessment</h3>
                    </div>
                    <div class="box-body">
                        <br />
                        <br />
                        <input type="hidden" asp-for="Proposal.ProposalUrl" id="proposalUrl" />
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-lg-4">
                                    <button id="prebtn" class="btn btn-danger pull-left"> Previous</button>
                                </div>
                                <div class="col-lg-4 text-center">
                                    <span class="page-info white-text text-center">
                                        Page <span id="page-num"> </span> of <span id="page-count"></span>
                                    </span>

                                </div>
                                <div class="col-lg-4">
                                    <button id="nxtbtn" class="btn btn-danger pull-right"> Next</button>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12 text-center" style="height:700px">
                            <canvas id="pdfrender" style="height:100%; width:100%"></canvas>
                        </div>

                    </div>




                </div>

            </div>
        <form asp-action="ProposalAssessment" asp-controller="ReviewerHome" method="POST" role="form" class="form-horizontal">
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-danger">
                    <div class="box-body">
                        <table id="modelDataTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Parameter
                                    </th>
                                    <th>
                                        Max Score
                                    </th>
                                    <th>
                                        Actual Score
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ScoreAssessments)
                                {
                                    <tr>
                                        @Html.HiddenFor(modelItem => item.AssessmentGuide.Id)
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AssessmentGuide.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AssessmentGuide.MaxScore)
                                        </td>
                                        <td>
                                            @Html.EditorFor(modelItem => item.Score)
                                        </td>

                                    </tr>
                                }

                        </table>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-danger">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="ProposalAssessment.ApprovedBudget" class="col-sm-4 control-label"> Approved Budget</label>
                                    <div class="col-sm-8">
                                        <input asp-for="ProposalAssessment.ApprovedBudget" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="ProposalAssessment.Approved" class="col-sm-4 control-label"> Approved</label>
                                    <div class="col-sm-8">
                                        <input type="checkbox" asp-for="ProposalAssessment.Approved" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="card-footer">

                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>

    </div>
</section>
<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
<script src="~/PdfReader/pdf.js"></script>
<script>
    let pdfDoc = null,
        pageNum = 1,
        pageIsRendering = false,
        pageNumIsPending = null;

    const scale = 1,
        canvas = document.querySelector("#pdfrender"),
        ctx = canvas.getContext("2d");

    const url = $('#proposalUrl').val();

    //var ctx = canvas[0].getContext("2d");

    pdfjsLib.getDocument(url)
        .promise
        .then((pdfDoc_) => {
            pdfDoc = pdfDoc_;
            //set the total number of pages in a span
            $("#page-count").text(pdfDoc.numPages);

            renderPage(pageNum);//init at one
        })
        .catch((err) => console.error(err));

    const renderPage = (num) => {
        pageIsRendering = true;//tell the app that a page is rendering
        //get the page
        pdfDoc.getPage(num)
            .then((page) => {
                //set the scale of the pdf
                const viewport = page.getViewport(scale);
                canvas.height = viewport.height;
                canvas.width = viewport.width;

                const renderCtx = {
                    canvasContext: ctx,
                    viewport
                };

                page.render(renderCtx)
                    .promise
                    .then(() => {
                        pageIsRendering = false;

                        if (pageNumIsPending !== null) {
                            renderPage(pageNumIsPending);
                            pageNumIsPending = null;
                        }
                    })
                    .catch((err) => console.error(err));

                //output the current page
                $("#page-num").text(num);
            })
            .catch((err) => console.error(err));
    };


    function queueRenderPage (num) {
        if (pageIsRendering)
            pageNumIsPending = null;
        else renderPage(num);
    };


    $("#nxtbtn").on('click', function () {
        if (pageNum >= pdfDoc.numPages) {
            return;

        }
        pageNum++;
        queueRenderPage(pageNum);

    });


    $("#prebtn").on('click', function () {
        if (pageNum <= 1) {
            return;

        }
        pageNum--;
        queueRenderPage(pageNum);

    });
</script>



