﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@using Grant.Web.Infrastructure
@{
    ViewData["Title"] = "Concept Note Review";
    //Layout = "~/Views/Shared/_ReviewerLayout.cshtml";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    body {
        font-family: Poppins, sans-serif;
        background-color: whitesmoke !important;
    }

    .monts {
        font-family: Poppins, sans-serif;
    }

    .th-bg {
        background-color: #1CBC9D;
    }

    .th-bg2 {
        background-color: #DAEEF3;
    }

    #progressbar li {
        list-style-type: none;
        color: #555;
        text-transform: uppercase;
        font-size: 9px;
        width: 30% !important;
        float: left;
        position: relative;
        letter-spacing: 1px;
    }
</style>

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">
            <partial name="_Message" , model="@TempData["Message"]" />
        </div>
    }
</section>

<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Concept Note <span class="text-muted text-sm">/ Assessment </span></h1>
        <div class="avatar-group mt-3">
        </div>
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px;background: whitesmoke;">

        <div class="col-md-8 card-footer">
            <button type="button" class="btn btn-success float-right" id="print-btn">
                <i class="fa fa-save"></i> Download PDF
            </button>
        </div>
        <form id="msform" asp-action="ScoreConceptNote" asp-controller="ReviewerHome" method="POST" role="form" enctype="multipart/form-data" class="form-horizontal">

            @Html.HiddenFor(m => m.ApplicantThematic.Id)
            <div class="col-md-12 card-body">
                <!-- Horizontal Form -->
                <div class="card animated fadeInUp delay-1s" style="border-top-color: #fff; border-radius: 0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 offset-md-3 float-right">
                                <p class="badge badge-danger word-status" style="margin-top:0; color: #fff">Words Left: <span class="wordCountDown"></span></p>
                            </div>
                            <div class="col-md-4 ">
                                <p class="badge badge-success" style="margin-top:0; ">Total Words Allowed: <span>1500</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="fs-subtitle monts">Research Project Title</h3>


                                <textarea asp-for="ApplicantThematic.Title" id="txtTitle" type="text" rows="1" readonly></textarea>
                                <h3 class="fs-subtitle monts text-left">Category</h3>
                                <input asp-for="ApplicantThematic.Theme.Category.Name" class="form-control wordCounter" readonly />
                                <h3 class="fs-subtitle monts text-left">Thematic Area</h3>

                                <input asp-for="ApplicantThematic.Theme.Name" class="form-control wordCounter" readonly />

                                <br />
                                <h3 class="fs-subtitle monts text-left">Estimated Budget &#8358</h3>
                                <div class="row">
                                    <div class="col-10">
                                        <p class="text-left"> ₦ @string.Format("{0:0,0.00}", Model.ConceptNote.ConceptNoteSubmittedBudget)</p>
                                    </div>

                                    <div class="col-2">

                                        <select asp-for=ProposalScoring.BudgetJustificationScore class="form-control form-control-sm section">
                                            <option value="0">0</option>
                                            @for (int i = 1; i <= 10; i++)
                                            {
                                                <option selected=@(i  == Model.ProposalScoring.BudgetJustificationScore ) value="@i">@i</option>
                                            }


                                        </select>
                                    </div>
                                </div>

                                <br />
                                <h3 class="fs-subtitle monts text-left">Background of the Research</h3>
                                <textarea asp-for="ApplicantSubmission.IntroductionBackground" class="wordCounter" id="txtBackgroundIntro" type="text" rows="5" readonly></textarea>
                                <div class="col-xs-12 col-md-12">
                                    <button type="button" class="btn btn-success btn-sm view-full-screen-btn float-left"><i class="fa fa-expand"></i> Full Screen</button>
                                    <div class="float-right">
                                        <select asp-for=ProposalScoring.IntroductionBackgroundScore class="form-control form-control-sm section float-right">
                                            <option selected:'0' value="0">0</option>
                                            @for (int i = 1; i <= 10; i++)
                                            {

                                                <option selected=@(i  == Model.ProposalScoring.IntroductionBackgroundScore ) value="@i">@i</option>
                                            }

                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Horizontal Form -->
                        <div class="box box-danger mt-4" style="border-top-color: #fff; border-radius: 0">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="nodesToRenderAsPDF">
                                            <h3 class="fs-subtitle monts text-left">Statement of the Problem (Why does this research need to be conducted)</h3>
                                            <textarea asp-for="ApplicantSubmission.StatementOfProblem" class="wordCounter" id="txtStatement" type="text" rows="5" readonly></textarea>
                                            <div class="col-xs-12 col-md-12">
                                                <button type="button" class="btn btn-success btn-sm view-full-screen-btn float-left"><i class="fa fa-expand"></i> Full Screen</button>
                                            </div>
                                            @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="statement">300</span> character(s) left</div>*@

                                            <br />
                                            <br />
                                            <br />
                                            <h3 class="fs-subtitle monts">Research Questions</h3>
                                            <textarea asp-for="ApplicantSubmission.ResearchQuestions" class="wordCounter" id="txtResearchQuestions" type="text" rows="5" readonly></textarea>
                                            <div class="col-xs-12 col-md-12">
                                                <button type="button" class="btn btn-success btn-sm view-full-screen-btn float-left"><i class="fa fa-expand"></i> Full Screen</button>
                                            </div>
                                            <div class="float-right col-md-2">
                                                @*<input type="hidden" asp-for="ProposalScoring.StatementOfProblemScore" />*@
                                                <select asp-for=ProposalScoring.StatementOfProblemScore class="form-control form-control-sm section">
                                                    <option value="0">0</option>
                                                    @for (int a = 1; a <= 10; a++)
                                                    {
                                                        <option selected=@(a  == Model.ProposalScoring.StatementOfProblemScore ) value="@a">@a</option>
                                                    }


                                                </select>
                                            </div>
                                            <br />
                                            <br />
                                            <br />
                                            <h3 class="fs-subtitle monts text-left">Objectives of the Research</h3>
                                            <textarea asp-for="ApplicantSubmission.Aims" id="txtAim" class="wordCounter" type="text" rows="5" readonly></textarea>
                                            @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="aim">300</span> character(s) left</div>*@
                                            <div class="col-xs-12 col-md-12">
                                                <button type="button" class="btn btn-success btn-sm view-full-screen-btn float-left"><i class="fa fa-expand"></i> Full Screen</button>
                                            </div>
                                            <div class="float-right">
                                                @*<input type="hidden" asp-for="ProposalScoring.AimsScore" />*@
                                                <select asp-for=ProposalScoring.AimsScore class="form-control form-control-sm section">
                                                    <option value="0">0</option>
                                                    @for (int i = 1; i <= 10; i++)
                                                    {
                                                        <option selected=@(i  == Model.ProposalScoring.AimsScore ) value="@i">@i</option>
                                                    }

                                                </select>
                                            </div>
                                            <br />
                                            <br />
                                            <br />
                                            <h3 class="fs-subtitle monts">Literature Review</h3>
                                            <textarea asp-for="ApplicantSubmission.LiteratureReview" class="wordCounter" id="txtLiteratureReview" type="text" rows="5" readonly></textarea>
                                            <div class="col-xs-12 col-md-12">
                                                <button type="button" class="btn btn-success btn-sm view-full-screen-btn float-left"><i class="fa fa-expand"></i> Full Screen</button>
                                            </div>
                                            @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="literatureReview">300</span> character(s) left</div>*@
                                            <br />
                                            <br />
                                            <br />
                                        </div>

                                        <h3 class="fs-subtitle monts">Theoritical Framework</h3>
                                        <textarea asp-for="ApplicantSubmission.ConceptualFramework" class="wordCounter" id="txtConceptualFramework" type="text" rows="5" readonly></textarea>
                                        <div class="col-xs-12 col-md-12">
                                            <button type="button" class="btn btn-success btn-sm view-full-screen-btn float-left"><i class="fa fa-expand"></i> Full Screen</button>
                                        </div>
                                        <br />
                                        <br />
                                        <br />
                                        <h3 class="fs-subtitle monts">Research Methodology (Given detail methodology of the proposed research project)</h3>
                                        <textarea asp-for="ApplicantSubmission.ResearchMethodoly" class="wordCounter" id="txtResearchMethodology" type="text" rows="5" readonly></textarea>
                                        <div class="col-xs-12 col-md-12">
                                            <button type="button" class="btn btn-success btn-sm view-full-screen-btn float-left"><i class="fa fa-expand"></i> Full Screen</button>
                                        </div>
                                        <div class="float-right ">
                                            <select asp-for=ProposalScoring.ResearchMethodolyScore class="form-control form-control-sm section">
                                                <option value="0">0</option>
                                                @for (int i = 1; i <= 25; i++)
                                                {
                                                    <option selected=@(i  == Model.ProposalScoring.ResearchMethodolyScore ) value="@i">@i</option>
                                                }


                                            </select>
                                        </div>
                                        <br />
                                        <br />
                                        <br />
                                        <h3 class="fs-subtitle monts">Expected Result</h3>
                                        <textarea asp-for="ApplicantSubmission.ExpectedResult" class="wordCounter" id="txtExpectedResult" type="text" rows="5" readonly></textarea>
                                        <div class="col-xs-12 col-md-12">
                                            <button type="button" class="btn btn-success btn-sm view-full-screen-btn float-left"><i class="fa fa-expand"></i> Full Screen</button>
                                        </div>
                                        <div class="float-right">
                                            <select asp-for=ProposalScoring.EthicalScore class="form-control form-control-sm section">
                                                <option value="0">0</option>
                                                @for (int i = 0; i <= 10; i++)
                                                {
                                                    <option selected=@(i  == Model.ProposalScoring.EthicalScore ) value="@i">@i</option>
                                                }
                                            </select>
                                        </div>
                                        <br />
                                        <br />
                                        <br />
                                        <h3 class="fs-subtitle monts">Innovation: How Different it is from other earlier Projects</h3>
                                        <textarea asp-for="ApplicantSubmission.Innovations" class="wordCounter" id="txtInnovations" type="text" rows="5" readonly></textarea>
                                        <div class="col-xs-12 col-md-12">
                                            <button type="button" class="btn btn-success btn-sm view-full-screen-btn float-left"><i class="fa fa-expand"></i> Full Screen</button>
                                        </div>
                                        <br />
                                        <br />
                                        <br />
                                        <h3 class="fs-subtitle monts">References </h3>
                                        <textarea asp-for="ApplicantSubmission.References" class="wordCounter" id="txtReferences" type="text" rows="5" readonly></textarea>
                                        <div class="col-xs-12 col-md-12">
                                            <button type="button" class="btn btn-success btn-sm view-full-screen-btn float-left"><i class="fa fa-expand"></i> Full Screen</button>
                                        </div>
                                        <div class="float-right">

                                            <select asp-for=ProposalScoring.DisseminationStrategiesScore class="form-control form-control-sm section">
                                                <option value="0">0</option>
                                                @for (int i = 1; i <= 15; i++)
                                                {


                                                    <option selected=@(i  == Model.ProposalScoring.DisseminationStrategiesScore ) value="@i">@i</option>
                                                }
                                            </select>
                                        </div>
                                        <br />
                                        <br />
                                        <br />
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>




            </div>
            @*</form>*@
            <br />
            <div class="col-md-12">
                @*<form asp-action="ScoreConceptNote" asp-controller="ReviewerHome" method="POST" role="form" class="form-horizontal">*@
                <!-- Horizontal Form -->
                <input type="hidden" asp-for="ApplicantReviewer.ReviewerId" />
                <input type="hidden" asp-for="ApplicantThematic.Id" />
                <div class="card" style="border-top-color: #fff; border-radius: 0">
                    <div class="card-header with-border">

                        <h4 class="card-title monts">Scoring & Comments</h4>
                    </div>
                    <div class="card-body">

                        <div class="row" style="margin-bottom: 10px">

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-8 form-control-label">Mark</label>
                                    <div class="row">
                                        <div class="col-sm-4"></div>
                                        <div class="col-sm-4">
                                            <input type="number" min="0" max="100" asp-for="@Model.ApplicantReviewer.ConceptNoteMark" id="totalScore" class="form-control" readonly />
                                        </div>
                                    </div>

                                    <label class="col-sm-8 form-control-label mt-4">Comment</label>
                                    <textarea asp-for="@Model.ProposalScoring.Remark" class="form-control" cols="3"></textarea>
                                </div>
                            </div>

                        </div>
                        <div><a asp-action="DownloadConceptNoteAttachement" asp-controller="ReviewerHome" class="btn btn-success" asp-route-id=@Utility.Encrypt(Model.ConceptNote.Id.ToString())>Download Attachments</a></div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row justify-content-between mt-3 px-4">
                    <button id="saveScore" type="button" class="save btn btn-outline-success">Save</button>
                    @*<button type="submit" class="btn btn-success pull-right">Score</button>*@
                    <button type="submit" class="btn btn-outline-success">Score</button>
                </div>

            </div>




        </form>

        @*<div class="card" style="border-top-color: #fff; border-radius: 0">
                <div class="card-body">
                    <div class="row" style="margin-bottom: 10px">
                        <div class="col-xs-12 col-md-12">
                            <button type="button" class="btn btn-success pull-right" id="print-btn">
                                <i class="fa fa-save"></i> Save Document
                            </button>
                        </div>
                    </div>
                </div>

            </div>*@

    </div>
</section>
<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
<script src="~/PdfReader/pdf.js"></script>
<link href="~/css/TabStyle.css" rel="stylesheet" />

<script type="text/javascript">
    const textareasThatNeedResizing = [];

    //Edit Textarea height for a single textarea
    const modifyTextareaAttributes = (element) => {
        const realTextareaHeight = element.offsetHeight;
        const scrollTextareaHeight = element.scrollHeight;

        if ((realTextareaHeight - scrollTextareaHeight) > 0) {
            //console.log(`%c The textarea does not need scrollbar, so it keeps the default height of: ${element.offsetHeight}`, "background-color: black;color:#fff;font-family:consolas");
            // console.log(`%c Content: ${element.value}`, "background-color: blue;color:#fff;font-family:consolas")
        }
        else {
            element.style.height = `${element.scrollHeight + 20}px`;
            // console.log(`%c The textarea needs a scrollbar, and so we gave it a height of: ${element.scrollHeight}`, "background-color: indianred;color: #fff; font-family:consolas");
            //console.log(`%c Content: ${element.value}`, "background-color: green;color:#fff;font-family:consolas")

            textareasThatNeedResizing.push({ element, originalHeight: realTextareaHeight });
        }
    }

    //Edit Textarea height for multiple textareas
    const modifyMultipleTextareaAttributes = (...elements) => {
        elements.forEach((el, index) => modifyTextareaAttributes(el));
    }

    //Resize the textareas that were resized back to their original height
    const returnTextareaToOriginalHeight = (...elements) => {
        elements.forEach((el, index) => el.element.style.height = `${el.originalHeight}px`);
    };

    document.querySelector("#print-btn").addEventListener("click", () => {
        $(".hide-away").css("display", "none");
        document.querySelectorAll("button").forEach(f => f.style.visibility = "hidden");
        //Hide the borders on all textareas
        document.querySelectorAll("textarea").forEach(f => f.style.border = "none");
        document.querySelectorAll("input").forEach(f => f.style.border = "none");
        document.querySelectorAll("select").forEach(f => f.style.border = "none");

        const elements = document.getElementsByTagName("textarea");

        modifyMultipleTextareaAttributes(...elements);

        window.print();
    });

    window.addEventListener("click", () => {
        $(".hide-away").css("display", "block");
        const border = "1px solid #ddd";
        document.querySelectorAll("button").forEach(f => f.style.visibility = "visible");
        document.querySelectorAll("textarea").forEach(f => f.style.border = border);
        document.querySelectorAll("input").forEach(f => f.style.border = border);
        document.querySelectorAll("select").forEach(f => f.style.border = border);

        returnTextareaToOriginalHeight(...textareasThatNeedResizing);
    });


    const modalTitle = document.getElementById("output-text-title");
    const modalBody = document.getElementById("output-text-content");
    const modalContainer = document.getElementById("customized-modal");
    modalContainer.style.display = "none";

    document.querySelectorAll(".view-full-screen-btn").forEach(el => {
        el.addEventListener("click", (e) => {
            const elementToOutput = e.target.parentElement.previousElementSibling;
            const titleElement = e.target.parentElement.previousElementSibling.previousElementSibling;
            modalBody.innerHTML = elementToOutput.innerHTML;
            modalTitle.innerHTML = titleElement.innerHTML;

            //Ease in transition
            window.setTimeout(() => {
                modalContainer.style.opacity = 1;
                modalContainer.style.transform = 'scale(1)';
                modalContainer.style.display = "block";
            }, 1000);
        });
    });

    //Close the opened modal
    document.querySelector("#close-modal").addEventListener("click", (e) => {
        modalContainer.style.opacity = 0;
        modalContainer.style.transform = 'scale(0)';
        window.setTimeout(() => modalContainer.style.display = "none", 1000);
    });

    let conceptNoteMaxWordCount = 1500;
    const conceptNoteTotalWordsAllowed = 1500;
    const colorCodes = {
        success: "green",
        midWay: "orange",
        warning: "indianred"
    };

    function applyColor(counter) {
        color = colorCodes.success;
        let el = document.querySelectorAll(".word-status");
        const elNodes = Array.prototype.slice.call(el, document.body);

        if (counter && counter > 0) {
            if (counter < 500) {
                color = colorCodes.success;
            }
            else if (counter >= 500 && counter < 1000) {
                color = colorCodes.midWay;
            }
            else if (counter >= 1000 && counter <= 1500) {
                color = colorCodes.warning;
            }

        }
        elNodes.forEach((element, currentIndex) => element.style.backgroundColor = color);
    }

    //Disable submit button if the counter is negative
    function disableSubmit(counter) {
        let submitBtn = $("#submit");
        if (counter >= conceptNoteTotalWordsAllowed) {
            //submitBtn.attr('disabled', true);
            //submitBtn.addClass("disable-btn");
        }
        else {
            //submitBtn.removeAttr('disabled');
            //submitBtn.removeClass("disable-btn");
        }

        applyColor(counter);
    }

    const wordCounterNodes = document.querySelectorAll(".wordCounter");
    const targetNodes = Array.prototype.slice.call(wordCounterNodes, document.body);

    targetNodes.forEach((wordCounter, currentIndex) => {
        if (wordCounter.value !== "") {
            let wordCount = wordCounter.value.split(" ").length;
            conceptNoteMaxWordCount -= wordCount;
        }
    });

    $('.wordCountDown').html(conceptNoteMaxWordCount);
    disableSubmit(conceptNoteMaxWordCount);

    $('.wordCounter').on('keyup', function (e) {
        let totalCount = conceptNoteTotalWordsAllowed;
        const wordCounterNodes = document.querySelectorAll(".wordCounter");
        const targetNodes = Array.prototype.slice.call(wordCounterNodes, document.body);

        targetNodes.forEach((wordCounter, currentIndex) => {
            if (wordCounter.value !== "") {
                let wordCount = wordCounter.value.split(" ").length;
                totalCount -= wordCount;
            }
        });
        $('.wordCountDown').html(totalCount);
        disableSubmit(totalCount);
    });

    $('.wordCounter').on('paste', function (e) {
        let totalCount = conceptNoteTotalWordsAllowed;
        const wordCounterNodes = document.querySelectorAll(".wordCounter");
        const targetNodes = Array.prototype.slice.call(wordCounterNodes, document.body);

        targetNodes.forEach((wordCounter, currentIndex) => {
            if (wordCounter.value !== "") {
                let wordCount = wordCounter.value.split(" ").length;
                totalCount -= wordCount;
            }
        });
        $('.wordCountDown').html(totalCount);
        disableSubmit(totalCount);
    });



    //$("#prebtn").on('click', function () {
    //    if (pageNum <= 1) {
    //        return;

    //    }
    //    pageNum--;
    //    queueRenderPage(pageNum);

    //});
    $(document).ready(function () {
        $('.section').on('change', function () {
            var sum = 0;
            $.each($(".section"), function () {
                sum += Number($(this).val());
            });
            $("#totalScore").val(sum);
        });
        $('#saveScore').on('click', function () {
            SaveAssessment();
        })

    });
    //get scoring to save
    function GetValues() {
        let Remark = $('#ProposalScoring_Remark').val();
        let AdditionalSourcesScore = $('#ProposalScoring_AdditionalSourcesScore').val();
        let BudgetJustificationScore = $('#ProposalScoring_BudgetJustificationScore').val();
        let GroupResearchScore = $('#ProposalScoring_GroupResearchScore').val();
        let PreviousGrantScore = $('#ProposalScoring_PreviousGrantScore').val();
        let ResearchWorkToDateScore = $('#ProposalScoring_ResearchWorkToDateScore').val();
        let DisseminationStrategiesScore = $('#ProposalScoring_DisseminationStrategiesScore').val();
        let MonitoringScore = $('#ProposalScoring_MonitoringScore').val();
        let EthicalScore = $('#ProposalScoring_EthicalScore').val();
        let DataManagementScore = $('#ProposalScoring_DataManagementScore').val();
        let StudyLocationScore = $('#ProposalScoring_StudyLocationScore').val();
        let ActivityIndicatorScore = $('#ProposalScoring_ActivityIndicatorScore').val();
        let TimeFrameScore = $('#ProposalScoring_TimeFrameScore').val();
        let ProjectActivities = $('#ProposalScoring_ProjectActivities').val();
        let ResearchMethodolyScore = $('#ProposalScoring_ResearchMethodolyScore').val();
        let LiteratureReviewScore = $('#ProposalScoring_LiteratureReviewScore').val();
        let ProjectImpactScore = $('#ProposalScoring_ProjectImpactScore').val();
        let ConceptualFrameworkScore = $('#ProposalScoring_ConceptualFrameworkScore').val();
        let StatementOfProblemScore = $('#ProposalScoring_StatementOfProblemScore').val();
        let AimsScore = $('#ProposalScoring_AimsScore').val();
        let IntroductionBackgroundScore = $('#ProposalScoring_IntroductionBackgroundScore').val();
        let ExecutiveSummaryScore = $('#ProposalScoring_ExecutiveSummaryScore').val();
        let TitleScore = $('#ProposalScoring_TitleScore').val();
        let ApplicantThematicId = $('#ApplicantThematic_Id').val();
        let ProjectGoalScore = $('#ProposalScoring_ProjectGoalScore').val();
        var getDetail = {
            'ApplicantThematicId': ApplicantThematicId,
            'TitleScore': TitleScore,
            'ExecutiveSummaryScore': ExecutiveSummaryScore,
            'IntroductionBackgroundScore': IntroductionBackgroundScore,
            'AimsScore': AimsScore,
            'StatementOfProblemScore': StatementOfProblemScore,
            'ConceptualFrameworkScore': ConceptualFrameworkScore,
            'ProjectGoalScore': ProjectGoalScore,
            'ProjectImpactScore': ProjectImpactScore,
            'LiteratureReviewScore': LiteratureReviewScore,
            'ResearchMethodolyScore': ResearchMethodolyScore,
            'ProjectActivities': ProjectActivities,
            'TimeFrameScore': TimeFrameScore,
            'ActivityIndicatorScore': ActivityIndicatorScore,
            'StudyLocationScore': StudyLocationScore,
            'DataManagementScore': DataManagementScore,
            'EthicalScore': EthicalScore,
            'MonitoringScore': MonitoringScore,
            'DisseminationStrategiesScore': DisseminationStrategiesScore,
            'ResearchWorkToDateScore': ResearchWorkToDateScore,
            'PreviousGrantScore': PreviousGrantScore,
            'GroupResearchScore': GroupResearchScore,
            'BudgetJustificationScore': BudgetJustificationScore,
            'AdditionalSourcesScore': AdditionalSourcesScore,
            'Remark': Remark
        }
        return getDetail;
    }
    function SaveAssessment() {
        var assessmentDetail = GetValues();
        var stringifyAssessmentDetail = JSON.stringify(assessmentDetail);
        var typeId = 1;
        let ApplicantThematicId = $('#ApplicantThematic_Id').val();
        let mark = $('#totalScore').val();
        if (ApplicantThematicId > 0) {
                     $.ajax({
                                type: 'POST',
                                url: '@Url.Action("SaveAssessmentScore", "ReviewerHome")', // we are calling json method
                    dataType: 'json',
                                //timeout:2000,
                         data: { stringifyAssessmentDetail, ApplicantThematicId, typeId, mark },
                                success: function (result) {
                                    if (!result.IsError) {
                                        alert(result.Message);
                                    }

                                },
                                error: function (ex) {
                                    alert('System busy' + ex);
                                }
                            });
        }
    }
</script>