﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@using Grant.Web.Infrastructure
@{
    ViewData["Title"] = "ViewMyApplicantProposal";
    //Layout = "~/Views/Shared/_ReviewerLayout.cshtml";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>
<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Full Proposal Submissions</h1>
        <div class="avatar-group mt-3">
        </div>
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">
        <div class="col-md-10">
            <!-- Horizontal Form -->
            <div class="card animated fadeInUp delay-1s" style="">

                <div class="card-body">
                    <div class="table-responsive">
                        <table id="modelDataTable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    @*<th>
                                            Applicant name
                                        </th>*@
                                    <th>
                                        Full Proposal Title
                                    </th>
                                    <th>
                                        Category-(Thematic Area)
                                    </th>
                                    <th>
                                        Date Submitted
                                    </th>
                                    <th>
                                        Date Reviewed
                                    </th>
                                    <th>
                                        Proposal Score
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int index = 0;}
                                @foreach (var item in Model.ApplicationList)
                                {
                                    var id = Utility.Encrypt(item.ApplicantSubmission.ApplicantThematic.Id.ToString());
                                    index += 1;
                                    <tr>
                                        <td>@index</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ApplicantSubmission.ApplicantThematic.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ApplicantSubmission.ApplicantThematic.Theme.Category.Name)-(@Html.DisplayFor(modelItem => item.ApplicantSubmission.ApplicantThematic.Theme.Name))
                                        </td>
                                        <td>

                                            @Html.DisplayFor(modelItem => item.ApplicantSubmission.ApplicantThematic.DateApplied)
                                        </td>
                                        <td>
                                            @if (item.proposalScoring != null)
                                            {
                                                @Html.DisplayFor(modelItem => item.proposalScoring.DateReviewed)
                                            }
                                        </td>
                                        <td>
                                            @if (item.proposalScoring != null)
                                            {
                                                @Html.DisplayFor(modelItem => item.ProposalScore)

                                            }

                                        </td>
                                        <td>
                                            <a asp-action="ProposalReviewAndAssessment" asp-controller="ReviewerHome" class="btn btn-success" asp-route-id=@id>Review</a>
                                        </td>


                                    </tr>
                                }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
