﻿ @model Grant.Web.Models.ViewModels.AdminViewModel
@using Grant.Web.Infrastructure
@{
    ViewData["Title"] = "ViewMyApplicantConceptNote";
    //Layout = "~/Views/Shared/_ReviewerLayout.cshtml";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
        {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>

<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Concept Note Submissions</h1>
        <div class="avatar-group mt-3">
        </div>
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">
        <div class="col-md-10">
            <!-- Horizontal Form -->
            <div class="card animated fadeInUp delay-1s " style="">
                
                <div class="card-body">
                    <div class="table-responsive">
                    <table id="modelDataTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                @*<th>
                                    Principal Investigator(PI)
                                </th>*@
                                <th>
                                    Concept Note Title
                                </th>
                                <th>
                                    Category-(Thematic Area)
                                </th>
                                <th>
                                    Date Submitted
                                </th>

                                <th>
                                    Concept Note Score
                                </th>


                                <th>
                                    Concept Note
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int index = 0;}
                            @foreach (var item in Model.ApplicationList)
                            {
                                var id=Utility.Encrypt(item.ApplicantThematic.Id.ToString());
                                index += 1;
                                <tr>
                                    <td>@index</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ApplicantThematic.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Category.Name)-(@Html.DisplayFor(modelItem => item.Theme.Name))
                                    </td>
                                    <td>
                                            @Html.DisplayFor(modelItem => item.ApplicantThematic.DateApplied)
                                        </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ApplicantReviewer.ConceptNoteMark)
                                    </td>

                                    <td>
                                        <a asp-action="ReviewConceptNote" asp-controller="ReviewerHome" class="btn btn-success" asp-route-id=@id>Review</a>
                                    </td>


                                </tr>
                            }

                    </table>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>









