﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@using Grant.Web.Infrastructure
@{
    ViewData["Title"] = "Concept note Co-Assessor";
    //ViewData["Title"] = "ViewCoReviewerConceptNote";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section class="content-header">
    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>

<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Review Co-Assessor(s) Scoresheet</h1>
        <div class="avatar-group mt-3">
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-10">
            <!-- Horizontal Form -->
            <div class="card">
                <div class="card-body">
                    <table id="modelDataTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>

                                <th>
                                    Name
                                </th>
                                <th>
                                    Phone
                                </th>
                                <th>
                                    E-mail
                                </th>

                                <th>
                                    Concept Note Score
                                </th>
                                <th>
                                    Comment
                                </th>
                                <th>
                                    View
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ReviewerScores)
                            {
                                var id = Utility.Encrypt(item.ApplicantThematic.Id.ToString());
                                var reviewer = Utility.Encrypt(item.Reviewer.Id.ToString());
                                <div class="modal fade" id="commentnmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Comment Box</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <textarea class="col-md-12" readonly>@item.Comment</textarea>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Reviewer.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Reviewer.PhoneNo)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Reviewer.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Score)
                                    </td>

                                    @if (item.Comment != null)
                                    {
                                        <td><button class="btn btn-primary" data-toggle="modal" data-target="#commentnmodal" id="showEditSession">Comment</button></td>
                                    }
                                    else
                                    {
                                        <td>
                                            No Comment
                                        </td>
                                    }
                                        <td>
                                            <a asp-action="CoReviewerConceptNote" asp-controller="ReviewerHome" class="btn btn-success" asp-route-applicantthematicIdString=@id asp-route-reviewerIdString=@reviewer>Review</a>
                                        </td>


                                </tr>
                            }

</table>
                </div>
            </div>
        </div>
    </div>

</section>


