﻿@model Grant.Web.Models.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Add Research Team Member";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
            {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>

<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Add Research Team Member</h1>
        <hr class="mt-0 mb-2" />
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">

            
            <div class="col-md-8">
                <!-- Horizontal Form -->
                <div class="card animated fadeInUp delay-1s" style="">
                    
                        <div class="card-body">
                            <form asp-action="UploadTeamImage" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-12 text-center" style="padding-left: 30px">

                                        @if (Model.PassportUrl != null)
                                        {
                                            <img style="height: 150px !important; width: auto" class="profile-user-img img-responsive img-circle" src='@Url.Content(@Model.PassportUrl)' />

                                        }
                                        else
                                        {

                                            <img style="height: 150px !important; width: auto" class="profile-user-img img-responsive img-circle" src="~/theme/dist/img/avatar.png" />
                                        }

                                        <div class="form-group ml-5" style="margin-top: 20px">
                                            @*<input type="file" name="user_image" id="user_image" />*@
                                            <input type="file" asp-for="UploadFile" id="user_image" />
                                        </div>
                                        <div class="form-group mb-2">
                                            <input type="submit" id="uploadBtn" value="Upload Passport Photograph" class="btn btn-outline-success btn-sm" />
                                        </div>
                                        <h5 style="color:red">
                                            Please upload a photograph in .jpg,.jpeg or .png format
                                            <br />The maximum file size is 1MB
                                        </h5>
                                    </div>

                                    

                                    @*<div class="form-group">
            <label for="UploadFiles" class="col-sm-12 ">PDF File</label>
            <div class="col-sm-12">
                <input type="file" asp-for="UploadFile" />
            </div>
        </div>*@

                                </div>
                            </form>

                            <form asp-action="Addteam" asp-controller="UserHome" method="POST" role="form" class="form-horizontal mt-5">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="row">
                                    <div class="form-group col-md-6">

                                        <label asp-for="Person.TitleId" class="col-sm-12">Title</label>
                                        <div class="col-sm-12">
                                            <select asp-for=Person.TitleId class="form-control"
                                                    asp-items=Model.TitleNameSL required>
                                                <option value="">-- Select Title --</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="Person.Name" class="col-sm-12">Full Name</label>
                                        <div class="col-sm-12">
                                            <input asp-for="Person.Name" required class="form-control" />
                                            <span asp-validation-for="Person.Name" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="Person.Email" class="col-sm-12"></label>
                                        <div class="col-sm-12">
                                            <input asp-for="Person.Email" type="email" required class="form-control" />
                                            <span asp-validation-for="Person.Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="Person.PhoneNo" class="col-sm-12"></label>
                                        <div class="col-sm-12">
                                            <input asp-for="Person.PhoneNo" class="form-control" required pattern="^0\d{10}" />
                                            <span asp-validation-for="Person.PhoneNo" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">


                                        <label asp-for="Person.SexId" class="col-sm-12">Gender</label>
                                        <div class="col-sm-12">
                                            <select asp-for=Person.SexId class="form-control"
                                                    asp-items=Model.SexNameSL required>
                                                <option value="">-- Select Gender --</option>
                                            </select>
                                        </div>
                                    </div>
                                    @*<div class="form-group col-md-6">


            <label asp-for="Person.StateId" class="col-sm-12">State</label>
            <div class="col-sm-12">
                <select asp-for=Person.StateId class="form-control"
                        asp-items=Model.StateNameSL required>
                    <option value="">-- Select State --</option>
                </select>
            </div>
        </div>*@
                                    <div class="form-group col-md-6">
                                        <label class="col-sm-12">Rank</label>
                                        <div class="col-sm-12">
                                            <select id="RankId" asp-for=Person.RankId class="form-control"
                                                    asp-items=Model.RankNameSLAll required>
                                                <option value="">-- Select Rank --</option>



                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6" id="otherRank" style="display:none">
                                        <label class="col-sm-12"> Rank</label>
                                        <div class="col-sm-12">
                                            <input asp-for="OtherRank" class="form-control" placeholder="Enter Your Rank" />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-sm-12">Higher Education Sector</label>
                                        <div class="col-sm-12">
                                            <select id="InstitutionCategoryId" asp-for=InstitutionCategoryId class="form-control"
                                                    asp-items=Model.InstitutionCategoryNameSL required>
                                                <option value="">-- Select Higher Education Sector --</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6" style="display:none" id="institutionDiv">
                                        <label class="col-sm-12"> Institution</label>
                                        <div class="col-sm-12">
                                            <select asp-for="InstitutionId" class="form-control" id="InstitutionId"
                                                    name="InstitutionId" data-url="@Url.Action("GetInstitution")"></select>
                                            <span asp-validation-for="InstitutionId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-sm-12"> Qualification</label>
                                        <div class="col-sm-12">
                                            <select id="QualificationId" asp-for=QualificationId class="form-control"
                                                    asp-items=Model.QualificationNameSL required>
                                                <option value="">-- Select Qualification --</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6" id="otherQualification" style="display:none">
                                        <label class="col-sm-12"> Qualification</label>
                                        <div class="col-sm-12">
                                            <input asp-for="OtherQualification" class="form-control" placeholder="Enter Your Qualification Title" maxlength="6" />
                                        </div>
                                    </div>

                                </div>
                                <div class="box-footer text-center">

                                    <button type="submit" class="btn btn-success">Add To Research Team</button>
                                </div>
                            </form>
</div>
                  
                   
                </div>
            </div>

     </div>
</section>

<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $('#uploadBtn').hide();
        $('#user_image').on('change', function () {
            var imageUrl = $('#user_image').val();
            if (imageUrl == "") {
                $('#uploadBtn').prop('disabled', true);
                $('#uploadBtn').hide();

            } else {

                $('#uploadBtn').prop('disabled', false);
                $('#uploadBtn').show();
            }

        })
        var imageUrl = $('#user_image').val();
        if (imageUrl == "") {
            $('#uploadBtn').prop('disabled', true);
            $('#uploadBtn').hide();

        }
        $('#QualificationId').on('change', function () {
            var qualification = $('#QualificationId').val();
            if (qualification == 8) {
                $('#otherQualification').show();

            }

        })
        $('#RankId').on('change', function () {
            var rank = $('#RankId').val();
            if (rank == 9) {
                $('#otherRank').show();

            }

        })

    })
            $(function () {
            $("#InstitutionCategoryId").change(function () {
                var v = $(this).val();
                var url = $("#InstitutionId").data("url") + '?value=' + v;
                $("#institutionDiv").hide();
                $.getJSON(url, function (institutionList) {
                    if (institutionList != null) {
                        $("#institutionDiv").show();
                        $("#InstitutionId").empty();

                        $("#InstitutionId").append('<option value="' + 0 + '">' +
                            '-- Select Institution --' + '</option>');
                        $.each(institutionList, function (i, inst) {
                            $("#InstitutionId").append('<option value="' + inst.value + '">' +
                                inst.text + '</option>');
                        });
                    }



                });

            })

        })
</script>
