﻿@model Grant.Web.Models.ViewModels.UserViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="content-header" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>
<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Change Password</h1>
        <div class="avatar-group mt-3">
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="">
                <!-- Horizontal Form -->
                <div class="card animated fadeInUp delay-1s " style="">

                    <!-- /.box-header -->
                    <!-- form start -->
                    <form asp-action="ChangePassword" asp-antiforgery="true" enctype="multipart/form-data" class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="card-body">

                            <div class="">
                                <div class="form-group">
                                    <label asp-for="CurrentPassword" class="col-md-12">Current Password</label>
                                    <div class="col-md-12">
                                        <input type="password" asp-for="CurrentPassword" required class="form-control" />
                                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="NewPassword" class="col-md-12">New Password</label>
                                    <div class="col-md-12">
                                        <input type="password" id="newPassword" required pattern="(^(?=(.*[a-zA-Z].*){1,})(?=.*\d.*)(?=.*\W.*)[a-zA-Z0-9\S]|^(?=(.*[a-zA-Z].*){1,})(?=.*\d.*)[a-zA-Z0-9\S]|^(?=(.*[a-zA-Z].*){1,})(?=.*\W.*)[a-zA-Z0-9\S]{8,15}$)" title="Password must match the required pattern of at least one letter, one number, one special character and must be 8-15 characters in length (E.g. abcdn#09 or new@man3)" asp-for="NewPassword" class="form-control" />
                                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword" class="col-md-12">Confirm Password</label>
                                    <div class="col-md-12">
                                        <input type="password" id="confirmPassword" required pattern="(^(?=(.*[a-zA-Z].*){1,})(?=.*\d.*)(?=.*\W.*)[a-zA-Z0-9\S]|^(?=(.*[a-zA-Z].*){1,})(?=.*\d.*)[a-zA-Z0-9\S]|^(?=(.*[a-zA-Z].*){1,})(?=.*\W.*)[a-zA-Z0-9\S]{8,15}$)" title="Password must match the required pattern of at least one letter, one number, one special character and must be 8-15 characters in length (E.g. abcdn#09 or new@man3)" asp-for="ConfirmPassword" class="form-control" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        <label style="color:red" id="errorConfirmPassword"></label>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- /.box-body -->
                        <div class="card-footer text-center">

                            <button type="submit" id="saveBtn" class="btn btn-success pull-right">Save</button>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
                <!-- /.box -->

            </div>

        </div>
    </div>
</section>
<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="~/theme/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#confirmPassword').on('blur', function () {
            var newPassword = $('#newPassword').val();
            var confirmPassword = $('#confirmPassword').val();
            if (newPassword != confirmPassword) {
                $('#errorConfirmPassword').text("Confirm Password does not match with New Password");
                $('#saveBtn').prop('disabled', true);

            }
            else {

                $('#saveBtn').prop('disabled', false);
                $('#errorConfirmPassword').text("");

            }



        })
    })
</script>