﻿
@model Grant.Web.Models.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>


    .nav-pills.nav-pills-success .nav-item .nav-link {
        color: #1F9877;
    }

        .nav-pills.nav-pills-success .nav-item .nav-link.active {
            background: #1F9877;
            color: #fff;
        }
</style>
<section class="content-header">
    @if (@TempData["Message"] != null)
    {
    <div class="callout " style="color: white">
        @Html.Partial("_Message", TempData["Message"])
    </div>
    }
</section>

<section class="content">
    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Dashboard</h1>
        <div class="avatar-group mt-3">
        </div>
    </div>
    <div class="">
        @*<div class="row">
            <div class="col-md-6">
                <div class="card bg-success o-hidden ">
                    <div class="card-body">
                        <div class="mr-5"> <h4 class="monts text-white">Current Step</h4> </div>
                    </div>
                    <h1 class="align-self-lg-center monts text-white">
                        @Model.PICronologicalOrder.Current
                    </h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-prpl o-hidden">
                    <div class="card-body">
                        <div class="mr-5"> <h4 class="monts text-white">Next Step</h4> </div>
                    </div>
                    <h1 class="align-self-lg-center monts text-white">
                        @Model.PICronologicalOrder.Next
                    </h1>
                </div>
            </div>
        </div>*@
        <div class="card">
            <div class="card-header bg-transparent">
                <h3 class="mb-0">Timeline</h3>
            </div>
            <div class="card-body">
                <div class="timeline timeline-one-side" data-timeline-content="axis" data-timeline-axis-style="dashed">
                    <div class="timeline-block">
                    
                            <span class="timeline-step badge-success">
                                <i class="ni ni-check-bold"></i>
                            </span>
                       
                        <div class="timeline-content">
                            <h5 class=" mt-3 mb-0">Registration</h5>

                            <div class="mt-3">
                                
                                    <span class="badge badge-pill badge-success">complete</span>
                               
                            </div>
                        </div>
                    </div>
                    <div class="timeline-block">
                        @if (Model.PITimeLine.ConceptNote)
                        {
                            <span class="timeline-step badge-success">
                                <i class="ni ni-check-bold"></i>
                            </span>
                        }
                        else
                        {
                            <span class="timeline-step badge-warning">
                                <i class="fa fa-ellipsis-h"></i>
                            </span>
                        }
                        <div class="timeline-content">
                            <h5 class=" mt-3 mb-0">Prepare and Submit Concept Note</h5>

                            <div class="mt-3">
                                @if (Model.PITimeLine.ConceptNote)
                                {
                                    <span class="badge badge-pill badge-success">complete</span>
                                }
                                else
                                {
                                    <span class="badge badge-pill badge-warning">pending</span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="timeline-block">
                        @if (Model.PITimeLine.ConceptNoteApproval)
                        {
                            <span class="timeline-step badge-success">
                                <i class="ni ni-check-bold"></i>
                            </span>
                        }
                        else
                        {
                            <span class="timeline-step badge-warning">
                                <i class="fa fa-ellipsis-h"></i>
                            </span>
                        }

                        <div class="timeline-content">
                            <h5 class=" mt-3 mb-0">Concept Note Approval</h5>

                            <div class="mt-3">
                                @if (Model.PITimeLine.ConceptNoteApproval)
                                {
                                    <span class="badge badge-pill badge-success">complete</span>
                                }
                                else
                                {
                                    <span class="badge badge-pill badge-warning">pending</span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="timeline-block">
                        @if (Model.PITimeLine.Proposal)
                        {
                            <span class="timeline-step badge-success">
                                <i class="ni ni-check-bold"></i>
                            </span>
                        }
                        else
                        {
                            <span class="timeline-step badge-warning">
                                <i class="fa fa-ellipsis-h"></i>
                            </span>
                        }
                        <div class="timeline-content">
                            <h5 class=" mt-3 mb-0">Prepare and Submit Full Proposal</h5>

                            <div class="mt-3">
                                @if (Model.PITimeLine.Proposal)
                                {
                                    <span class="badge badge-pill badge-success">complete</span>
                                }
                                else
                                {
                                    <span class="badge badge-pill badge-warning">pending</span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="timeline-block">
                        @if (Model.PITimeLine.ProposalApproval)
                        {
                            <span class="timeline-step badge-success">
                                <i class="ni ni-check-bold"></i>
                            </span>
                        }
                        else
                        {
                            <span class="timeline-step badge-warning">
                                <i class="fa fa-ellipsis-h"></i>
                            </span>
                        }
                        <div class="timeline-content">
                            <h5 class=" mt-3 mb-0">Full Proposal Approval</h5>

                            <div class="mt-3">
                                @if (Model.PITimeLine.ProposalApproval)
                                {
                                    <span class="badge badge-pill badge-success">complete</span>
                                }
                                else
                                {
                                    <span class="badge badge-pill badge-warning">pending</span>
                                    @*<p>@DateTime.UtcNow</p>*@
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="">
            <div class="row" style="padding-top: 20px">
                <div class="col-xs-12 col-md-6" id="concept-note-container">
                    <div class="card">
                        <div class="row">
                            <div class="col-xs-12 col-md-2 text-center" style="padding-top:65px;">
                                <img src="~/images/hourglass-animated-gif-157171-5610942.gif" style="width: 50px;height: 50px;" />
                            </div>
                            <div class="col-xs-12 col-md-10">
                                <table>
                                    <tr style="font-size:20px;">
                                        <td colspan="4" class="text-center text-success" id="concept-note-title">Count Down</td>
                                    </tr>
                                    <tr class="info-counter text-center" style="font-size: 50px;">
                                        <td id="days"></td>
                                        <td id="hours"></td>
                                        <td id="minutes"></td>
                                        <td id="seconds"></td>
                                    </tr>
                                    <tr class="text-center">
                                        <td>DAYS</td>
                                        <td>HOURS</td>
                                        <td>MINUTES</td>
                                        <td>SECONDS</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6" id="proposal-container">
                    <div class="card">
                        <div class="row">
                            <div class="col-xs-12 col-md-2 text-center" style="padding-top:65px;">
                                <img src="~/images/hourglass-animated-gif-157171-5610942.gif" style="width: 50px;height: 50px;" />
                            </div>
                            <div class="col-xs-12 col-md-10">
                                <table>
                                    <tr style="font-size:20px;">
                                        <td colspan="4" class="text-center text-success" id="proposal-title">Count Down</td>
                                    </tr>
                                    <tr class="info-counter text-center" style="font-size: 50px;">
                                        <td id="proposal-days"></td>
                                        <td id="proposal-hours"></td>
                                        <td id="proposal-minutes"></td>
                                        <td id="proposal-seconds"></td>
                                    </tr>
                                    <tr class="text-center">
                                        <td>DAYS</td>
                                        <td>HOURS</td>
                                        <td>MINUTES</td>
                                        <td>SECONDS</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
<script src="~/PdfReader/pdf.js"></script>
<script type="text/javascript">

    $('#step-one-next').on('click', function (e) {
        e.preventDefault()
        $('#step-two-tab').tab('show')
    })


    $('#step-two-prev').on('click', function (e) {
        e.preventDefault()
        $('#step-one-tab').tab('show')
    })

    $('#step-two-next').on('click', function (e) {
        e.preventDefault()
        $('#step-three-tab').tab('show')
    })

    $('#step-three-prev').on('click', function (e) {
        e.preventDefault()
        $('#step-two-tab').tab('show')
    })

    function genericCountdown(year, month, day, hour, minuite, second) {
        let eventDate = new Date(year, (month - 1), day, hour, minuite, second);
        let now = new Date();

        let currentTime = now.getTime();
        let eventTime = eventDate.getTime();

        let remainingTimeMs = (eventTime - currentTime);
        //avoid negative timmer
        if (remainingTimeMs < 0) {
            return { days: 0, hours: 0, minutes: 0, seconds: 0 };
        }
        let s = Math.floor(remainingTimeMs / 1000);

        let m = Math.floor(s / 60);

        let h = Math.floor(m / 60);

        let d = Math.floor(h / 24);

        //Get the remaining hours, minutes, and seconds
        h %= 24;
        m %= 60;
        s %= 60;

        h = (h < 10) ? "0" + h : h;
        m = (m < 10) ? "0" + m : m;
        s = (s < 10) ? "0" + s : s;

        //Set the days, minutes and seconds into inner html
        d = (parseInt(d) < 1 ? 0 + "0" : d) + ":";
        h = (parseInt(h) < 1 ? 0 + "0" : h) + ":";
        m = (parseInt(m) < 1 ? 0 + "0" : m) + ":";
        s = (parseInt(s) < 1 ? 0 + "0" : s);

        return { days: d, hours: h, minutes: m, seconds: s };
    }

    function renderConceptNoteCountDown(futureDate) {
        document.querySelector("#concept-note-container").style.display = "none";
        document.querySelector("#concept-note-container").style.visibility = "hidden";
        //document.querySelector("#concept-note-container").style.position = "fixed";
        document.querySelector("#concept-note-container").classList.add("float-right");

        if (futureDate) {
            const { days, hours, minutes, seconds } = genericCountdown(futureDate.year, futureDate.month, futureDate.day, futureDate.hour, futureDate.minuite, futureDate.second);

            //Set the days, minutes and seconds into inner html
            document.querySelector("#days").innerHTML = days;
            document.querySelector("#hours").innerHTML = hours;
            document.querySelector("#minutes").innerHTML = minutes;
            document.querySelector("#seconds").innerHTML = seconds;

            document.querySelector("#concept-note-title").innerHTML = futureDate.type;
            document.querySelector("#concept-note-container").style.display = "block";

            //hide timmer when time has finished
            if (days == 0 && hours == 0 && minutes == 0 && seconds == 0) {
                document.querySelector("#concept-note-container").style.visibility = "hidden";
            }
            else {
                document.querySelector("#concept-note-container").style.visibility = "visible";
            }



            //document.querySelector("#concept-note-container").style.visibility = "visible";

            document.querySelector("#concept-note-container").classList.add("float-left");
            document.querySelector("#concept-note-container").classList.remove("float-right");
        }
    }

    function renderProposalCountDown(futureDate) {
        document.querySelector("#proposal-container").style.display = "none";
        //document.querySelector("#proposal-container").style.visibility = "hidden";
        //document.querySelector("#proposal-container").style.position = "fixed";
        document.querySelector("#proposal-container").classList.add("float-right");

        if (futureDate) {
            const { days, hours, minutes, seconds } = genericCountdown(futureDate.year, futureDate.month, futureDate.day, futureDate.hour, futureDate.minuite, futureDate.second);

            //Set the days, minutes and seconds into inner html
            document.querySelector("#proposal-days").innerHTML = days;
            document.querySelector("#proposal-hours").innerHTML = hours;
            document.querySelector("#proposal-minutes").innerHTML = minutes;
            document.querySelector("#proposal-seconds").innerHTML = seconds;

            document.querySelector("#proposal-title").innerHTML = futureDate.type;
            document.querySelector("#proposal-container").style.display = "block";
            //hide timmer when time has finished
            if (days == 0 && hours == 0 && minutes == 0 && seconds == 0) {
                document.querySelector("#proposal-container").style.visibility = "hidden";
            }
            else {
                document.querySelector("#proposal-container").style.visibility = "visible";
            }
            //document.querySelector("#proposal-container").style.visibility = "visible";

            document.querySelector("#proposal-container").classList.add("float-left");
            document.querySelector("#proposal-container").classList.remove("float-right");
        }
    }

    //Extract Concept Note date from LocalStorage
    let conceptNoteDate = JSON.parse(localStorage.getItem("ConceptDate"));

    //Extract Proposal date from LocalStorage
    let proposalDate = JSON.parse(localStorage.getItem("ProposalDate"));

    setInterval(() => renderConceptNoteCountDown(conceptNoteDate), 1000);

    setInterval(() => renderProposalCountDown(proposalDate), 1000);

</script>

