﻿@model Grant.Web.Models.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Manage Team";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">
    <div class="pg-head">
        <h3 class="monts text-center" style="font-weight: 300; margin-top: 10px">Team / <span class="small">Manage Your Team</span></h3>
    </div>

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">
            <partial name="_Message" model="@TempData["Message"]" />
        </div>
    }
</section>

<section class="content">
    <div class="" style="margin-bottom: 30px">

        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-danger" style="border-top-color: #fff; border-radius: 0">

                <div class="box-body">
                    <table id="modelDataTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>
                                    Research Title
                                </th>
                                <th>
                                    Team Member Name
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Phone Number
                                </th>
                                <th>
                                    Gender
                                </th>
                                <th>
                                    State
                                </th>
                                <th>Activate</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int index = 0; }
                            @foreach (var item in Model.TeamMemberList)
                            {
                                index += 1;
                            <tr>
                                <td>@index</td>
                                <td>@item.ApplicantThematic.Title</td>
                                <td>@item.Person.Name</td>
                                <td>@item.Person.Email</td>
                                <td>@item.Person.PhoneNo</td>
                                <td>@item.Person.Sex.Name</td>
                                <td>@item.Person.State.Name</td>
                                <td>
                                    @if (!item.Active)
                                    {
                                        <input type="checkbox" onclick="deleteTeamMember(@item.Id);" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" checked onclick="deleteTeamMember(@item.Id);" />
                                    }
                                </td>
                            </tr>
                            }
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">

    function deleteTeamMember(id) {
        if (id) {
            $.ajax({
                 type: "POST",
                 url: "@Url.Action("DeactivateTeamMember", "UserHome")",
                 data: { id },
                 dataType: "json",
                 success: function (data) {
                     if (data && data !== "") {
                         alert(data);
                     }
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
    }

</script>