﻿@model Grant.Web.Models.ViewModels.UserViewModel

@{
    ViewData["Title"] = "My Proposal";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    <div class="pg-head">
        <h3 class="monts text-center" style="font-weight: 300; margin-top: 10px">My Proposal</h3>
    </div>

    @if (@TempData["Message"] != null)
            {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>
<section class="content">
    <div class="container">
        
        <form id="msform">
            @if (Model.ViewReview)
            {
                <div class="col-md-12">
                    <!-- Horizontal Form -->
                    <div class="box box-danger" style="background: transparent; border:0px;">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    @*<form id="msform">*@
                                    <!-- progressbar -->
                                    <ul id="progressbar">
                                        <li class="active">Executive Summary</li>
                                        <li>General Background of Research Project</li>
                                        <li>General Background of Research Project(cont.)</li>
                                        <li>General Background of Research Project(cont.)</li>
                                        <li>Research Details</li>
                                        <li>Research Details(cont.)</li>
                                        <li>Research Details(cont.)</li>
                                        <li>Financial Setup</li>
                                    </ul>
                                    <!-- fieldsets -->
                                    <fieldset>

                                        <h3 class="fs-subtitle monts">Attestation</h3><hr>
                                        <div class="col-md-12">
                                            <!-- Horizontal Form -->
                                            @*<div class="box box-danger">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">Proposal Preview</h3>
                                                </div>
                                                <div class="box-body">
                                                    <br />
                                                    <br />*@
                                                    <h3 class="fs-subtitle monts">Proposal Preview</h3>
                                                    <input type="hidden" asp-for="Proposal.ProposalUrl" id="proposalUrl" />
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <button type="button"  id="prebtn" class="btn btn-primary pull-left"> Previous</button>
                                                            </div>
                                                            <div class="col-lg-4 text-center">
                                                                <span class="page-info white-text text-center">
                                                                    Page <span id="page-num"> </span> of <span id="page-count"></span>
                                                                </span>

                                                            </div>
                                                            <div class="col-lg-4">
                                                                <button type="button" id="nxtbtn" class="btn btn-primary pull-right"> Next</button>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-12 text-center" style="height:700px">
                                                        <canvas id="pdfrender" style="height:100%; width:100%"></canvas>
                                                    </div>

                                                @*</div>




                                            </div>*@

                                        </div>

                                        <input type="button" name="next" class="next action-button" value="Next" />
                                    </fieldset>
                                    <fieldset>

                                        <h3 class="fs-subtitle monts">Research Project Title</h3><hr>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <textarea asp-for="ApplicantSubmission.Title" id="txtTitle" type="text" min="0" maxlength="300" rows="1" readonly></textarea>
                                                    @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="title">300</span> character(s) left</div>*@
                                                </div>

                                                <div class="col-md-2">
                                                    <input asp-for="ProposalScoring.TitleScore" readonly class="pull-right" />
                                                </div>
                                                </div>
                                            </div>
                                                    <br />
                                                    <h2 class="fs-title">Executive Summary</h2>
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-10">
                                                                <textarea asp-for="ApplicantSubmission.ExecutiveSummary" id="txtExecutiveSummary" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                            </div>

                                                            <div class="col-md-2">
                                                                <input asp-for="ProposalScoring.ExecutiveSummaryScore" readonly class="pull-right" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                                    <input type="button" name="next" class="next action-button" value="Next" />
                                    </fieldset>
                                    <fieldset>
                                        <h2 class="fs-title monts">General Background of Research Project</h2><hr>

                                        <h3 class="fs-subtitle monts">Introduction(Provide a general background and justification leading to the research project)</h3>
                                        <div class="col-md-12" style="margin-bottom: 30px">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <textarea asp-for="ApplicantSubmission.IntroductionBackground" id="txtBackgroundIntro" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                </div>

                                                <div class="col-md-2">
                                                    <input asp-for="ProposalScoring.IntroductionBackgroundScore" readonly class="pull-right" />
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <h3 class="fs-subtitle monts">Aims, General and Specific Objectives of the Research Project</h3>
                                        <div class="col-md-12" style="margin-bottom: 30px">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <textarea asp-for="ApplicantSubmission.Aims" id="txtAim" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                </div>

                                                <div class="col-md-2">
                                                    <input asp-for="ProposalScoring.AimsScore" readonly class="pull-right" />
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <h3 class="fs-subtitle monts">Statement of the Problem(Why does this research need to be conducted)</h3>
                                        <div class="col-md-12" style="margin-bottom: 30px">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <textarea asp-for="ApplicantSubmission.StatementOfProblem" id="txtStatement" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                </div>

                                                <div class="col-md-2">
                                                    <input asp-for="ProposalScoring.StatementOfProblemScore" readonly class="pull-right" />
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                        <input type="button" name="next" class="next action-button" value="Next" />
                                    </fieldset>
                                    <fieldset>
                                        <h2 class="fs-title monts">General Background of Research Project(cont.)</h2><hr>
                                        <h3 class="fs-subtitle monts">Conceptual framework of the study(clearly identify and define the central concepts or ideas underlying the study)</h3>
                                        <div class="col-md-12" style="margin-bottom: 30px">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <textarea asp-for="ApplicantSubmission.ConceptualFramework" id="txtConceptual" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                </div>

                                                <div class="col-md-2">
                                                    <input asp-for="ProposalScoring.ConceptualFrameworkScore" readonly class="pull-right" />
                                                </div>
                                            </div>
                                        </div>
                                        

                                        <br />
                                        <br />
                                        <h3 class="fs-subtitle monts">Project Goals(provide a summary of the short and long term goals of the project. indicate clearly the problems the project will help to address)</h3>
                                        
                                        <div class="col-md-12" style="margin-bottom: 30px">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <textarea asp-for="ApplicantSubmission.ProjectGoal" id="txtProjectGoal" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                </div>

                                                <div class="col-md-2">
                                                    <input asp-for="ProposalScoring.ProjectGoalScore" readonly class="pull-right" />
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <h3 class="fs-subtitle monts">Project Impact(provide information to the long term impact of the project within the context of social, economic and technological benefits)</h3>
                                        
                                        <div class="col-md-12" style="margin-bottom: 30px">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <textarea asp-for="ApplicantSubmission.ProjectImpact" id="txtProjectImpact" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                </div>

                                                <div class="col-md-2">
                                                    <input asp-for="ProposalScoring.ProjectImpactScore" readonly class="pull-right" />
                                                </div>
                                            </div>
                                        </div>

                                        <br />
                                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                        <input type="button" name="next" class="next action-button" value="Next" />
                                    </fieldset>
                                    <fieldset>
                                        <h2 class="fs-title monts">Research Details</h2><hr>
                                        <h3 class="fs-subtitle monts">Literature Review</h3>
                                        <div class="col-md-12">
                                            <div class="row" style="margin-bottom: 30px">
                                                <div class="col-md-10">
                                                    <textarea asp-for="ApplicantSubmission.LiteratureReview" id="txtLiteratureReview" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                </div>

                                                <div class="col-md-2">
                                                    <input asp-for="ProposalScoring.LiteratureReviewScore" readonly class="pull-right" />
                                                </div>
                                            </div>
                                        </div>
                                        

                                        <br />
                                        <h3 class="fs-subtitle monts">Research Methodology(Given detail methodology of the proposed research project)</h3>
                                       
                                        <div class="col-md-12">
                                            <div class="row" style="margin-bottom: 30px">
                                                <div class="col-md-10">
                                                    <textarea asp-for="ApplicantSubmission.ResearchMethodoly" id="txtResearchMethodology" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                </div>

                                                <div class="col-md-2">
                                                    <input asp-for="ProposalScoring.ResearchMethodolyScore" readonly class="pull-right" />
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <h3 class="fs-subtitle monts">Project Activities and output(Given details of expected output from the research grant i.e. results to be obtained/produced within the produced time frame of the project)</h3>
                                        <div class="col-md-12">
                                            <div class="row" style="margin-bottom: 30px">
                                                <div class="col-md-10">
                                                    <textarea asp-for="ApplicantSubmission.ProjectActivities" id="txtProjectActivities" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                </div>

                                                <div class="col-md-2">
                                                    <input asp-for="ProposalScoring.ProjectActivities" readonly class="pull-right" />
                                                </div>
                                            </div>
                                        </div>
                                        

                                        <br />
                                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                        <input type="button" name="next" class="next action-button" value="Next" />
                                    </fieldset>
                                    <fieldset>
                                        <h2 class="fs-title monts">Research Details(cont.)</h2><hr>
                                        <h3 class="fs-subtitle monts">Time frame(provide a time line for the major activities of the project)</h3>
                                        <div class="col-md-12">
                                            <div class="row" style="margin-bottom: 30px">
                                                <div class="col-md-10">
                                                    <textarea asp-for="ApplicantSubmission.TimeFrame" id="txtTimeFrame" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                </div>

                                                <div class="col-md-2">
                                                    <input asp-for="ProposalScoring.TimeFrameScore" readonly class="pull-right" />
                                                </div>
                                            </div>
                                        </div>
                                        

                                        <br />
                                        <h3 class="fs-subtitle monts">Activities Indicators(clearly state the indicators of each major activity of the project.)</h3>
                                        <div class="col-md-12">
                                            <div class="row" style="margin-bottom: 30px">
                                                <div class="col-md-10">
                                                    <textarea asp-for="ApplicantSubmission.ActivityIndicator" id="txtActivityIndicator" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                </div>

                                                <div class="col-md-2">
                                                    <input asp-for="ProposalScoring.ActivityIndicatorScore" readonly class="pull-right" />
                                                </div>
                                            </div>
                                        </div>
                                        

                                        <br />
                                        <h3 class="fs-subtitle monts">The Study Location</h3>
                                        <div class="col-md-12">
                                            <div class="row" style="margin-bottom: 30px">
                                                <div class="col-md-10">
                                                    <textarea asp-for="ApplicantSubmission.StudyLocation" id="txtStudyLocation" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                </div>

                                                <div class="col-md-2">
                                                    <input asp-for="ProposalScoring.StudyLocationScore" readonly class="pull-right" />
                                                </div>
                                            </div>
                                        </div>
                                        

                                        <br />
                                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                        <input type="button" name="next" class="next action-button" value="Next" />
                                    </fieldset>
                                    <fieldset>
                                        <h2 class="fs-title monts">Research Details(cont.)</h2><hr>
                                        <h3 class="fs-subtitle monts">Data Management and Analysis</h3>
                                        <div class="col-md-12">
                                            <div class="row" style="margin-bottom: 30px">
                                                <div class="col-md-10">
                                                    <textarea asp-for="ApplicantSubmission.DataManagement" id="txtDataManagement" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                </div>

                                                <div class="col-md-2">
                                                    <input asp-for="ProposalScoring.DataManagementScore" readonly class="pull-right" />
                                                </div>
                                            </div>
                                        </div>
                                        

                                        <br />
                                        <h3 class="fs-subtitle monts">Ethical and Environmental Considerations</h3>
                                        <div class="col-md-12">
                                            <div class="row" style="margin-bottom: 30px">
                                                <div class="col-md-10">
                                                    <textarea asp-for="ApplicantSubmission.Ethical" id="txtEthical" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                </div>

                                                <div class="col-md-2">
                                                    <input asp-for="ProposalScoring.EthicalScore" readonly class="pull-right" />
                                                </div>
                                            </div>
                                        </div>
                                        

                                        <br />
                                        <h3 class="fs-subtitle monts">Monitoring and Evaluation Mechanisms you will adopt in achieving the stated objectives.</h3>
                                        <div class="col-md-12">
                                            <div class="row" style="margin-bottom: 30px">
                                                <div class="col-md-10">
                                                    <textarea asp-for="ApplicantSubmission.Monitoring" id="txtMonitoring" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                </div>

                                                <div class="col-md-2">
                                                    <input asp-for="ProposalScoring.MonitoringScore" readonly class="pull-right" />
                                                </div>
                                            </div>
                                        </div>
                                       

                                        <br />
                                        <h3 class="fs-subtitle monts">Dissemination Strategies (indicate the steps you will take to ensure the project outcomes are brought to the attention of stakeholders).</h3>
                                        <div class="col-md-12">
                                            <div class="row" style="margin-bottom: 30px">
                                                <div class="col-md-10">
                                                    <textarea asp-for="ApplicantSubmission.DisseminationStrategies" id="txtStrategies" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                </div>

                                                <div class="col-md-2">
                                                    <input asp-for="ProposalScoring.DisseminationStrategiesScore" readonly class="pull-right" />
                                                </div>
                                            </div>
                                        </div>
                                        

                                        <br />
                                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                        <input type="button" name="next" class="next action-button" value="Next" />
                                    </fieldset>
                                    <fieldset>
                                        <h2 class="fs-title monts">Research Team</h2><hr>
                                        <h3 class="fs-subtitle monts">Research Work to Date(List the relevant team publications. Also list not more than 3 relevant on-going research works)</h3>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <textarea asp-for="ApplicantSubmission.ResearchWorkToDate" id="txtResearchWorkToDate" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                </div>

                                                <div class="col-md-2">
                                                    <input asp-for="ProposalScoring.ResearchWorkToDateScore" readonly class="pull-right" />
                                                </div>
                                            </div>
                                        </div>
                                        

                                        <br />
                                        <h3 class="fs-subtitle monts">Previous Research Grant</h3>
                                        <div class="col-md-12">
                                            <div class="row" style="margin-bottom: 30px">
                                                <div class="col-md-10">
                                                    <textarea asp-for="ApplicantSubmission.PreviousGrant" id="txtPreviousGrant" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                </div>

                                                <div class="col-md-2">
                                                    <input asp-for="ProposalScoring.PreviousGrantScore" readonly class="pull-right" />
                                                </div>
                                            </div>
                                        </div>
                                        

                                        <br />
                                        <h3 class="fs-subtitle monts">Group Research(For group research, applicants are encouraged to consider gender, age and descipline. Provide below details about the roles and responsibilities of each member.)</h3>
                                       
                                        <div class="col-md-12">
                                            <div class="row" style="margin-bottom: 30px">
                                                <div class="col-md-10">
                                                    <textarea asp-for="ApplicantSubmission.GroupResearch" id="txtGroupResearch" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                </div>

                                                <div class="col-md-2">
                                                    <input asp-for="ProposalScoring.GroupResearchScore" readonly class="pull-right" />
                                                </div>
                                            </div>
                                        </div>

                                        <br />
                                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                        <input type="button" name="next" class="next action-button" value="Next" />
                                    </fieldset>
                                    <fieldset>
                                        <h2 class="fs-title monts">Financial Aspects of the Research Project Implementation</h2><hr>
                                        <h3 class="fs-subtitle monts">Budget Justification</h3>
                                        <div class="col-md-12">
                                            <div class="row" style="margin-bottom: 30px">
                                                <div class="col-md-10">
                                                    <textarea asp-for="ApplicantSubmission.BudgetJustification" id="txtBudgetJustification" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                </div>

                                                <div class="col-md-2">
                                                    <input asp-for="ProposalScoring.BudgetJustificationScore" readonly class="pull-right" />
                                                </div>
                                            </div>
                                        </div>
                                        

                                        <br />
                                        <h3 class="fs-subtitle monts">Additional Source(s) of Funding (Provide full details of other source(s) of support and the amount)</h3>
                                        <div class="col-md-12">
                                            <div class="row" style="margin-bottom: 30px">
                                                <div class="col-md-10">
                                                    <textarea asp-for="ApplicantSubmission.AdditionalSources" id="txtAdditionalSource" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                                </div>

                                                <div class="col-md-2">
                                                    <input asp-for="ProposalScoring.AdditionalSourcesScore" readonly class="pull-right" />
                                                </div>
                                            </div>
                                        </div>
                                        

                                        <br />
                                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                        @*<input type="submit" name="submit" class="submit action-button" value="Submit" />*@
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
            else
            {
                <div class="col-md-12">
                    <!-- Horizontal Form -->
                    <div class="box box-danger" style="background: transparent; border:0px;">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    @*<form id="msform">*@
                                    <!-- progressbar -->
                                    <ul id="progressbar">
                                        <li class="active">Executive Summary</li>
                                        <li>General Background of Research Project</li>
                                        <li>General Background of Research Project(cont.)</li>
                                        <li>General Background of Research Project(cont.)</li>
                                        <li>Research Details</li>
                                        <li>Research Details(cont.)</li>
                                        <li>Research Details(cont.)</li>
                                        <li>Account Setup</li>
                                    </ul>
                                    <!-- fieldsets -->
                                    <fieldset>

                                        <h3 class="fs-subtitle">Research Project Title</h3>
                                        <textarea asp-for="ApplicantSubmission.Title" id="txtTitle" type="text" min="0" maxlength="300" rows="1" readonly></textarea>
                                        @*<div class="col-md-10 col-md-offset-1" style="font-size:12px;"><span style="color:#ee0979; font-weight:600" id="title">300</span> character(s) left</div>*@

                                        <br />
                                        <h2 class="fs-title">Executive Summary</h2>
                                        <textarea asp-for="ApplicantSubmission.ExecutiveSummary" id="txtExecutiveSummary" type="text" min="0" maxlength="300" rows="5" readonly></textarea>


                                        <input type="button" name="next" class="next action-button" value="Next" />
                                    </fieldset>
                                    <fieldset>
                                        <h2 class="fs-title">General Background of Research Project</h2>
                                        <h3 class="fs-subtitle">Introduction(Provide a general background and justification leading to the research project)</h3>
                                        <textarea asp-for="ApplicantSubmission.IntroductionBackground" id="txtBackgroundIntro" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <h3 class="fs-subtitle">Aims, General and Specific Objectives of the Research Project</h3>
                                        <textarea asp-for="ApplicantSubmission.Aims" id="txtAim" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                        <br />
                                        <h3 class="fs-subtitle">Statement of the Problem(Why does this research need to be conducted)</h3>
                                        <textarea asp-for="ApplicantSubmission.StatementOfProblem" id="txtStatement" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <br />
                                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                        <input type="button" name="next" class="next action-button" value="Next" />
                                    </fieldset>
                                    <fieldset>
                                        <h2 class="fs-title">General Background of Research Project(cont.)</h2>
                                        <h3 class="fs-subtitle">Conceptual framework of the study(clearly identify and define the central concepts or ideas underlying the study)</h3>
                                        <textarea asp-for="ApplicantSubmission.ConceptualFramework" id="txtConceptual" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <br />
                                        <h3 class="fs-subtitle">Project Goals(provide a summary of the short and long term goals of the project. indicate clearly the problems the project will help to address)</h3>
                                        <textarea asp-for="ApplicantSubmission.ProjectGoal" id="txtProjectGoal" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <h3 class="fs-subtitle">Project Impact(provide information to the long term impact of the project within the context of social, economic and technological benefits)</h3>
                                        <textarea asp-for="ApplicantSubmission.ProjectImpact" id="txtProjectImpact" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                        <input type="button" name="next" class="next action-button" value="Next" />
                                    </fieldset>
                                    <fieldset>
                                        <h2 class="fs-title">Research Details</h2>
                                        <h3 class="fs-subtitle">Literature Review</h3>
                                        <textarea asp-for="ApplicantSubmission.LiteratureReview" id="txtLiteratureReview" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <h3 class="fs-subtitle">Research Methodology(Given detail methodology of the proposed research project)</h3>
                                        <textarea asp-for="ApplicantSubmission.ResearchMethodoly" id="txtResearchMethodology" type="text" min="0" maxlength="300" rows="5" readonly></textarea>
                                        <br />
                                        <h3 class="fs-subtitle">Project Activities and output(Given details of expected output from the research grant i.e. results to be obtained/produced within the produced time frame of the project)</h3>
                                        <textarea asp-for="ApplicantSubmission.ProjectActivities" id="txtProjectActivities" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                        <input type="button" name="next" class="next action-button" value="Next" />
                                    </fieldset>
                                    <fieldset>
                                        <h2 class="fs-title">Research Details(cont.)</h2>
                                        <h3 class="fs-subtitle">Time frame(provide a time line for the major activities of the project)</h3>
                                        <textarea asp-for="ApplicantSubmission.TimeFrame" id="txtTimeFrame" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <h3 class="fs-subtitle">Activities Indicators(clearly state the indicators of each major activity of the project.)</h3>
                                        <textarea asp-for="ApplicantSubmission.ActivityIndicator" id="txtActivityIndicator" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <h3 class="fs-subtitle">The Study Location</h3>
                                        <textarea asp-for="ApplicantSubmission.StudyLocation" id="txtStudyLocation" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                        <input type="button" name="next" class="next action-button" value="Next" />
                                    </fieldset>
                                    <fieldset>
                                        <h2 class="fs-title">Research Details(cont.)</h2>
                                        <h3 class="fs-subtitle">Data Management and Analysis</h3>
                                        <textarea asp-for="ApplicantSubmission.DataManagement" id="txtDataManagement" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <h3 class="fs-subtitle">Ethical and Environmental Considerations</h3>
                                        <textarea asp-for="ApplicantSubmission.Ethical" id="txtEthical" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <h3 class="fs-subtitle">Monitoring and Evaluation Mechanisms you will adopt in achieving the stated objectives.</h3>
                                        <textarea asp-for="ApplicantSubmission.Monitoring" id="txtMonitoring" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <h3 class="fs-subtitle">Dissemination Strategies (indicate the steps you will take to ensure the project outcomes are brought to the attention of stakeholders).</h3>
                                        <textarea asp-for="ApplicantSubmission.DisseminationStrategies" id="txtStrategies" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                        <input type="button" name="next" class="next action-button" value="Next" />
                                    </fieldset>
                                    <fieldset>
                                        <h2 class="fs-title">Research Team</h2>
                                        <h3 class="fs-subtitle">Research Work to Date(List the relevant team publications. Also list not more than 3 relevant on-going research works)</h3>
                                        <textarea asp-for="ApplicantSubmission.ResearchWorkToDate" id="txtResearchWorkToDate" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <h3 class="fs-subtitle">Previous Research Grant</h3>
                                        <textarea asp-for="ApplicantSubmission.PreviousGrant" id="txtPreviousGrant" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <h3 class="fs-subtitle">Group Research(For group research, applicants are encouraged to consider gender, age and descipline. Provide below details about the roles and responsibilities of each member.)</h3>
                                        <textarea asp-for="ApplicantSubmission.GroupResearch" id="txtGroupResearch" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                        <input type="button" name="next" class="next action-button" value="Next" />
                                    </fieldset>
                                    <fieldset>
                                        <h2 class="fs-title">Financial Aspects of the Research Project Implementation</h2>
                                        <h3 class="fs-subtitle">Budget Justification</h3>
                                        <textarea asp-for="ApplicantSubmission.BudgetJustification" id="txtBudgetJustification" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <h3 class="fs-subtitle">Additional Source(s) of Funding (Provide full details of other source(s) of support and the amount)</h3>
                                        <textarea asp-for="ApplicantSubmission.AdditionalSources" id="txtAdditionalSource" type="text" min="0" maxlength="300" rows="5" readonly></textarea>

                                        <br />
                                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                        @*<input type="submit" name="submit" class="submit action-button" value="Submit" />*@
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
            
        </form>
    </div>
</section>
<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
<script src="~/PdfReader/pdf.js"></script>
<link href="~/css/TabStyle.css" rel="stylesheet" />
<script type="text/javascript">
        let pdfDoc = null,
        pageNum = 1,
        pageIsRendering = false,
        pageNumIsPending = null;

    const scale = 1,
        canvas = document.querySelector("#pdfrender"),
        ctx = canvas.getContext("2d");

    const url = $('#proposalUrl').val();

    //var ctx = canvas[0].getContext("2d");

    pdfjsLib.getDocument(url)
        .promise
        .then((pdfDoc_) => {
            pdfDoc = pdfDoc_;
        //set the total number of pages in a span
        $("#page-count").text(pdfDoc.numPages);

            renderPage(pageNum);//init at one
        })
        .catch((err) => console.error(err));

    const renderPage = (num) => {
            pageIsRendering = true;//tell the app that a page is rendering
        //get the page
        pdfDoc.getPage(num)
            .then((page) => {
                //set the scale of the pdf
                const viewport = page.getViewport(scale);
                canvas.height = viewport.height;
                canvas.width = viewport.width;

                const renderCtx = {
            canvasContext: ctx,
                    viewport
                };

                page.render(renderCtx)
                    .promise
                    .then(() => {
            pageIsRendering = false;

        if (pageNumIsPending !== null) {
            renderPage(pageNumIsPending);
        pageNumIsPending = null;
                        }
                    })
                    .catch((err) => console.error(err));

                //output the current page
                $("#page-num").text(num);
            })
            .catch((err) => console.error(err));
    };


    function queueRenderPage (num) {
        if (pageIsRendering)
            pageNumIsPending = null;
        else renderPage(num);
    };


    $("#nxtbtn").on('click', function () {
        if (pageNum >= pdfDoc.numPages) {
            return;

        }
        pageNum++;
        queueRenderPage(pageNum);

    });


    $("#prebtn").on('click', function () {
        if (pageNum <= 1) {
            return;

        }
        pageNum--;
        queueRenderPage(pageNum);

    });


    $(document).ready(function () {
        var current_fs, next_fs, previous_fs; //fieldsets
        var left, opacity, scale; //fieldset properties which we will animate
        var animating; //flag to prevent quick multi-click glitches

        $(".next").click(function () {
            if (animating) return false;
            animating = true;

            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //activate next step on progressbar using the index of next_fs
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale current_fs down to 80%
                    scale = 1 - (1 - now) * 0.2;
                    //2. bring next_fs from the right(50%)
                    left = (now * 50) + "%";
                    //3. increase opacity of next_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({
                        'transform': 'scale(' + scale + ')',
                        'position': 'absolute'
                    });
                    next_fs.css({ 'left': left, 'opacity': opacity });
                },
                duration: 800,
                complete: function () {
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        });

        $(".previous").click(function () {
            if (animating) return false;
            animating = true;

            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //de-activate current step on progressbar
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();
            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale previous_fs from 80% to 100%
                    scale = 0.8 + (1 - now) * 0.2;
                    //2. take current_fs to the right(50%) - from 0%
                    left = ((1 - now) * 50) + "%";
                    //3. increase opacity of previous_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({ 'left': left });
                    previous_fs.css({ 'transform': 'scale(' + scale + ')', 'opacity': opacity });
                },
                duration: 800,
                complete: function () {
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        });
    })
</script>

