﻿@model Grant.Web.Models.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>

<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">My Profile </h1>
        <hr class="mt-0 mb-2" />
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">

        <div class="col-md-8">

            <div class="card animated fadeInUp delay-1s">
                <div class="card-body">
                    <div class="text-center my-3">
                        <img class="img-fluid rounded-circle shadow" src="@Url.Content(Model.Person.PassportUrl)" style="height: 130px; width: 130px" />
                    </div>

                    <h1 class="text-center">@Model.Person.ApplicantFullName</h1>


                    @if (Model.Applicant.Role.Name == "Applicant")
                    {
                        <p class="h5 text-center">(Principal Investigator)</p>
                    }
                    else
                    {
                        <p class="h5 text-center">(Research Team Member/Co-Researcher)</p>
                    }
                    <hr class="mt-0 mb-2" />

                    <ul class="list-unstyled text-center">
                        <li class="mb-4 mt-4"> <span>Email</span> | <b>@Model.Person.Email</b></li>
                        <li class="mb-4"> <span>Phone No. </span> | <b> @Model.Person.PhoneNo </b></li>
                        <li class="mb-4"> <span>Qualification </span> | <b> @Model.Person.Qualification.Name </b></li>
                        <li class="mb-4"> <span>Institution </span> | <b> @Model.Person.Institution.Name </b></li>
                    </ul>

                </div>
            </div>

            <div class="row" style="margin-bottom: 15px">

                <div class="col-md-6"></div>
                <div class="col-md-3">
                    @if (Model.ProposalIsApproved)
                    {
                        <!-- <div class="alert alert-success">
                            <span class="box-title text-center">Status: Full Proposal Approved </span>
                        </div> -->
                        @*<label style="font-size: 12px" class="badge badge--success pull-right">Status: Full Proposal Approved </label>*@
                    }
                </div>
                <div class="col-md-3">
                    @if (Model.Approval != null)
                    {
                        <!-- <div class="alert alert-success">
                            <span class="box-title text-center">Status: CONCEPT NOTE APPROVED </span>
                        </div> -->
                        @*<label style="font-size: 12px" class="badge badge--success pull-right">Status: Concept Note Approved </label>*@

                    }
                </div>

                <div class="col-md-2 ">
                    @*@if (Model.Proposal != null)
                        {
                            <a style="" asp-action="MyProposal" asp-controller="UserHome" class="btn btn-primary " asp-route-id="@Model.Proposal.ApplicantThemeId">View Full Proposal</a>

                        }*@
                </div>
            </div>

            @if (Model.TeamMember != null && Model.TeamMember.Count > 0)
            {
                <div class="row">
                    @foreach (Person team in Model.TeamMember)
                    {

                        <div class="col-md-6">
                            <div class="card animated fadeInUp delay-1s">
                                <div class="card-body">
                                    <div class="">

                                        <div class="">
                                            <div class="text-center my-3">

                                                @if (team.PassportUrl != null)
                                                {
                                                    <img class="img-fluid rounded-circle shadow" src="@Url.Content(team.PassportUrl)" style="height: 100px; width: 100px" />
                                                }
                                                else
                                                {
                                                    <img style="height: 150px !important; width: 150px !important" class="profile-user-img img-responsive img-circle" src="~/theme/dist/img/avatar.png" />
                                                }

                                            </div>
                                        </div>

                                        <h3 class="text-center">@team.ApplicantFullName</h3>

                                        <p class="h5 text-center">(Research Team Member/Co-Researcher)</p>

                                        <hr class="my-4" />

                                        <div class="">

                                            <ul class="list-unstyled text-center">
                                                <li class="my-4 text-sm"> <span>Email</span> | <b>@team.Email</b></li>
                                                <li class="mb-4 text-sm"> <span>Phone No. </span> | <b> @team.PhoneNo </b></li>
                                                <li class="mb-4 text-sm"> <span>Qualification </span> | <b> @team.Qualification.Name </b></li>
                                                <li class="mb-4 text-sm"> <span>Institution </span> | <b> @team.Institution.Name </b></li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }

                </div>
            }

        </div>

    </div>

    <br />
    @*<div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Accessor(s)</h3>
                </div>
                @if (Model.ReviewerAssignedScoreList != null && Model.ReviewerAssignedScoreList.Count > 0)
                {
                    foreach (var team in Model.ReviewerAssignedScoreList)
                    {
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Accessor Name</label>
                        <div class="col-sm-10">
                            <input asp-for="@team.Reviewer.Name" class="form-control" disabled />
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">E-mail</label>
                                <div class="col-sm-8">
                                    <input asp-for="@team.Reviewer.Email" class="form-control" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label"> Phone No.</label>
                                <div class="col-sm-8">
                                    <input asp-for="@team.Score" class="form-control" disabled />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                    }

                }
                else
                {
                <div class="box-body">
                    <h3 class="box-title">No Accessor Assigned Yet</h3>
                </div>

                }


            </div>
        </div>
        <br />*@
    @*<div class="col-md-12">
        <!-- Horizontal Form -->
        @*<div class="box box-danger" style="border-top-color: #fff; border-radius: 0">
            <div class="box-header with-border">
                <h4 class="box-title monts">Concept Note Details</h4>
            </div>*@
    @*@if (Model.ApplicantThematic != null)
        {*@

    @*<div class="box-body">
        @*<div class="form-group">
            <label class="col-sm-2 control-label">Concept Note Title</label>
            <div class="col-sm-10">
                <input asp-for="ApplicantThematic.Title" class="form-control" disabled />
            </div>
        </div>
        <br />
        <br />
        <input type="hidden" asp-for="ConceptNote.NoteUrl" id="conceptNoteUrl" />

        <div class="form-group">
            <label class="col-sm-12">Content of Concept Note</label>
            <div class="col-sm-12">
                <textarea class="form-control" asp-for="ConceptNote.ConceptNoteSummary" id="txtSummary" type="text" min="0" rows="50" cols="100" readonly></textarea>

            </div>
        </div>*@
    @*<div class="col-md-12">
            <div class="row">
                <div class="col-lg-4">
                    <button id="prebtn" class="btn btn-danger pull-left"> Previous</button>
                </div>
                <div class="col-lg-4 text-center">
                    <span class="page-info white-text text-center">
                        Page <span id="page-num"> </span> of <span id="page-count"></span>
                    </span>

                </div>
                <div class="col-lg-4">
                    <button id="nxtbtn" class="btn btn-danger pull-right"> Next</button>
                </div>
            </div>

        </div>
        <div class="col-md-12 text-center" style="height:700px">
            <canvas id="pdfrender" style="height:100%; width:100%"></canvas>
        </div>*@

    @*</div>
        }
        else
        {
        <div class="box-body">
            <h3 class="box-title">You have not submitted Concept Note</h3>

        </div>

        }*@







    @*</div>*@

    <div class="container">
        <div class="row" style="padding-top: 20px">
            <div class="col-xs-12 col-md-6" id="concept-note-container">
                <div class="card">
                    <div class="row">
                        <div class="col-xs-12 col-md-2 text-center" style="padding-top:65px;">
                            <img src="~/images/hourglass-animated-gif-157171-5610942.gif" style="width: 50px;height: 50px;" />
                        </div>
                        <div class="col-xs-12 col-md-10">
                            <table>
                                <tr style="font-size:20px;">
                                    <td colspan="4" class="text-center text-success" id="concept-note-title">Count Down</td>
                                </tr>
                                <tr class="info-counter text-center" style="font-size: 50px;">
                                    <td id="days"></td>
                                    <td id="hours"></td>
                                    <td id="minutes"></td>
                                    <td id="seconds"></td>
                                </tr>
                                <tr class="text-center">
                                    <td>DAYS</td>
                                    <td>HOURS</td>
                                    <td>MINUTES</td>
                                    <td>SECONDS</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6" id="proposal-container">
                <div class="card">
                    <div class="row">
                        <div class="col-xs-12 col-md-2 text-center" style="padding-top:65px;">
                            <img src="~/images/hourglass-animated-gif-157171-5610942.gif" style="width: 50px;height: 50px;" />
                        </div>
                        <div class="col-xs-12 col-md-10">
                            <table>
                                <tr style="font-size:20px;">
                                    <td colspan="4" class="text-center text-success" id="proposal-title">Count Down</td>
                                </tr>
                                <tr class="info-counter text-center" style="font-size: 50px;">
                                    <td id="proposal-days"></td>
                                    <td id="proposal-hours"></td>
                                    <td id="proposal-minutes"></td>
                                    <td id="proposal-seconds"></td>
                                </tr>
                                <tr class="text-center">
                                    <td>DAYS</td>
                                    <td>HOURS</td>
                                    <td>MINUTES</td>
                                    <td>SECONDS</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*</div>
        </div>*@
</section>
<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
<script src="~/PdfReader/pdf.js"></script>
<script type="text/javascript">

    function genericCountdown(year, month, day) {
        let eventDate = new Date(year, (month - 1), day);
        let now = new Date();

        let currentTime = now.getTime();
        let eventTime = eventDate.getTime();

        let remainingTimeMs = (eventTime - currentTime);

        let s = Math.floor(remainingTimeMs / 1000);

        let m = Math.floor(s / 60);

        let h = Math.floor(m / 60);

        let d = Math.floor(h / 24);

        //Get the remaining hours, minutes, and seconds
        h %= 24;
        m %= 60;
        s %= 60;

        h = (h < 10) ? "0" + h : h;
        m = (m < 10) ? "0" + m : m;
        s = (s < 10) ? "0" + s : s;

        //Set the days, minutes and seconds into inner html
        //d = (parseInt(d) < 1 ? 0 + "0" : d) + ":";
        //h = (parseInt(h) < 1 ? 0 + "0" : h) + ":";
        //m = (parseInt(m) < 1 ? 0 + "0" : m) + ":";
        //s = (parseInt(s) < 1 ? 0 + "0" : s);

        return { days: d, hours: h, minutes: m, seconds: s };
    }

    function renderConceptNoteCountDown(futureDate) {
        document.querySelector("#concept-note-container").style.display = "none";
        document.querySelector("#concept-note-container").style.visibility = "hidden";
        document.querySelector("#concept-note-container").classList.add("float-right");

        if (futureDate) {
            let { days, hours, minutes, seconds } = genericCountdown(futureDate.year, futureDate.month, futureDate.day);

            if (days > 0 && hours > 0 && minutes > 0 && seconds > 0) {
                days = (parseInt(days) < 1 ? 0 + "0" : days) + ":";
                hours = (parseInt(hours) < 1 ? 0 + "0" : hours) + ":";
                minutes = (parseInt(minutes) < 1 ? 0 + "0" : minutes) + ":";
                seconds = (parseInt(seconds) < 1 ? 0 + "0" : seconds);

                //Set the days, minutes and seconds into inner html
                document.querySelector("#days").innerHTML = days;
                document.querySelector("#hours").innerHTML = hours;
                document.querySelector("#minutes").innerHTML = minutes;
                document.querySelector("#seconds").innerHTML = seconds;

                document.querySelector("#concept-note-title").innerHTML = futureDate.type;
                document.querySelector("#concept-note-container").style.display = "block";
                document.querySelector("#concept-note-container").style.visibility = "visible";

                document.querySelector("#concept-note-container").classList.add("float-left");
                document.querySelector("#concept-note-container").classList.remove("float-right");
            }
        }
    }

    function renderProposalCountDown(futureDate) {
        document.querySelector("#proposal-container").style.display = "none";
        document.querySelector("#proposal-container").classList.add("float-right");

        if (futureDate) {
            let { days, hours, minutes, seconds } = genericCountdown(futureDate.year, futureDate.month, futureDate.day);

            if (days > 0 && hours > 0 && minutes > 0 && seconds > 0) {
                days = (parseInt(days) < 1 ? 0 + "0" : days) + ":";
                hours = (parseInt(hours) < 1 ? 0 + "0" : hours) + ":";
                minutes = (parseInt(minutes) < 1 ? 0 + "0" : minutes) + ":";
                seconds = (parseInt(seconds) < 1 ? 0 + "0" : seconds);

                //Set the days, minutes and seconds into inner html
                document.querySelector("#proposal-days").innerHTML = days;
                document.querySelector("#proposal-hours").innerHTML = hours;
                document.querySelector("#proposal-minutes").innerHTML = minutes;
                document.querySelector("#proposal-seconds").innerHTML = seconds;

                document.querySelector("#proposal-title").innerHTML = futureDate.type;
                document.querySelector("#proposal-container").style.display = "block";
                document.querySelector("#proposal-container").style.visibility = "visible";

                document.querySelector("#proposal-container").classList.add("float-left");
                document.querySelector("#proposal-container").classList.remove("float-right");
            }
        }
    }

    //Extract Concept Note date from LocalStorage
    let conceptNoteDate = JSON.parse(localStorage.getItem("ConceptDate"));

    //Extract Proposal date from LocalStorage
    let proposalDate = JSON.parse(localStorage.getItem("ProposalDate"));

    setInterval(() => renderConceptNoteCountDown(conceptNoteDate), 1000);

    setInterval(() => renderProposalCountDown(proposalDate), 1000);

    let pdfDoc = null,
        pageNum = 1,
        pageIsRendering = false,
        pageNumIsPending = null;

    const scale = 1,
        canvas = document.querySelector("#pdfrender"),
        ctx = canvas.getContext("2d");

    const url = $('#conceptNoteUrl').val();

    //var ctx = canvas[0].getContext("2d");

    pdfjsLib.getDocument(url)
        .promise
        .then((pdfDoc_) => {
            pdfDoc = pdfDoc_;
            //set the total number of pages in a span
            $("#page-count").text(pdfDoc.numPages);

            renderPage(pageNum);//init at one
        })
        .catch((err) => console.error(err));

    const renderPage = (num) => {
        pageIsRendering = true;//tell the app that a page is rendering
        //get the page
        pdfDoc.getPage(num)
            .then((page) => {
                //set the scale of the pdf
                const viewport = page.getViewport(scale);
                canvas.height = viewport.height;
                canvas.width = viewport.width;

                const renderCtx = {
                    canvasContext: ctx,
                    viewport
                };

                page.render(renderCtx)
                    .promise
                    .then(() => {
                        pageIsRendering = false;

                        if (pageNumIsPending !== null) {
                            renderPage(pageNumIsPending);
                            pageNumIsPending = null;
                        }
                    })
                    .catch((err) => console.error(err));

                //output the current page
                $("#page-num").text(num);
            })
            .catch((err) => console.error(err));
    };


    function queueRenderPage(num) {
        if (pageIsRendering)
            pageNumIsPending = null;
        else renderPage(num);
    };


    $("#nxtbtn").on('click', function () {
        if (pageNum >= pdfDoc.numPages) {
            return;

        }
        pageNum++;
        queueRenderPage(pageNum);

    });


    $("#prebtn").on('click', function () {
        if (pageNum <= 1) {
            return;

        }
        pageNum--;
        queueRenderPage(pageNum);

    });
</script>
