﻿@model Grant.Web.Models.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Update Detail";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
            {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>

<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Update Profile</h1>
        <hr class="mt-0 mb-2" />
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">

        <div class="col-md-8">
          
                <!-- Horizontal Form -->
                <div class="card animated fadeInUp delay-1s" style="">

                    <div class="card-body">
                        
                        <div class="">

                            <div class="row">
                                <form asp-action="UploadImage" class="col-12" method="post" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-12 text-center">

                                            @if (Model.Person.PassportUrl != null)
                                            {
                                                <img style="height: 150px !important; width: 150px !important" class="profile-user-img img-responsive img-circle" src='@Url.Content(Model.Person.PassportUrl)' alt="User profile picture">

                                            }
                                            else
                                            {
                                                <img style="height: 150px !important; width: auto !important" class="profile-user-img img-responsive img-circle" src="~/theme/dist/img/avatar.png" />

                                            }

                                            <div class="form-group" style="margin-top: 50px">
                                                <input type="file" asp-for="UploadFile" id="user_image" />
                                                @*<input type="file" name="user_image" id="user_image" />*@
                                            </div>
                                            
                                            <div class="form-group">
                                                <input type="submit" id="uploadBtn" value="Upload Passport Photograph" class="btn btn-default" />
                                            </div>
                                            <h5 style="color:red">
                                                Please upload a photograph in .jpg,.jpeg or .png format
                                                <br />The maximum file size is 1MB
                                            </h5>
                                        </div>

                                     </div>
                                </form>
                                </div>
                            </div>
                            </div>
                    <form asp-action="UpdateDetail" asp-controller="UserHome" method="POST" role="form" class="form-horizontal">

                        <div class="card-body p-3">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6 pl-2 pr-2">
                                        <div class="form-group">
                                            <label class="col-sm-12">Title</label>
                                            <select  asp-for=Person.TitleId class="form-control"
                                                    asp-items=Model.TitleNameSL>
                                                <option value="">-- Select Title --</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 pl-2 pr-2">
                                        <div class="form-group">
                                            <label asp-for="Person.Name" class="col-sm-12">Full Name</label>
                                            <input asp-for="Person.Name" class="form-control" disabled />
                                        </div>
                                    </div>

                                    <div class="col-md-6 pl-2 pr-2">
                                        <div class="form-group">
                                            <label asp-for="Person.PhoneNo" class="col-sm-12"></label>
                                            <input asp-for="Person.PhoneNo" class="form-control" disabled pattern="^0\d{10}" />
                                        </div>
                                    </div>


                                    <div class="col-md-6 pl-2 pr-2">
                                        <div class="form-group">
                                            <label asp-for="Institution.Name" class="col-sm-12"> Institution Name</label>
                                            <input asp-for="Institution.Name" class="form-control" disabled />
                                        </div>
                                    </div>


                                    <div class="col-md-6 pl-2 pr-2">
                                        <div class="form-group">
                                            <label asp-for="Qualification.Name" class="col-sm-12">Qualification</label>
                                            <input asp-for="Qualification.Name" class="form-control" disabled />
                                        </div>
                                    </div>

                                    @*<div class="col-md-6 pl-2 pr-2">
                                        <div class="form-group">
                                            <label class="col-sm-12">New Higher Education Sector</label>
                                            <select id="InstitutionCategoryId" asp-for=InstitutionCategoryId class="form-control"
                                                    asp-items=Model.InstitutionCategoryNameSL>
                                                <option value="">-- Select Higher Education Sector --</option>
                                            </select>
                                        </div>
                                    </div>*@

                                    @*<div class="col-md-6 pl-2 pr-2">
                                        <div class="form-group">
                                            <label class="col-sm-12">New Institution</label>
                                            <select asp-for="InstitutionId" class="form-control" id="InstitutionId"
                                                    name="InstitutionId" data-url="@Url.Action("GetPublicInstitution")"></select>
                                            <span asp-validation-for="InstitutionId" class="text-danger"></span>
                                        </div>
                                    </div>*@




                                    @*<div class="col-md-6 pl-2 pr-2">
                                        <div class="form-group">
                                            <label class="col-sm-12">New Qualification</label>
                                            <select id="QualificationId" asp-for=QualificationId class="form-control"
                                                    asp-items=Model.QualificationNameSL>
                                                <option value="">-- Select Qualification --</option>
                                            </select>
                                        </div>
                                    </div>*@

                                </div>

                            </div>


                            <div class="box-footer text-center">

                                <button type="submit" class="btn btn-success">Update</button>
                            </div>
                        </div>
                    </form>
</div>



        </div>
    </div>
</section>
<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#uploadBtn').hide();
            $('#user_image').on('change', function () { 
                var imageUrl = $('#user_image').val();
                if (imageUrl == "") {
                    $('#uploadBtn').prop('disabled', true);
                    $('#uploadBtn').hide();

                } else {

                    $('#uploadBtn').prop('disabled', false);
                    $('#uploadBtn').show();
                } 
                
            })
            var imageUrl = $('#user_image').val();
            if (imageUrl == "") {
                $('#uploadBtn').prop('disabled', true);
                $('#uploadBtn').hide();

            } 

        })
        $(function () {
            $("#InstitutionCategoryId").change(function () {
                var v = $(this).val();
                var url = $("#InstitutionId").data("url") + '?value=' + v;
                $.getJSON(url, function (institutionList) {
                    $("#InstitutionId").empty();

                    $("#InstitutionId").append('<option value="' + 0 + '">' +
                        '-- Select Your Public Institution --' + '</option>');
                    $.each(institutionList, function (i, inst) {
                        $("#InstitutionId").append('<option value="' + inst.value + '">' +
                            inst.text + '</option>');
                    });


                });

            })

        })
    </script>
}
