﻿@model Grant.Web.Models.ViewModels.UserViewModel
@{
    ViewData["Title"] = "ViewProposal";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="content-header">
    @if (@TempData["Message"] != null)
            {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>
<section class="content">
    <div class="container">


        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Full Proposal Preview</h3>
                </div>
                <div class="box-body">
                    <br />
                    <br />
                    <input type="hidden" asp-for="Proposal.ProposalUrl" id="proposalUrl" />
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <button id="prebtn" class="btn btn-danger pull-left"> Previous</button>
                            </div>
                            <div class="col-lg-4 text-center">
                                <span class="page-info white-text text-center">
                                    Page <span id="page-num"> </span> of <span id="page-count"></span>
                                </span>

                            </div>
                            <div class="col-lg-4">
                                <button id="nxtbtn" class="btn btn-danger pull-right"> Next</button>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12 text-center" style="height:700px">
                        <canvas id="pdfrender" style="height:100%; width:100%"></canvas>
                    </div>

                </div>




            </div>

        </div>


    </div>
</section>
<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
<script src="~/PdfReader/pdf.js"></script>
<script>
    let pdfDoc = null,
        pageNum = 1,
        pageIsRendering = false,
        pageNumIsPending = null;

    const scale = 1,
        canvas = document.querySelector("#pdfrender"),
        ctx = canvas.getContext("2d");

    const url = $('#proposalUrl').val();

    //var ctx = canvas[0].getContext("2d");

    pdfjsLib.getDocument(url)
        .promise
        .then((pdfDoc_) => {
            pdfDoc = pdfDoc_;
            //set the total number of pages in a span
            $("#page-count").text(pdfDoc.numPages);

            renderPage(pageNum);//init at one
        })
        .catch((err) => console.error(err));

    const renderPage = (num) => {
        pageIsRendering = true;//tell the app that a page is rendering
        //get the page
        pdfDoc.getPage(num)
            .then((page) => {
                //set the scale of the pdf
                const viewport = page.getViewport(scale);
                canvas.height = viewport.height;
                canvas.width = viewport.width;

                const renderCtx = {
                    canvasContext: ctx,
                    viewport
                };

                page.render(renderCtx)
                    .promise
                    .then(() => {
                        pageIsRendering = false;

                        if (pageNumIsPending !== null) {
                            renderPage(pageNumIsPending);
                            pageNumIsPending = null;
                        }
                    })
                    .catch((err) => console.error(err));

                //output the current page
                $("#page-num").text(num);
            })
            .catch((err) => console.error(err));
    };


    function queueRenderPage (num) {
        if (pageIsRendering)
            pageNumIsPending = null;
        else renderPage(num);
    };


    $("#nxtbtn").on('click', function () {
        if (pageNum >= pdfDoc.numPages) {
            return;

        }
        pageNum++;
        queueRenderPage(pageNum);

    });


    $("#prebtn").on('click', function () {
        if (pageNum <= 1) {
            return;

        }
        pageNum--;
        queueRenderPage(pageNum);

    });
</script>

