﻿@model Grant.Web.Models.ViewModels.UserViewModel
@{
    ViewData["Title"] = "ViewTeamMembers";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">


    @if (TempData["Message"] != null)
            {
        <div>
            @Html.Partial("_Message", TempData["Message"])
        </div>


    }
</section>
<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Team Members<span class="text-muted text-sm"> </span></h1>
        <hr class="mt-0 mb-2" />
    </div>
    <div class="row justify-content-center" style="margin-bottom: 30px">

        <div class="col-md-12">

            <div class="card animated fadeInUp delay-1s" style="">

                <div class="card-body">
                    <div class="" style="margin-left: 3px !important; margin-bottom: 20px">


                        <!-- Horizontal Form -->
                        <div class="box box-danger" style="border-top-color: #fff; border-radius: 0px">

                            <div class="box-body">



                                @*<div class="table-responsive">*@
                                <table id="modelDataTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                S/N
                                            </th>
                                            
                                            <th>
                                                Members Name
                                            </th>
                                            <th>
                                                Phone
                                            </th>
                                            <th>
                                                Email
                                            </th>
                                            <th>
                                                Qualification
                                            </th>

                                            <th>
                                                Institution
                                            </th>

                                            @*<th>

                                                </th>*@

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int index = 0; }
                                        @foreach (var item in Model.Teams)
                                        {
                                            index += 1;
                                            <tr>
                                                <td>
                                                    @index
                                                </td>
                                                
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Person.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Person.PhoneNo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Person.Email)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Person.Qualification.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Person.Institution.Name)
                                                </td>
                                                @*<td>
                                                        <a asp-action="ReviewConceptNote" asp-controller="ReviewerHome" class="btn btn-primary" asp-route-id="">Edit</a>

                                                        <a asp-action="ProposalAssessment" asp-controller="ReviewerHome" class="btn btn-primary" asp-route-id="">Remove</a>
                                                    </td>*@

                                            </tr>
                                        }

                                </table>
                                @*</div>*@
                                <div class="box-footer">
                                    <a asp-action="AddTeam" asp-controller="UserHome" class="btn btn-success pull-right">Add New Member</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

