﻿@model Grant.Web.Models.ViewModels.UserViewModel
@{
    ViewData["Title"] = "SubmitConceptNote";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="content-header">
    <div class="container">
        <div class="col-md-8" style="margin-left:auto; margin-right:auto;">
            <!-- Horizontal Form -->
            <div class="box box-danger">
                <div class="box-header">
                    <h2 class="box-title">Submit Concept Note </h2>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form asp-action="SubmitConceptNote" asp-antiforgery="true" enctype="multipart/form-data" class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="box-body">

                        <div class="box-body">
                            @*<div class="form-group">
                                <label asp-for="" class="col-sm-4 control-label"></label>
                                <div class="col-sm-8">
                                    <input asp-for="testing" class="form-control" />
                                    <span asp-validation-for="Topic" class="text-danger"></span>
                                </div>
                            </div>*@

                            <div class="form-group">
                                <label asp-for="CategoryId" class="col-sm-12 control-label"></label>
                                <div class="col-sm-12">
                                    <select asp-for="CategoryId" class="form-control"
                                            asp-items="@Model.CategoryNameSL" required>
                                        <option value="">-- Select Category --</option>
                                    </select>
                                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                                </div>
                            </div>



                            @*<div class="form-group">
                                    <label asp-for="CategoryId" class="col-sm-4 control-label"></label>
                                    <div class="col-sm-8">
                                        <select asp-for="CategoryId" class="form-control"
                                                asp-items=@Model.CategoryNameSL required>
                                            <option value="">-- Select Category --</option>
                                        </select>
                                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                                    </div>
                                </div>*@

                            @*<div class="form-group">
                                    <label asp-for="Thematic Area" class="col-sm-4 control-label"></label>
                                    <div class="col-sm-8">
                                        <select asp-for="ThemeId" class="form-control"
                                                asp-items="" id="themeList" required>
                                            <option value="">-- Select Theme --</option>
                                        </select>
                                        <span asp-validation-for="ThemeId" class="text-danger"></span>
                                    </div>
                                </div>*@

                            <div class="form-group">
                                <label for="UploadFiles" class="col-sm-12 control-label">PDF File</label>
                                @*<div class="col-sm-10">
                                    <input type="file" asp-for="UploadFile" />
                                </div>*@
                            </div>



                        </div>



                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">

                        <button type="submit" class="btn btn-danger pull-right">Save</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!-- /.box -->

        </div>
    </div>
</section>

