﻿@model String

@{
    ViewBag.Title = "Message";
}

<div class="alert alert-dismissible alert-white">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <p class="text-left font-weight-bold text-danger">@Model</p>
</div>


