﻿@using Grant.Web.Models.Interface

@inject IMenuDisplay menuDisplay
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - TETFund</title>
    <!-- Tell the browser to be responsive to screen width -->
    @*<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">*@
    <!-- Bootstrap 3.3.7 -->
    @*<link rel="stylesheet" href="~/theme/bower_components/bootstrap/dist/css/bootstrap.min.css">*@

    <!-- Font Awesome -->
    @*<link rel="stylesheet" href="~/theme/bower_components/font-awesome/css/font-awesome.min.css">*@
    <!-- Ionicons -->
    @*<link rel="stylesheet" href="~/theme/bower_components/Ionicons/css/ionicons.min.css">*@
    <!-- Theme style -->
    @*<link rel="stylesheet" href="~/theme/dist/css/AdminLTE.min.css">*@
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    @*<link rel="stylesheet" href="~/theme/dist/css/skins/_all-skins.min.css">*@
    <!-- Morris chart -->
    @*<link rel="stylesheet" href="~/theme/bower_components/morris.js/morris.css">*@
    <!-- jvectormap -->
    @*<link rel="stylesheet" href="~/theme/bower_components/jvectormap/jquery-jvectormap.css">*@
    <!-- Date Picker -->
    @*<link rel="stylesheet" href="~/theme/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">*@
    <!-- Daterange picker -->
    @*<link rel="stylesheet" href="~/theme/bower_components/bootstrap-daterangepicker/daterangepicker.css">*@
    <!-- bootstrap wysihtml5 - text editor -->
    @*<link rel="stylesheet" href="~/theme/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">*@

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    @*<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap" rel="stylesheet">*@

    <!-- New styles -->
    <!-- Fonts -->
    @*<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">*@
    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">*@

    <!-- Icons -->
    <link rel="stylesheet" href="~/theme/desyn_system/assets/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="~/theme/desyn_system/assets/vendor/%40fortawesome/fontawesome-free/css/all.min.css" type="text/css">

    <!-- Kit CSS -->
    <link rel="stylesheet" href="~/theme/desyn_system/assets/css/style.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/theme/desyn_system/assets/css/custom.css" type="text/css">
    <link rel="stylesheet" href="~/theme/desyn_system/assets/css/animate.css" type="text/css">
    <!-- New styles -->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <style>
        body {
            font-family: Poppins, sans-serif;
            overflow-x: hidden;
        }

        .monts {
            font-family: Poppins, sans-serif !important;
        }

        .box {
            position: relative;
            border-radius: 6px;
            background: #fff;
            border-top: 3px solid #d2d6de;
            margin-bottom: 20px;
            width: 100%;
            box-shadow: none !important;
        }

        .countdownContainer {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            text-align: center;
            background: #ddd;
            border: 1px solid #999;
            padding: 10px;
            box-shadow: 0 0 5px 3px #ccc;
        }

        .info-counter {
            font-size: 80px;
        }

        #concept-note-container,
        #proposal-container {
            display: none;
        }

        .active-li {
            background: #26B991 !important;
        }

        .previous,
        .next {
            width: 150px !important;
            font-size: 16px !important;
            color: #fff !important;
        }


        /*.previous {
            background: #F5365C !important;
        }

        .next {
            background: #1F9877 !important;
        }*/

    </style>
</head>

<body>

    <!-- Main content -->
    <div class="main-content" id="panel">
       
        <!-- Topnav -->
        <nav class="navbar navbar-top  navbar-light bg-success border-bottom shadow-lg ">
            <div class="ml-2">
                @*<a href="">
                <img src="~/images/tetfundlogo.png" alt="top" style="width:100px; height:50px">
            </a>*@
                <a asp-action="Index" asp-controller="Home" class="nav-link my-nav-link">

                    <span class="nav-link-text fa fa-home" style="color:#fff"> Home </span>
                    @*<img src="~/images/tetfundlogo.png" alt="top" style="width:100px; height:30px">*@
                </a>
            </div>
            @*<div class="collapse navbar-collapse">
                <ul class="nav navbar-nav ml-auto">
                    <li>
                        <a asp-action="Index" asp-controller="Home" class="nav-link my-nav-link">

                            <span class="nav-link-text" style="color:#fff"> Home </span>
                            
                        </a>
                    </li>
                </ul>
                </div>*@


        </nav>
        <!-- Header -->
        <!-- Page content -->
        <div class="container-fluid py-3" style="background-color: #f8f9fe">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="min-vh-90">

                        @RenderBody()
                    </div>
                    <br />
                    <hr />
                    <footer class="footer pt-0 mx-3 text-center">
                        <strong>Powered by <a href="http://lloydant.com">LloydAnt Business Services</a>.</strong>
                    </footer>
                </div>
                <div class="col-md-1"></div>
            </div>

        </div>

    </div>

    <!-- ./wrapper -->
    @*<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.0/umd/react.development.js"></script>
        <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.0/umd/react-dom.development.js"></script>*@
    <!-- jQuery 3 -->
    <script src="~/theme/bower_components/jquery/dist/jquery.js"></script>

    <!-- jQuery UI 1.11.4 -->
    <script src="~/theme/bower_components/jquery-ui/jquery-ui.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    @*<script>
            $.widget.bridge('uibutton', $.ui.button);
        </script>*@
    <!-- Bootstrap 3.3.7 -->
    <script src="~/theme/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/theme/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/theme/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/theme/dist/js/adminlte.min.js"></script>


    <script src="~/theme/desyn_system/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/theme/bower_components/jquery/dist/jquery.js"></script>

    <!-- jQuery UI 1.11.4 -->
    <script src="~/theme/bower_components/jquery-ui/jquery-ui.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>


    <script src="~/theme/desyn_system/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/theme/desyn_system/assets/vendor/js-cookie/js.cookie.js"></script>
    <script src="~/theme/desyn_system/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/theme/desyn_system/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>

    <!-- Optional JS -->
    <script src="~/theme/desyn_system/assets/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="~/theme/desyn_system/assets/vendor/chart.js/dist/Chart.extension.js"></script>

    <!-- JS -->
    <script src="~/theme/desyn_system/assets/js/argon.min9f1e.js?v=1.1.0"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
