﻿@model Grant.Web.Models.ViewModels.StatisticsViewModel
@{
    ViewData["Title"] = "Concept Note Summary";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    table, th, td, tr {
        border: 2px solid black !important;
    }

    .table td, .table th {
        font-size: 1.2rem !important;
        white-space: nowrap;
    }
</style>
<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: red">
            <partial name="_Message" model="@TempData["Message"]" />
        </div>
    }

</section>

<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Concept Notes <span class="text-muted text-sm">/ Submission Summary</span></h1>
        <hr class="mt-0 mb-2" />
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">

        <div class="col-md-10">

            <div class="card animated fadeInUp delay-1s" style="">

                <div class="card-body">

                    <div class="" style="">
                        <form asp-action="ConceptNoteSubmitSummary" asp-controller="Statistics" method="POST" role="form" class="form-horizontal" style="">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class=" mt-2">
                                <div class="form-group">
                                    <label asp-for="SessionId" , class="col-sm-12">Research Cycle</label>
                                    <div class="col-sm-12">
                                        <select asp-for="SessionId" class="form-control"
                                                asp-items=@Model.AllSessionNameSL required>
                                            <option value="">-- Select Research Cycle --</option>
                                        </select>
                                        <span asp-validation-for="SessionId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">

                                <div class="col-sm-12 text-center">
                                    <button type="submit" class="btn btn-success pull-right">View</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (Model.SubmissionSummary != null)
    {

        <div class="row justify-content-center" style="margin-bottom: 30px">

            <div class="col-md-12">

                <div class="card animated fadeInUp delay-1s" style="" id="exportArea">
                    <div class="card-header">
                        <div class="row">
                            <h2 class="col-md-6">Concept Note Submission Summary (@Model.SessionName Research cycle)</h2>
                            <div class="col-md-6" style="text-align:right">
                                <img src="~/images/tetfundlogo.png" style="width:100px;height:50px" />
                            </div>

                        </div>


                    </div>
                    <div class="card-body">
                        <div class="" style="margin-left: 3px !important; margin-bottom: 20px">


                            <!-- Horizontal Form -->
                            <div class="box box-danger" style="border-top-color: #fff; border-radius: 0px">

                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead>

                                                <tr>
                                                    <th>Research Cathegory</th>
                                                    <th>
                                                        SN
                                                    </th>

                                                    <th>
                                                        Thematic Area Title
                                                    </th>
                                                    <th>
                                                        No of Submissions
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>


                                                @for (int i = 0; i < Model.SubmissionSummary.Count; i++)
                                                {

                                                    @for (int j = 0; j < Model.SubmissionSummary[i].ThematicArea.Count + 1; j++)
                                                    {
                                                        int index = j + 1;
                                                        if (j < Model.SubmissionSummary[i].ThematicArea.Count)
                                                        {
                                                            <tr>
                                                                @if (j == 0)
                                                                {
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => modelItem.SubmissionSummary[i].Category.Name)
                                                                    </td>
                                                                }

                                                                else
                                                                {
                                                                    <td></td>
                                                                }

                                                                <td>@index</td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => modelItem.SubmissionSummary[i].ThematicArea[j].ThemeName)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => modelItem.SubmissionSummary[i].ThematicArea[j].Count)
                                                                </td>


                                                            </tr>
                                                        }
                                                        else
                                                        {
                                                            <tr style="font-weight:bolder !important">
                                                                @*<td></td>*@
                                                                <td colspan="3" style="text-align:center">Sub-Total (@Html.DisplayFor(modelItem => modelItem.SubmissionSummary[i].Category.Code))</td>
                                                                @*<td></td>*@
                                                                <td>@Html.DisplayFor(modelItem => modelItem.SubmissionSummary[i].TotalCount)</td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                        }


                                                    }
                                                }

                                                <tr style="font-weight:bolder !important">
                                                    <td colspan="3">GRAND TOTAL</td>

                                                    <td>@Model.SubmissionSummary.Sum(f => f.TotalCount)</td>
                                                </tr>

                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>



                    </div>

                </div>
                <button class="btn btn-outline-primary col-md-offset-6" id="exportBtn">Export</button>
            </div>

        </div>
    }

</section>
<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>

@*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@
<script src="~/theme/bower_components/datatables.net/DataTables-1.10.15/pdfmake.min.js"></script>
@*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>*@
@*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>*@
<script src="~/theme/bower_components/html2canvas.min.js"></script>
@*<script src="~/PdfReader/pdf.js"></script>*@
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#exportBtn').on('click', function () {

                html2canvas($('#exportArea')[0], {
                    onrendered: function (canvas) {
                        var data = canvas.toDataURL();
                        var docDefinition = {
                            content: [{
                                image: data,
                                width: 500,

                            }]
                        };
                        pdfMake.createPdf(docDefinition).download("Conceptnotesummary.pdf");
                    }
                });
            })
        })
    </script>

}
