﻿@model Grant.Web.Models.ViewModels.StatisticsViewModel
@{
    ViewData["Title"] = "Applicants Graphical Report";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/js/plotly.js"></script>

<style>
    .stats-box {
        padding: 10px !important;
        height: 350px;
        margin: 10px 0 !important;
    }

    .no-display {
        display: none;
    }

    .no-padding {
        padding: 0 !important;
    }

    .chart-row:last-child {
        margin-bottom: 30px;
    }
</style>

<div class="ct-page-title">
    <h1 class="ct-title" id="content">Statistical Data </h1>
    <hr class="mt-0 mb-2" />
</div>

<div class="row no-display chart-row" id="stats-container-row-1">
    <div class="col-xs-12 col-md-6 content no-padding">
        <div class="box stats-box text-center" id="stats-by-state-of-origin" style="box-sizing:border-box;"></div>
    </div>

    <div class="col-xs-12 col-md-6 content no-padding">
        <div class="box stats-box text-center" id="stats-by-state-of-institution" style="box-sizing:border-box;"></div>
    </div>
</div>

<div class="row no-display chart-row" id="stats-container-row-2">
    <div class="col-xs-12 col-md-6 content no-padding">
        <div class="box stats-box text-center" id="stats-by-state-of-gender" style="box-sizing:border-box;"></div>
    </div>
    <div class="col-xs-12 col-md-6 content no-padding">
        <div class="box stats-box text-xl-center" id="stats-by-type-grant"></div>
    </div>
</div>

<div class="row no-display chart-row" id="stats-container-row-3">
    <div class="col-xs-12 col-md-6 content no-padding">
        <div class="box stats-box text-xl-center" id="stats-by-total-and-approved-concept-notes"></div>
    </div>
    <div class="col-xs-12 col-md-6 content no-padding">
        <div class="box stats-box text-xl-center" id="stats-by-concept-notes-themes"></div>
    </div>
</div>

<div class="row no-display chart-row" id="dummy-row"></div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
    //generate numbers randomly
    const createRandomColors = (length) => {
        let randomNumbers = [];
        const colors = ["#333", "red", "purple", "green", "yellow", "indianred", "teal", "cyan", "indianred"];

        for (let i = 0; i < length; i++) {
            if (!randomNumbers.find(cl => cl === colors[i])) {
                randomNumbers.push(colors[i]);

            }
            else {
                i -= 1;

            }
        }

        return randomNumbers;
    };

    $(document).ready(function () {
        //Pull Applicant Graphical data from the Backend
        $.ajax({
            url: "@Url.Action("GetApplicantGraphicalData", "Statistics")",
            dataType: 'json',
            type: "GET",
            success: function (response) {
                if (response) {
                    $("#stats-container-row-1, #stats-container-row-2, #stats-container-row-3,#stats-container-row-4").removeClass("no-display");

                    //--------------Method for getting the total Applicants By state of origin(Begins)---------------------//
                    if (response.membersByStateOfOriginCount) {
                        let data = [
                            {
                                x: response.membersByStateOfOriginCount.map(r => r.name),
                                y: response.membersByStateOfOriginCount.map(r => r.count),
                                marker: {
                                    color: [...createRandomColors(5)]
                                },
                                type: "bar"
                            }
                        ];

                        let layout = {
                            title: {
                                text: `Applicants By State Of Origin`,
                                font: {
                                    family: 'Montserrat,Helvetica Neue,Arial,sans-serif',
                                    size: 24
                                },
                                xref: 'paper',
                                x: 0.05,
                            },
                            xaxis: {
                                title: {
                                    text: `Applicants By State Of Origin`,
                                    font: {
                                        family: 'Montserrat,Helvetica Neue,Arial,sans-serif',
                                        size: 18,
                                        color: '#7f7f7f'
                                    }
                                },
                            },
                            yaxis: {
                                title: {
                                    text: `Applicants By State Of Origin`,
                                    font: {
                                        family: 'Montserrat,Helvetica Neue,Arial,sans-serif',
                                        size: 18,
                                        color: '#7f7f7f'
                                    }
                                }
                            }
                        };
                        Plotly.newPlot('stats-by-state-of-origin', data, layout);
                    }
                    //--------------Method for getting the total Applicants By state of origin(Ends)---------------------//

                    //-------------Method for getting the total Applicants By Institution State(Begins)-----------------------//
                    if (response.membersByStateOfInstitutionCount) {
                        let instutionData = [
                            {
                                x: response.membersByStateOfInstitutionCount.map(r => r.name),
                                y: response.membersByStateOfInstitutionCount.map(r => r.count),
                                marker: {
                                    color: [...createRandomColors(5)]
                                },
                                type: "bar"
                            }
                        ];

                        let instutionLayout = {
                            title: {
                                text: `Applicants By State`,
                                font: {
                                    family: 'Montserrat,Helvetica Neue,Arial,sans-serif',
                                    size: 24
                                },
                                xref: 'paper',
                                x: 0.05,
                            },
                            xaxis: {
                                title: {
                                    text: `Applicants By State`,
                                    font: {
                                        family: 'Montserrat,Helvetica Neue,Arial,sans-serif',
                                        size: 18,
                                        color: '#7f7f7f'
                                    }
                                },
                            },
                            yaxis: {
                                title: {
                                    text: `Applicants By State`,
                                    font: {
                                        family: 'Montserrat,Helvetica Neue,Arial,sans-serif',
                                        size: 18,
                                        color: '#7f7f7f'
                                    }
                                }
                            }
                        };
                        Plotly.newPlot('stats-by-state-of-institution', instutionData, instutionLayout);
                    }
                    //-------------Method for getting the total Applicants By Institution State(Ends)-----------------------//

                    //-------------Method for getting the Gender(Begins)-----------------------//
                    if (response.genderCount) {
                        let genderData = [
                            {
                                x: response.genderCount.map(r => r.name),
                                y: response.genderCount.map(r => r.count),
                                marker: {
                                    color: [...createRandomColors(5)]
                                },
                                type: "bar"
                            }
                        ];

                        let genderLayout = {
                            title: {
                                text: `Applicants By Gender`,
                                font: {
                                    family: 'Montserrat,Helvetica Neue,Arial,sans-serif',
                                    size: 24
                                },
                                xref: 'paper',
                                x: 0.05,
                            },
                            xaxis: {
                                title: {
                                    text: `Applicants By Gender`,
                                    font: {
                                        family: 'Montserrat,Helvetica Neue,Arial,sans-serif',
                                        size: 18,
                                        color: '#7f7f7f'
                                    }
                                },
                            },
                            yaxis: {
                                title: {
                                    text: `Applicants By Gender`,
                                    font: {
                                        family: 'Montserrat,Helvetica Neue,Arial,sans-serif',
                                        size: 18,
                                        color: '#7f7f7f'
                                    }
                                }
                            }
                        };
                        Plotly.newPlot('stats-by-state-of-gender', genderData, genderLayout);
                    }
                    //-------------Method for getting the Gender(Begins)-----------------------//

                    //------------Method for getting the age range of applicants(Begin)--------//
                    //if (response.ageCount) {
                    //    let ageData = [
                    //        {
                    //            x: response.ageCount.map(r => r.name),
                    //            y: response.ageCount.map(r => r.count),
                    //            marker: {
                    //                color: [...createRandomColors(5)]
                    //            },
                    //            type: "bar"
                    //        }
                    //    ];

                    //    let ageLayout = {
                    //        title: {
                    //            text: `Applicants By Age Range`,
                    //            font: {
                    //                family: 'Montserrat,Helvetica Neue,Arial,sans-serif',
                    //                size: 24
                    //            },
                    //            xref: 'paper',
                    //            x: 0.05,
                    //        },
                    //        xaxis: {
                    //            title: {
                    //                text: `Applicants By Age Range`,
                    //                font: {
                    //                    family: 'Montserrat,Helvetica Neue,Arial,sans-serif',
                    //                    size: 18,
                    //                    color: '#7f7f7f'
                    //                }
                    //            },
                    //        },
                    //        yaxis: {
                    //            title: {
                    //                text: `Applicants By Age Range`,
                    //                font: {
                    //                    family: 'Montserrat,Helvetica Neue,Arial,sans-serif',
                    //                    size: 18,
                    //                    color: '#7f7f7f'
                    //                }
                    //            }
                    //        }
                    //    };
                    //    Plotly.newPlot('stats-by-age-range', ageData, ageLayout);
                    //}
                    //------------Method for getting the Geopolitical Zones of applicants(Begin)--------//
                    //if (response.geoPoliticalZoneCount) {
                    //    let geoPloliticalData = [
                    //        {
                    //            x: response.geoPoliticalZoneCount.map(r => r.name),
                    //            y: response.geoPoliticalZoneCount.map(r => r.count),
                    //            marker: {
                    //                color: [...createRandomColors(5)]
                    //            },
                    //            type: "bar"
                    //        }
                    //    ];

                    //    let geoPoliticalLayout = {
                    //        title: {
                    //            text: `Applicants By Geo-Political Zones`,
                    //            font: {
                    //                family: 'Montserrat,Helvetica Neue,Arial,sans-serif',
                    //                size: 24
                    //            },
                    //            xref: 'paper',
                    //            x: 0.05,
                    //        },
                    //        xaxis: {
                    //            title: {
                    //                text: `Applicants By Geo-Political Zones`,
                    //                font: {
                    //                    family: 'Montserrat,Helvetica Neue,Arial,sans-serif',
                    //                    size: 18,
                    //                    color: '#7f7f7f'
                    //                }
                    //            },
                    //        },
                    //        yaxis: {
                    //            title: {
                    //                text: `Applicants By Geo-Political Zones`,
                    //                font: {
                    //                    family: 'Montserrat,Helvetica Neue,Arial,sans-serif',
                    //                    size: 18,
                    //                    color: '#7f7f7f'
                    //                }
                    //            }
                    //        }
                    //    };
                    //    Plotly.newPlot('stats-by-geo-political-zone', geoPloliticalData, geoPoliticalLayout);
                    //}
                    //------------Method for getting the Geopolitical Zones of applicants(Ends)--------//

                    //-----------------Method for getting the typeOfGrantCount os applicants(Begnis)----//
                    if (response.typeOfGrantCount) {
                        let typeOfGrantData = [
                            {
                                x: response.typeOfGrantCount.map(r => r.name),
                                y: response.typeOfGrantCount.map(r => r.count),
                                marker: {
                                    color: [...createRandomColors(5)]
                                },
                                type: "bar"
                            }
                        ];

                        let typeOfGrantLayout = {
                            title: {
                                text: `Applicants By Thematic Area Category`,
                                font: {
                                    family: 'Montserrat,Helvetica Neue,Arial,sans-serif',
                                    size: 24
                                },
                                xref: 'paper',
                                x: 0.05,
                            },
                            xaxis: {
                                title: {
                                    text: `Applicants By Thematic Area Category`,
                                    font: {
                                        family: 'Montserrat,Helvetica Neue,Arial,sans-serif',
                                        size: 18,
                                        color: '#7f7f7f'
                                    }
                                },
                            },
                            yaxis: {
                                title: {
                                    text: `Applicants By Thematic Area Category`,
                                    font: {
                                        family: 'Montserrat,Helvetica Neue,Arial,sans-serif',
                                        size: 18,
                                        color: '#7f7f7f'
                                    }
                                }
                            }
                        };
                        Plotly.newPlot('stats-by-type-grant', typeOfGrantData, typeOfGrantLayout);
                    }
                    ////-----------------Method for getting the typeOfGrantCount os applicants(Ends)----//
                    ////-----------------Method for getting the institution attended of applicants(begins)----//
                    //if (response.institutionAttendedCount) {
                    //    let institutionAttendedData = [
                    //        {
                    //            x: response.institutionAttendedCount.map(r => r.name),
                    //            y: response.institutionAttendedCount.map(r => r.count),
                    //            marker: {
                    //                color: [...createRandomColors(5)]
                    //            },
                    //            type: "bar"
                    //        }
                    //    ];

                    //    let institutionAttendedLayout = {
                    //        title: {
                    //            text: `Applicants By Institution Attended`,
                    //            font: {
                    //                family: 'Montserrat,Helvetica Neue,Arial,sans-serif',
                    //                size: 24
                    //            },
                    //            xref: 'paper',
                    //            x: 0.05,
                    //        },
                    //        xaxis: {
                    //            title: {
                    //                text: `Applicants By Institution Attended`,
                    //                font: {
                    //                    family: 'Montserrat,Helvetica Neue,Arial,sans-serif',
                    //                    size: 18,
                    //                    color: '#7f7f7f'
                    //                }
                    //            },
                    //        },
                    //        yaxis: {
                    //            title: {
                    //                text: `AApplicants By Institution Attended`,
                    //                font: {
                    //                    family: 'Montserrat,Helvetica Neue,Arial,sans-serif',
                    //                    size: 18,
                    //                    color: '#7f7f7f'
                    //                }
                    //            }
                    //        }
                    //    };
                    //    Plotly.newPlot('stats-by-institution-attended', institutionAttendedData, institutionAttendedLayout);
                    //}

                    //-----------------Method for getting the Total & Approved Concept Notes(begins)----//
                    if (response.totalAndApprovedApplicantThematicCount) {
                            let totalAndApprovedThematicData = [
                            {
                                x: response.totalAndApprovedApplicantThematicCount.map(r => r.name),
                                y: response.totalAndApprovedApplicantThematicCount.map(r => r.count),
                                marker: {
                                    color: [...createRandomColors(5)]
                                },
                                type: "bar"
                            }
                        ];

                        let totalAndApprovedThematicLayout = {
                            title: {
                                text: `Total & Approved Concept Notes`,
                                font: {
                                    family: 'Montserrat,Helvetica Neue,Arial,sans-serif',
                                    size: 24
                                },
                                xref: 'paper',
                                x: 0.05,
                            },
                            xaxis: {
                                title: {
                                    text: `Total & Approved Concept Notes`,
                                    font: {
                                        family: 'Montserrat,Helvetica Neue,Arial,sans-serif',
                                        size: 18,
                                        color: '#7f7f7f'
                                    }
                                },
                            },
                            yaxis: {
                                title: {
                                    text: `Total & Approved Concept Notes`,
                                    font: {
                                        family: 'Montserrat,Helvetica Neue,Arial,sans-serif',
                                        size: 18,
                                        color: '#7f7f7f'
                                    }
                                }
                            }
                        };
                        Plotly.newPlot('stats-by-total-and-approved-concept-notes', totalAndApprovedThematicData, totalAndApprovedThematicLayout);
                    }
                    //-----------------Method for getting the Total & Approved Concept Notes(ends)----//

                    //-----------------Method for getting the Concept Notes by Themes(begins)----//
                    if (response.conceptNoteByThematicAreasCount) {
                        let conceptNoteByThematicAreasData = [
                            {
                                x: response.conceptNoteByThematicAreasCount.map(r => r.name),
                                y: response.conceptNoteByThematicAreasCount.map(r => r.count),
                                marker: {
                                    color: [...createRandomColors(5)]
                                },
                                type: "bar"
                            }
                        ];

                        let conceptNoteByThematicAreasLayout = {
                            title: {
                                text: `Concept Notes By Thematic Areas`,
                                font: {
                                    family: 'Montserrat,Helvetica Neue,Arial,sans-serif',
                                    size: 24
                                },
                                xref: 'paper',
                                x: 0.05,
                            },
                            xaxis: {
                                title: {
                                    text: `Concept Notes By Thematic Areas`,
                                    font: {
                                        family: 'Montserrat,Helvetica Neue,Arial,sans-serif',
                                        size: 18,
                                        color: '#7f7f7f'
                                    }
                                },
                            },
                            yaxis: {
                                title: {
                                    text: `Concept Notes By Thematic Areas`,
                                    font: {
                                        family: 'Montserrat,Helvetica Neue,Arial,sans-serif',
                                        size: 18,
                                        color: '#7f7f7f'
                                    }
                                }
                            }
                        };
                        Plotly.newPlot('stats-by-concept-notes-themes', conceptNoteByThematicAreasData, conceptNoteByThematicAreasLayout);
                    }
                    //-----------------Method for getting the Concept Notes by Themes(ends)----//
                }
            },
            error: function (error) {
                console.error("Request threw an error: ", error);
            }
        })

    });
    </script>
