﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Add Assessor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>

<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Assessors  <span class="text-muted text-sm">/ Add Assessor </span></h1>
        <hr class="mt-0 mb-2" />
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">

        <div class="col-md-8">
            <!-- Horizontal Form -->
            <div class="card animated fadeInUp delay-1s" style="">

                <div class="card-body">

                    <!-- form start -->
                    <form asp-action="AddReviewer" asp-antiforgery="true" enctype="multipart/form-data" class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="box-body">

                            <div class="box-body">
                                <div class="form-group">


                                    <label asp-for="Reviewer.TitleId" class="col-sm-12">Title</label>
                                    <div class="col-sm-12">
                                        <select asp-for=Reviewer.TitleId class="form-control"
                                                asp-items=Model.TitleNameSL required>
                                            <option value="">-- Select Title --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">


                                    <label asp-for="Reviewer.Name" class="col-sm-12">Name</label>
                                    <div class="col-sm-12">
                                        <input asp-for="Reviewer.Name" class="form-control" />
                                        <span asp-validation-for="Reviewer.Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Reviewer.Email" class="col-sm-12">Email</label>
                                    <div class="col-sm-12">
                                        <input type="email" asp-for="Reviewer.Email" class="form-control" />
                                        <span asp-validation-for="Reviewer.Email" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Reviewer.PhoneNo" class="col-sm-12">Phone No.</label>
                                    <div class="col-sm-12">
                                        <input asp-for="Reviewer.PhoneNo" class="form-control" pattern="^0\d{10}" />
                                        <span asp-validation-for="Reviewer.PhoneNo" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12">Higher Education Sector</label>
                                    <div class="col-sm-12">
                                        <select id="InstitutionCategoryId" asp-for=InstitutionCategoryId class="form-control"
                                                asp-items=Model.InstitutionCategoryNameSL required>
                                            <option value="">-- Select Higher Education Sector --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" style="display:none" id="institutionDiv">
                                    <label class="col-sm-12"> Institution</label>
                                    <div class="col-sm-12">
                                        <select asp-for="Reviewer.InstitutionId" class="form-control" id="InstitutionId"
                                                name="Reviewer.InstitutionId" data-url="@Url.Action("GetInstitution")"></select>
                                        <span asp-validation-for="Reviewer.InstitutionId" class="text-danger"></span>
                                    </div>
                                </div>
                                <br />
                                @*<div class="form-group">
                                        <label asp-for="User.UserName" class="col-sm-12">Username</label>
                                        <div class="col-sm-12">
                                            <input asp-for="User.UserName" class="form-control" placeholder="surname/firstname" />
                                            <span asp-validation-for="User.UserName" class="text-danger"></span>
                                        </div>
                                    </div>*@



                            </div>



                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer text-center">

                            <button type="submit" class="btn btn-success pull-right">Save</button>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>

            </div>
            <!-- /.box -->

        </div>

    </div>
</section>
<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
<script>
                $(function () {
            $("#InstitutionCategoryId").change(function () {
                var v = $(this).val();
                var url = $("#InstitutionId").data("url") + '?value=' + v;
                $("#institutionDiv").hide();
                $.getJSON(url, function (institutionList) {
                    if (institutionList != null) {
                        $("#institutionDiv").show();
                        $("#InstitutionId").empty();

                        $("#InstitutionId").append('<option value="' + 0 + '">' +
                            '-- Select Institution --' + '</option>');
                        $.each(institutionList, function (i, inst) {
                            $("#InstitutionId").append('<option value="' + inst.value + '">' +
                                inst.text + '</option>');
                        });
                    }



                });

            })

        })
</script>
