﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Assessor Expertise Detail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>
<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Assessors  <span class="text-muted text-sm">/ Assessor's Expertise </span></h1>
        <hr class="mt-0 mb-2" />
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">
        <div class="col-md-10">
            
            @Html.HiddenFor(m => m.Reviewer.Id)
            <!-- Horizontal Form -->
            <div class="card" style="">
                <div class="row">
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-success pull-right fa fa-plus " id="showStrength">Add Expertise</button>
                    </div>
                </div>

                <div class="card-body">

                    <div class="table-responsive">
                        <table id="modelDataTable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Category/Thematic Area
                                    </th>
                                    @*<th>
                                Thematic Area
                            </th>*@

                                    <th>
                                        Strenght
                                    </th>
                                    @*<th>

                                    </th>*@

                                </tr>
                            </thead>
                            <tbody>
                                @{ int index = 0; }
                                @foreach (var item in Model.ReviewerThematicStrenght)
                                {
                                    index += 1;
                                    <tr>
                                        <td>@index</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Reviewer.Title.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Reviewer.Name)
                                        </td>
                                        <td>
                                            <b>@Html.DisplayFor(modelItem => item.Theme.Category.Name)</b> - @Html.DisplayFor(modelItem => item.Theme.Name)
                                        </td>

                                        @*<td>

                                </td>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Strenght)/5
                                        </td>
                                        @*<td>
                                            <a asp-action="GetAssessorExpertiseDetail" class="btn btn-primary" asp-route-id="@item.Reviewer.Id">Edit Expertise</a>
                                        </td>*@

                                    </tr>
                                }

                        </table>
                    </div>
                    <div class="card-footer text-center">
                        <div class=" row justify-content-center mb-3">
                            <ul class="list-group list-group-horizontal-md text-danger">
                                <li class="list-group-item h5">5: Excellent</li>
                                <li class="list-group-item h5">4: Very Good</li>
                                <li class="list-group-item h5">3: Average Knowledge</li>
                                <li class="list-group-item h5">2: Fair</li>
                                <li class="list-group-item h5">1: Poor</li>
                            </ul>
                        </div>

                    </div>
                    @*<div class="box-footer mt-3 text-center">
                <a asp-action="AddAssessorExpertise" asp-controller="AdminHome" class="btn btn-success pull-right" asp-route-id="@Model.Reviewer.Id">Add Expertise</a>
            </div>*@
                </div>
            </div>
        </div>
    </div>
    <div id="strenghtDiv" style="display:none" class="col-md-12">

        <!-- Horizontal Form -->
        <div class="card card-danger" style="border-top-color: #fff; border-radius: 0">
            <div class="card-header with-border">
                <h4 class="card-title monts">Add Expertise</h4>
            </div>
            <form asp-action="AddAssessorExpertise" asp-antiforgery="true" enctype="multipart/form-data" class="form-horizontal">
                @Html.HiddenFor(m => m.Reviewer.Id)
                <div class="card-body">

                    <div class="form-group">
                        <label asp-for="CategoryId" , class="col-sm-12 ">Category</label>
                        <div class="col-sm-12">
                            <select id="CategoryId" asp-for="CategoryId" class="form-control"
                                    asp-items=@Model.ExpertCategoryNameSL required>
                                <option value="">-- Select Category --</option>
                            </select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-12 ">Thematic Area</label>
                        <div class="col-sm-12">
                            <select asp-for="ThemeId" class="form-control" id="ThemeId"
                                    name="ThemeId" data-url="@Url.Action("GetTheme")"></select>
                            <span asp-validation-for="ThemeId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12 ">Expertise</label>
                        <div class="col-sm-12">
                            <select asp-for=Strength class="form-control">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center mb-3">

                    <div class="row justify-content-center">
                        <ul class="list-group list-group-horizontal-md text-danger">
                            <li class="list-group-item h5">5: Excellent</li>
                            <li class="list-group-item h5">4: Very Good</li>
                            <li class="list-group-item h5">3: Average Knowledge</li>
                            <li class="list-group-item h5">2: Fair</li>
                            <li class="list-group-item h5">1: Poor</li>
                        </ul>
                    </div>
                    <button type="submit" class="btn btn-success  pull-right">Save</button>
                </div>

            </form>
        </div>
    </div>
</section>

<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#showStrength').on('click', function () {
                $('#strenghtDiv').show();
            })

        })
        $(function () {
            $("#CategoryId").change(function () {
                var v = $(this).val();
                var url = $("#ThemeId").data("url") + '?value=' + v;
                $.getJSON(url, function (themecategoryList) {
                    $("#ThemeId").empty();

                    $("#ThemeId").append('<option value="' + 0 + '">' +
                        '-- Select Thematic Area --' + '</option>');
                    $.each(themecategoryList, function (i, theme) {
                        $("#ThemeId").append('<option value="' + theme.value + '">' +
                            theme.text + '</option>');
                    });


                });

            })

        })
    </script>
}

