﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Assessor Detail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>
<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Assessors  <span class="text-muted text-sm">/ View Assessor(s) Thematic Category </span></h1>
        <hr class="mt-0 mb-2" />
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">
        <div class="col-md-10">
            <!-- Horizontal Form -->
            <div class="card" style="">

                <div class="card-body">
                    <div class="table-responsive">
                        <table id="modelDataTable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Phone
                                    </th>
                                    <th>
                                        Thematic Category
                                    </th>
                                   
                                    <th>
                                        
                                    </th>
                                    @*<th>

                                        </th>*@

                                </tr>
                            </thead>
                            <tbody>
                                @{ int index = 0; }
                                @foreach (var item in Model.ReviewerDetails)
                                {
                                    index += 1;
                                    <tr>
                                        <td>@index</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Reviewer.Title.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Reviewer.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Phone)
                                        </td>
                                        <td>
                                            @if (item.Theme != null && item.Theme.Id > 0)
                                            {
                                                @Html.DisplayFor(modelItem => item.Theme.Category.Name)
                                            }
                                            else
                                            {
                                                
                                            }

                                        </td>
                                        
                                        <td>
                                                <a asp-action="GetAssessorExpertiseDetail" class="btn btn-primary" asp-route-id="@item.Reviewer.Id">View Expertise</a>
                                            </td>

                                    </tr>
                                }

                        </table>
                    </div>
                    @*<div class="box-footer mt-3 text-center">
                        <a asp-action="AddReviewer" asp-controller="AdminHome" class="btn btn-success pull-right">Add New Assessor</a>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</section>



