﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Ranked Proposal";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">
            <partial name="_Message" model="@TempData["Message"]" />
        </div>
    }
</section>
<section class="content">
    
    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Proposals <span class="text-muted text-sm">/ View Assessed Proposals (Proposal Ranking)</span></h1>
        <hr class="mt-0 mb-2" />
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">

        <div class="col-md-10">

            <div class="card animated fadeInUp delay-1s" style="">

                <div class="card-body">
                    <div class="" style="">
                        <form asp-action="AllProposalRanking" asp-controller="AdminReport" method="POST" role="form" class="form-horizontal" style="">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                            <div class=" mt-2">
                                <div class="form-group">

                                    <div class="">
                                        <label asp-for="SessionId" , class="col-sm-12">Research Cycle</label>
                                        <div class="row">
                                            <div class="col-md-10">
                                                <select asp-for="SessionId" class="form-control"
                                                        asp-items=@Model.AllSessionNameSL required>
                                                    <option value="">-- Select Research Cycle --</option>
                                                </select>
                                                <span asp-validation-for="SessionId" class="text-danger"></span>
                                            </div>

                                            <div class="col-md-2 text-center">
                                                <button type="submit" class="btn btn-success">View</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </form>

                        @if (Model.ShowPanel)
                        {
                            <hr class="my-5" />
                            <div class="" style="margin-bottom: 30px">

                                <div class="col-md-12">
                                    <!-- Horizontal Form -->
                                    <div class="box box-danger" style="border-top-color: #fff; border-radius: 0">

                                        <div class="box-body">
                                            <table id="modelDataTable" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>S/N</th>
                                                        <th>
                                                            Title
                                                        </th>
                                                        <th>
                                                            Category
                                                        </th>
                                                        <th>
                                                            Thematic-Area
                                                        </th>
                                                        <th>
                                                            Assessor Count
                                                        </th>

                                                        <th>
                                                            Average Score
                                                        </th>
                                                        <th>
                                                            Approved Average Budget (&#8358;)
                                                        </th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{ int index = 0; }
                                                    @foreach (var item in Model.ScoreRankings)
                                                    {
                                                        index += 1;
                                                        <tr>
                                                            <td>@index</td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Title)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.CategoryName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.ThematicAreaName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.ReviewerCount)
                                                            </td>

                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.AverageScore)
                                                            </td>
                                                            <td>
                                                                @string.Format("{0:0,0.00}", item.AverageApprovedBudget)
                                                            </td>
                                                            <td>
                                                                <input type="hidden" class="thematicIdValue" value="@item.ApplicantThematic.Id" />
                                                                <input type="checkbox" class="thematicCheckbox" onclick="addPaper(this)" />
                                                            </td>

                                                        </tr>
                                                    }
                                            </table>

                                            <div class="text-center">
                                                <button type="button" id="btn-plagiarism-request" disabled class=" btn btn-success" onclick="checkForPlagiarism()">Check For Plagiarism</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                        }

                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

<script>
    let idList = [];

    function addPaper(ref) {
        //Get all instances of the css class: ".collect-status"
        const nodes = document.querySelectorAll(".thematicCheckbox");

        //Cast all instances of the css class: ".collect-status" to an array
        const trigger = Array.prototype.slice.call(nodes, document.body);

        //get the index which the clicked element belongs to from the list of element
        const index = trigger.indexOf(ref);

        //Get the exact radio button that was clicked on based on its index
        //const el = trigger[index];

        const valueNodes = document.querySelectorAll(".thematicIdValue");

        //get the values of the selcted ids from this list
        const valueArray = Array.prototype.slice.call(valueNodes, document.body);

        if (index > 0) {
            for (let i = index; i >= 0; i--) {
                trigger[i].checked = true;
                let id = parseInt(valueArray[i].value);
                let idExists = idList.find(i => i == id);

                if (idExists) {
                    //filter out the previous selected id
                    idList = idList.filter(i => i !== idExists);
                    trigger[i].checked = false;
                }
                else {
                    idList.push(id);
                }
            }

            deactivateButton();
        }
        else {
            trigger[0].checked = true;
            let id = parseInt(valueArray[0].value);

            let idExists = idList.find(i => i == id);
            if (idExists) {
                //filter out the previous selected id
                idList = idList.filter(i => i !== idExists);
                trigger[0].checked = false;
            }
            else {
                idList.push(id);
            }

            deactivateButton();
        }
    }

    function deactivateButton() {
        let btnEl = $("#btn-plagiarism-request");

        if (idList.length > 0) {
            btnEl.removeAttr("disabled");
        }
        else {
            btnEl.attr("disabled", "disabled");
        }
    }
    
    //function addPaper(id) {
    //    if (id) {
    //        let idExists = idList.find(i => i == id);
    //        if (idExists) {
    //            //filter out the previous selected id
    //            idList = idList.filter(i => i !== idExists);
    //        }
    //        else {
    //            idList.push(id);
    //        }
            
    //        let btnEl = $("#btn-plagiarism-request");
    //        if (idList.length > 0) {
    //            btnEl.removeAttr("disabled");
    //        }
    //    }
    //}

    function checkForPlagiarism() {
        if (idList.length > 0) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("CheckForPlagiarism", "LTI")",
                data: { idList },
                dataType: "xml",
                success: function (data) {
                    console.log(data);

                    //let redirectUrl = `/Report/ViewBilling/${result.personHospitalVisitId}`;

                    //let link = document.createElementNS("http://www.w3.org/1999/xhtml", "a");
                    //link.href = redirectUrl;
                    //link.target = "_blank";

                    //let event = new MouseEvent("click", {
                    //    "view": window,
                    //    "bubbles": false,
                    //    "cancelable": true
                    //});

                    //link.dispatchEvent(event);
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
    }
</script>