﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "All Approved Proposal";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>
<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Proposals  <span class="text-muted text-sm">/ View All Approved Proposals </span></h1>
        <hr class="mt-0 mb-2" />
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">

        <div class="col-md-10">
            <!-- Horizontal Form -->
            <div class="card" style="border-top-color: #fff; border-radius: 0">

                <div class="card-body">
                    <table id="modelDataTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>
                                    Research Title
                                </th>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Thematic-Area
                                </th>

                                <th>
                                    Approved Average Budget (&#8358;)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int index = 0; }
                            @foreach (var item in Model.AssessmentReports)
                            {
                                index += 1;
                                <tr>
                                    <td>@index</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ApplicantThematic.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ApplicantThematic.Theme.Category.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ApplicantThematic.Theme.Name)
                                    </td>

                                    <td>
                                        @string.Format("{0:0,0.00}", item.AverageBudget)
                                    </td>
                                    <td></td>

                                </tr>
                            }

                    </table>
                </div>
            </div>
        </div>
    </div>

</section>

