﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Average Approved Budget";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
            {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>


<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Proposals  <span class="text-muted text-sm">/ Average Approved Budget (Budget Analysis) </span></h1>
        <hr class="mt-0 mb-2" />
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">

        <div class="col-md-8">
            <!-- Horizontal Form -->
            <div class="card animated fadeInUp delay-1s" style="">
                
                <div class="card-body">
                    <div class="text-center my-3">
                        <img class="" src="~/theme/desyn_system/assets/img/budget.svg" height="90" />
                    </div>

                    <p class="h3">Budget Analysis</p>
                    <hr class="mt-0 mb-2" />

                    <ul class="list-unstyled text-center">
                        <li class="mb-3"> <span>Approved Proposals</span> | <b>@Model.ApplicantCount</b></li>
                        <li class="mb-3"> <span>Total Approved Budget</span> | <b> ₦ @string.Format("{0:0,0.00}", Model.ApprovedBudget)</b></li>
                        <li class="mb-3"> <span>Average Approved Budget</span> | <b> ₦ @string.Format("{0:0,0.00}", Model.AverageApprovedBudget)</b></li>
                    </ul>

                    @*<div class="row">
                            <label class="col-sm-6 control-label">Approved Proposal</label>
                            <input asp-for="ApplicantCount" class="form-control col-sm-6" disabled />
                        </div>
                        <div class="row">
                            <label class="col-sm-6 control-label">Total Approved Budget</label>
                            <input asp-for="ApprovedBudget" class="form-control col-sm-6" disabled />
                        </div>
                        <div class="row">
                            <label class="col-sm-6 control-label">Average Approved Budget</label>
                            <input asp-for="AverageApprovedBudget" class="form-control col-sm-6" disabled />
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</section>
