﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Budget Approval";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: red">
            <partial name="_Message" model="@TempData["Message"]" />
        </div>
    }

</section>



<section class="content">
    <div class="" style="margin-bottom: 30px">

        <div class="col-md-12">
            <div class="box box-danger" style="border-top-color: #fff; border-radius: 0px">
                <div class="box-body">




                    <section class="content">

                        <div class="ct-page-title">
                            <h1 class="ct-title" id="content">Budget / <span class="small">Approve Full Proposals></span></h1>
                            <hr class="mt-0 mb-2" />
                        </div>

                        <div class="row justify-content-center" style="margin-bottom: 30px">

                            <div class="col-md-10">

                                <div class="card animated fadeInUp delay-1s" style="">
                                    <div class="card-body">

                                        <div class="" style="">

                                            <form asp-action="BudgetApproval" asp-controller="AdminReport" method="POST" role="form" class="form-horizontal" style="">
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                <div class=" mt-2">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-6">
                                                            <div class="form-group">
                                                                <label asp-for="SessionId" class="col-sm-12">Research Cycle</label>
                                                                <div class="col-sm-12">
                                                                    <select asp-for="SessionId" class="form-control"
                                                                            asp-items=@Model.AllSessionNameSL required>
                                                                        <option value="">-- Select Research Cycle --</option>
                                                                    </select>
                                                                    <span asp-validation-for="SessionId" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-6">
                                                            <div class="form-group">
                                                                <label asp-for="CategoryId" class="col-sm-12">Category</label>
                                                                <div class="col-sm-12">
                                                                    <select asp-for="CategoryId" class="form-control"
                                                                            asp-items=@Model.CategoryNameSL required>
                                                                        <option value="">-- Select Category --</option>
                                                                    </select>
                                                                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <button type="submit" class="btn btn-success pull-right">View</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                       

                        @if (Model.ShowPanel)
                        {
                            <div class="" style="margin-bottom: 30px">
                                <div class="col-md-12">
                                    <!-- Horizontal Form -->
                                    <div class="box box-danger" style="border-top-color: #fff; border-radius: 0">
                                        <div class="col-md-12">
                                            <!-- Horizontal Form -->
                                            <div class="box box-danger" style="border-top-color: #fff; border-radius: 0">
                                                <div class="box-body">
                                                    <label style="font-size: 16px" class="badge badge--success">
                                                        Total Budget: &#8358;
                                                        <span id="total-allocated-budget">@string.Format("{0:N}", Model.TotalAllocatedAmountForThematicCategory)</span>
                                                    </label>
                                                    &nbsp;&nbsp;
                                                    <label style="font-size: 16px" class="badge badge-success">
                                                        Yet to be Allocated: &#8358;
                                                        <span id="remainder-from-allocated-budget">@string.Format("{0:N}", Model.UsedAmountFromAllocatedAmount)</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box-body">
                                            <table id="modelDataTable" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>S/N</th>
                                                        <th>
                                                            Category
                                                        </th>
                                                        <th>
                                                            Thematic-Area
                                                        </th>
                                                        <th>
                                                            Assessor Count
                                                        </th>

                                                        <th>
                                                            Average Score
                                                        </th>
                                                        <th>
                                                            Approved Average Budget (&#8358;)
                                                        </th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{ int index = 0; }
                                                    @foreach (var item in Model.ScoreRankings)
                                                    {
                                                        index += 1;
                                                        <tr>
                                                            <td>@index</td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.CategoryName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.ThematicAreaName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.ReviewerCount)
                                                            </td>

                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.AverageScore)
                                                            </td>
                                                            <td>
                                                                @string.Format("{0:0,0.00}", item.AverageApprovedBudget)
                                                            </td>
                                                            <td>
                                                                <input type="hidden" class="thematicIdValue" value="@item.ApplicantThematic.Id" />
                                                                @if (item.iSApproved)
                                                                {
                                                                    <input type="checkbox" checked disabled />
                                                                }
                                                                else
                                                                {
                                                                    <input type="checkbox" onclick="rateBudget(@item.ApplicantThematic.Id, @item.ApplicantThematic.SessionId, @item.ApplicantThematic.Theme.CategoryId, @item.AverageApprovedBudget);" />
                                                                }
                                                            </td>

                                                        </tr>
                                                    }
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </section>
                    </div>
                </div></div>
        </div></section>
                    <script>
    const cleanUpAmountString = (rawString) => parseInt(rawString.split(".")[0].replace(/\,/g, "").trim());

    const addCommas = (nStr) => {
        nStr += '';
        var x = nStr.split('.');
        var x1 = x[0];
        var x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }

    function rateBudget(applicantThematicId, sessionId, categoryId, amount) {
        if (applicantThematicId && sessionId && categoryId && amount) {
            amount = parseFloat(amount);
            const usedAmountEl = document.getElementById("remainder-from-allocated-budget");
            const totalAmountEl = document.getElementById("total-allocated-budget");

             $.ajax({
                 type: "POST",
                 url: "@Url.Action("ApproveBudget", "AdminReport")",
                 data: { applicantThematicId, sessionId, categoryId, amount },
                 dataType: "json",
                 success: function (data) {
                     if (data && data !== "") {
                         //Get and display the total budget and remaining budget in realtime
                         let totalAmount = cleanUpAmountString(totalAmountEl.innerHTML);
                         let usedAmount = cleanUpAmountString(usedAmountEl.innerHTML);

                         if (amount > 0) {
                             usedAmount = (usedAmount < 1 ? (totalAmount - amount) : (usedAmount - amount));

                             usedAmountEl.innerHTML = `${addCommas(usedAmount)}.00`;
                         }

                         alert(data);
                     }
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
    }

                    </script>
