﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Session Budget Account";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    <div class="pg-head">
        <h3 class="monts text-center" style="font-weight: 300; margin-top: 10px">Chart Representation PI Regional Distribution / <span class="small"> View By Session</span></h3>
    </div>

    @if (@TempData["Message"] != null)
            {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }

</section>

<section class="content">

    <div class="container" style="margin-bottom: 30px">

        <div class="col-md-12">

            <div class="box box-danger" style="border-top-color: #fff; border-radius: 0px">

                <div class="box-body">
                    <div class="" style="">
                        <form  role="form" class="form-horizontal" style="">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                            <div class=" mt-2">
                                <div class="form-group">
                                    <label asp-for="SessionId" , class="col-sm-12">Research Cycle</label>
                                    <div class="col-sm-12">
                                        <select asp-for="SessionId" class="form-control"
                                                asp-items=@Model.SessionNameSL required>
                                            <option value="">-- Select Research Cycle --</option>
                                        </select>
                                        <span asp-validation-for="SessionId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">


                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-success pull-right" id="chartPI">View</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="" style="margin-left: 3px !important; margin-bottom: 20px; display:none; width:100%" id="chartDiv" >
            <div class="container">
                <div id="chart"></div>
                
            </div>

        </div>


</section>
<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
@*<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>*@
<script src="~/theme/dist/js/plotly.js"></script>
@section Scripts{
<script>
    //generate numbers randomly
    const createRandomColors = (length) => {
        let randomNumbers = [];
        const colors = ["#333", "red", "purple", "green", "yellow", "indianred", "teal", "cyan", "indianred"];

        for (let i = 0; i < length; i++){
            //generate a new randome number per iteration
            //const index = Math.floor(Math.random() * (length - 1));
            //get a random number based on the dynamic index generated by the randome generator
            //if (i > (length - 1)) {
            //    break;
            //}

            if (!randomNumbers.find(cl => cl === colors[i])) {
                randomNumbers.push(colors[i]);
                
            }
            else {
                i -= 1;

            }
        }

        return randomNumbers;
    };

    $('#chartPI').on('click', function () {
        var sessionId = $('#SessionId').val();
        if (sessionId > 0 && sessionId != undefined) {
            $.ajax({
                    type: 'POST',
                    url: '@Url.Action("PIRegionDistributionChartAjax")', // we are calling json method
                dataType: 'json',
                data: { sessionId},
                success: function (result) {
                    if (!result.IsError) {

                        var data = [
                            {
                                x: result.zones,
                                y: result.piCount,
                                marker: {
                                    color: [...createRandomColors(result.zones.length)]
                                },
                                type: "bar"
                            }
                        ];

                        var layout = {
                            title: {
                                text: 'PI Geo-Political Zone Distribution',
                                font: {
                                    family: 'Courier New, monospace',
                                    size: 24
                                },
                                xref: 'paper',
                                x: 0.05,
                            },
                            xaxis: {
                                title: {
                                    text: 'Geo-Political Zones',
                                    font: {
                                        family: 'Courier New, monospace',
                                        size: 18,
                                        color: '#7f7f7f'
                                    }
                                },
                            },
                            yaxis: {
                                title: {
                                    text: 'No. of PI',
                                    font: {
                                        family: 'Courier New, monospace',
                                        size: 18,
                                        color: '#7f7f7f'
                                    }
                                }
                            }
                        };
                        Plotly.newPlot('chart', data, layout);
                        $('#chartDiv').show();

                    }
                    
                },
                error: function(ex) {
                    alert('Failed to Open Ticket.' + ex);
                }
            });

        }

    })
        
</script>
    }
