﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Assessor Expertise";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>

<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Reports  <span class="text-muted text-sm">/ Assessor's Expertise Distribution </span></h1>
        <hr class="mt-0 mb-2" />
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">
        <div class="col-md-10">

            <!-- Horizontal Form -->
            <div class="card" style="">
                
                <div class="card-body">
                    <div class="table-responsive">
                    <table id="modelDataTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Full Name
                                </th>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Thematic Area
                                </th>
                                <th>
                                    Expertise Points
                                </th>

                                @*<th>

                                    </th>*@

                            </tr>
                        </thead>
                        <tbody>
                            @{ int index = 0; }
                            @foreach (var item in Model.ReviewerThematicStrenght)
                            {
                                index += 1;
                                <tr>
                                    <td>@index</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Reviewer.Title.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Reviewer.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Theme.Category.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Theme.Name)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Strenght)

                                    </td>


                                </tr>
                            }

                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



