﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Session Budget Account";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    <div class="pg-head">
        <h3 class="monts text-center" style="font-weight: 300; margin-top: 10px">View Set Budget Balance / <span class="small"> View By Session</span></h3>
    </div>

    @if (@TempData["Message"] != null)
            {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }

</section>

<section class="content">

    <div class="container" style="margin-bottom: 30px">

        <div class="col-md-12">

            <div class="box box-danger" style="border-top-color: #fff; border-radius: 0px">

                <div class="box-body">
                    <div class="" style="">
                        <form asp-action="SessionBudgetAccount" asp-controller="AdminReport" method="POST" role="form" class="form-horizontal" style="">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                     
                            <div class=" mt-2">
                                <div class="form-group">
                                    <label asp-for="SessionId" , class="col-sm-12">Research Cycle</label>
                                    <div class="col-sm-12">
                                        <select asp-for="SessionId" class="form-control"
                                                asp-items=@Model.AllSessionNameSL required>
                                            <option value="">-- Select Research Cycle --</option>
                                        </select>
                                        <span asp-validation-for="SessionId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">


                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-success pull-right">View</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (Model.ShowPanel)
            {

        <div class="" style="margin-left: 3px !important; margin-bottom: 20px">
            <div class="container">

                <div class="col-md-12">
                    <!-- Horizontal Form -->
                    <div class="box box-danger" style="border-top-color: #fff; border-radius: 0px">

                        <div class="box-body">
                            <div class="table-responsive">
                                <table id="modelDataTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                S/N
                                            </th>
                                            <th>
                                                Category
                                            </th>
                                            <th>
                                                Budget &#8358
                                            </th>
                                            <th>
                                                Amount Used &#8358
                                            </th>
                                            <th>
                                                Balance &#8358
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int index = 0;}
                                        @foreach (var item in Model.BudgetSums)
                                        {
                                            index += 1;
                                        <tr>
                                            @Html.HiddenFor(modelItem => item.Category.Id)
                                            <td>
                                                @index
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Category.Name)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Amount)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UsedAmount)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Balance)
                                            </td>
                                        </tr>
                                        }

</table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    }

</section>



