﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Unassigned Proposals";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">
    <div class="pg-head">
        <h3 class="monts text-center" style="font-weight: 300; margin-top: 10px">Proposal / <span class="small">View Unassigned Proposals</span></h3>
    </div>

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">
            <partial name="_Message" model="@TempData["Message"]" />
        </div>
    }
</section>

<section class="content">
    <div class="container" style="margin-bottom: 30px">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-danger" style="border-top-color: #fff; border-radius: 0">
                <div class="box-body">
                    <form asp-action="UnassignedProposals" asp-controller="AdminReport">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="SessionId" class="control-label">Research Cycle</label>
                            <select asp-for="SessionId" asp-items="Model.SessionSL" class="form-control" required></select>
                            <span asp-validation-for="SessionId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@if (Model.SessionId > 0)
{
    <div class="" style="margin-left: 3px !important; margin-bottom: 20px">
        <div class="container">
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-danger" style="border-top-color: #fff; border-radius: 0px">
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="modelDataTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            SN
                                        </th>
                                        <th>Principal Investigator's Thematic</th>
                                        <th>
                                            Budget(&#8358;)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int index = 0; }
                                    @foreach (var item in Model.ProposalList)
                                    {
                                        index += 1;
                                        <tr>
                                            <td>
                                                @index
                                            </td>
                                            <td class="text-capitalize">
                                                @item.ApplicantThematic.Theme.Name
                                            </td>
                                            <td>
                                                @string.Format("{0:N}", item.SubmittedBudget)
                                            </td>
                                        </tr>
                                    }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}