﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Unassigned Concept Notes";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">
            <partial name="_Message" model="@TempData["Message"]" />
        </div>
    }
</section>

<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Concept Note / <span class="text-sm text-muted">View Unassigned Concept Notes</span></h1>
        <div class="avatar-group mt-3">
        </div>
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">
        <div class="col-md-10">
            <!-- Horizontal Form -->
            <div class="card animated fadeInUp delay-1s " style="">
                <div class="card-body">
                    <form asp-action="UnassignedConceptNotes" asp-controller="AdminReport">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group row">
                            <label asp-for="SessionId" class="control-label col-sm-12">Research Cycle</label>
                            <div class="col-md-10">
                                <select asp-for="SessionId" asp-items="Model.SessionSL" class="form-control" required></select>
                                <span asp-validation-for="SessionId" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-2">
                                <button type="submit" class="btn btn-success"><i class="fa fa-search"></i> Search</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@if (Model.SessionId > 0)
{
    <div class="row justify-content-center" style="margin-bottom: 30px">

        <div class="col-md-10">

            <div class="card animated fadeInUp delay-1s" style="">

                <div class="card-body">

                    <div class="" style="margin-bottom: 20px">
                        <div class="container">
                            <div class="col-md-12">
                                <!-- Horizontal Form -->
                                <div class="box box-danger" style="border-top-color: #fff; border-radius: 0px">
                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table id="modelDataTable" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            SN
                                                        </th>
                                                        <th>Applicant</th>
                                                        <th>
                                                            Theme
                                                        </th>
                                                        <th>Title</th>
                                                        <th>Session</th>
                                                        <th>Date Applied</th>
                                                        <th>File No</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{ int index = 0; }
                                                    @foreach (var item in Model.ApplicantThematicList)
                                                    {
                                                        index += 1;
                                                        <tr>
                                                            <td>
                                                                @index
                                                            </td>
                                                            <td class="text-capitalize">
                                                                @item.Applicant.Person.Name
                                                            </td>
                                                            <td>
                                                                @item.Theme.Name
                                                            </td>
                                                            <td>
                                                                @item.Title
                                                            </td>
                                                            <td>
                                                                @item.Session.Name
                                                            </td>
                                                            <td>
                                                                @item.DateApplied.ToString("dd/MM/yyyy")
                                                            </td>
                                                            <td>
                                                                @item.FileNo
                                                            </td>
                                                        </tr>
                                                    }
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
