﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "View PI";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">All Principal Investigators</h1>
    </div>

 <div class="" style="margin-left: 3px !important; margin-bottom: 20px">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <!-- Horizontal Form -->
                    <div class="card">

                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="modelDataTable" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                SN
                                            </th>
                                            <th>
                                                Principal Investigator
                                            </th>
                                            <th>
                                                Phone
                                            </th>
                                            <th>
                                                Institution
                                            </th>
                                            <th>
                                                Sex
                                            </th>
                                            @*<th>
                                                State
                                            </th>*@

                                            <th>

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ var i = 0;}
                                        @foreach (var item in Model.PrincipalInvestigators)
                                        {
                                            i += 1;
                                            <tr>
                                                <td>@i</td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ApplicantThematic.Applicant.Person.ApplicantFullName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ApplicantThematic.Applicant.Person.PhoneNo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ApplicantThematic.Applicant.Person.Institution.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ApplicantThematic.Applicant.Person.Sex.Name)
                                                </td>
                                                @*<td>
                                                    @Html.DisplayFor(modelItem => item.ApplicantThematic.Applicant.Person.State.Name)
                                                </td>*@

                                                <td>
                                                    <a asp-action="ViewPIProfile" asp-controller="AdminReport" class="btn btn-success" asp-route-id="@item.ApplicantThematic.Applicant.Id">View</a>

                                                </td>

                                            </tr>
                                        }

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
   
</section>
