﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "View PI Profile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    <div class="pg-head">
        <h3 class="monts text-center" style="font-weight: 300; margin-top: 10px">Principal Investigator Profile</h3>
    </div>

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>


<div class="" style="margin-left: 3px !important; margin-bottom: 20px">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <!-- Horizontal Form -->
            <div class="card">

                <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6"><h3 class="box-title monts">Principal Investigator's Details </h3></div>
                                            <div class="col-md-6"></div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3 text-center">
                                                <img style="margin-bottom:15px; height: 180px !important; width: 180px" class="profile-user-img img-responsive img-circle" src='@Url.Content(Model.Applicant.Person.PassportUrl)' />
                                            </div>

                                            <div class="col-md-9">
                                                <div class="box-body">
                                                    <div class="form-group">
                                                        <label asp-for="Applicant.Person.Name" class="col-sm-2 control-label"></label>
                                                        <div class="col-sm-10">
                                                            @*<input asp-for="Person.Title.Name" class="form-control col-md-4" disabled />*@
                                                            <input asp-for="Applicant.Person.ApplicantFullName" class="form-control" disabled />
                                                        </div>
                                                    </div>



                                                    <br />
                                                    <br />
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label asp-for="Applicant.Person.Email" class="col-sm-4 control-label"></label>
                                                                <div class="col-sm-8">
                                                                    <input asp-for="Applicant.Person.Email" class="form-control" disabled />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label asp-for="Applicant.Person.PhoneNo" class="col-sm-4 control-label"></label>
                                                                <div class="col-sm-8">
                                                                    <input asp-for="Applicant.Person.PhoneNo" class="form-control" disabled />
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <br />
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label asp-for="Applicant.Person.Qualification.Name" class="col-sm-4 control-label">Qualification</label>
                                                                <div class="col-sm-8">
                                                                    <input asp-for="Applicant.Person.Qualification.Name" class="form-control" disabled />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label asp-for="Applicant.Person.Institution.Name" class="col-sm-4 control-label">Institution</label>
                                                                <div class="col-sm-8">
                                                                    <input asp-for="Applicant.Person.Institution.Name" class="form-control" disabled />
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>


                            </div>

                            @if (Model.TeamMembers != null && Model.TeamMembers.Count > 0)
                            {
                                <br />
                                <div class="col-md-12">
                                    <!-- Horizontal Form -->
                                    <div class="card" style="border-top-color: #fff; border-radius: 0">
                                        <div class="card-header with-border">
                                            <h4 class="card-title monts">Research Team Members/Co-Researchers </h4>
                                        </div>
                                        @foreach (var team in Model.TeamMembers)
                                        {
                                            <div class="row">
                                                <div class="col-md-3 text-center">
                                                    @if (team.Person.PassportUrl != null)
                                                    {
                                                        <img style="height: 150px !important; width: 150px;" class="profile-user-img img-responsive img-circle" src='@Url.Content(team.Person.PassportUrl)' />

                                                    }
                                                    else
                                                    {
                                                        <img style="height: 150px !important; width: 150px !important" class="profile-user-img img-responsive img-circle" src="~/theme/dist/img/avatar.png" />


                                                    }

                                                </div>
                                                <div class="col-md-9">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">Member Name</label>
                                                            <div class="col-sm-10">
                                                                <input asp-for="@team.Person.ApplicantFullName" class="form-control" disabled />
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <br />
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 control-label">E-mail</label>
                                                                    <div class="col-sm-8">
                                                                        <input asp-for="@team.Person.Email" class="form-control" disabled />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 control-label"> Phone No.</label>
                                                                    <div class="col-sm-8">
                                                                        <input asp-for="@team.Person.PhoneNo" class="form-control" disabled />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label asp-for="@team.Person.Qualification.Name" class="col-sm-4 control-label">Qualification</label>
                                                                    <div class="col-sm-8">
                                                                        <input asp-for="@team.Person.Qualification.Name" class="form-control" disabled />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label asp-for="@team.Person.Institution.Name" class="col-sm-4 control-label">Institution</label>
                                                                    <div class="col-sm-8">
                                                                        <input asp-for="@team.Person.Institution.Name" class="form-control" disabled />
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div><hr>
                                        }

                                    </div>
                                </div>

                            }
                            @if (Model.ApplicantThematicList != null && Model.ApplicantThematicList.Count > 0)
                            {
                                <br />
                                <div class="col-md-12">
                                    <!-- Horizontal Form -->
                                    <div class="card" style="border-top-color: #fff; border-radius: 0">
                                        <div class="card-header with-border">
                                            <h4 class="card-title monts">Research Grant Application</h4>
                                        </div>


                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table id="modelDataTable" class="table table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                SN
                                                            </th>
                                                            <th>
                                                                Title
                                                            </th>
                                                            <th>
                                                                Category/Thematic Area
                                                            </th>
                                                            <th>
                                                                Research Cycle
                                                            </th>


                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{ var i = 0;}
                                                        @foreach (var item in Model.ApplicantThematicList)
                                                        {
                                                            i += 1;
                                                            <tr>
                                                                <td>@i</td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.Title)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.Theme.Category.Name)/@Html.DisplayFor(modelItem => item.Theme.Name)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.Session.Name)
                                                                </td>


                                                            </tr>
                                                        }

                                                </table>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            }







                        </div>

                    </div>



