﻿@model Grant.Web.Models.ViewModels.UtilityViewModel
@{
    ViewData["Title"] = "All Researchers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: red">
            <partial name="_Message" model="@TempData["Message"]" />
        </div>
    }

</section>

<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Researhers<span class="text-muted text-sm">/ All </span></h1>
        <hr class="mt-0 mb-2" />
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">

        <div class="col-md-12">

            <div class="card animated fadeInUp delay-1s" style="">

                <div class="card-body">
                    <div class="" style="margin-left: 3px !important; margin-bottom: 20px">


                        <!-- Horizontal Form -->
                        <div class="box box-danger" style="border-top-color: #fff; border-radius: 0px">

                            <div class="box-body">
                                <div class="table-responsive">
                                    <table id="modelDataTable" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>S/N</th>
                                                <th>
                                                    Researcher
                                                </th>


                                                <th>
                                                    Email
                                                </th>
                                                <th>
                                                    Role
                                                </th>

                                                <th>
                                                    Verified
                                                </th>

                                                <th>
                                                    Password
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            @for (int i = 0; i < Model.Applicants.Count; i++)
                                            {
                                                var index = 1 + i;
                                            <tr>
                                                <td>@index</td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => Model.Applicants[i].Person.ApplicantFullName)
                                                </td>


                                                <td>
                                                    @Html.DisplayFor(modelItem => Model.Applicants[i].ApplicationNo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => Model.Applicants[i].Role.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => Model.Applicants[i].IsVerified)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => Model.Applicants[i].Password)
                                                </td>



                                            </tr>
                                            }

                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>



                </div>

            </div>

        </div>

    </div>
</section>
<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
@section Scripts{
    
}