﻿@model Grant.Web.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Send Email";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: red">
            <partial name="_Message" model="@TempData["Message"]" />
        </div>
    }

</section>

<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Push Messages<span class="text-muted text-sm">/ Email </span></h1>
        <hr class="mt-0 mb-2" />
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">
        <div class="row">
            <div class="col-md-12 mx-auto ">
                <form role="form" class="card bg-secondary p-3" id="contact-form" method="post">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Email address</label>
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="email" placeholder="Email Here...">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Subject</label>
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-caps-small"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="subject" placeholder="Title...">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Your message</label>
                            <textarea name="message" class="form-control form-control-alternative" id="message" rows="6"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ml-auto text-right">
                                <button type="button" id="send" class="btn btn-success">Send Message</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>
</section>
<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
@section Scripts{
    <script>
    $(document).ready(function () {
        $('#send').on('click', function () {
            var email = $('#email').val();
            var subject = $('#subject').val();
            var message = $('#message').val();
            if (email != null && subject != null && message != null) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Send","Utility")', // we are calling json method
                    dataType: 'json',
                    data: { email,subject,message},
                    success: function (result) {
                        if (result) {

                        }

                    },
                    error: function (ex) {
                        alert('Failed to Open Theme.' + ex);
                    }
                });
            }
            alert("Nothing to send");
        })
    })
    </script>
    }