﻿@model Grant.Web.Models.ViewModels.UtilityViewModel
@{
    ViewData["Title"] = "Send Accessor Email";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: red">
            <partial name="_Message" model="@TempData["Message"]" />
        </div>
    }

</section>

<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Push Messages<span class="text-muted text-sm">/ Accessor Email </span></h1>
        <hr class="mt-0 mb-2" />
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">

        <div class="col-md-8">
            <form role="form" class="card bg-secondary" id="contact-form" method="post">
                <div class="card-body">

                    <div class="col-md-12">

                        <label>Subject</label>
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-caps-small"></i></span>
                            </div>
                            <input type="text" class="form-control" id="subject" placeholder="Title...">
                        </div>

                    </div>
                    @*</div>*@

                    <div class="form-group">
                        <label>Your message</label>
                        <textarea name="message" class="form-control form-control-alternative" id="message" rows="6"></textarea>
                    </div>

                </div>
            </form>

        </div>


    </div>
    <div class="row justify-content-center" style="margin-bottom: 30px">

        <div class="col-md-12">

            <div class="card animated fadeInUp delay-1s" style="">

                <div class="card-body">
                    <div class="" style="margin-left: 3px !important; margin-bottom: 20px">


                        <!-- Horizontal Form -->
                        <div class="box box-danger" style="border-top-color: #fff; border-radius: 0px">

                            <div class="box-body">
                                <div class="table-responsive">
                                    <table id="modelDataTable" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>S/N</th>
                                                <th>
                                                    Accessor
                                                </th>

                                                <th>
                                                    Phone No
                                                </th>
                                                <th>
                                                    Email
                                                </th>
                                                

                                                <th>
                                                    Select All <input type="checkbox" id="checkAll" />
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            @for (int i = 0; i < Model.Reviewers.Count; i++)
                                            {
                                                var index = 1 + i;
                                                <tr>
                                                    <td>@index</td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.Reviewers[i].Name)
                                                    </td>


                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.Reviewers[i].PhoneNo)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.Reviewers[i].Email)
                                                    </td>
                                                   
                                                    <td>

                                                        <input type="checkbox" class="mycheckBox" id="check_@Model.Reviewers[i].Id" onclick="selectClick(`@Model.Reviewers[i].Email`,`@Model.Reviewers[i].Id`)" />

                                                    </td>



                                                </tr>
                                            }

                                    </table>
                                </div>
                            </div>
                            <button class="btn btn-outline-success" id="send">Send</button>
                        </div>

                    </div>



                </div>

            </div>

        </div>

    </div>
</section>
<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
@section Scripts{
    <script>
        var emailArray = [];
        localStorage.setItem("array", '[]');
    $(document).ready(function () {
        $('#send').on('click', function () {

            var subject = $('#subject').val();
            var message = $('#message').val();
            emailArray = JSON.parse(localStorage.getItem("array")) || [];
            if (subject != null && message != null && subject != "" && message != "" && emailArray.length > 0) {
                $('#send').attr('disabled', true);
                $('#send').text("Sending...");
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SendAccessor", "Utility")', // we are calling json method
                    dataType: 'json',
                    data: { emailArray, subject, message },
                    success: function (result) {
                        if (!result.isError && result.message != null) {
                            alert(result.message);
                            emailArray = [];
                            localStorage.setItem("array", '[]');
                            window.location.reload(true);
                        }

                    },
                    error: function (ex) {
                        $('#send').attr('disabled', false);
                        $('#send').text("Send");
                        alert('Failed to Open Theme.' + ex);
                    }
                });
            }
            else {
                alert("Nothing to send");
            }

        })
        //check and uncheck all checkboxes
        $('#checkAll').on('click', function () {
            if (this.checked) {
                emailArray = [];
                localStorage.setItem("array", '[]');
                // Iterate each checkbox
                $('.mycheckBox').each(function () {
                    this.checked = false;
                    this.click();
                       
                });
                $('#checkAll').prop("checked", true);
            } else {
                emailArray = [];
                localStorage.setItem("array", '[]');
                $('.mycheckBox').each(function () {
                    this.checked = false;
                });
            }
        })
    })
        function selectClick(e, y) {

            $('#checkAll').prop("checked", false);
            let email = e;
            emailArray = JSON.parse(localStorage.getItem("array")) || [];
            let existemail = emailArray.includes(email);
            if (existemail) {
                emailArray = $.grep(emailArray, function (value) {
                    return value != email;
                })
                //reset the object
                localStorage.setItem("array", JSON.stringify(emailArray));

                if ($(`#check_${y}`).prop('checked') == true) {
                    let myEmail = emailArray.includes(email);
                    if (myEmail) {
                        emailArray = $.grep(emailArray, function (value) {
                            return value != email;
                        })
                        //reset the object
                        localStorage.setItem("array", JSON.stringify(emailArray));
                    }
                    emailArray.push(email);
                    localStorage.setItem("array", JSON.stringify(emailArray));

                }

            }
            else {
                if ($(`#check_${y}`).prop('checked') == true) {
                    let myEmail = emailArray.includes(email);
                    if (myEmail) {
                        emailArray = $.grep(emailArray, function (value) {
                            return value != email;
                        })
                        //reset the object
                        localStorage.setItem("array", JSON.stringify(emailArray));
                    }
                    emailArray.push(email);
                    localStorage.setItem("array", JSON.stringify(emailArray));

                }
            }
        }
    </script>
}