﻿@model Grant.Web.Models.ViewModels.SetupViewModel
@{
    ViewData["Title"] = "Add Admin User";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">
    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Role <span class="text-muted text-sm">/ Add Admin User </span></h1>
        <hr class="mt-0 mb-2" />
    </div>


    @*<div class="pg-head">
        <h3 class="monts text-center" style="font-weight: 300; margin-top: 10px">Role / <span class="small">Add Admin User</span></h3>
    </div>*@

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">
            <partial name="_Message" model="@TempData["Message"]" />
        </div>
    }
</section>

<section class="content">
    <div class="container" style="margin-bottom: 30px">

        <div class="col-md-12">
            <div class="card">
                <!-- Horizontal Form -->
                <div class=" card-danger" style="border-top-color: #fff; border-radius: 0">
                    <div class="card-header with-border">
                        <h4 class="card-title">Add Admin User</h4>
                    </div>
                    <div class="row ">
                        <div class="col-md-2"></div>
                        <div class="col-md-8 card-body">
                            <!-- form start -->
                            <form asp-action="AddAdminUser" asp-controller="Setup" class="form-horizontal">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="card-body">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label asp-for="FullName" class="col-sm-12"></label>
                                            <div class="col-sm-12">
                                                <input asp-for="FullName" class="form-control" required />
                                                <span asp-validation-for="FullName" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="Email" class="col-sm-12"></label>
                                            <div class="col-sm-12">
                                                <input asp-for="Email" class="form-control" required />
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="PhoneNumber" class="col-sm-12"></label>
                                            <div class="col-sm-12">
                                                <input asp-for="PhoneNumber" class="form-control" required />
                                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="TitleId" class="col-sm-12"></label>
                                            <div class="col-sm-12">
                                                <select asp-for="TitleId" class="form-control" asp-items=Model.TitleSL required></select>
                                                <span asp-validation-for="TitleId" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="RoleId" class="col-sm-12"></label>
                                            <div class="col-sm-12">
                                                <select asp-for="RoleId" class="form-control" asp-items=Model.RoleSL  required></select>
                                                <span asp-validation-for="RoleId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-success pull-right">Save</button>
                                </div>
                                <!-- /.box-footer -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>

