﻿@model Grant.Web.Models.ViewModels.SetupViewModel
@{
    ViewData["Title"] = "AddInstitution";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    <div class="pg-head">
        <h3 class="monts text-center" style="font-weight: 300; margin-top: 10px">Institution / <span class="small">Add Institution</span></h3>
    </div>

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">
            <partial name="_Message" model="@TempData["Message"]"/>
        </div>
    }
</section>

<section class="content">
    <div class="container" style="margin-bottom: 30px">

        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-danger" style="border-top-color: #fff; border-radius: 0">
                <div class="box-header with-border">
                    <h4 class="box-title">ADD INSTITUTION</h4>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <!-- form start -->
                        <form asp-action="AddInstitution" asp-controller="Setup" class="form-horizontal">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="box-body">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label asp-for="InstitutionCategoryId" class="col-sm-12">Higher Education Sector</label>
                                        <div class="col-sm-12">
                                            <select asp-for=InstitutionCategoryId class="form-control"
                                                    asp-items=Model.InstitutionCategorySL required></select>
                                            <span asp-validation-for="InstitutionCategoryId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="StateId" class="col-sm-12">State</label>
                                        <div class="col-sm-12">
                                            <select asp-for=StateId class="form-control"
                                                    asp-items=Model.StateSL required></select>
                                            <span asp-validation-for="StateId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="IsPublic" class="col-sm-12">Is Public Institution?</label>
                                        <div class="col-sm-12">
                                            <input asp-for="IsPublic" class="" type="checkbox" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="InstitutionName" class="col-sm-12">Name of Institution</label>
                                        <div class="col-sm-12">
                                            <input asp-for="InstitutionName" class="form-control" required/>
                                            <span asp-validation-for="InstitutionName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="submit" class="btn btn-success pull-right">Save</button>
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>

