﻿@model Grant.Web.Models.ViewModels.SetupViewModel
@{
    ViewData["Title"] = "Co-Administrator(s)";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">

            @Html.Partial("_Message", TempData["Message"])

        </div>
    }
</section>
<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Administrator <span class="text-muted text-sm">/ View Admistrator(s) Thematic Category </span></h1>
        <hr class="mt-0 mb-2" />
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">
        <div class="col-md-10">
            <div class="col-md-2">
                <button type="button" class="btn btn-success pull-right fa fa-plus " id="showCoAdmin">Assign Category</button>
            </div>
            <!-- Horizontal Form -->
            <div class="card" style="">

                <div class="card-body">
                    <div class="table-responsive">
                        <table id="modelDataTable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Administrator's Name
                                    </th>
                                    <th>
                                        Phone
                                    </th>
                                    <th>
                                        Thematic Category
                                    </th>

                                    <th>

                                    </th>
                                    <th>

                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @{ int index = 0; }
                                @foreach (var item in Model.CategoryAdministrators)
                                {
                                    index += 1;
                                    <tr>
                                        <td>@index</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.User.Reviewer.Title.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.User.Reviewer.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.User.Reviewer.PhoneNo)
                                        </td>
                                        <td>

                                            @Html.DisplayFor(modelItem => item.Category.Name)
                                        </td>
                                        <td>
                                            @if (item.Active)
                                            {
                                                <input type="checkbox" checked onclick="deactivateAdmin(@item.Id)" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" onclick="deactivateAdmin(@item.Id)" />
                                            }
                                        </td>

                                        <td>
                                            @*<a asp-action="GetAssessorExpertiseDetail" class="btn btn-primary" asp-route-id="@item.Reviewer.Id">View Expertise</a>*@
                                        </td>

                                    </tr>
                                }

                        </table>
                    </div>
                    @*<div class="box-footer mt-3 text-center">
                    <a asp-action="AddReviewer" asp-controller="AdminHome" class="btn btn-success pull-right">Add New Assessor</a>
                </div>*@
                </div>
            </div>
            <div class="card" style="">
                <div id="categoryAdminDiv" style="display:none" class="card">

                    <!-- Horizontal Form -->
                    <div class="card card-danger" style="border-top-color: #fff; border-radius: 0">
                        <div class="card-header with-border">
                            <h4 class="card-title monts">Assign Thematic Category To Co-Administrator</h4>
                        </div>
                        <form asp-action="AssignThematicCategoryAdministrator" asp-antiforgery="true" enctype="multipart/form-data" class="form-horizontal">

                            <div class="card-body">

                                <div class="form-group">
                                    <label asp-for="CoAdminId" , class="col-sm-12 ">Co-Administrator</label>
                                    <div class="col-sm-12">
                                        <select id="CoAdminId" asp-for="CoAdminId" class="form-control"
                                                asp-items=@Model.CoAdminNameSL required>
                                            <option value="">-- Select Administrator --</option>
                                        </select>
                                        <span asp-validation-for="CoAdminId" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-12 ">Thematic Category</label>
                                    <div class="col-sm-12">
                                        <select asp-for="CategoryId" class="form-control" id="CategoryId"
                                                name="CategoryId" data-url="@Url.Action("GetCategory")"></select>
                                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-center mb-3">


                                <button type="submit" class="btn btn-success  pull-right">Save</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
</section>
<script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
@section Scripts{
    <script>
    $(document).ready(function () {
        $('#showCoAdmin').on('click', function () {
            $('#categoryAdminDiv').show();
        })

    })
    function deactivateAdmin(id) {
        if (id) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeactivateAdministratorCategory", "Setup")",
                data: { id },
                dataType: "json",
                success: function (data) {
                    alert(data);
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
    }
    $(function () {
        $("#CoAdminId").change(function () {
            var v = $(this).val();
            var url = $("#CategoryId").data("url") + '?value=' + v;
            $.getJSON(url, function (themecategoryList) {
                $("#CategoryId").empty();

                $("#CategoryId").append('<option value="' + 0 + '">' +
                    '-- Select Thematic Category --' + '</option>');
                $.each(themecategoryList, function (i, theme) {
                    $("#CategoryId").append('<option value="' + theme.value + '">' +
                        theme.text + '</option>');
                });


            });

        })

    })
    </script>
    }


