﻿@model Grant.Web.Models.ViewModels.SetupViewModel
@{
    ViewData["Title"] = "View All Institutions";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header" style="padding-top: 0; background-color: #fff">

    <div class="pg-head">
        <h3 class="monts text-center" style="font-weight: 300; margin-top: 10px">All Institutions</h3>
    </div>

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">
            <partial name="_Message" model="@TempData["Message"]"/>
        </div>
    }
</section>

<section class="content">
    <div class="container" style="margin-bottom: 30px">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-danger" style="border-top-color: #fff; border-radius: 0">

                <div class="box-body">
                    <div class="table-responsive">
                        <table id="modelDataTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        S/N
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Is Public
                                    </th>
                                    <th>
                                        Institution Category
                                    </th>
                                    <th>
                                        State
                                    </th>
                                    <th>
                                        Deactivate
                                    </th>
                                    <th>
                                        Edit
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int i = 0; }
                                @foreach (var item in Model.Institutions)
                                {
                                    i += 1;
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.Name</td>
                                        <td>@item.IsPublic</td>
                                        <td>@item.InstitutionCategory.Name</td>
                                        <td>@item.State.Name</td>
                                        <td>
                                            @if (item.Active)
                                            {
                                                <input type="checkbox" checked onclick="deactivateInstitution(@item.Id)" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" onclick="deactivateInstitution(@item.Id)" />
                                            }
                                        </td>
                                        <td>
                                            <a asp-action="EditInstitution" asp-controller="Setup" asp-route-id="@item.Id" class="btn btn-info"><i class="fade fa-pencil"></i> Edit</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer" style="border-top: 1px solid #ddd;width:100%;margin-top:20px;">
                        <a class="btn btn-success pull-right" asp-action="AddInstitution" asp-controller="Setup"><i class="fa fa-plus"></i> Add Institution</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function deactivateInstitution(id) {
        if (id) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeactivateInsitution", "Setup")",
                data: { id },
                dataType: "json",
                success: function (data) {
                    alert(data);
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
    }
</script>