﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - TETFund</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/theme/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/theme/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/theme/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/theme/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/theme/dist/css/skins/_all-skins.min.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="~/theme/bower_components/morris.js/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="~/theme/bower_components/jvectormap/jquery-jvectormap.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/theme/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/theme/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/theme/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

    <link rel="stylesheet" href="~/css/calculator.css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-green sidebar-mini">
    <div class="wrapper">

        <header class="main-header">

            <!-- Logo -->
            <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>C</b>B</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>GRANT</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">


                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav"></ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->

            <section>
                <div class="box box-danger">
                    <div class="box-body box-profile">

                        @*<img class="profile-user-img img-responsive img-circle" src='@Url.Content(User.FindFirst(ClaimTypes.StreetAddress).Value)' alt="User profile picture">*@

                        <h3 class="profile-username text-center">@User.Identity.Name </h3>
                        <p class="text-muted text-center text-black">APPLICANT DETAILS </p>
                        <ul class="sidebar-menu" data-widget="tree">
                            <li class="header">MAIN NAVIGATION</li>
                            <li class="active treeview">
                                <a href="#">
                                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">

                                    <li><a asp-action="Index" asp-controller="Server"><i class="fa fa-circle-o"></i>Server Stats</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-pencil-square-o"></i>
                                    <span>Application</span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a asp-action="SubmitConceptNote" asp-controller="Application"><i class="fa fa-sticky-note-o"></i>Submit Concept Note</a></li>
                                    <li><a asp-action="Index" asp-controller="Question"><i class="fa fa-question-circle-o"></i>Question</a></li>
                                    <li><a asp-action="Index" asp-controller="Candidate"><i class="fa fa-user-circle-o"></i>Candidates</a></li>
                                    <li><a asp-action="Index" asp-controller="ExamLogs"><i class="fa fa-address-book-o"></i>Exam Log</a></li>
                                    <li><a asp-action="LoggedInCandidates" asp-controller="Remote"><i class="fa fa-address-card-o"></i>All Logged-In Candidates</a></li>

                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-pencil-square-o"></i>
                                    <span>Result</span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a asp-action="GetScore" asp-controller="Grading"><i class="fa fa-circle-o"></i>View Score</a></li>
                                    <li><a asp-action="GetScoreByBatch" asp-controller="Grading"><i class="fa fa-circle-o"></i>View Score By Batch</a></li>

                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-bell-o"></i>
                                    <span>Settings</span>

                                </a>
                                <ul class="treeview-menu">
                                    <li><a asp-action="Index" asp-controller="Center"><i class="fa fa-circle-o"></i>Centers</a></li>
                                    <li><a asp-action="Index" asp-controller="State"><i class="fa fa-circle-o"></i>States</a></li>
                                    <li><a asp-action="Index" asp-controller="Department"><i class="fa fa-circle-o"></i>Departments</a></li>
                                    <li><a asp-action="Index" asp-controller="Subject"><i class="fa fa-circle-o"></i>Subjects</a></li>
                                    <li><a asp-action="Index" asp-controller="SubjectDepartment"><i class="fa fa-circle-o"></i>Subject Combinations</a></li>
                                    <li><a asp-action="Index" asp-controller="User"><i class="fa fa-circle-o"></i>Users</a></li>
                                </ul>
                            </li>
                        </ul>

                        <a id="logoutBtn" asp-action="Logout" asp-controller="Exam" class="btn btn-block btn-secondary btn-lg">Logout</a>


                    </div>

                </div>
            </section>
            <a asp-action="SubmitConceptNote" asp-controller="Application"><i class="fa fa-circle-o"></i>Submit Concept Note</a>

            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            @*@if (TempData["Message"] != null)
                {
                    @await Html.PartialAsync("_Message", TempData.Get<Message>("Message"))
                }*@

            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year <a href="http://lloydant.com">Lloydant Business Services</a>.</strong> All rights
            reserved.
        </footer>


    </div>
    <!-- ./wrapper -->
    <!-- React -->
    <script src="~/js/lodash.js"></script>
    <!-- React -->
    @*<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.0/umd/react.development.js"></script>
        <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.0/umd/react-dom.development.js"></script>*@
    <!-- jQuery 3 -->
    <script src="~/theme/bower_components/jquery/dist/jquery.js"></script>

    <!-- jQuery UI 1.11.4 -->
    <script src="~/theme/bower_components/jquery-ui/jquery-ui.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/theme/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/theme/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/theme/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/theme/dist/js/adminlte.min.js"></script>
</body>
</html>
