﻿
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TetFundAdmin Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/theme/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/theme/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/theme/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/theme/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/theme/plugins/iCheck/square/blue.css">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700i&display=swap" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        body {
            font-family: Montserrat, sans-serif;
        }

        .monts {
            font-family: Montserrat, sans-serif !important;
        }

        .form-control {
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        }

        .btn {
            border-radius: 3px !important;
            height: 45px;
            padding: 10px !important;
        }

        .btn-primary {
            background: #0f9b0f; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #0f9b0f, #2C7744); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #0f9b0f, #2C7744); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    </style>

</head>

<body class="hold-transition login-page" style="background-color:white; background-size:cover; background-image:url('@Url.Content("~/images/tetfundbackground.jpeg")'); background-repeat:space">
    <div style="width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.35)">

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 ml-auto mr-auto my-auto mx-auto pt-5">

                <div class="card card-shadow p-3" style="margin-top: 15vh; background-color: white">
                    @if (@TempData["Message"] != null)
                    {
                        <div class="callout " style="color: white">

                            @Html.Partial("_Message", TempData["Message"])

                        </div>
                    }

                    <div class="login-logo" style="background-color: white; margin-bottom: 16px !important">
                        <div class="text-center">
                            <img src="~/images/tetfundlogo.png" height="30px">
                        </div>
                        <h3 class=" monts" style="margin:0px; font-size: 28px">National Research Fund</h3>
                        <h4 class=" monts" style="margin:0px; font-size: 20px">Tetfund Grant Platform</h4><hr>
                    </div>
                    <!-- /.login-logo -->

                    <div class="login-box-body" style="padding-top: 0px">
                        <p class="login-box-msg text-black mt-3 monts" style=""><strong>Administrator Log In</strong></p>

                        <form asp-action="Edmslogin" asp-controller="Admin" method="POST" role="form">

                            <div class="form-group has-feedback">
                                <div class="row">
                                    <div class="col-md-4" style="text-align: right !important;">
                                        <label class="monts text-black" style="margin-top: 10px; margin-bottom: 0" for="username">Email</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="email" class="form-control" name="username" required autofocus>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group has-feedback">
                                <div class="row">
                                    <div class="col-md-4" style="text-align: right !important;">
                                        <label class="monts text-black" style="margin-top: 10px; margin-bottom: 0" for="password">Password</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="password" class="form-control" name="password" required>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        SIGN IN
                                    </button>
                                </div>
                            </div>
                        </form>
                        <hr />
                        <div>
                            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary btn-block"
                               style="font-size: .9em;
                                           color: #000; background: transparent;">Return To Home</a>
                        </div>
                    </div>
                    <!-- /.login-box-body -->
                </div>
            </div>
            <!-- /.login-box -->
        </div>
    </div>


    <!-- jQuery 3 -->
    <script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/theme/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/theme/plugins/iCheck/icheck.min.js"></script>
    <script>
                $(function () {
                    $('input').iCheck({
                        checkboxClass: 'icheckbox_square-blue',
                        radioClass: 'iradio_square-blue',
                        increaseArea: '20%' // optional
                    });
                });
    </script>
</body>
</html>

