.bentham {
    font-family: 'Bentham', serif;
}

.text-capitalize {
    text-transform: capitalize;
}

.brand-text {
    font-size: 34px;
    font-weight: 300;
}

.hero-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-sky {
    background-color: #EDF9FE;
}

.head-height {
    min-height: 60vh;
}

.pt-40 {
    padding-top: 40%;
}

.feat-div {
    background-color: #EDF9FE;
    min-height: 55px;
    text-align: center;
    border: 1px solid #0074A2;
    padding: 10px
}

.bg-grey {
    background-color: #EFEFEF;
}

.mh-50 {
    min-height: 90px;
}

.bot-msg {
    background-color: #65D4FF;
    padding: 10px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    color: #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: 300;
    margin-left: -40px;
    clear: both;
}

.user-msg {
    background-color: #75D3B1;
    padding: 10px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    color: #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: 300;
    margin-right: -40px;
    text-align: right;
    
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 80%;
    min-width: 30%;
    right: 0px;
    float: right;
    clear: left;
}

.sm-heading {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
}

.md-heading {
    font-size: 22px;
    font-weight: 700;
}

.bg-light-blu {
    background-color: rgba(0,116,162,.4) !important;
}

.bg-light-green {
    background-color: rgba(0,175,117,.4) !important;
}

.bg-light-yellow {
    background-color: rgba(255,194,26,.4) !important;
}

.proc-title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.testi-div {
    background-color: #00ABEE;
    border-radius: 10px;
    padding: 20px;
}

.testi-div i {
    color: #00ABEE
}

.testi-div p {
    color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.testi-div img {
    height: 90px;
    width: 90px;
    border-radius: 50px;
    
}

.testi-div h3 {
    color: #fff;
    display: inline;
    margin-left: 30px;
}

.foot-div {
    padding: 20px;
    color: #fff !important; 
}

.foot-div ul {
    list-style-type: none;
    margin-top: 15px;
}

.foot-div h3 {
    color: #fff !important
}

.pg-title {
    font-size: 30px !important;
    font-weight: 300;
}

.bg-bleu {
    background-color: #65D4FF;
}

.bg-greene {
    background-color: #174d43;
}

.bg-prpl {
    background-color: #48486d;
}

.min-vh-90 {
    min-height: 90vh !important;
}

.btn.btn-round {
    border-radius: 30px;
}