﻿@model Grant.Web.Infrastructure.MailGunModel
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<!-- Mirrored from wrappixel.com/ampleadmin/ampleadmin-html/email-templates/basic.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 31 May 2018 16:33:08 GMT -->
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Admin Responsive web app kit</title>
</head>
<body style="margin: 0px; background: #f8f8f8;">
    <div width="100%" style="background: #f8f8f8; padding: 0px 0px; font-family: arial; line-height: 28px; height: 100%; width: 100%; color: #514d6a;">
        <div style="max-width: 700px; padding: 50px 0; margin: 0px auto; font-size: 14px">
            <table cellspacing="0" cellpadding="0" border="0" style="color:#333;background:#fff;padding:0;margin:0;width:100%;font:15px/1.25em 'Helvetica Neue',Arial,Helvetica">
                <tbody>
                    <tr width="100%">
                        <td valign="top" align="left" style="background:#eef0f1;font:15px/1.25em 'Helvetica Neue',Arial,Helvetica">
                            <table style="border:none;padding:0 18px;margin:50px auto;width:500px; box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04); border-radius: 10px;">
                                <tbody>

                                    <tr width="100%">
                                        <td valign="top" align="left" style="background:#fff;">

                                            <div style="border-radius:3px">
                                                <br />
                                                <table style="width:100%; text-align:left;">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody style="box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04) !important; border-radius: 10px;">

                                                        <tr width="100%" height="60">
                                                            <td valign="top" align="left" style="border-top-left-radius:4px;border-top-right-radius:4px; padding:21px 10px 18px;text-align:center; font-size:20px;">
                                                                <img src="https://portal.abiastateuniversity.edu.ng/Content/Images/school_logo1.png" height="60" />

                                                            </td>
                                                        </tr>

                                                        <tr style="border-bottom: 2px solid #ccc; text-align: center;  padding: 10px; margin: 10px; font-size: 33px;">
                                                            <td>
                                                                <br />
                                                                <b>@Model.Name</b>
                                                                <br /><br />
                                                            </td>
                                                        </tr>

                                                        <tr style="border-bottom:2px solid #ccc; padding:10px;">

                                                            <td style="padding: 0 20px; font-size: 15px; font-weight: 700;">
                                                                @*<span>Status: </span> <span class="font-weight:500;">@Model.Status.ToUpper() </span>*@
                                                            </td>

                                                        </tr>

                                                        <tr style="border-bottom:2px solid #ccc; padding:20px;">

                                                            <td colspan="2" style="    padding: 20px;">
                                                                @*@if (Model.Status == "OPENED")
                                                                {
                                                                    <span>
                                                                        Dear @Model.Name,<br />

                                                                        Your complaint with ticket number @Model.TicketId has been logged.
                                                                        Be rest assured that we are working to resolve your issue and would revert as soon as possible.

                                                                        Thank you for your patience.
                                                                    </span>
                                                                }
                                                                else
                                                                {*@
                                                                    <span>
                                                                        Dear @Model.Name,<br />

                                                                        Your complaint with ticket number @Model.Name has been resolved.

                                                                        Thank you.


                                                                    </span>
                                                                @*}*@

                                                            </td>
                                                        </tr>


                                                    </tbody>
                                                </table>


                                                <br />
                                            </div>

                                            <p style="font:14px/1.25em 'Helvetica Neue',Arial,Helvetica;color:#333; background:#f2f2f2;     margin-bottom: 0px;  border-top:1px solid #ccc; text-align:center; padding:20px;">
                                                @*<strong>ABSU @DateTime.Now.Year | All rights reserved</strong>*@
                                                <br />Powered By Lloydant
                                            </p>

                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
