﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    overflow-x:hidden;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/* For the on Screen Calculator*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font: normal normal normal 1rem/1.6 Nunito Sans, Helvetica, Arial, sans-serif;
    color: #444;
    background-color: #ddd;
}



.calculator {
    border: 1px solid #dfffdb;
    position: fixed;
    height: 100%;
    width: 100%;
    min-width: 320px;
    min-height: 568px;
    max-width: 414px;
    max-height: 823px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.display-toolbar {
    position: fixed;
    width: 100%;
    height: 40%;
    left: 0;
    top: 0;
    display: flex;
    flex-flow: column;
    -ms-flex-flow: column;
    justify-content: space-between;
}

.buttons {
    position: fixed;
    width: 100%;
    height: 60%;
    left: 0;
    top: 40%;
    background-color: rgb(255, 255, 255);
    padding: 0.25rem;
    margin: 0;
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    justify-content: space-around;
    z-index: 100;
}

.history {
    position: fixed;
    width: calc(75% - 0.25rem);
    height: calc(60% * 4 / 5 - 0.25rem);
    left: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #c6c6c6;
    opacity: 1;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    z-index: 101;
}

    .history.hidden {
        z-index: 99;
        opacity: 0;
    }



/* button */

.buttons button {
    display: block;
    -webkit-box-flex: 1;
    flex: 1 1 calc(25% - 0.5rem);
    width: 25%;
    margin: 0.25rem;
    font-size: 1.75rem;
    outline: none;
    border: 1px solid #c6c6c6;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
    color: #444;
    background-color: #f5f5f5;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

    .buttons button:hover {
        border: 1px solid #aaa;
    }

    .buttons button:active {
        background-color: rgba(0, 0, 0, 0.8);
        outline: none;
    }

    .buttons button:focus {
        outline: none;
    }

#parenthesis-open,
#parenthesis-close,
#modulo,
#clear,
#divide,
#multiply,
#subtract,
#add {
    background-color: #d6d6d6;
}

    #parenthesis-open:active,
    #parenthesis-close:active,
    #modulo:active,
    #clear:active,
    #divide:active,
    #multiply:active,
    #subtract:active,
    #add:active,
    #equals:active,
    #clear:active {
        background-color: rgba(0, 0, 0, 0.8);
    }

    #parenthesis-open:hover,
    #parenthesis-close:hover,
    #modulo:hover,
    #clear:hover,
    #divide:hover,
    #multiply:hover,
    #subtract:hover,
    #add:hover {
        border: 1px solid #aaa;
    }

#equals {
    color: #f5f5f5;
    background-color: #3da4ab;
    font-weight: 700;
}

#clear {
    color: #f5f5f5;
    font-weight: 700;
    background-color: #fc5d76;
}


/* history */

.history-list {
    height: 100%;
    padding-bottom: 50px;
}

.history-item {
    text-align: right;
}

    .history-item hr {
        color: #aaa;
        size: 1px;
    }

.history-item-formula {
    color: #888;
    padding: 15px 15px 0 15px;
}

.history-item-result {
    color: #3da4ab;
    padding: 0 15px;
}

    .history-item-result:hover {
        cursor: pointer;
        color: #0e9aa7;
    }

.bottom-btns {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

    .bottom-btns button {
        text-transform: uppercase;
        font-size: 1.15rem;
        font-weight: 700;
        padding: 10px 15px;
        width: 50%;
        text-align: center;
        background-color: #3da4ab;
        outline: none;
        border: none;
        color: #fff;
        -webkit-transition: background-color 0.35s ease-out;
        -moz-transition: background-color 0.35s ease-out;
        transition: background-color 0.35s ease-out;
    }

        .bottom-btns button:hover {
            cursor: pointer;
            background-color: #0e9aa7;
        }

#calculate {
    border-left: 1px solid #ddd;
}



/* toolbar */

/* Display */

.display {
    width: 100%;
    display: flex;
    flex-flow: column;
    -ms-flex-flow: column;
    justify-content: space-between;
    padding: 15px 15px 0 15px;
    background-color: #fff;
    flex-grow: 1;
}

.display-formula,
.display-input {
    width: 100%;
    resize: none;
    font-family: Nunito Sans, Helvetica, Arial, sans-serif;
    border: none;
    outline: none;
    text-align: right;
    background-color: inherit;
}

.display-formula {
    flex-grow: 1;
    font-size: 2rem;
}

.display-input {
    flex-shrink: 0;
    font-size: 1.75rem;
    color: #888;
    white-space: nowrap;
    padding-bottom: 15px;
}

/* Toolbar */

.toolbar {
    background-color: #fff;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    padding: 10px 15px;
    color: #3da4ab;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
    flex-shrink: 0;
}

.toolbar-item:hover {
    cursor: pointer;
    color: #0e9aa7;
}

#view-history {
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
}

#backspace {
    margin-left: 30px;
    font-size: 1.5rem;
}

#view-github {
    color: #3da4ab;
    font-size: 1.5rem;
}

    #view-github:hover {
        color: #0e9aa7;
    }

@media (min-width: 768px) {
    #view-github {
        display: none;
    }
}
