﻿@model Grant.Web.Models.ViewModels.RegistrationViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>TETFund Account</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/theme/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/theme/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/theme/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/theme/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/theme/plugins/iCheck/square/blue.css">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700i&display=swap" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        body {
            font-family: Montserrat, sans-serif !important;
        }

        .card-shadow {
            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        }

        .form-control {
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        }

        .btn {
            border-radius: 3px !important;
            height: 45px;
            padding: 10px !important;
        }

        .btn-primary {
            background: #0f9b0f; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #0f9b0f, #2C7744); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #0f9b0f, #2C7744); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

        .monts {
            font-family: Montserrat, sans-serif !important;
        }

        .btn-outline-success {
            color: #1f9877;
            border-color: #1f9877;
            background-color: transparent;
            background-image: none;
        }

            .btn-outline-success:hover {
                color: #fff;
                border-color: #1f9877;
                background-color: #1f9877
            }
    </style>

</head>

<body class="hold-transition login-page" style="
      min-height: 100vh;
      width: 100vw;
      background-image: url('@Url.Content("~/images/tetfundbackground.jpeg")');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;">

    <div style="width: 100vw; min-height: 100vh; background: rgba(0, 0, 0, 0.35)">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 ml-auto mr-auto my-auto mx-auto pt-5">

                <div class="card card-shadow p-3" style="margin-top: 10vh; background-color: white">
                    @if (@TempData["Message"] != null)
                    {
                        <div class="callout " style="color: white">

                            @Html.Partial("_Message", TempData["Message"])

                        </div>
                    }

                    <div class="login-logo" style="background-color: white; margin-bottom: 16px !important">
                        <div class="text-center">
                            <img src="~/images/tetfundlogo.png" height="30px">
                        </div>
                        <h5 class="monts" style="margin:0px; font-size: 20px">National Research Fund Grant Application Platform </h5><hr />

                    </div>
                    <!-- /.login-logo -->

                    <div class="login-box-body" style="padding-top: 0px">
                        <p class="login-box-msg text-black mt-3 monts" style="font-size: 16px; margin-top: 16px"><strong>Register Account</strong></p>

                        <form asp-action="CompleteRegistration" asp-controller="Home" method="POST" role="form">
                            <input type="hidden" asp-for="OneTimeValidator" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                               
                                <div class="col-md-6 form-group has-feedback">
                                    <div class="row">
                                        <div class="col-md-4" style="text-align: right !important;">
                                            <label class="monts text-black"
                                                   style="margin-top: 10px; margin-bottom: 0;
                                           font-weight: 400" for="name">Select Title</label>
                                        </div>
                                        <div class="col-md-8">
                                            <select asp-for=User.Reviewer.TitleId class="form-control"
                                                    asp-items=Model.TitleNameSL required>
                                                <option value="">-- Select Title --</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 form-group has-feedback">
                                    <div class="row">
                                        <div class="col-md-4" style="text-align: right !important;">
                                            <label class="monts text-black font-weight-lighter"
                                                   style="margin-top: 10px; margin-bottom: 0;
                                           font-weight: 400" for="phone">Phone No.</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input asp-for="User.Reviewer.PhoneNo" class="form-control" pattern="^0\d{10}" required />
                                            <span asp-validation-for="User.Reviewer.PhoneNo" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="row">

                                <div class="col-md-6 form-group has-feedback">
                                    <div class="row">
                                        <div class="col-md-4" style="text-align: right !important;">
                                            <label class="monts text-black"
                                                   style="margin-top: 10px; margin-bottom: 0;
                                           font-weight: 400" for="name">Full Name</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input asp-for="User.Reviewer.Name" class="form-control" required />
                                            <span asp-validation-for="User.Reviewer.Name" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group has-feedback">
                                    <div class="row">
                                        <div class="col-md-4" style="text-align: right !important;">
                                            <label class="monts text-black"
                                                   style="margin-top: 10px; margin-bottom: 0;
                                           font-weight: 400" for="email">E-mail</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input asp-for="User.Email" type="email" class="form-control" id="email" readonly required />
                                            <span asp-validation-for="User.Email" class="text-danger"></span>

                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-md-6 form-group has-feedback">
                                    <div class="row">
                                        <div class="col-md-4" style="text-align: right !important;">
                                            <label class="monts text-black font-weight-lighter"
                                                   style="margin-top: 10px; margin-bottom: 0;
                                           font-weight: 400" for="institution">Institution Type</label>
                                        </div>
                                        <div class="col-md-8">
                                            <select id="InstitutionCategoryId" asp-for=InstitutionCategoryId class="form-control"
                                                    asp-items=Model.InstitutionCategoryNameSL required>
                                                <option value="">-- Select Higher Education Sector --</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group has-feedback" style="display:none" id="institutionDiv">
                                    <div class="row">
                                        <div class="col-md-4" style="text-align: right !important;">
                                            <label class="monts text-black font-weight-lighter"
                                                   style="margin-top: 10px; margin-bottom: 0;
                                           font-weight: 400" for="institution name">Institution</label>
                                        </div>
                                        <div class="col-md-8">
                                            <select asp-for="User.Reviewer.InstitutionId" class="form-control" id="InstitutionId"
                                                    name="User.Reviewer.InstitutionId" data-url="@Url.Action("GetInstitution")" required></select>
                                            <span asp-validation-for="User.Reviewer.InstitutionId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">


                                

                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group has-feedback">
                                    <div class="row">
                                        <div class="col-md-4" style="text-align: right !important;">
                                            <label class="monts text-black font-weight-lighter"
                                                   style="margin-top: 10px; margin-bottom: 0;
                                           font-weight: 400" for="password">Password</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input asp-for="Password" pattern="(^(?=(.*[a-zA-Z].*){1,})(?=.*\d.*)(?=.*\W.*)[a-zA-Z0-9\S]|^(?=(.*[a-zA-Z].*){1,})(?=.*\d.*)[a-zA-Z0-9\S]|^(?=(.*[a-zA-Z].*){1,})(?=.*\W.*)[a-zA-Z0-9\S]{8,15}$)" title="Password must match the required pattern of at least one letter, one number, one special character and must be 8-15 characters in length (E.g. abcdn#09 or new@man3)" class="form-control" required type="password" id="password"/>
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 form-group has-feedback">
                                    <div class="row">
                                        <div class="col-md-4" style="text-align: right !important;">
                                            <label class="monts text-black font-weight-lighter"
                                                   style="margin-top: 10px; margin-bottom: 0;
                                           font-weight: 400" for="confirm password">Confirm Password</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input asp-for="ConfirmPassword" pattern="(^(?=(.*[a-zA-Z].*){1,})(?=.*\d.*)(?=.*\W.*)[a-zA-Z0-9\S]|^(?=(.*[a-zA-Z].*){1,})(?=.*\d.*)[a-zA-Z0-9\S]|^(?=(.*[a-zA-Z].*){1,})(?=.*\W.*)[a-zA-Z0-9\S]{8,15}$)" title="Password must match the required pattern of at least one letter, one number, one special character and must be 8-15 characters in length (E.g. abcdn#09 or new@man3)" class="form-control" required type="password" onpaste="return false" onCopy="return false" onCut="return false" id="confirm-password" />
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br />
                            <hr />
                            <div class="row">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4">
                                    <button id="saveBtn" type="submit" class="btn btn-primary btn-block">
                                        SUBMIT
                                    </button>
                                </div>
                                <div class="col-md-4">
                                </div>
                            </div>
                        </form>


                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="termsModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="font-weight-500">
                        Terms of Service
                    </h3>
                </div>
                <div class="modal-body">
                    <section class="content">
                        <div class="text-justify">
                            <div>
                                Please read these terms of service carefully and click on the "I Accept" button at the bottom of the page before using the <b>TETFund National Research Fund Electronic</b> Document Management System operated by our technical consultants, <b>LloydAnt Business Services</b>.
                            </div>
                            <br />
                            <h4 class="fs-subtitle monts text-left">
                                Conditions of Use
                            </h4>

                            <hr />
                            <div>


                                We will provide to you, systems and services to allow you register as a Principal Investigator and make Concept Note and Full Proposal submissions to the National Research fund. This is subject to the conditions stated below in this document. Every time you visit this website, use its services or make a submission, you accept the following conditions. This is why we urge you to read them carefully.
                            </div>
                            <br />

                            <h4 class="fs-subtitle monts text-left">
                                Privacy Policy
                            </h4>

                            <hr />
                            <div>
                                Before you continue using our website we advise you to read our privacy policy <a asp-action="PrivacyPolicy" asp-controller="Home">nrf.tetfund.gov.ng/privacy-policy</a>  regarding our user data collection. It will help you better understand our practices.
                            </div>
                            <br />
                            <h4 class="fs-subtitle monts text-left">
                                Copyright
                            </h4>

                            <hr />
                            <div>
                                Content published on this website (digital downloads, images, texts, graphics, logos) is the property of TETFund National Research Fund and/or its content creators and protected by international copyright laws. The entire compilation of the content found on this website is the exclusive property of the TETFund National Research Fund, with copyright authorship for this compilation by the TETFund National Research Fund.
                            </div>
                            <br />
                            <h4 class="fs-subtitle monts text-left">
                                Communications
                            </h4>

                            <hr />
                            <div>

                                The entire communication with us is electronic. Every time you send us an email or visit our website, you are going to be communicating with us. You hereby consent to receive communications from us. If you subscribe to the news on our website, you are going to receive regular emails from us. We will continue to communicate with you by posting news and notices on our website and by sending you emails. You also agree that all notices, disclosures, agreements and other communications we provide to you electronically meet the legal requirements that such communications be in writing.
                            </div>
                            <br />
                            <h4 class="fs-subtitle monts text-left">
                                Applicable Law
                            </h4>

                            <hr />
                            <div>
                                By visiting this website, you agree that the laws of the country Nigeria, without regard to principles of conflict laws, will govern these terms of service, or any dispute of any sort that might come between TETFund National Research Fund and you, or its business partners and associates.

                            </div>
                            <br />
                            <h4 class="fs-subtitle monts text-left">
                                Disputes
                            </h4>

                            <hr />
                            <div>

                                Any dispute related in any way to your visit to this website shall first be subjected to an amicable settlement by the parties. However, if such efforts fail, then all such differences or disputes between the parties, arising out of or in connection with this use of the system, shall be submitted to an arbitration process as provided herein. For this, either Party may, by a written notice of thirty (30) days to the other Party, request for arbitration. The arbitration shall be in accordance with the provisions of the Nigerian Arbitration and Conciliation Act, CAP A18, LFN 2004.

                                The arbitration proceedings shall take place in FCT. The language of the proceedings, documentation, and the award will be English.
                            </div>
                            <br />
                            <h4 class="fs-subtitle monts text-left">
                                Comments, Reviews, and Emails
                            </h4>

                            <hr />

                            <div>
                                Visitors may post content as long as it is not obscene, illegal, defamatory, threatening, infringing of intellectual property rights, invasive of privacy or injurious in any other way to third parties. Content has to be free of software viruses, political campaign, and commercial solicitation.

                                We reserve all rights (but not the obligation) to remove and/or edit such content. When you post your content, you grant the TETFund National Research Fund non-exclusive, royalty-free and irrevocable right to use, reproduce, publish, modify such content throughout the world in any media.
                            </div>
                            <br />
                            <h4 class="fs-subtitle monts text-left">
                                License and Site Access
                            </h4>

                            <hr />

                            <div>

                                We grant you a limited license to access and make personal use of this website. You are not allowed to download or modify it. This may be done only with written consent from us.
                            </div>
                            <br />
                            <h4 class="fs-subtitle monts text-left">
                                User Account
                            </h4>

                            <hr />

                            <div>

                                If you are an owner of an account on this website, you are solely responsible for maintaining the confidentiality of your private user details (username and password). You are responsible for all activities that occur under your account or password.

                                We reserve all rights to terminate accounts, edit or remove content and cancel orders in their sole discretion.

                            </div>

                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" id="accept" class="btn btn-outline-success" data-dismiss="modal">I Accept.</button>

                </div>
            </div>

        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery 3 -->
    <script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/theme/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/theme/plugins/iCheck/icheck.min.js"></script>
    <script>
        var preselectedInstitution = 0;
        const newPassword = document.querySelector("#password");
        const confirmPassword = document.querySelector("#confirm-password");
        const submitBtn = document.querySelector("#saveBtn");
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });

        //Populate institution with selected school category Id
        $(function () {

            $("#InstitutionCategoryId").change(function () {
                var v = $(this).val();

                loadInstitutions(v);
            })

        })
        $(document).ready(function () {
            preselectedInstitution = $('#ReturnInstitutionId').val();
            $("#accept").on('click', function (e) {
                localStorage.setItem("Tos", true);

            })
            var showTOS = localStorage.getItem("Tos")
            if (showTOS == null || showTOS == "false") {
                $("#termsModal").modal('show');

            }

            //Populate institution on reload
            if ($("#InstitutionCategoryId").val() > 0) {
                var v=$("#InstitutionCategoryId").val();
                loadInstitutions(v);
            }
            document.querySelector("#confirm-password").addEventListener("blur", () => {
                if (newPassword.value != confirmPassword.value) {
                    $('#saveBtn').attr('disabled', true);
                    alert("Passwords do not match");

                }
                else {
                    $('#saveBtn').attr('disabled', false);
                }
            });
        })

        function loadInstitutions(v) {
            var url = $("#InstitutionId").data("url") + '?value=' + v;
            $("#institutionDiv").hide();
            $.getJSON(url, function (institutionList) {
                if (institutionList != null) {
                    $("#institutionDiv").show();
                    $("#InstitutionId").empty();

                    $("#InstitutionId").append('<option value="' + 0 + '">' +
                        '-- Select Your Public Institution --' + '</option>');
                    $.each(institutionList, function (i, inst) {
                        $("#InstitutionId").append('<option value="' + inst.value + '">' +
                            inst.text + '</option>');
                    });
                    if (preselectedInstitution > 0) {
                        $('#InstitutionId').val(preselectedInstitution);
                    }
                }



            });
        }
    </script>

</body>
</html>

