﻿
@{
    Layout = null;
    ViewData["Title"] = "Ooops";

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>TETFund Account</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    @*<link rel="stylesheet" href="~/theme/bower_components/bootstrap/dist/css/boostrap_four.css">*@
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/theme/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/theme/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    @*<link rel="stylesheet" href="~/theme/dist/css/AdminLTE.min.css">*@
    <!-- Kit CSS -->
    <link rel="stylesheet" href="~/theme/desyn_system/assets/css/style.css" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/theme/desyn_system/assets/css/custom.css" type="text/css">
    <link rel="stylesheet" href="~/theme/desyn_system/assets/css/animate.css" type="text/css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/theme/plugins/iCheck/square/blue.css">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>

        body {
            font-family: Poppins, sans-serif;
        }

        .monts {
            font-family: Poppins, sans-serif !important;
        }

        .card-shadow {
            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        }

        .form-control {
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        }

        /*.btn {
            border-radius: 3px !important;
            height: 45px;
            padding: 10px !important;
        }*/

        .btn-primary {
            background: #0f9b0f; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #0f9b0f, #2C7744); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #0f9b0f, #2C7744); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

        .nav-pills.nav-pills-success .nav-item .nav-link {
            color: #0f9b0f;
        }

            .nav-pills.nav-pills-success .nav-item .nav-link.active {
                background: #0f9b0f;
                background: -webkit-linear-gradient(to right, #0f9b0f, #2C7744); /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #0f9b0f, #2C7744); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                color: #fff;
            }
    </style>
</head>
<body class="hold-transition login-page" style="background-color:white; background-size:cover; background-image:url('@Url.Content("~/images/tetfundbackground.jpeg")'); background-repeat:space">
    <div style="width: 100vw; min-height: 100vh; background: rgba(0, 0, 0, 0.35)">
        <div class="row">
            <div class="col-md-4 ml-auto mr-auto my-auto mx-auto pt-5">
                <div class="card card-shadow p-3" style="margin-top: 10vh">


                    <!-- /.login-logo -->
                    <div class="login-box-body pt-0">

                        <div class="card shadow">

                            <div class="mt-5">
                                <div class="text-center">

                                    


                                    <p2>Your session has expired due to inactivity;</p2>
                                    <p2>Please click below to login</p2>
                                    
                                    <br>
                                    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-success mt-5">
                                        Return To Login
                                    </a>

                                </div>
                            </div>
                        </div>



                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- /.login-box -->
    <script src="~/theme/desyn_system/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/theme/bower_components/jquery-ui/jquery-ui.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script src="~/theme/desyn_system/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/theme/desyn_system/assets/vendor/js-cookie/js.cookie.js"></script>
    <script src="~/theme/desyn_system/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/theme/desyn_system/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
    <!-- jQuery 3 -->
    <script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
    <!-- Bootstrap 3.3.7 -->
    @*<script src="~/theme/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>*@
    <!-- JS -->
    <script src="~/theme/desyn_system/assets/js/argon.min9f1e.js?v=1.1.0"></script>
    <!-- iCheck -->
    <script src="~/theme/plugins/iCheck/icheck.min.js"></script>

</body>
</html>
