﻿@model Grant.Web.Models.ViewModels.UserViewModel
@using  Newtonsoft.Json;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>TETFund Account</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    @*<link rel="stylesheet" href="~/theme/bower_components/bootstrap/dist/css/boostrap_four.css">*@
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/theme/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/theme/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    @*<link rel="stylesheet" href="~/theme/dist/css/AdminLTE.min.css">*@
    <!-- Kit CSS -->
    <link rel="stylesheet" href="~/theme/desyn_system/assets/css/style.css" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/theme/desyn_system/assets/css/custom.css" type="text/css">
    <link rel="stylesheet" href="~/theme/desyn_system/assets/css/animate.css" type="text/css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/theme/plugins/iCheck/square/blue.css">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>

        body {
            font-family: Poppins, sans-serif;
        }

        .monts {
            font-family: Poppins, sans-serif !important;
        }

        .card-shadow {
            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        }

        .form-control {
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        }

        /*.btn {
            border-radius: 3px !important;
            height: 45px;
            padding: 10px !important;
        }*/

        .btn-primary {
            background: #0f9b0f; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #0f9b0f, #2C7744); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #0f9b0f, #2C7744); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

        .nav-pills.nav-pills-success .nav-item .nav-link {
            color: #0f9b0f;
        }

            .nav-pills.nav-pills-success .nav-item .nav-link.active {
                background: #0f9b0f;
                background: -webkit-linear-gradient(to right, #0f9b0f, #2C7744); /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #0f9b0f, #2C7744); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                color: #fff;
            }
    </style>
</head>
<body class="hold-transition login-page" style="background-color:white; background-size:cover; background-image:url('@Url.Content("~/images/tetfundbackground.jpeg")'); background-repeat:space">
    <div style="width: 100vw; min-height: 100vh; background: rgba(0, 0, 0, 0.35)">
        <div class="row">
            <div class="col-md-4 ml-auto mr-auto my-auto mx-auto pt-5">
                <div class="card card-shadow p-3" style="margin-top: 10vh">
                    @if (@TempData["Message"] != null)
                    {
                        <div class=" " style="color: white">
                            <partial name="_Message" model="@TempData["Message"]" />
                        </div>
                        <hr />
                    }
                    <div class="login-logo text-center mb-0">
                        <div class="text-center mb-2">
                            <img src="~/images/tetfundlogo.png" height="30px">
                        </div>
                        <h2 class=" monts">National Research Fund</h2>
                        <h4 class=" monts">Grant Application Platform</h4>
                        <hr class="my-2">
                    </div>
                    <!-- /.login-logo -->
                    <div class="login-box-body pt-0">
                        @*<div class="nav-wrapper">
            <ul class="nav nav-pills nav-pills-success justify-content-center flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true">Assessor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false">Researcher</a>
                </li>
            </ul>
        </div>*@
                        <div class="card shadow">
                            <div class="card-body">
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">

                                        <h3 class="text-center mt-3" style=""><strong>Sign In</strong></h3>
                                        <form asp-action="login" asp-controller="Home" method="POST" role="form">

                                            <div class="form-group has-feedback mt-3">
                                                <div class="row">
                                                    <div class="col-md-4" style="text-align: right !important;">
                                                        <label class="monts text-black" style="margin-top: 10px; margin-bottom: 0" for="registrationno">E-mail</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control" placeholder="" name="registrationno" required autofocus>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group has-feedback">
                                                <div class="row">
                                                    <div class="col-md-4" style="text-align: right !important;">
                                                        <label class="monts text-black" style="margin-top: 10px; margin-bottom: 0" for="password">Password</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <input type="password" class="form-control" placeholder="" name="password">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group has-feedback">
                                                <div class="row">
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-4">
                                                        <button type="submit" class="btn btn-primary btn-block">SIGN IN</button>
                                                    </div>
                                                </div>
                                                <hr />
                                                <a asp-area="" asp-controller="Home" asp-action="Register"
                                                   class="btn btn-outline-light btn-block my-2" style="font-size: .9em;
                                                   color: black; background: transparent;">
                                                    New Principal Investigator? Create Account here.
                                                </a>
                                                <div class="row text-center mb-2">
                                                    <div class="col-md-6">
                                                        <a asp-controller="Home" asp-action="ForgotPassword" class="btn btn-sm btn-default"
                                                           style="font-size: .9em; color: black; background: transparent;">
                                                            Forgot password?
                                                        </a>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <a href="@Url.Content("~/UserGuides/NRF Research Brief.pdf")"
                                                           download="Research Guide" class="btn btn-sm btn-primary"
                                                           style="font-size: .9em;">
                                                            <i class="fa fa-download"></i>
                                                            Research Brief
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">

                                        <h3 class="text-center mt-3" style=""><strong>Researcher Sign In</strong></h3>
                                        <form asp-action="login" asp-controller="Home" method="POST" role="form">
                                            @*<input name="isReseacher" type="checkbox" style="display:none" value="true" />*@
                                            <div class="form-group has-feedback mt-3">
                                                <div class="row">
                                                    <div class="col-md-4" style="text-align: right !important;">
                                                        <label class="monts text-black" style="margin-top: 10px; margin-bottom: 0" for="registrationno">E-mail</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control" placeholder="" name="registrationno" required autofocus>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group has-feedback">
                                                <div class="row">
                                                    <div class="col-md-4" style="text-align: right !important;">
                                                        <label class="monts text-black" style="margin-top: 10px; margin-bottom: 0" for="password">Password</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <input type="password" class="form-control" placeholder="" name="password">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group has-feedback">
                                                <div class="row">
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-4">
                                                        <button type="submit" class="btn btn-primary btn-block">SIGN IN</button>
                                                    </div>
                                                </div>
                                                <hr />
                                                <a asp-area="" asp-controller="Home" asp-action="Register"
                                                   class="btn btn-outline-light btn-block my-2" style="font-size: .9em;
                                                   color: black; background: transparent;">
                                                    New Principal Investigator? Create Account here.
                                                </a>
                                                <div class="row text-center mb-2">
                                                    <div class="col-md-6">
                                                        <a asp-controller="Home" asp-action="ForgotPassword" class="btn btn-sm btn-default"
                                                           style="font-size: .9em; color: black; background: transparent;">
                                                            Forgot password?
                                                        </a>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <a href="@Url.Content("~/UserGuides/NRF Research Brief.pdf")"
                                                           download="Research Guide" class="btn btn-sm btn-primary"
                                                           style="font-size: .9em;">
                                                            <i class="fa fa-download"></i>
                                                            Research Brief
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <a asp-controller="Home" asp-action="PrivacyPolicy" class="d-block text-center my-3 text-primary"
                           style="font-size: .9em; background: transparent;">
                            Privacy Policy
                        </a>

                        @*<a asp-action="PrivacyPolicy" asp-controller="Home" class="text-center my-3 text-primary" style="font-size: .9em; background: transparent;">Privacy-Policy</a>*@
                    </div>
                    @*<div>
                            <a asp-controller="Home" asp-action="ForgotPassword" class="btn btn-secondary btn-block"
                               style="font-size: .9em;
                                               color: black; background: transparent;">Forgot your password?</a>
                        </div>
                        <div>
                            <a asp-controller="Home" asp-action="login2" class="btn btn-secondary btn-block"
                               style="font-size: .9em;
                                               color: indianred; background: transparent;">Admin Log In</a>
                        </div>*@
                    <!-- /.login-box-body -->
                </div>
            </div>
        </div>
    </div>

    <!-- /.login-box -->
    <script src="~/theme/desyn_system/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/theme/bower_components/jquery-ui/jquery-ui.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script src="~/theme/desyn_system/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/theme/desyn_system/assets/vendor/js-cookie/js.cookie.js"></script>
    <script src="~/theme/desyn_system/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/theme/desyn_system/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
    <!-- jQuery 3 -->
    <script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
    <!-- Bootstrap 3.3.7 -->
    @*<script src="~/theme/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>*@
    <!-- JS -->
    <script src="~/theme/desyn_system/assets/js/argon.min9f1e.js?v=1.1.0"></script>
    <!-- iCheck -->
    <script src="~/theme/plugins/iCheck/icheck.min.js"></script>
    <script>
        localStorage.setItem("Tos", false)
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });


        });
    </script>
</body>
</html>
