﻿@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_PolicyLayout.cshtml";
}

    <section class="content">



        <div class="text-justify">

            <h2 class="fs-subtitle monts text-center">
                PRIVACY POLICY
            </h2>
            <br />
            <hr />
            <div>
                The Tertiary Trust Education Fund TETFund and LloydAnt Business Services Ltd., are committed to protecting your privacy, and that includes protecting the privacy of any data you share with us in the course of your use of the Service. This Policy sets out what data we collect, what we do with your data, when and how we store your data, and what you can do if you have questions or wish to exercise rights you have with respect to your data. This Policy is a legally binding agreement between you and us along with our Terms of Service and any other agreements you have with us that refer to it. If you do not wish to be bound by it, you should not use this Service.
                Terms defined in the Terms of Service have the same definitions here unless stated otherwise.
            </div>
            <br />
            <hr />
            <h3 class="fs-subtitle monts text-left"> I. Data We Collect</h3>
            <br />
            <div>
                Through the use of pages on this website and interaction with our products and services, we may collect data from you. Sometimes the data we collect relates to you or identifies you. In this policy, data that relates to or identifies a natural person is “personal data.” Our goal is always to maintain the highest levels of privacy and security with your personal data, in keeping with the principles of the Federal Trade Commission Act and related regulations, the General Data Protection Regulation, and applicable local privacy laws. We will always try to give you appropriate notice of what data we collect and how we will use it, and we will only process your Data when we consider it fair and lawful to do so.
                We may receive, collect, and store the following Data from you:
                i.	Records of Your Use of the NRF website. We may record your use of the website, located at https://nrf.tetfund.gov.ng, and any associated subdomains, through cookies and otherwise. These records may include: logs; information about your computer or mobile device such as if applicable your IP address, operating system, browser, mobile carrier, or device identifying information; and which records are used to store your preferences, record user-specific information on which pages you access or visit, ensure that you are not repeatedly sent the same advertising, customize content based on your browser type, and for analytics purposes, sometimes used by third-party services like Google Analytics. For more information on Google’s Analytics privacy policies, please visit this site. From time to time the Website may also use other third-party services to track statistics regarding our audience or traffic on the Website. No personally-identifiable information is transferred from the Website to Google Analytics or to any other third-party service.
                ii.	Records of voluntary correspondence between us and you. This includes, for example, records of our communication for purposes of support services. When you use the Service, we may ask you for information such as your name, email address, telephone number, age, along with other information dependent on the services we provide. This also includes information you provide by completing forms on our website or in our products and services including the Service. If you register with the website we may use your telephone number or email address to alert you about new information and new services. You may opt-out of these communications by following the procedures set forth in this Policy. This information is voluntarily provided, subject to the terms of this Policy and other agreements you may have with us.
                iii.	Comments, posts, or other data you upload to the Website. This includes, for example, posts made in the bulletin discussion board on your account.
                iv.	Tracking pixels to monitor email use. When our emails are sent to recipients, the Service embeds tracking pixels into the emails which track performance, such as who opened the emails, who clicked on links within the emails, etc. This information may be shared with our associates, partners, or other third parties in order to track performance and assist us in improving features. These tracking pixels may also track IP addresses, browser types, and other non-personally-identifying information.
                v.	Server logs. Both the Service and Website log activity to files. We use these logs to provide site-wide reporting, to ensure smooth operation of the Service, and for maintenance for the Website and Service. Logged information may included timestamps, IP addresses, and visited pages. Our detailed server logs are not shared with any third parties. However, we may elect to publish aggregate statistics on visitor activity based on the contents of these logs (e.g., “we had 1,000 visitors yesterday”). We will never publish personally-identifiable information in these statistics.

            </div>

            <br />
            <hr />
            <h3 class="fs-subtitle monts text-left">II. Use of Cookies</h3>
            <br />
            <div>

                First Party Cookies
                We require cookies to ensure the correct functioning of the Website and Service. We use these first party cookies (“First Party Cookies”) for these purposes only. If you disable First Party Cookies in your browser, you will be unable to use the Service.
                Third Party Cookies
                We do not engage third party data providers or ad servers and as such do not require third party cookies.
            </div>
            <br />
            <hr />
            <h3 class="fs-subtitle monts text-left">III. Use of Data </h3>
            <br />
            <div>
                Why We Collect Data
                Sometimes the reason for collection of Data will be obvious (such as when you give us your email address to allow us to contact you). When it is not, we will describe to you at the time of collection the purpose for collecting the data and most likely ask for your consent. To the extent possible, we anonymize or pseudonymize data we collect from you.
                In general, we do not intentionally collect sensitive personal data. Sensitive personal data refers to personal identity numbers; financial account information; information concerning racial or ethnic origin; political opinions; religious, philosophical, or other beliefs; membership in trade unions or professional or trade associations; physical or mental health information; biometric data; genetic data; data concerning sexual activity or orientation; or data concerning criminal records or suspected criminal activity. However, if you provide us with sensitive personal data, whether through the Website or through any of our products or services, including the Service, you explicitly consent to our use and processing of that data.
                How We Use Data
                We use the data we collect from you to provide information and services you have requested and to allow you to interact with us and the website.
                This may include sending you emails from time to time; these emails always contain either information you have requested or that you have consented to receive, or information we have a legitimate interest in delivering (such as notices of service changes). You can always unsubscribe from any email list by clicking the indicated link in the email.
                Additionally, our website uses cookies to obtain your IP address, browser information, and information about the technology you use to interact with us by placing a piece of software into your browser. If you wish to change the way cookies work or remove them, you can do so by changing your browser’s preferences or settings. Doing so may impact the way the website appears or functions for you.
                When applicable we analyze this information to improve our website, improve the products and services we provide, and to protect us and you from malicious web activity.

            </div>




            <br />
            <hr />
            <h3 class="fs-subtitle monts text-left">IV. Data Access and Security </h3>
            <br />
            <div>
                Viewing and Deleting Your Data
                We provide access to the information in your registration profile for the purpose of viewing and updating the information. We take reasonable steps to ensure that the information we process is accurate, but we depend on you to update or correct your personal data whenever necessary.
                In general, we keep your data as long as necessary to provide the service you requested and reserve all rights to terminate accounts or remove content where necessary. If you have an account with us, we will keep the data connected to your account in order to help us remember information about previous interactions with you (for example, records of support service) or in order to comply with our legal and contractual obligations. If your account is inactive, your data will only be stored so that the account can be reactivated in the future, and your data will not be processed for any other purpose. You can ask us to destroy your data at any time by following the procedures outlined in this policy, but if we do not have certain information about you, it may be impossible for us to provide any services to you.

                Physical Location of Data
                We are a business located in Nigeria, and we abide by the laws of the Federal Republic of Nigeria with respect to data protection and privacy. By using the Service you consent to the use and storage of your information. However, data we collect may be routed or transferred internationally by us or by our business partners during the course of providing products and services to you and others, including the Service. Your Data may be transferred to and maintained on computers located outside of your state, province, country, or other jurisdiction where the privacy laws may be less protective than those in your local jurisdiction. By using the Service you accept all risk associated with this.

                Data Security
                The security of your Data is vitally important to us. We employ commercially reasonable safeguards to protect your Data, both during transmission and upon receipt. We take a number of steps to ensure that data we collect is protected from unauthorized access, alteration, disclosure, or destruction, including the following:
                i.	Many of our services are encrypted using SSL.
                ii.	We regularly review our data collection, storage, and processing practices, including physical and electronic security measures.
                iii.	We restrict access to your personal data to only those employees, agents, and business partners who need access to it in order to deliver requested products and services.
                iv.	All of our employees, agents, and business partners are subject to strict confidentiality and nondisclosure obligations, the violation of which may result in termination and/or liability.
                v.	All of our employees and agents receive regular appropriate training, including training in information privacy suitable to their respective fields and disciplines.
                Understand, however, that no transmission of data over the internet is absolutely secure, and no method of electronic storage is failsafe. We cannot and do not guarantee the security of your data.
                In the event of a breach of security, we will take commercially reasonable steps to mitigate the breach, contact affected Publishers so that they can notify Subscribers, and contacted all affected Customers.
                Data Sharing
                We may transfer your data to our business partners, some of whom may be located in other countries. We strive to do business only with partners who uphold high standards of data privacy and security, and whenever we transfer data to a third party, we take steps to make sure that the data will remain secure and private as required by applicable law and our internal guidelines. We do not rent, sell, or share your personal data without your explicit consent, except as follows:
                Sometimes we may be required to share your data for specific purposes. These purposes may include:
                1.	Our Agents. From time to time we may employ other companies or independent contractors to perform tasks on our behalf. During the providing of these services, we may share your Data with these parties. In these cases, we share with any third party only the Data required to permit that party to provide the service.
                2.	Legal Obligations. We may release your personal data in order for us to comply with a legal obligation or to detect, prevent, or otherwise address fraud or crime.
                3.	Asset Transfer. In order to maintain continuity of service in the event that we sell or liquidate some or all of our business or assets, we may transfer your Data as a business asset to a buyer or seller. If we, the Service, or substantially all of the Service or our assets are acquired, or in the event that we enter bankruptcy or otherwise cease doing business, your Data could be acquired by a third party. Any such third party acquirer could continue to use your Data as set forth in this policy, or they may amend the policy with new terms.
                Additionally, our website may contain links to our business partners or other third parties. Please understand that those websites have their own policies, and we do not accept any responsibility or liability for your use of those websites or any products or services available there.

            </div>
            <br />
            <hr />
            <h3 class="fs-subtitle monts text-left">
                V. Third Party Data, Rights, Provision of Data a Condition of Service, Miscellaneous
                Links to Third Party Websites
            </h3>
            <br />
            <div>


                Due to the nature of the Service, you may occasionally receive email provided by the Service that contains links to third-party websites. Third party websites are not under our control, and delivery of these links by use of the Service does not constitute our endorsement of those third-party websites, any services offered through them, or any content contained on them. The privacy and security practices of third party websites are not covered by this Policy, we are in no way responsible for the privacy and security practices of any third party, and our liability with respect to any interaction between you and any third party is limited as set forth in the Terms of Service.
                Service Conditional on Provision of Data
                Sometimes we have to have your personal data in order to interact with you. Supplying some personal information is a prerequisite to receiving services from us, including the Service, along with obtaining support services and using the Website. If you do not provide the requested Data in those instances, you cannot use the Service and you will not have access to support services, and you may lose some or all functionality when interacting with the Website.
                Your Rights with Respect to Your Data
                You have a right to know if we have any of your personal data and to have access to that data, and you have the right to have any incorrect personal data corrected. If you have given us consent to have or use your data, you have the right to withdraw that consent at any time. You also have the right to have your personal data erased or to transport your data. Ordinarily we do not use automated decision-making with respect to any personal data, but if we do, you have the right to object.
                You have the right to lodge a complaint with a supervisory authority. Which authority is appropriate varies depending on your jurisdiction. If you wish to lodge a complaint, we can assist you in determining where the complaint should be lodged.
                You may contact us at any time at support@lloydant.com, to exercise any of these rights. Understand that sometimes we have to have your Data in order to interact with you, and so exercising some or all of these rights might impact your ability to use our website or our products and services.
                Changes to the Privacy Policy
                This Policy is binding upon you including as it may be amended. From time to time we may amend this Policy. If we do, we will notify you by making an announcement on the Website or by email. If you access the Service after any amendment, you agree to be bound by the amended Policy.
                Further Questions or Inquiries
                If you have any additional questions about our privacy practices, please contact us at support@lloydant.com

            </div>
        </div>
           

        <div class="footer">
            <a asp-area="" asp-controller="Home" asp-action="index" style="font-size: .9em" class="btn btn-link btn-block btn-flat">Return To Sign-In</a>
        </div>

    </section>





