﻿
@using  Newtonsoft.Json;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>TETFund Account</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/theme/bower_components/bootstrap/dist/css/boostrap_four.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/theme/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/theme/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/theme/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/theme/plugins/iCheck/square/blue.css">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700i&display=swap" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        body {
            font-family: Montserrat, sans-serif;
        }

        .monts {
            font-family: Montserrat, sans-serif !important;
        }

        .card-shadow {
            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        }

        .form-control {
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        }

        .btn {
            border-radius: 3px !important;
            height: 45px;
            padding: 10px !important;
        }

        .btn-primary {
            background: #0f9b0f; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #0f9b0f, #2C7744); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #0f9b0f, #2C7744); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        .fade:not(.show) {
            opacity: 1;
            
        }
        .modal-backdrop {
            background-color: transparent;
        }
        .modal-dialog {
            margin: 10vh auto 0px auto
        }
    </style>
</head>

<body class="hold-transition login-page" style="background-color:white; background-size:cover; background-image:url('@Url.Content("~/images/tetfundbackground.jpeg")'); background-repeat:space">

    <div style="width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.35)">

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 pt-5">


                <div class="card p-3" style="margin-top: 10vh; background-color: white">


                    <div class="login-logo" style="background-color: white; margin-bottom: 16px !important">
                        <div class="text-center">
                            <img src="~/images/tetfundlogo.png" height="30px">
                        </div>
                        <h5 class="monts text-success" style="margin:0px; font-size: 20px">Registration Successful!</h5><hr />

                    </div>



                    <p class="text-left">Your account as a Principal Investigator has been successfully created. <br />Kindly log into <b>@ViewBag.Email</b>  to confirm your registration and continue.</p>
                </div>
                <div class="card p-3" style="margin-top: 10vh; background-color: white">
                    <a asp-area="" asp-controller="Home" asp-action="Index"
                       class="btn btn-secondary btn-block"
                       style="font-size: .9em;
                                           color: black; background: transparent;">Continue to the PI Login Page</a>
                </div>
            </div>

        </div>
    </div>


    <!-- Modal -->
    @*<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-justify">
                    <b>Dear Principal Investigator,</b><br />
                    While you may experience delays in receiving the confirmation link at this time,
                    please be assured we are working to resolve this as soon as is possible.
                    Kindly bear with us.
                    <p style="color:red">NB: You may proceed to login.</p>
                    Thank you.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>*@

    <!-- /.login-box -->
    <!-- jQuery 3 -->
    <script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/theme/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/theme/plugins/iCheck/icheck.min.js"></script>
    <script>
        //$(document).ready(function () {
        //    $("#staticBackdrop").modal('show');
        //})
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });


        });



    </script>
</body>
</html>

