﻿@model Grant.Web.Models.ViewModels.RegistrationViewModel
@using  Newtonsoft.Json;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>TETFund Account</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/theme/bower_components/bootstrap/dist/css/boostrap_four.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/theme/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/theme/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    @*<link rel="stylesheet" href="~/theme/dist/css/AdminLTE.min.css">*@
    <!-- Kit CSS -->
    <link rel="stylesheet" href="~/theme/desyn_system/assets/css/style.css" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/theme/desyn_system/assets/css/custom.css" type="text/css">
    <link rel="stylesheet" href="~/theme/desyn_system/assets/css/animate.css" type="text/css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/theme/plugins/iCheck/square/blue.css">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>

        body {
            font-family: Poppins, sans-serif;
        }

        .monts {
            font-family: Poppins, sans-serif !important;
        }

        .card-shadow {
            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        }

        .form-control {
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        }

        .btn {
            border-radius: 3px !important;
            height: 45px;
            padding: 10px !important;
        }

        .btn-primary {
            background: #0f9b0f; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #0f9b0f, #2C7744); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #0f9b0f, #2C7744); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    </style>
</head>
<body class="hold-transition login-page" style="background-color:white; background-size:cover; background-image:url('@Url.Content("~/images/tetfundbackground.jpeg")'); background-repeat:space">
    <div style="width: 100vw; min-height: 100vh; background: rgba(0, 0, 0, 0.35)">
        <div class="row">
            <div class="col-md-4 ml-auto mr-auto my-auto mx-auto pt-5">
                <div class="card card-shadow p-3" style="margin-top: 10vh">
                    @if (@TempData["Message"] != null)
                    {
                        <div class=" " style="color: white">
                            <partial name="_Message" model="@TempData["Message"]" />
                        </div>
                        <hr />
                    }
                    <div class="login-logo mb-0 text-center">
                        <div class="text-center">
                            <img src="~/images/tetfundlogo.png" height="30px">
                        </div>
                        <h2 class=" monts">National Research Fund</h2>
                        <h5 class=" monts">Grant Application Platform</h5>
                        <hr class="my-2">
                    </div>
                    <!-- /.login-logo -->
                    <div class="login-box-body pt-0">
                        <p class="h3 login-box-msg text-success mt-3 text-center" style=""><strong>Select Research Project</strong></p>
                        <div class="list-group list-group-flush mb-5">
                            <div class="list-group-item list-group-item-action">
                                @for (int i = 0; i < Model.CoReseacherLoginDetails.Count; i++)
                                {

                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <h2> <i class="fa fa-bookmark text-success"></i> </h2>
                                        </div>
                                        <div class="col ml--2">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    @Html.HiddenFor(modelItem => Model.CoReseacherLoginDetails[i].ApplicantId)
                                                    @Html.HiddenFor(modelItem => Model.CoReseacherLoginDetails[i].ApplicantThematicId)
                                                    <h4 class="mb-0 text-sm">@Html.DisplayFor(modelItem => Model.CoReseacherLoginDetails[i].Title)</h4>
                                                </div>
                                                <div class="text-right text-muted">
                                                    <button class="btn btn-sm btn-outline-success"
                                                            onclick="selectecResearchTeam(@Model.CoReseacherLoginDetails[i].ApplicantThematicId,@Model.CoReseacherLoginDetails[i].ApplicantId)">
                                                        Open
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                    @*<div>
                            <a asp-controller="Home" asp-action="ForgotPassword" class="btn btn-secondary btn-block"
                               style="font-size: .9em;
                                               color: black; background: transparent;">Forgot your password?</a>
                        </div>
                        <div>
                            <a asp-controller="Home" asp-action="login2" class="btn btn-secondary btn-block"
                               style="font-size: .9em;
                                               color: indianred; background: transparent;">Admin Log In</a>
                        </div>*@
                    <!-- /.login-box-body -->
                </div>
            </div>
        </div>
    </div>

    <!-- /.login-box -->
    <!-- jQuery 3 -->
    <script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
    <!-- Bootstrap 3.3.7 -->
    @*<script src="~/theme/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>*@
    <!-- iCheck -->
    @*<script src="~/theme/plugins/iCheck/icheck.min.js"></script>*@
    <script>
        //$(function () {
        //    $('input').iCheck({
        //        checkboxClass: 'icheckbox_square-blue',
        //        radioClass: 'iradio_square-blue',
        //        increaseArea: '20%' // optional
        //    });


        //});
        function selectecResearchTeam(e,y) {
            var applicantThematicId = e;
            var applicantId = y;

            if (applicantThematicId > 0) {
                $.ajax({
                                type: 'POST',
                                url: '@Url.Action("CoResearcherContinueingLogin", "Home")', // we are calling json method
                                dataType: 'json',
                    data: { applicantThematicId, applicantId },
                    success: function (response) {
                        window.location.href = response.redirectUrl;
                    }

                            });
            }
        }
    </script>
</body>
</html>
