﻿@model Grant.Web.Models.ViewModels.RegistrationViewModel
@using  Newtonsoft.Json;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>TETFund Account</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/theme/bower_components/bootstrap/dist/css/boostrap_four.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/theme/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/theme/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/theme/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/theme/plugins/iCheck/square/blue.css">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700i&display=swap" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        body {
            font-family: Montserrat, sans-serif;
        }

        .monts {
            font-family: Montserrat, sans-serif !important;
        }

        .card-shadow {
            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        }

        .form-control {
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        }

        .btn {
            border-radius: 3px !important;
            height: 45px;
            padding: 10px !important;
        }

        .btn-primary {
            background: #0f9b0f; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #0f9b0f, #2C7744); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #0f9b0f, #2C7744); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    </style>
</head>

<body class="hold-transition login-page" style="background-color:white; background-size:cover; background-image:url('@Url.Content("~/images/tetfundbackground.jpeg")'); background-repeat:space">

    <div style="width: 100vw; min-height: 100vh; background: rgba(0, 0, 0, 0.35)">

        <div class="row">
            <div class="col-md-4 ml-auto mr-auto my-auto mx-auto pt-5">

                <div class="card card-shadow p-3" style="margin-top: 10vh">
                    @if (@TempData["Message"] != null)
                    {
                        <div class=" " style="color: white">
                            <partial name="_Message" model="@TempData["Message"]" />
                        </div>
                        <hr />
                    }

                    <div class="login-logo mb-0">
                        <div class="text-center">
                            <img src="~/images/tetfundlogo.png" height="30px">
                        </div>
                        <h3 class=" monts">National Research Fund</h3>
                        <h6 class=" monts">Grant Application Platform</h6><hr>

                    </div>
                    <!-- /.login-logo -->
                    <div class="login-box-body pt-0">
                        <p class="login-box-msg text-black mt-3" style=""><strong>Change Password</strong></p>

                        <form asp-action="ValidateUser" asp-controller="Home" method="POST" role="form">
                            <div class="form-group has-feedback">
                                <div class="row">
                                    <input type="hidden" asp-for="OneTimeValidator" />

                                    <div class="col-md-4" style="text-align: right !important;">
                                        <label class="monts text-black" asp-for="NewPassword" style="margin-top: 10px; margin-bottom: 0"></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input id="new-password" pattern="(^(?=(.*[a-zA-Z].*){1,})(?=.*\d.*)(?=.*\W.*)[a-zA-Z0-9\S]|^(?=(.*[a-zA-Z].*){1,})(?=.*\d.*)[a-zA-Z0-9\S]|^(?=(.*[a-zA-Z].*){1,})(?=.*\W.*)[a-zA-Z0-9\S]{8,15}$)" title="Password must match the required pattern of at least one letter, one number, one special character and must be 8-15 characters in length (E.g. abcdn#09 or new@man3)" class="form-control" asp-for="NewPassword" required autofocus>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group has-feedback">
                                <div class="row">
                                    <div class="col-md-4" style="text-align: right !important;">
                                        <label class="monts text-black" pattern="(^(?=(.*[a-zA-Z].*){1,})(?=.*\d.*)(?=.*\W.*)[a-zA-Z0-9\S]|^(?=(.*[a-zA-Z].*){1,})(?=.*\d.*)[a-zA-Z0-9\S]|^(?=(.*[a-zA-Z].*){1,})(?=.*\W.*)[a-zA-Z0-9\S]{8,15}$)" title="Password must match the required pattern of at least one letter, one number, one special character and must be 8-15 characters in length (E.g. abcdn#09 or new@man3)" asp-for="ConfirmNewPassword" style="margin-top: 10px; margin-bottom: 0"></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input id="confirm-password" class="form-control" asp-for="ConfirmNewPassword" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <button type="submit"  id="submit-btn" class="btn btn-sm btn-primary btn-block">Save</button>
                                    </div>
                                </div>
                                <hr />
                                <a asp-area="" asp-controller="Home" asp-action="Register"
                                   class="btn btn-secondary btn-block"
                                   style="font-size: .9em;
                                           color: black; background: transparent;">New Principal Investigator? Create Account here.</a>
                            </div>
                        </form>
                    </div>
                    <br />
                    @*<div>
                        <a asp-controller="Home" asp-action="login2" class="btn btn-secondary btn-block"
                           style="font-size: .9em;
                                           color: indianred; background: transparent;">Admin Log In</a>
                    </div>*@
                    <!-- /.login-box-body -->
                </div>
            </div>
        </div>
    </div>

    <!-- /.login-box -->
    <!-- jQuery 3 -->
    <script src="~/theme/bower_components/jquery/dist/jquery.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/theme/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/theme/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(function () {
            const newPassword = document.querySelector("#new-password");
            const confirmPassword = document.querySelector("#confirm-password");
            const submitBtn = document.querySelector("#submit-btn");

            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });

            //document.querySelector("#new-password").addEventListener("blur", () => {
            //    let pattern = new RegExp('/^([a-zA-Z]{1,}\d{1,}$|\d{1,}[a-zA-Z]{1,})i');
            //    let Valid = pattern.test(newPassword);
            //    alert(Valid);
            //});

            //document.querySelector("#confirm-password").addEventListener("input", () => {
            //    if (newPassword.value != confirmPassword.value) {
            //        submitBtn.setAttribute("disabled", true);
            //    }
            //    else {
            //        submitBtn.removeAttribute("disabled");
            //    }
            //});

            document.querySelector("#confirm-password").addEventListener("blur", () => {
                if (newPassword.value != confirmPassword.value) {
                    $('#submit-btn').attr('disabled', true);
                    alert("Passwords do not match");

                }
                else {
                    $('#submit-btn').attr('disabled', false);
                }
            });
        });

        //function validatePass() {
        //    var val = input.value;
        //    var RegEx = /^[a-z0-9]+$/i;
        //    var Valid = RegEx.test(val);
        //    el_down.innerHTML = Valid;
        //}
    </script>
</body>
</html>

