﻿@model Grant.Web.Models.ViewModels.EventViewModel
@{
    ViewData["Title"] = "Add Research Cycle Event";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">
            <partial name="_Message" model="@TempData["Message"]" />
        </div>
    }
</section>

<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Research Cycle Event / <span class="text-sm text-muted">Add Event</span></h1>
        <div class="avatar-group mt-3">
        </div>
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">
        <div class="col-md-8">
            <!-- Horizontal Form -->
            <div class="card animated fadeInUp delay-1s " style="">
                <div class="card-body">
                    <form asp-action="AddResearchCycleEvent" asp-controller="Event">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="SessionId" class="control-label">Research Cycle</label>
                            <select class="form-control" asp-for="SessionId" asp-items="Model.SessionList" required></select>
                            <span asp-validation-for="SessionId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EventTypeId" class="control-label"></label>
                            <select class="form-control" asp-for="EventTypeId" asp-items="Model.EventTypeList" required></select>
                            <span asp-validation-for="EventTypeId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="EventStartDate" class="control-label"></label>
                            <input type="datetime-local" asp-for="EventStartDate" class="form-control" required value="@DateTime.Now" />
                            <span asp-validation-for="EventStartDate" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="EventEndDate" class="control-label"></label>
                            <input type="datetime-local" asp-for="EventEndDate" class="form-control" required value="@DateTime.Now" />
                            <span asp-validation-for="EventEndDate" class="text-danger"></span>
                        </div>

                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>