﻿@model Grant.Web.Models.ViewModels.EventViewModel
@{
    ViewData["Title"] = "Edit Event Type";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">
    <div class="pg-head">
        <h3 class="monts text-center" style="font-weight: 300; margin-top: 10px">Event Type / <span class="small">Edit Event Type</span></h3>
    </div>

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">
            <partial name="_Message" model="@TempData["Message"]" />
        </div>
    }
</section>

<section class="content">
    <div class="container" style="margin-bottom: 30px">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-danger" style="border-top-color: #fff; border-radius: 0">
                <div class="box-body">
                    <form asp-action="EditEventType" asp-controller="Event">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <input type="hidden" asp-for="EventTypeId"/>

                        <div class="form-group">
                            <label asp-for="EventTypeName" class="control-label"></label>
                            <input asp-for="EventTypeName" class="form-control" required />
                            <span asp-validation-for="EventTypeName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-pencil"></i> Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

