﻿@model Grant.Web.Models.ViewModels.EventViewModel
@{
    ViewData["Title"] = "Edit Research Cycle Event";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">


    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">
            <partial name="_Message" model="@TempData["Message"]" />
        </div>
    }
</section>

<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Research Cycle Event <span class="text-muted text-sm">/ Edit Event </span></h1>
        <hr class="mt-0 mb-2" />
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">

        <div class="col-md-10">

            <div class="card animated fadeInUp delay-1s" style="">
                <div class="card-body">
                                <div class="box-body">
                                    <form asp-action="EditResearchCycleEvent" asp-controller="Event">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                        <input type="hidden" asp-for="ReserchCycleEventId" />
                                        <div class="form-group">
                                            <label asp-for="SessionId" class="control-label"></label>
                                            <select class="form-control" asp-for="SessionId" asp-items="Model.SessionList" required></select>
                                            <span asp-validation-for="SessionId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="EventTypeId" class="control-label"></label>
                                            <select class="form-control" asp-for="EventTypeId" asp-items="Model.EventTypeList" required></select>
                                            <span asp-validation-for="EventTypeId" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="EventStartDate" class="control-label"></label>
                                            <input type="date" asp-for="EventStartDate" class="form-control" required />
                                            <span asp-validation-for="StartDate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="StartTime" class="control-label"></label>
                                            <input type="time" value="@Model.EventStartDate.TimeOfDay" asp-for="StartTime" class="form-control" required />
                                            <span asp-validation-for="StartTime" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="EventEndDate" class="control-label"></label>
                                            <input type="date" asp-for="EventEndDate" class="form-control" required />
                                            <span asp-validation-for="EndDate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="EndTime" class="control-label"></label>
                                            <input type="time" value="@Model.EventEndDate.TimeOfDay" asp-for="EndTime" class="form-control" required />
                                            <span asp-validation-for="EndTime" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-pencil"></i> Save Changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
</section>
