﻿@model Grant.Web.Models.ViewModels.EventViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    <div class="pg-head">
        <h3 class="monts text-center" style="font-weight: 300; margin-top: 10px">Research Cycle Events / <span class="small">View Events</span></h3>
    </div>

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">
            <partial name="_Message" model="@TempData["Message"]" />
        </div>
    }
</section>


<div class="" style="margin-left: 3px !important; margin-bottom: 20px">
    <div class="container">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-danger" style="border-top-color: #fff; border-radius: 0px">
                <div class="box-body">
                    <div class="table-responsive">
                        <table id="modelDataTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        SN
                                    </th>
                                    <th>
                                        Event Name
                                    </th>
                                    <th>
                                        Research Cycle
                                    </th>
                                    <th>
                                        Start Date
                                    </th>
                                    <th>
                                        End Date
                                    </th>
                                    <th>Activate</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int index = 0; }
                                @foreach (var item in Model.ResearchCycleEventList)
                                {
                                    index += 1;
                                <tr>
                                    <td>
                                        @index
                                    </td>
                                    <td class="text-capitalize">
                                        @item.EventTypeName
                                    </td>
                                    <td>
                                        @item.SessionName
                                    </td>
                                    <td>
                                        @item.StartDate.ToString("dd/MM/yyyy hh:mm tt")
                                    </td>
                                    <td>
                                        @item.EndDate.ToString("dd/MM/yyyy hh:mm tt")
                                    </td>
                                    <td>
                                        @if (item.Active)
                                        {
                                            <input type="radio" name="checkbox" checked onclick="deactivateResearchCycleEvent(@item.ResearchCycleEventId, @item.SessionId)" />
                                        }
                                        else
                                        {
                                            <input type="radio"  name="checkbox" onclick="deactivateResearchCycleEvent(@item.ResearchCycleEventId, @item.SessionId)" />
                                        }
                                    </td>
                                    <td>
                                        <a asp-action="EditResearchCycleEvent" asp-controller="Event" class="btn btn-primary" asp-route-id="@item.ResearchCycleEventId">Edit</a>
                                    </td>
                                </tr>
                                }
                        </table>
                    </div>
                </div>
                <div class="box-body" style="border-top:1px solid #ddd;">
                    <a class="btn btn-success pull-right" asp-action="AddResearchCycleEvent" asp-controller="Event"> Add Research Cycle Event</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function deactivateResearchCycleEvent(id, sessionId) {
        if (id) {
             $.ajax({
                type: "POST",
                url: "@Url.Action("DeactivateResearchCycleEvent", "Event")",
                 data: { id, sessionId },
                dataType: "json",
                success: function (data) {
                    alert(data);
                    window.location.reload(true);

                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
    }

</script>