﻿@model Grant.Web.Models.ViewModels.EventViewModel
@{
    ViewData["Title"] = "View All Event Types";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    <div class="pg-head">
        <h3 class="monts text-center" style="font-weight: 300; margin-top: 10px">Event Type / <span class="small">View Event Types</span></h3>
    </div>

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">
            <partial name="_Message" model="@TempData["Message"]" />
        </div>
    }
</section>

<div class="" style="margin-left: 3px !important; margin-bottom: 20px">
    <div class="container">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-danger" style="border-top-color: #fff; border-radius: 0px">
                <div class="box-body">
                    <div class="table-responsive">
                        <table id="modelDataTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        SN
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int index = 0; }
                                @foreach (var item in Model.EventTypes)
                                {
                                    index += 1;
                                    <tr>
                                        <td>
                                            @index
                                        </td>
                                        <td class="text-capitalize">
                                            @item.Name
                                        </td>
                                        <td>
                                            @if (item.Active)
                                            {
                                                <input type="checkbox" checked onclick="deactivateEventType(@item.Id)" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" onclick="deactivateEventType(@item.Id)" />
                                            }
                                        </td>
                                        <td>
                                            <a asp-action="EditEventType" asp-controller="Event" class="btn btn-primary" asp-route-id="@item.Id">Edit</a>
                                        </td>
                                    </tr>
                                }
                        </table>
                    </div>
                </div>
                <div class="box-body" style="border-top:1px solid #ddd;">
                    <a class="btn btn-info pull-right" asp-action="AddEventType" asp-controller="Event">Add Event Type</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function deactivateEventType(id) {
        if (id) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeactivateEventType", "Event")",
                data: { id },
                dataType: "json",
                success: function (data) {
                    alert(data);
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
    }
</script>