﻿@model Grant.Web.Models.ViewModels.MenuViewModel
@{
    ViewData["Title"] = "Add Menu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">
            <partial name="_Message" model="@TempData["Message"]" />
        </div>
    }
</section>


<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Menu  <span class="text-muted text-sm">/ Add Menu </span></h1>
        <hr class="mt-0 mb-2" />
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">

        <div class="col-md-8">
            <!-- Horizontal Form -->
            <div class="card animated fadeInUp delay-1s" style="">

                <div class="card-body">
                    <form asp-action="AddMenu" asp-controller="Menu">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="ControllerName" class="control-label"></label>
                            <input asp-for="ControllerName" class="form-control" />
                            <span asp-validation-for="ControllerName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ActionName" class="control-label"></label>
                            <input asp-for="ActionName" class="form-control" />
                            <span asp-validation-for="ActionName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DisplayName" class="control-label"></label>
                            <input asp-for="DisplayName" class="form-control" />
                            <span asp-validation-for="DisplayName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MenuGroupId" class="control-label"></label>
                            <select asp-for="MenuGroupId" class="form-control" asp-items="Model.MenuGroupSL" required>
                                <option value="">-- Select Menu Group --</option>
                            </select>
                            <span asp-validation-for="MenuGroupId" class="text-danger"></span>



                        </div>

                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Add To Menu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


@if (Model.ShowList)
{

    <div class="row justify-content-center" style="margin-bottom: 30px">

        <div class="col-md-8">

            <div class="card animated fadeInUp delay-1s" style="">

                <div class="card-body">

                    <div class="" style="margin-left: 3px !important; margin-bottom: 20px">
                        <div class="container">
                            <div class="col-md-12">
                                <!-- Horizontal Form -->
                                <div class="box box-danger" style="border-top-color: #fff; border-radius: 0px">

                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table id="modelDataTable" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            SN
                                                        </th>
                                                        <th>
                                                            ControllerName
                                                        </th>
                                                        <th>
                                                            ActionName
                                                        </th>
                                                        <th>
                                                            DisplayName
                                                        </th>
                                                        <th>
                                                            Group
                                                        </th>
                                                        <th>
                                                            Status
                                                        </th>
                                                        <th>

                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.Menu_List)
                                    {
                                    <tr>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.SerialNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ControllerName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ActionName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DisplayName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ControllerName)
                                        </td>

                                        <td>
                                            @if (item.Status)
                                            {
                                            <input type="checkbox" checked onclick="deactivateMenu(@item.Id)" />
                                            }
                                            else
                                            {
                                            <input type="checkbox" onclick="deactivateMenu(@item.Id)" />
                                            }
                                        </td>
                                        <td>
                                            <a asp-action="EditMenu" asp-controller="Menu" class="btn btn-primary" asp-route-id="@item.Id">Edit</a>

                                        </td>

                                    </tr>
                                    }

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    
                </div>

            </div>

        </div>

    </div>
}
