﻿@model Grant.Web.Models.ViewModels.MenuViewModel
@{
    ViewData["Title"] = "Assign Menu To Role";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">
            <partial name="_Message" model="@TempData["Message"]" />
        </div>
    }
</section>

<section class="content">

    <div class="ct-page-title">
        <h1 class="ct-title" id="content">Menu  <span class="text-muted text-sm">/ Assign Menu to Role </span></h1>
        <hr class="mt-0 mb-2" />
    </div>

    <div class="row justify-content-center" style="margin-bottom: 30px">

        <div class="col-md-8">

            <!-- Horizontal Form -->
            <div class="card animated fadeInUp delay-1s" style="">

                <div class="card-body">

                    <form asp-action="AssignMenuToRole" asp-controller="Menu">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="RoleId" class="control-label"></label>
                            <select asp-for="RoleId" class="form-control" asp-items="Model.RoleSL" required>
                                <option value="">-- Select Role --</option>
                            </select>
                            <span asp-validation-for="MenuId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="MenuId" class="control-label"></label>
                            <select asp-for="MenuId" class="form-control" asp-items="Model.MenuSL" required>
                                <option value="">-- Select Menu Option --</option>
                            </select>
                            <span asp-validation-for="MenuId" class="text-danger"></span>
                        </div>

                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-success"><i class="fa fa-tasks"></i> Assign Role</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>