﻿@model Grant.Web.Models.ViewModels.MenuViewModel
@{
    ViewData["Title"] = "Edit Menu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header bd-top" style="padding-top: 0; background-color: #fff">

    <div class="pg-head">
        <h3 class="monts text-center" style="font-weight: 300; margin-top: 10px">Edit Menu</h3>
    </div>

    @if (@TempData["Message"] != null)
    {
        <div class="callout " style="color: white">
            <partial name="_Message" model="@TempData["Message"]" />
        </div>
    }
</section>

<section class="content">
    <div class="container" style="margin-bottom: 30px">

        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-danger" style="border-top-color: #fff; border-radius: 0">

                <div class="box-body">

                    <form asp-action="EditMenu" asp-controller="Menu">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="MenuId"/>

                        <div class="form-group">
                            <label asp-for="ControllerName" class="control-label"></label>
                            <input asp-for="ControllerName" class="form-control" />
                            <span asp-validation-for="ControllerName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ActionName" class="control-label"></label>
                            <input asp-for="ActionName" class="form-control" />
                            <span asp-validation-for="ActionName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DisplayName" class="control-label"></label>
                            <input asp-for="DisplayName" class="form-control" />
                            <span asp-validation-for="DisplayName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MenuGroupId" class="control-label"></label>
                            <select asp-for="MenuGroupId" class="form-control" asp-items="Model.MenuGroupSL" required>
                                <option value="">-- Select Menu Group --</option>
                            </select>
                            <span asp-validation-for="MenuGroupId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-pencil"></i> Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>