﻿@model Grant.Web.Models.ViewModels.MenuViewModel
@{
    ViewData["Title"] = "View Menu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (Model.MenuInRoles != null)
{

    <section class="content">

        <div class="ct-page-title row">
            <h1 class="ct-title col" id="content">Menu  <span class="text-muted text-sm">/ Manage Menus Role </span></h1>
            <div class="col text-right mt-3" style="margin-right: 150px">
                <a href="@Url.Action("AssignMenuToRole", "Menu")" class="btn btn-outline-success">Assign Menu To Role</a>
            </div>

        </div>
        <hr class="mt-0 mb-5" />


        <div class="row justify-content-center" style="margin-bottom: 30px">

            <div class="col-md-10">

                <div class="card" style="">

                    <div class="card-body">

                        <div class="" style="margin-left: 3px !important; margin-bottom: 20px">
                            <div class="container">
                                <div class="col-md-12">
                                    <!-- Horizontal Form -->
                                    <div class="box box-danger" style="border-top-color: #fff; border-radius: 0px">

                                        <div class="box-body">
                                            <div class="table-responsive">
                                                <table id="modelDataTable" class="table table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            
                                                            <th>
                                                                Menu
                                                            </th>
                                                            <th>
                                                                Role
                                                            </th>
                                                          
                                                            <th>
                                                                
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                       
                                                        @foreach (var item in Model.MenuInRoles)
                                                        {
                                                            
                                                            <tr>

                                                                
                                                                <td>@Html.DisplayFor(modelItem => item.Menu.DisplayName)</td>
                                                                <td>@Html.DisplayFor(modelItem => item.Role.Name)</td>
                                                                <td>
                                                                    <a asp-action="RemoveMenuInRole" asp-controller="Menu" class="btn btn-icon btn-success" type="button" asp-route-id="@item.Id">
                                                                        Remove
                                                                    </a>
                                                                </td>

                                                            </tr>
                                                        }
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </section>
}

<script>
    function deactivateMenu(id) {
        if (id) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeactivateMenu", "Menu")",
                data: { id },
                dataType: "json",
                success: function (data) {
                    alert(data);
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
    }
</script>